<div class="group_header"><strong><%=t('pdf.bmp_info')%></strong></div>
<% j=1 %>
    <% @bmps.each do |bmp| %>
        <% case bmp.bmpsublist_id %>
        <% when 1, 2 %>
            <div class="bmp_header"><%=t('pdf.autoirrigation')%></div>
            <div class=  "data_titles", style='margin-left: 40px', style='margin-left: 40px', style='margin-left: 40px'>
                <strong><%=t('pdf.irrigation')%>: </strong><%= Irrigation.find(bmp.irrigation_id).name %></br>
                <strong><%=t('pdf.water_stress_factor')%>: </strong><%= bmp.water_stress_factor %></br>
                <strong><%=t('pdf.irrigation_efficiency')%>: </strong><%= bmp.irrigation_efficiency %></br>
                <strong><%=t('pdf.max_single_application')%>: </strong><%= bmp.maximum_single_application %> <%=t('pdf.inches')%></br>
                 <% if (bmp.irrigation_id == 7) %>
                     <strong><%=t('pdf.safety_factor')%>: </strong><%= bmp.safety_factor %></br>
                <% elsif (bmp.irrigation_id == 8) %>
                     <strong><%=t('pdf.reservoir_area')%>: </strong><%= bmp.area %> <%=t('pdf.acres')%></br>
                <% end %>
                <strong><%=t('pdf.irrigation_frequency')%>: </strong> <%= bmp.days %> <%=t('pdf.days')%></br>
            </div>
        <% when 3 %>
            <div class="bmp_header"><strong><%=t('pdf.tile_drain')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
                <strong><%=t('pdf.depth')%>: </strong><%= bmp.depth %> ft</br>
            </div>
        <% when 4,5,6,7 %>
            <div class="bmp_header"><strong><%=t('pdf.ppdi')%></strong></div>
            <div class=  "data_titles", style='margin-left: 40px', style='margin-left: 40px'>
                 <strong><%=t('pdf.width')%>: </strong>  <%= bmp.width %> ft</br>
                 <strong><%=t('pdf.sides')%>: </strong>  <%= bmp.sides %></br>
                 <strong><%=t('pdf.reservoir_area')%>: </strong>  <%=t('pdf.reservoir_area')%>:</br>
            </div>
        <% when 8 %>
            <div class="bmp_header"><strong><%=t('pdf.wetlands')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
               <strong><%=t('pdf.reservoir_area')%>:  </strong> <%= bmp.area %> <%=t('pdf.acres')%></br>
            </div>
        <% when 9 %>
            <div class="bmp_header"><strong><%=t('pdf.ponds')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
               <strong><%=t('pdf.irrigation_efficiency')%>: </strong>  <%= bmp.irrigation_efficiency %></br>
            </div>
        <% when 10 %>
            <div class="bmp_header"><strong><%=t('pdf.stream_fencing')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
                 <strong><%=t('pdf.animal')%>: </strong>  <%= Fertilizer.find(bmp.animal_id).name %></br>
                 <strong><%=t('pdf.number_of_animals')%>:  </strong> <%= bmp.number_of_animals %></br>
                 <strong><%=t('pdf.irrigation_frequency')%>:  </strong> <%= bmp.days %> <%=t('pdf.days')%></br>
                 <strong><%=t('pdf.hours')%>: </strong>  <%= bmp.hours %></br>
                 <strong><%=t('pdf.dry_manure')%>: </strong>  <%= bmp.dry_manure %> lbs/day</br>
                 No3 n:   <%= bmp.no3_n %></br>
                 Po4 p:   <%= bmp.po4_p %></br>
                 Org n:   <%= bmp.org_n %></br>
                 Org p:   <%= bmp.org_p %></br>
            </div>
        <% when 11 %>
            <div class="bmp_header"><strong><%=t('pdf.streambank_stabilization')%></strong></div>
            <div class="data no_content">
               <strong><%=t('pdf.none_required')%>:  </strong> 
            </div>
        <% when 12, 13 %>
            <div class="bmp_header"><strong><%=t('pdf.riparian_forest')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
                 <strong><%=t('pdf.crop')%>: </strong>  <%= Crop.find(bmp.crop_id).name %></br>
                 <strong><%=t('pdf.reservoir_area')%>: </strong>  <%= bmp.area %> <%=t('pdf.acres')%></br>
                 <strong><%=t('pdf.width')%>: </strong>  <%= bmp.width %> ft</br>
                 <strong><%=t('pdf.grass_field_portion')%>:  </strong> <%= bmp.grass_field_portion %></br>
                 <strong><%=t('pdf.slope_ratio')%>: </strong>  <%= bmp.buffer_slope_upland %></br>
            </div>
        <% when 14 %>
            <div class="bmp_header"><strong><%=t('pdf.waterway')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
                <strong><%=t('pdf.crop')%>:  </strong> <%= Crop.find(bmp.crop_id).name %></br>
                <strong><%=t('pdf.width')%>:  </strong> <%= bmp.width %> ft</br>
            </div>
        <% when 15 %>
            <div class="bmp_header"><strong><%=t('pdf.contour_buffer')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
               <%=t('pdf.crop')%>:   <%= Crop.find(bmp.crop_id).name %></br>
                 <%=t('pdf.width')%>:   <%= bmp.width %> ft</br>
                   <%=t('pdf.crop_width')%>:   <%= bmp.crop_width %> ft</br>
            </div>
        <% when 16 %>
            <div class="bmp_header"><strong><%=t('pdf.land_leveling')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
               <%=t('pdf.slope_reduction')%>:   <%= bmp.slope_reduction %> %</br>
            </div>
        <% when 17 %>
            <div class="bmp_header"><strong><%=t('pdf.terrace_system')%></strong></div>
            <div class="data no_content">
               <%=t('pdf.none_required')%>:   
            </div>
        <% when 19 %>
            <div class="bmp_header"><strong><%=t('pdf.climate')%></strong></div>
            <div class="data no_content">
               <%=t('pdf.climate_change')%>   
            </div>
        <% when 20 %>
            <div class="bmp_header"><strong><%=t('pdf.asphalt_concrete')%></strong></div>
            <div class="data no_content">
               <%=t('pdf.none_required')%>:   
            </div>
        <% when 21 %>
            <div class="bmp_header"><strong><%=t('pdf.grass_cover')%></strong></div>
            <div class="data no_content">
               <%=t('pdf.none_required')%>:   
            </div>
        <% when 22 %>
            <div class="bmp_header"><strong><%=t('pdf.slope_adjustment')%></strong></div>
            <div class="data no_content">
               <%=t('pdf.none_required')%>:   
            </div>
        <% when 23 %>
            <div class="bmp_header"><strong><%=t('pdf.shading')%></strong></div>
            <div class= "data_titles", style='margin-left: 40px'>
                 <%=t('pdf.crop')%>:   <%= Crop.find(bmp.crop_id).name %></br>
                 <%=t('pdf.reservoir_area')%>:   <%= bmp.area %> <%=t('pdf.acres')%></br>
                 <%=t('pdf.width')%>:   <%= bmp.width %> ft</br>
                 <%=t('pdf.crop_width')%>:   <%= bmp.buffer_slope_upland %></br>
            </div>
    <% end %>
    <% j = j + 1 %>
    </br>
<% end %>