<div class="group_header"><%=t('pdf.bmp_info')%></div>
<% j=1 %>
<% @bmps.each do |bmp| %>
    <% case bmp.bmpsublist_id %>
        <% when 1, 2 %>
            <div class="bmp_header"><%=t('pdf.autoirrigation')%></div>
            <div class="data_titles">
                <strong></strong><%=t('pdf.irrigation')%>:  </strong><%= Irrigation.find(bmp.irrigation_id).name %></br>
                <strong><%=t('pdf.water_stress_factor')%>:  </strong><%= bmp.water_stress_factor %></br>
                <strong><%=t('pdf.irrigation_efficiency')%>:  </strong><%= bmp.irrigation_efficiency %></br>
                <strong><%=t('pdf.max_single_application')%>:  </strong><%= bmp.maximum_single_application %> <%=t('pdf.inches')%></br>
                <strong><% if (bmp.irrigation_id == 7) %>
                    <strong><%=t('pdf.safety_factor')%>:  </strong><%= bmp.safety_factor %></br>
                <% elsif (bmp.irrigation_id == 8) %>
                    <strong><%=t('pdf.reservoir_area')%>:  </strong><%= bmp.area %> <%=t('pdf.acres')%></br>
                <% end %>
                <strong><%=t('pdf.irrigation_frequency')%>:  </strong><%= bmp.days %> <%=t('pdf.days')%></br>
            </div>
        <% when 3 %>
            <div class="bmp_header"><%=t('pdf.tile_drain')%></div>
            <div class="data_titles">
              <strong></strong><%=t('pdf.depth')%>:  </strong><%= bmp.depth %> ft</br>
            </div>
        <% when 4,5,6,7 %>
            <div class="bmp_header"><%=t('pdf.ppdi')%></div>
            <div class="data_titles">
                <strong><%=t('pdf.width')%>:  </strong><%= bmp.width %> ft</br>
                <strong><%=t('pdf.sides')%>:  </strong><%= bmp.sides %></br>
                <strong><%=t('pdf.reservoir_area')%>:  </strong><%=t('pdf.reservoir_area')%>:</br>
            </div>
        <% when 8 %>
            <div class="bmp_header"><%=t('pdf.wetlands')%></div>
            <div class="data_titles">
              <strong><%=t('pdf.reservoir_area')%>:  </strong><%= bmp.area %> <%=t('pdf.acres')%></br>
            </div>
        <% when 9 %>
            <div class="bmp_header"><%=t('pdf.ponds')%></div>
            <div class="data_titles">
              <strong><%=t('pdf.irrigation_efficiency')%>:  </strong><%= bmp.irrigation_efficiency %></br>
            </div>
        <% when 10 %>
            <div class="bmp_header"><%=t('pdf.stream_fencing')%></div>
            <div class="data_titles">
                <strong><%=t('pdf.animal')%>:  </strong><%= Fertilizer.find(bmp.animal_id).name %></br>
                <strong><%=t('pdf.number_of_animals')%>:  </strong><%= bmp.number_of_animals %></br>
                <strong><%=t('pdf.irrigation_frequency')%>:  </strong><%= bmp.days %> <%=t('pdf.days')%></br>
                <strong><%=t('pdf.hours')%>:  </strong><%= bmp.hours %></br>
                <strong><%=t('pdf.dry_manure')%>:  </strong><%= bmp.dry_manure %> lbs/day</br>
                <strong>No3 n:  </strong><%= bmp.no3_n %></br>
                <strong>Po4 p:  </strong><%= bmp.po4_p %></br>
                <strong>Org n:  </strong><%= bmp.org_n %></br>
                <strong>Org p:  </strong><%= bmp.org_p %></br>
            </div>
        <% when 11 %>
            <div class="bmp_header"><%=t('pdf.streambank_stabilization')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.none_required')%>:  </strong>
            </div>
        <% when 12, 13 %>
            <div class="bmp_header"><%=t('pdf.riparian_forest')%></div>
            <div class="data_titles">
                <strong><%=t('pdf.crop')%>:  </strong><%= Crop.find(bmp.crop_id).name %></br>
                <strong><%=t('pdf.reservoir_area')%>:  </strong><%= bmp.area %> <%=t('pdf.acres')%></br>
                <strong><%=t('pdf.width')%>:  </strong><%= bmp.width %> ft</br>
                <strong><%=t('pdf.grass_field_portion')%>:  </strong><%= bmp.grass_field_portion %></br>
                <strong><%=t('pdf.slope_ratio')%>:  </strong><%= bmp.buffer_slope_upland %></br>
            </div>
        <% when 14 %>
            <div class="bmp_header"><%=t('pdf.waterway')%></div>
            <div class="data_titles">
              <strong><%=t('pdf.crop')%>:  </strong><%= Crop.find(bmp.crop_id).name %></br>
                <strong><%=t('pdf.width')%>:  </strong><%= bmp.width %> ft</br>
            </div>
        <% when 15 %>
            <div class="bmp_header"><%=t('pdf.contour_buffer')%></div>
            <div class="data_titles">
              <strong><%=t('pdf.crop')%>:  </strong><%= Crop.find(bmp.crop_id).name %></br>
                <strong><%=t('pdf.width')%>:  </strong><%= bmp.width %> ft</br>
                  <strong><%=t('pdf.crop_width')%>:  </strong><%= bmp.crop_width %> ft</br>
            </div>
        <% when 16 %>
            <div class="bmp_header"><%=t('pdf.land_leveling')%></div>
            <div class="data_titles">
              <strong><%=t('pdf.slope_reduction')%>:  </strong><%= bmp.slope_reduction %> %</br>
            </div>
        <% when 17 %>
            <div class="bmp_header"><%=t('pdf.terrace_system')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.none_required')%>:  </strong>
            </div>
        <% when 19 %>
            <div class="bmp_header"><%=t('pdf.climate')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.climate_change')%>  </strong>
            </div>
        <% when 20 %>
            <div class="bmp_header"><%=t('pdf.asphalt_concrete')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.none_required')%>:  </strong>
            </div>
        <% when 21 %>
            <div class="bmp_header"><%=t('pdf.grass_cover')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.none_required')%>:  </strong>
            </div>
        <% when 22 %>
            <div class="bmp_header"><%=t('pdf.slope_adjustment')%></div>
            <div class="data no_content">
              <strong><%=t('pdf.none_required')%>:  </strong>
            </div>
        <% when 23 %>
            <div class="bmp_header"><%=t('pdf.shading')%></div>
            <div class="data_titles">
                <strong><%=t('pdf.crop')%>:  </strong><%= Crop.find(bmp.crop_id).name %></br>
                <strong><%=t('pdf.reservoir_area')%>:  </strong><%= bmp.area %> <%=t('pdf.acres')%></br>
                <strong><%=t('pdf.width')%>:  </strong><%= bmp.width %> ft</br>
                <strong><%=t('pdf.crop_width')%>:  </strong><%= bmp.buffer_slope_upland %></br>
            </div>
    <% end %>
    <% j = j + 1 %>
    </br>
<% end %>