<% @field = Field.find(session[:field_id]) %>
<div class="group_header"><%=t('pdf.field_info')%></div>
    <div class="data_titles">
        <%=t('pdf.name')%>:</br>
        <%=t('pdf.area')%>:</br>
        <%=t('pdf.channel_erodibility')%>:</br>
        <%=t('pdf.average_slope')%>:</br>
    </div>
    <div class="data">
        <%= @field.field_name %></br>
        <%= @field.field_area %></br>
        This is a space filler<%=  %></br>
        <%= @field.field_average_slope %></br>
    </div>