<% t = Time.now %>
<div class="group_header first_group"><%=t('pdf.input_info')%></div>
    <div class="data_titles">
        <strong><%=t('pdf.name')%>:  </strong><%= @project.name %></br>
        <strong><%=t('pdf.description')%>: </strong><%= @project.description %></br>
        <strong><%=t('pdf.date_created')%>: </strong><%= @project.created_at %></br>
        <strong><%=t('pdf.report_created')%>: </strong><%=t.day%>/<%=t.month%>/<%=t.year %>&nbsp; <%=t.strftime("%I:%M%p") %></br>
    </div>
</br>