<% t = Time.now %>

<div class="group_header first_group">Input Information Report</div>
    <div class="data_titles">
        Name:</br>
        Description:</br>
        Date Created:</br>
        </br>
        Report Created:</br>
    </div>
    <div class="data">
        <%= @project.name %></br>
        <%= @project.description %></br>
        <%= @project.created_at %></br>
        </br>
        <%=t.day%>/<%=t.month%>/<%=t.year %>&nbsp; -
                <%=t.strftime("%I:%M%p") %></br>
    </div>

</br>