<% @bmps = ["A", "B", "C"] %>

<%= render '/pdf/page_header' %>
<div class="group_header first_group">Layers Information</div>
<div class="data_titles">
        Soil Name:</br>
    </div>
    <div class="data">
        This is a space filler<%=  %></br>
    </div>
    </br>
<table class='table_fill'>
    <thead>
        <tr>
            <th class="table_head">#</th>
            <th class="table_head">Depth (in)</th>
            <th class="table_head">Soil P(ppm)</th>
            <th class="table_head">Bulk Density (Mg/m3)</th>
            <th class="table_head">Sand (%)</th>
            <th class="table_head">Silt (%)</th>
            <th class="table_head">Organic Matter (%)</th>
            <th class="table_head">pH</th>
        </tr>
    </thead>
    <tbody>
        <% i=1 %>
        <% @bmps.each do |bmp| %>
            <% if (i % 2  == 0) %>
                <tr class="table_row_even">
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                </tr>
            <% else %>
                <tr class="table_row_odd">
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                    <td class="row number"><%= bmp %></td>
                </tr>
            <% end %>
            <% i = i + 1 %>
        <% end %>
    </tbody>
</table>
<div class="page-break"></div>