<% j=1 %>
<% @scenarios.each do |scenario| %>
    <% @bmps = Bmp.where(:scenario_id => scenario.id) %>
    <% @operations = Operation.where(:scenario_id => scenario.id) %>
    <div class="group_header first_group"><%=t('pdf.management_info')%></div>
    <div class="data_titles">
            <%=t('pdf.scenario')%> <%=j%>:</br>
        </div>
        <div class="data">
            <%= scenario.name %></br>
        </div>
        </br>
    <table class='table_fill'>
        <thead>
            <tr>
                <th class="table_head"><%=t('pdf.crop')%></th>
                <th class="table_head"><%=t('pdf.operation')%></th>
                <th class="table_head"><%=t('pdf.year')%></th>
                <th class="table_head"><%=t('pdf.month')%></th>
                <th class="table_head"><%=t('pdf.day')%></th>
                <th class="table_head"><%=t('pdf.operation_method')%></th>
                <th class="table_head"><%=t('pdf.val_one')%></th>
                <th class="table_head"><%=t('pdf.val_two')%></th>
                <th class="table_head">NO3, PO4, OrgN, OrgP</th>
            </tr>
        </thead>
        <tbody>
            <% i=1 %>
            <% @operations.each do |operation| %>
                <% if (I18n.locale.eql?(:en)) %>
                    <% if (i % 2  == 0) %>
                        <tr class="table_row_even">
                            <td class="row text"><%= Crop.find(operation.crop_id).name %></td>
                            <td class="row text"><%= Activity.find(operation.activity_id).name %></td>
                            <td class="row number"><%= operation.year %></td>
                            <td class="row number"><%= operation.month_id %></td>
                            <td class="row number"><%= operation.day %></td>
                            <% case operation.activity_id %>
                                <% when 1, 3  # planting, tillage %>
                                    <td class="row text"><%= Tillage.find_by_code(operation.type_id).eqp %></td>
                                <% when 2  # fertilizer %>
                                    <td class="row text"><%= Fertilizer.find(operation.subtype_id).name %></td>
                                <% when 6  # irrigation %>
                                    <td class="row text"><%= Irrigation.find(operation.type_id).name %></td>
                                <% when 7  # grazing%>
                                    <td class="row text"><%= Fertilizer.find(operation.type_id).name %></td>
                                <% else # harvest, kill, stop grazin, burn, liming%>
                                    <td class="row text"><%= :"" %></td>
                            <% end %>
                            <td class="row number"><%= sprintf("%.2f", operation.amount) unless operation.amount == nil %></td>
                            <td class="row number"><%= sprintf("%.2f", operation.depth) unless operation.depth == nil%></td>
                            <td class="row number">
                                <%= operation.no3_n %>, 
                                <%= operation.po4_p %>, 
                                <%= operation.org_n %>, 
                                <%= operation.org_p %>
                            </td>
                        </tr>
                    <% else %>
                        <tr class="table_row_odd">
                            <td class="row text"><%= Crop.find(operation.crop_id).name %></td>
                            <td class="row text"><%= Activity.find(operation.activity_id).name %></td>
                            <td class="row number"><%= operation.year %></td>
                            <td class="row number"><%= operation.month_id %></td>
                            <td class="row number"><%= operation.day %></td>
                            <% case operation.activity_id %>
                                <% when 1, 3  # planting, tillage %>
                                    <td class="row text"><%= Tillage.find_by_code(operation.type_id).eqp %></td>
                                <% when 2  # fertilizer %>
                                    <td class="row text"><%= Fertilizer.find(operation.subtype_id).name %></td>
                                <% when 6  # irrigation %>
                                    <td class="row text"><%= Irrigation.find(operation.type_id).name %></td>
                                <% when 7  # grazing%>
                                    <td class="row text"><%= Fertilizer.find(operation.type_id).name %></td>
                                <% else # harvest, kill, stop grazin, burn, liming%>
                                    <td class="row text"><%= :"" %></td>
                            <% end %>
                            <td class="row number"><%= sprintf("%.2f", operation.amount) unless operation.amount == nil %></td>
                            <td class="row number"><%= sprintf("%.2f", operation.depth) unless operation.depth == nil%></td>
                            <td class="row number">
                                <%= operation.no3_n %>, 
                                <%= operation.po4_p %>, 
                                <%= operation.org_n %>, 
                                <%= operation.org_p %>
                            </td>
                        </tr>
                    <% end %>
                <% else %>
                    <% if (i % 2  == 0) %>
                        <tr class="table_row_even">
                            <td class="row text"><%= Crop.find(operation.crop_id).spanish_name %></td>
                            <td class="row text"><%= Activity.find(operation.activity_id).spanish_name %></td>
                            <td class="row number"><%= operation.year %></td>
                            <td class="row number"><%= operation.month_id %></td>
                            <td class="row number"><%= operation.day %></td>
                            <% case operation.activity_id %>
                                <% when 1, 3  # planting, tillage %>
                                    <td class="row text"><%= Tillage.find_by_code(operation.type_id).spanish_name %></td>
                                <% when 2  # fertilizer %>
                                    <td class="row text"><%= Fertilizer.find(operation.subtype_id).spanish_name %></td>
                                <% when 6  # irrigation %>
                                    <td class="row text"><%= Irrigation.find(operation.type_id).spanish_name %></td>
                                <% when 7  # grazing%>
                                    <td class="row text"><%= Fertilizer.find(operation.type_id).spanish_name %></td>
                                <% else # harvest, kill, stop grazin, burn, liming%>
                                    <td class="row text"><%= :"" %></td>
                            <% end %>
                            <td class="row number"><%= sprintf("%.2f", operation.amount) unless operation.amount == nil %></td>
                            <td class="row number"><%= sprintf("%.2f", operation.depth) unless operation.depth == nil%></td>
                            <td class="row number">
                                <%= operation.no3_n %>, 
                                <%= operation.po4_p %>, 
                                <%= operation.org_n %>, 
                                <%= operation.org_p %>
                            </td>
                        </tr>
                    <% else %>
                        <tr class="table_row_odd">
                            <td class="row text"><%= Crop.find(operation.crop_id).spanish_name %></td>
                            <td class="row text"><%= Activity.find(operation.activity_id).spanish_name %></td>
                            <td class="row number"><%= operation.year %></td>
                            <td class="row number"><%= operation.month_id %></td>
                            <td class="row number"><%= operation.day %></td>
                            <% case operation.activity_id %>
                                <% when 1, 3  # planting, tillage %>
                                    <td class="row text"><%= Tillage.find_by_code(operation.type_id).spanish_name %></td>
                                <% when 2  # fertilizer %>
                                    <td class="row text"><%= Fertilizer.find(operation.subtype_id).spanish_name %></td>
                                <% when 6  # irrigation %>
                                    <td class="row text"><%= Irrigation.find(operation.type_id).spanish_name %></td>
                                <% when 7  # grazing%>
                                    <td class="row text"><%= Fertilizer.find(operation.type_id).spanish_name %></td>
                                <% else # harvest, kill, stop grazin, burn, liming%>
                                    <td class="row text"><%= :"" %></td>
                            <% end %>
                            <td class="row number"><%= sprintf("%.2f", operation.amount) unless operation.amount == nil %></td>
                            <td class="row number"><%= sprintf("%.2f", operation.depth) unless operation.depth == nil%></td>
                            <td class="row number">
                                <%= operation.no3_n %>, 
                                <%= operation.po4_p %>, 
                                <%= operation.org_n %>, 
                                <%= operation.org_p %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
                <% i = i + 1 %>
            <% end %>
        </tbody>
    </table>
    <%= render '/pdf/bmp_info' %>
    <div class="page-break"></div>
    <% j = j + 1 %>
<% end %>