<%= render '/pdf/page_header' %>
<div class="group_header first_group">Annual Results for Nutrients, Flow, Sediment, and Crop Yield</div>
<table class="table_fill">
    <thead>
        <tr>
            <th class="table_head">Description</th>
            <th class="table_head">Baseline</th>
            <th class="table_head">Baseline</th>
            <th class="table_head">Difference</th>
            <th class="table_head">Reduction (%)</th>
            <th class="table_head">Total Area</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table_row_odd">
            <td class="row text bold">Total Area (ac.)</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row text bold">Total N (lbs/ac)</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">Org N (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Runoff N (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">Subsurface N (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Tile Drain N (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row text bold">Total P (lbs/ac)</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Org P (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">PO4_P (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Tile Drain P (lbs/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row text bold">Total Flow (in)</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Surface Runoff (in)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">Subsurface Runoff (in)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Tile Drain Flow (in)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row text bold">Other Water Information</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Irrigation (in)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">Deep Percolation (in)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row text bold">Total Sediment (t/ac)</td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
            <td class="row text bold"><%= %></td>
        </tr>
        <tr class="table_row_odd">
            <td class="row number">Sediment (t/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
        <tr class="table_row_even">
            <td class="row number">Manure Erosion (t/ac)</td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
            <td class="row number"><%= %></td>
        </tr>
    </tbody>
</table>