<% @weather = Weather.find_by_field_id(session[:field_id]) %>
<div class="group_header"><%=t('pdf.weather_info')%></div>
    <div class="data_titles">
        <%=t('pdf.weather_option')%>:</br>
        <%=t('pdf.station_name')%>:</br>
        <%=t('pdf.weather_period')%>:</br>
        <%=t('pdf.simulation_period')%>:</br>
    </div>
    <div class="data">
        This is a space filler<%=  %></br>
        <%= Station.find(@weather.station_id).station_name unless @weather.station_id == nil%></br>
        <%= @weather.weather_initial_year %> to <%= @weather.weather_final_year %></br>
        <%= @weather.simulation_initial_year %> to <%= @weather.simulation_final_year %></br>
    </div>