<div class="main">
	<div class="container">
		<h1><%= t('apexpage.header') %></h1>
		<ul>
			<li><p><%= raw t('apexpage.item1') %></p></li>
			<li><p><%= raw t('apexpage.item2') %></p></li>
			<li><p><%= raw t('apexpage.item3') %></p></li>
			<li><p><%= raw t('apexpage.item4') %></p></li>
			<li><p><%= raw t('apexpage.item5') %></p></li>
			<li><p><%= raw t('apexpage.item6') %></p></li>
			<li><p><%= raw t('apexpage.item7') %></p></li>
			<li><p><%= raw t('apexpage.item8') %></p></li>
		</ul>
			
		<h2><%= t('apexpage.reference.header') %></h2>
			<p><%= raw t('apexpage.reference.body1') %></p>

	</div>
</div>
<br>
  <%= link_to t('help.return_to_table'), help_path("index"), :class => "btn btn-primary" %>
  </br>