<div class="main">
	<div class="container">
		<h1><%= t('modpage.header') %></h1>
			<p><%= raw t('modpage.body1') %></p>
		<h2><%= t('modpage.make.header') %></h2>
			<p><%= raw t('modpage.make.body1') %></p>
			<p><%= raw t('modpage.make.body2') %></p>
			<p><%= raw t('modpage.make.body3') %></p>
		<h2><%= t('modpage.downloading.header') %></h2>
			<p><%= raw t('modpage.downloading.body1') %></p>
				
		<br>
		<%= link_to "< Prev", help_path("page_11") %><br>
		<%= link_to t('help.return_to_table'), help_path("index") %>
	</div>
</div>