<div class="main">
	<div class="container">
		<h1><%= t('watershedpage.header') %></h1>
			<br></br>
			<p><%= raw t('watershedpage.body1') %></p>

		<h2><%= t('watershedpage.create.header') %></h2>
			<h4><%= t('watershedpage.create.name.header') %></h4>
				<p><%= raw t('watershedpage.create.name.body1') %></p>
				<p><%= raw t('watershedpage.create.name.body2') %></p>
			<h4><%= t('watershedpage.create.select.header') %></h4>
				<p><%= raw t('watershedpage.create.select.body1') %></p>
				<p><%= raw t('watershedpage.create.select.body2') %></p>
			<h4><%= t('watershedpage.create.simulate.header') %></h4>
				<p><%= raw t('watershedpage.create.simulate.body1') %></p>

	</div>
</div>
<br><%= link_to "< Prev", help_path("page_8", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_10", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
