<div class="main">
	<div class="container">
		<h1><%= t('resultspage.header') %></h1>
			<p><%= raw t('resultspage.body1') %></p>
		
		<h2><%= t('resultspage.nav.header') %></h2>
			<h3><%= t('resultspage.nav.view.header') %></h3>
				<p><%= raw t('resultspage.nav.view.body1') %></p>
				<p><%= raw t('resultspage.nav.view.body2') %></p>
				<p><%= raw t('resultspage.nav.view.body3') %></p>
				<p><%= raw t('resultspage.nav.view.body4') %></p>
				<p><%= raw t('resultspage.nav.view.body5') %></p>
			<h3><%= t('resultspage.nav.manner.header') %></h3>
				<p><%= raw t('resultspage.nav.manner.body1') %></p>
				<p><%= raw t('resultspage.nav.manner.body2') %></p>
			<h3><%= t('resultspage.nav.expand.header') %></h3>
				<p><%= raw t('resultspage.nav.expand.body1') %></p>
		<h2><%= t('resultspage.understand.header') %></h2>
			<h3><%= t('resultspage.understand.tabular.header') %></h3>
				<p><%= raw t('resultspage.understand.tabular.body1') %></p>
				<p><%= raw t('resultspage.understand.tabular.body2') %></p>
				<p><%= raw t('resultspage.understand.tabular.body3') %></p>
				<p><%= raw t('resultspage.understand.tabular.body4') %></p>
				<p><%= raw t('resultspage.understand.tabular.body5') %></p>
			<h3><%= t('resultspage.understand.graphical.header') %></h3>
				<p><%= raw t('resultspage.understand.graphical.body1') %></p>
				<ol>
					<li>
					<p><%= raw t('resultspage.understand.graphical.item1.body1') %></p>
					<p><%= raw t('resultspage.understand.graphical.item1.body2') %></p>
					</li>
					<li><p><%= raw t('resultspage.understand.graphical.item2') %></p></li>
				</ol>
				
			<h3><%= t('resultspage.understand.economic.header') %></h3>
				<p><%= raw t('resultspage.understand.economic.body1') %></p>
				<p><%= raw t('resultspage.understand.economic.body2') %></p>
		<h2><%= t('resultspage.saving.header') %></h2>
			<p><%= raw t('resultspage.saving.body1') %></p>
			<p><%= raw t('resultspage.saving.body2') %></p>
	</div>
</div>
<br><%= link_to "< Prev", help_path("page_10") %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_12") %></br>
<br><%= link_to t('help.return_to_table'), help_path("index") %><br>