<div class="main">
	<div class="container">
		<h1><%= t('managepage.header') %></h1>
		<h2><%= t('managepage.overview.header') %></h2>
			<p><%= raw t('managepage.overview.body') %></p>

		<h2><%= t('managepage.create.header') %></h2>
				<p><%= raw t('managepage.create.add.body1') %></p>
				<p><%= raw t('managepage.create.add.body2') %></p>

    <h2><%= t('managepage.manipulate.header') %></h2>
				<p><%= raw t('managepage.manipulate.body1') %></p>
				<p><%= raw t('managepage.manipulate.body2') %></p>

		<h2><%= t('managepage.operation.header') %></h2>
				<p><%= raw t('managepage.operation.body') %></p><br>

        <ol>
					<li>
            <%= raw t('managepage.operation.item1.header') %>
            <p><%= raw t('managepage.operation.item1.body1') %></p>
            <%= image_tag("help/page_8/image003.png", :alt => "Image 003", :style =>"border:1px solid gray;max-width:640px;width: 100%;") %>
          </li><br>
					<li>
            <%= raw t('managepage.operation.item2.header') %>
            <p><%= raw t('managepage.operation.item2.body1') %></p>
            <%= image_tag("help/page_8/image004.png", :alt => "Image 004", :style =>"border:1px solid gray;max-width:390px;width: 100%;") %><br>
            <p><%= raw t('managepage.operation.item2.body2') %></p>
            <%= image_tag("help/page_8/image005.png", :alt => "Image 005", :style =>"border:1px solid gray;max-width:390px;width: 100%;") %><br>
            <p><%= raw t('managepage.operation.item2.body3') %></p>
					</li><br>
				</ol>
		<h2><%= t('managepage.bmpnav.header') %></h2>
			<p><%= raw t('managepage.bmpnav.body') %></p>
        <p><b><%= t('managepage.bmpnav.add.header') %></b></p>
				<p><%= raw t('managepage.bmpnav.add.body1') %></p>
        <%= image_tag("help/page_8/image012.png", :alt => "Image 012", :style =>"border:1px solid gray;max-width:540px;width: 100%;")  %>
				<p><%= raw t('managepage.bmpnav.add.body2') %></p>
				<p><%= raw t('managepage.bmpnav.add.body3') %></p>
        <%= image_tag("help/page_8/image014.png", :alt => "Image 014", :style =>"border:1px solid gray;max-width:240px;width: 100%;") %>
				<p><%= raw t('managepage.bmpnav.add.body4') %></p>
				<p><%= raw t('managepage.bmpnav.add.body5') %></p>
			<h2><%= t('managepage.bmpnav.mutualbmp.header') %></h2>
				<p><%= raw t('managepage.bmpnav.mutualbmp.body1') %></p>
				<ol>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item1') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item2') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item3') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item4') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item5') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item6') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item7') %></p></li>
				</ol>
				<p><%= raw t('managepage.bmpnav.mutualbmp.body2') %></p>
		<h2><%= t('managepage.bmpdesc.header') %></h2>
			<p><%= raw t('managepage.bmpdesc.body') %></p>
      <ol>
        <h2><li><%= t('managepage.bmpdesc.auto.header') %></li></h2>
				<strong><%= raw t('managepage.bmpdesc.auto.irrigation.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.auto.irrigation.body') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item5') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item6') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.auto.fertigation.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.auto.fertigation.body') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.auto.fertigation.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.drainsystem.tile.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.drainsystem.tile.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.drainsystem.tile.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.tile.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.item2') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.drainsystem.pp2stage.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pp2stage.body1') %></p>

				<h2><li><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.body2') %></p>

				<h2><li><%= raw t('managepage.bmpdesc.wetponds.wetlands.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.wetponds.wetlands.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.wetponds.wetlands.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.wetponds.wetlands.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.wetponds.ponds.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.wetponds.ponds.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.wetponds.ponds.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.stream.fencing.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.stream.fencing.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.fencing.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item5') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item6') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item7') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.stream.stabilization.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.stream.stabilization.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.stabilization.body2') %></p>

				<h2><li><%= raw t('managepage.bmpdesc.stream.forestbuffer.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.stream.forestbuffer.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.forestbuffer.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item5') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.stream.filterstrip.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body2') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body3') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body4') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item5') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.stream.waterway.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.stream.waterway.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.waterway.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.waterway.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.waterway.item2') %></p></li>
					</ol>

			<h2><li><%= t('managepage.bmpdesc.contour.header') %></li></h2>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<ol>
					<li><p><%= raw t('managepage.bmpdesc.contour.item1') %></p></li>
					<li><p><%= raw t('managepage.bmpdesc.contour.item2') %></p></li>
					<li><p><%= raw t('managepage.bmpdesc.contour.item3') %></p></li>
				</ol>

				<h2><li><%= raw t('managepage.bmpdesc.landgrading.leveling.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.leveling.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.leveling.item1') %></p></li>
					</ol>

				<h2><li><%= raw t('managepage.bmpdesc.landgrading.terrace.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.terrace.body1') %></p>

				<h2><li><%= raw t('managepage.bmpdesc.landgrading.liming.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.liming.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.manure.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.manure.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.tmp.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.tmp.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.asphalt.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.asphalt.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.grass.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.grass.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.slope.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.slope.body1') %></p>

        <h2><li><%= raw t('managepage.bmpdesc.landgrading.shade.header') %></li></h2>
					<p><%= raw t('managepage.bmpdesc.landgrading.shade.body1') %></p>
          <p><%= raw t('managepage.bmpdesc.landgrading.shade.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.shade.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.shade.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.shade.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.shade.item4') %></p></li>
					</ol>
    </ol>
		<h2><%= t('managepage.reference.header') %></h2>
			<p><%= raw t('managepage.reference.body1') %></p>
	</div>
</div>
<br><%= link_to "< Prev", help_path("page_7", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_9", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
