<div class="main">
	<div class="container">
		<h1><%= t('locpage.header') %></h1><br>
			<p><%= raw t('locpage.mapsystem.body1') %></p>
			<p><%= raw t('locpage.mapsystem.body2') %></p>
			<h2><%= t('locpage.mapsystem.header') %></h2>
			<p><%= raw t('locpage.mapsystem.body3') %></p>
			<%#= raw t('locpage.mapsystem.body4') %>
			<h4><%= t('locpage.mapsystem.option1.header') %></h4>
			<p><%= raw t('locpage.mapsystem.option1.body4') %></p>
			<ol>
				<li>
					<p><%= raw t('locpage.mapsystem.option1.item1.body1') %></p>
					<%= image_tag("help/page_4/image005.png", :alt => "Draw Farms 03", :style =>"border:1px solid gray;max-width:400px;width: 100%;") %>
				</li>
				<li>
					<p><%= raw t('locpage.mapsystem.option1.item3.body3') %></p>
				</li>
				<li><p><%= raw t('locpage.mapsystem.option1.item4') %></p></li>
			</ol>
			<br>

			<h4><%= t('locpage.mapsystem.option2.header') %></h4>
			<p><%= raw t('locpage.mapsystem.option2.body1') %></p>
			<ol>
				<li><p><%= raw t('locpage.mapsystem.option2.item1') %></p></li>
				<%= image_tag("help/page_4/image001.png", :alt => "Zoom", :style =>"border:1px solid gray;max-width:400px;width: 100%;") %>
				<li><p><%= raw t('locpage.mapsystem.option2.item2') %></p></li>
				<%= image_tag("help/page_4/image002.png", :alt => "Draw Farms 01", :style =>"border:1px solid gray;max-width:850px;width: 100%;") %>
				<p><%= raw t('locpage.mapsystem.option2.body2') %></p>
				<%= image_tag("help/page_4/image003.png", :alt => "Draw Farms 02", :style =>"border:1px solid gray;max-width:850px;width: 100%;") %>
				<li><p><%= raw t('locpage.mapsystem.option2.item3') %></p></li>
				<li><p><%= raw t('locpage.mapsystem.option2.item4') %></p></li>
			</ol>
			<br>

			<!--<h2><%= t('locpage.mapsystem.option3.header') %></h2>
			<ol>
				<li><p><%= raw t('locpage.mapsystem.option3.item1') %></p></li>
				<li><p><%= raw t('locpage.mapsystem.option3.item2') %></p></li>
			</ol>
			<br>

			<h2><%= t('locpage.mapsystem.option4.header') %></h2>
			<ol>
				<li><p><%= raw t('locpage.mapsystem.option4.item1') %></p></li>
				<li><p><%= raw t('locpage.mapsystem.option4.item2') %></p></li>
			</ol>

		<h2><%= t('locpage.statecounty.header') %></h2>
			<p><%= raw t('locpage.statecounty.body1') %></p>
			<p><%= raw t('locpage.statecounty.body2') %></p>
			<p><%= raw t('locpage.statecounty.body3') %></p>
			<ol>
				<li><p><%= raw t('locpage.statecounty.item1') %></p></li>
        <%= image_tag("/assets/help/navpage/image002-063bdde43c7484bdcf60b5c3d79f75e96a09bd43d4f10ad10dc48e3b9b543b22.png", :alt => "Select State") %>

				<li><p><%= raw t('locpage.statecounty.item2') %></p></li>
        <%= image_tag("help/page_4/image004.png", :alt => "Select County") %>
			</ol>

			<p><%= raw t('locpage.statecounty.body4') %></p>!-->

	</div>
</div>

<br><%= link_to "< Prev", help_path("page_3", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_5", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
