<div class="main">
	<div class="container">
		<h1><%= t('operation_page.header') %></h1><br>
			<p><%= raw t('operation_page.body1') %></p><br>
			<p><%= raw t('operation_page.body2') %></p><br>
		<h4><%= t('operation_page.rotation.header') %></h4><br>
			<%#= t('watershedpage.create.name.header') %>
				<p><%= raw t('operation_page.rotation.name.body1') %></p>
				<p><%= raw t('operation_page.rotation.name.body2') %></p>
				<p><%= raw t('operation_page.rotation.name.body3') %></p>
				<%= image_tag("help/page_8/image003.png", :alt => "Image 003", :style =>"border:1px solid gray;max-width:500px;width: 100%;")  %><br></br>
			<h4><%= t('operation_page.rotation.select.header') %></h4><br>
				<p><%= raw t('operation_page.rotation.select.body1') %></p>
				<%= image_tag("help/page_8/image004.png", :alt => "Image 004", :style =>"border:1px solid gray;max-width:300px;width: 100%;")  %><br></br>
				<p><%= raw t('operation_page.rotation.select.body2') %></p>

					<b><%= raw t('operation_page.rotation.item1.header') %></b><br>
					<ul>
					<li><p><%= raw t('operation_page.rotation.item1.body1') %></p></li>
					<li><p><%= raw t('operation_page.rotation.item1.body2') %></p></li>
				</ul>
				<b><%= raw t('operation_page.rotation.item2.header') %></b><br>
				<ul>
				<li><p><%= raw t('operation_page.rotation.item2.body1') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body2') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body3') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body4') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body5') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body6') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body7') %></p></li>
				<li><p><%= raw t('operation_page.rotation.item2.body8') %></p></li>
			</ul>
			<b><%= raw t('operation_page.rotation.item3.header') %></b><br>
			<ul>
			<li><p><%= raw t('operation_page.rotation.item3.body1') %></p></li>
			</ul>
			<b><%= raw t('operation_page.rotation.item4.header') %></b><br>
			<ul>
			<li><p><%= raw t('operation_page.rotation.item4.body1') %></p></li>
			</ul>
			<b><%= raw t('operation_page.rotation.item5.header') %></b><br>
			<ul>
			<li><p><%= raw t('operation_page.rotation.item5.body1') %></p></li>
			</ul>
			<p><%= raw t('operation_page.rotation.item5.body2') %></p>
			<b><%= raw t('operation_page.rotation.item6.header') %></b><br>
			<ul>
			<li><p><%= raw t('operation_page.rotation.item6.body1') %></p></li>
			<li><p><%= raw t('operation_page.rotation.item6.body2') %></p></li>
			<li><p><%= raw t('operation_page.rotation.item6.body3') %></p></li>
			</ul>
			<p><%= raw t('operation_page.rotation.item6.body4') %></p>
			<b><%= raw t('operation_page.rotation.item7.header') %></b><br>
			<ul>
			<li><p><%= raw t('operation_page.rotation.item7.body1') %></p></li>
			<li><p><%= raw t('operation_page.rotation.item7.body2') %></p></li>
			<li><p><%= raw t('operation_page.rotation.item7.body3') %></p></li>
			<li><p><%= raw t('operation_page.rotation.item7.body4') %></p></li>
		</ul>
		<b><%= raw t('operation_page.rotation.item8.header') %></b><br>
		<ul>
		<li><p><%= raw t('operation_page.rotation.item8.body1') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body2') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body3') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body4') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body5') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body6') %></p></li>
		<li><p><%= raw t('operation_page.rotation.item8.body7') %></p></li>
	</ul>
	<b><%= raw t('operation_page.rotation.item9.header') %></b><br>
	<ul>
	<li><p><%= raw t('operation_page.rotation.item9.body1') %></p></li>
</ul>
<b><%= raw t('operation_page.rotation.item10.header') %></b><br>
<ul>
<li><p><%= raw t('operation_page.rotation.item10.body1') %></p></li>
</ul><br>
	<h4><%= t('operation_page.rotation.cover.header') %></h4><br>
	<p><%= raw t('operation_page.rotation.cover.body1') %></p>
	<p><%= raw t('operation_page.rotation.cover.body2') %></p><br>
	<h4><%= t('operation_page.rotation.edit.header') %></h4><br>
	<p><%= raw t('operation_page.rotation.edit.body1') %></p>
	<%= image_tag("help/page_8/image005.png", :alt => "Image 005", :style =>"border:1px solid gray;max-width:400px;width: 100%;")  %><br></br>
	<h4><%= t('operation_page.rotation.delete.header') %></h4><br>
	<p><%= raw t('operation_page.rotation.delete.body1') %></p><br>
	<h4><%= t('operation_page.rotation.switch.header') %></h4><br>
	<p><%= raw t('operation_page.rotation.switch.body1') %></p>
	<p><%= raw t('operation_page.rotation.switch.body2') %></p>
	</div>
</div>
<br><%= link_to "< Prev", help_path("page_8", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_10", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
