<div class="main">
	<div class="container">
		<% if ENV["APP_VERSION"] == "standard" %>
		<h1><%= t('projpage.header') %></h1>
		<% else %>
		<h1><%= t('projpage.header_modified') %></h1>
		<% end %>
		<br></br>
		<% if ENV["APP_VERSION"] == "standard" %>
		<p><%= raw t('projpage.statement') %></p>
		<%= image_tag("help/page_3/image000.PNG", :alt => "Choices", :style =>"border:1px solid gray;max-width:640px;width: 100%;") %>
		<% else %>
		<p><%= raw t('projpage.statement_modified') %></p>
		<%= image_tag("help/page_3/image000_modified.png", :alt => "Choices", :style =>"border:1px solid gray;max-width:1180px;width: 100%;") %>
		<% end %>
		<%#= t('projpage.initial.header') %>
		<%#= raw t('projpage.initial.statement') %>
			<%#= raw t('projpage.initial.item1') %>
			<%#= raw t('projpage.initial.item2') %>
			<%# if ENV["APP_VERSION"] == "standard" %>
			<%#= raw t('projpage.initial.item3') %>
			<%# end %>
		<br>
		<h2><%= t('projpage.create.header') %></h2>
		<p><%= raw t('projpage.create.body1') %></p>
		<p><%= raw t('projpage.create.body2') %></p>
		<% if ENV["APP_VERSION"] == "standard" %>
    <%= image_tag("help/page_3/image001.PNG", :alt => "Create New Project", :style =>"border:1px solid gray;max-width:380px;width: 100%;") %>
		<% else %>
		<%= image_tag("help/page_3/image001_modified.png", :alt => "Create New Project", :style =>"border:1px solid gray;max-width:300px;width: 100%;") %>
		<% end %>
		<h2><%= t('projpage.open.header') %></h2>
		<p><%= raw t('projpage.open.body1') %></p>
		<p><%= raw t('projpage.open.body2') %></p>
		<center><p style="padding:13px; border-bottom:5px solid #20689B; border-top:5px solid #20689B; max-width:1500px; font-size:20px"><%= raw t('projpage.open.body3') %></p></center>
    <%= image_tag("help/page_3/image002.PNG", :alt => "Open Saved Project", :style =>"border:1px solid gray;max-width:260px;width: 100%;") %>

		<% if ENV["APP_VERSION"] == "standard" %>
		<h2><%= t('projpage.example.header') %></h2>
		<p><%= raw t('projpage.example.body1') %></p>
		<p><%= raw t('projpage.example.body2') %></p>

    <%= image_tag("help/page_3/image003.png", :alt => "Open Example Project", :style =>"border:1px solid gray;max-width:260px;width: 100%;") %>
		<% end %>
		<h2><%= t('projpage.save.header') %></h2>
		<p><%= raw t('projpage.save.body') %></p>
		<!--<p><%= raw t('projpage.save.note') %></p>
		<br>

		<h2><%= t('projpage.close.header') %></h2>
		<p><%= raw t('projpage.close.body1') %></p>
		<p><%= raw t('projpage.close.body2') %></p>
    <%= image_tag("help/page_3/image004.PNG", :alt => "Clsoe Warning") %>
		<p><%= raw t('projpage.close.body3') %></p> -->
		<br>
	</div>
</div>
<br><%= link_to "< Prev", help_path("nav", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_4", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
