<div class="main">
	<div class="container">
		<h1><%= t('simpage.header') %></h1>
			<p><%= raw t('simpage.body1') %></p>
		
		<h2><%= t('simpage.add.header') %></h2>
			<h3><%= t('simpage.add.select.header') %></h3>
				<p><%= raw t('simpage.add.select.body1') %></p>
				<p><%= raw t('simpage.add.select.body2') %></p>
			<h3><%= t('simpage.add.adding.header') %></h3>
				<p><%= raw t('simpage.add.adding.body1') %></p>
			<h3><%= t('simpage.add.removing.header') %></h3>
				<p><%= raw t('simpage.add.removing.body1') %></p>
		<h2><%= t('simpage.simulating.header') %></h2>
			<h3><%= t('simpage.simulating.check.header') %></h3>
				<p><%= raw t('simpage.simulating.check.body1') %></p>
				<p><%= raw t('simpage.simulating.check.body1') %></p>
				<p><%= raw t('simpage.simulating.check.body1') %></p>
			<h3><%= t('simpage.simulating.run.header') %></h3>
				<p><%= raw t('simpage.simulating.run.body1') %></p>
				<p><%= raw t('simpage.simulating.run.body1') %></p>
				<p><%= raw t('simpage.simulating.run.body1') %></p>
	</div>
</div>
<br><%= link_to "< Prev", help_path("page_9", :project_id => params[:project_id]) %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_11", :project_id => params[:project_id]) %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]) %></br>