<div class="main">
	<div class="container">
		<h1><%= t('managepage.header') %></h1>
		<h2><%= t('managepage.overview.header') %></h2>
			<p><%= raw t('managepage.overview.body') %></p>
		
		<h2><%= t('managepage.create.header') %></h2>
			<h3><%= t('managepage.create.select.header') %></h3>
				<p><%= raw t('managepage.create.select.body') %></p>
			<h3><%= t('managepage.create.add.header') %></h3>
				<p><%= raw t('managepage.create.add.body1') %></p>
				<p><%= raw t('managepage.create.add.body2') %></p>
			<h3><%= t('managepage.create.nav.header') %></h3>
				<p><%= raw t('managepage.create.nav.body1') %></p>
				<p><%= raw t('managepage.create.nav.body2') %></p>
			<h3><%= t('managepage.create.edit.header') %></h3>
				<p><%= raw t('managepage.create.edit.body') %></p>
				<strong><%= raw t('managepage.create.edit.add.header') %></strong>
				<p><%= raw t('managepage.create.edit.add.body1') %></p>
				<p><%= raw t('managepage.create.edit.add.body1') %></p>
				<ol>
					<li><p><%= raw t('managepage.create.edit.add.item1') %></p></li>
					<li><p><%= raw t('managepage.create.edit.add.item2') %></p></li>
					<li>
						<p><%= raw t('managepage.create.edit.add.item3.body1') %></p>
						<p><%= raw t('managepage.create.edit.add.item3.body2') %></p>
						<p><%= raw t('managepage.create.edit.add.item3.body3') %></p>
					</li>
					<li>
						<p><%= raw t('managepage.create.edit.add.item4.body1') %></p>
						<p><%= raw t('managepage.create.edit.add.item4.body2') %></p>
						<p><%= raw t('managepage.create.edit.add.item4.body3') %></p>
						<p><%= raw t('managepage.create.edit.add.item4.body4') %></p>
					</li>
				</ol>
		<h2><%= t('managepage.bmpnav.header') %></h2>
			<p><%= raw t('managepage.bmpnav.body') %></p>
			<h3><%= t('managepage.bmpnav.add.header') %></h3>
				<p><%= raw t('managepage.bmpnav.add.body1') %></p>
				<p><%= raw t('managepage.bmpnav.add.body2') %></p>
				<p><%= raw t('managepage.bmpnav.add.body3') %></p>
				<p><%= raw t('managepage.bmpnav.add.body4') %></p>
				<p><%= raw t('managepage.bmpnav.add.body5') %></p>
			<h3><%= t('managepage.bmpnav.mutualbmp.header') %></h3>
				<p><%= raw t('managepage.bmpnav.mutualbmp.body1') %></p>
				<ol>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item1') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item2') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item3') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item4') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item5') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item6') %></p></li>
					<li><p><%= raw t('managepage.bmpnav.mutualbmp.item7') %></p></li>
				</ol>
				<p><%= raw t('managepage.bmpnav.mutualbmp.body2') %></p>
		<h2><%= t('managepage.bmpdesc.header') %></h2>
			<p><%= raw t('managepage.bmpdesc.body') %></p>
			<h3><%= t('managepage.bmpdesc.auto.header') %></h3>
				<strong><%= raw t('managepage.bmpdesc.auto.irrigation.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.auto.irrigation.body') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item5') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.auto.irrigation.item6') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.auto.fertigation.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.auto.fertigation.body') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.auto.fertigation.item1') %></p></li>
					</ol>
			<h3><%= t('managepage.bmpdesc.drainsystem.header') %></h3>
				<strong><%= raw t('managepage.bmpdesc.drainsystem.tile.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.drainsystem.tile.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.drainsystem.tile.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.tile.item1') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppnoditch.item2') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.drainsystem.pp2stage.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pp2stage.body1') %></p>
				<strong><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.drainsystem.ppreservoir.item1') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.drainsystem.pptailwater.body2') %></p>
			<h3><%= t('managepage.bmpdesc.wetponds.header') %></h3>
				<strong><%= raw t('managepage.bmpdesc.wetponds.wetlands.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.wetponds.wetlands.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.wetponds.wetlands.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.wetponds.wetlands.item1') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.wetponds.ponds.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.wetponds.ponds.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.wetponds.ponds.item1') %></p></li>
					</ol>
			<h3><%= t('managepage.bmpdesc.stream.header') %></h3>
				<strong><%= raw t('managepage.bmpdesc.stream.fencing.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.stream.fencing.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.fencing.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item5') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item6') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.fencing.item7') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.stream.stabilization.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.stream.stabilization.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.stabilization.body2') %></p>
				<strong><%= raw t('managepage.bmpdesc.stream.forestbuffer.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.stream.forestbuffer.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.forestbuffer.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.forestbuffer.item5') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.stream.filterstrip.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body2') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body3') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.filterstrip.body4') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item2') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item3') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item4') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.filterstrip.item5') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.stream.waterway.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.stream.waterway.body1') %></p>
					<p><%= raw t('managepage.bmpdesc.stream.waterway.body2') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.stream.waterway.item1') %></p></li>
						<li><p><%= raw t('managepage.bmpdesc.stream.waterway.item2') %></p></li>
					</ol>
			<h3><%= t('managepage.bmpdesc.contour.header') %></h3>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<p><%= raw t('managepage.bmpdesc.contour.body1') %></p>
				<ol>
					<li><p><%= raw t('managepage.bmpdesc.contour.item1') %></p></li>
					<li><p><%= raw t('managepage.bmpdesc.contour.item2') %></p></li>
					<li><p><%= raw t('managepage.bmpdesc.contour.item3') %></p></li>
				</ol>
			<h3><%= t('managepage.bmpdesc.landgrading.header') %></h3>
				<strong><%= raw t('managepage.bmpdesc.landgrading.leveling.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.landgrading.leveling.body1') %></p>
					<ol>
						<li><p><%= raw t('managepage.bmpdesc.landgrading.leveling.item1') %></p></li>
					</ol>
				<strong><%= raw t('managepage.bmpdesc.landgrading.terrace.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.landgrading.terrace.body1') %></p>
				<strong><%= raw t('managepage.bmpdesc.landgrading.liming.header') %></strong>
					<p><%= raw t('managepage.bmpdesc.landgrading.liming.body1') %></p>
		<h2><%= t('managepage.reference.header') %></h2>
			<p><%= raw t('managepage.reference.body1') %></p>
		<br>	
		<%= link_to "< Prev", help_path("page_7") %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_9") %><br>
		<%= link_to "<< Return to Table of Contents", help_path("index") %>
	</div>
</div>