<div class="main">
	<div class="container">
		<h1><%= t('soilpage.header') %></h1>
		<h2><%= t('soilpage.overview.header') %></h2>
			<p><%= raw t('soilpage.overview.body') %></p>
			<ol>
				<li><%= raw t('soilpage.overview.item1') %></li>
        <%= image_tag("help/page7/image001.png", :alt => "Image 001") %>
				<li><%= raw t('soilpage.overview.item2') %></li>
				<li><%= raw t('soilpage.overview.item3') %></li>
        <%= image_tag("help/page7/image002.png", :alt => "Image 002") %>
        <li><%= raw t('soilpage.overview.item4') %></li>
        <%= image_tag("help/page7/image003.png", :alt => "Image 003") %>
      </ol>
		
		<h2><%= t('soilpage.mapsystem.header') %></h2>
			<p><%= raw t('soilpage.mapsystem.body') %></p>
			<h3><%= t('soilpage.mapsystem.select.header') %></h3>
				<p><%= raw t('soilpage.mapsystem.select.body1') %></p>
        <%= image_tag("help/page7/image004.png", :alt => "Image 004") %>
        <p><%= raw t('soilpage.mapsystem.select.body2') %></p>
        <%= image_tag("help/page7/image005.png", :alt => "Image 005") %>
      <h3><%= t('soilpage.mapsystem.info.header') %></h3>
				<p><%= raw t('soilpage.mapsystem.info.body') %></p>
			<h3><%= t('soilpage.mapsystem.addremove.header') %></h3>
				<p><%= raw t('soilpage.mapsystem.addremove.body1') %></p>
        <%= image_tag("help/page7/image006.png", :alt => "Image 006") %>
        <p><%= raw t('soilpage.mapsystem.addremove.body2') %></p>
			
		<h2><%= t('soilpage.statecounty.header') %></h2>
			<p><%= raw t('soilpage.statecounty.body') %></p>
			<h3><%= t('soilpage.statecounty.select.header') %></h3>
				<p><%= raw t('soilpage.statecounty.select.body1') %></p>
				<p><%= raw t('soilpage.statecounty.select.body2') %></p>
        <%= image_tag("help/page7/image007.png", :alt => "Image 007") %>
				<p><%= raw t('soilpage.statecounty.select.body3') %></p>
        <%= image_tag("help/page7/image008.png", :alt => "Image 008") %>
				<p><%= raw t('soilpage.statecounty.select.body4') %></p>
        <%= image_tag("help/page7/image009.png", :alt => "Image 009") %>
				<p><%= raw t('soilpage.statecounty.select.body5') %></p>

			<h3><%= t('soilpage.statecounty.info.header') %></h3>
				<p><%= raw t('soilpage.statecounty.info.body') %></p>
			<h3><%= t('soilpage.statecounty.addremove.header') %></h3>
				<p><%= raw t('soilpage.statecounty.addremove.body1') %></p>
				<p><%= raw t('soilpage.statecounty.addremove.body2') %></p>
				
		<h2><%= t('soilpage.userinput.header') %></h2>
			<p><%= raw t('soilpage.userinput.body') %></p>
			<h3><%= t('soilpage.userinput.create.header') %></h3>
				<p><%= raw t('soilpage.userinput.create.body1') %></p>
				<p><%= raw t('soilpage.userinput.create.body2') %></p>
        <%= image_tag("help/page7/image010.png", :alt => "Image 010") %>
				<p><%= raw t('soilpage.userinput.create.body3') %></p>
        <%= image_tag("help/page7/image011.png", :alt => "Image 011") %>
				<p><%= raw t('soilpage.userinput.create.body4') %></p>
        <%= image_tag("help/page7/image012.png", :alt => "Image 012") %>
				<p><%= raw t('soilpage.userinput.create.body5') %></p>
				
		<h2><%= t('soilpage.advance.header') %></h2>
			<p><%= raw t('soilpage.advance.body') %></p>

		<br>
		<%= link_to "< Prev", help_path("page_6") %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_8") %><br>
		<%= link_to "<< Return to Table of Contents", help_path("index") %>
	</div>
</div>