<div class="main">
	<div class="container">
		<h1><%= t('weathpage.header') %></h1><br>
			<p><%= raw t('weathpage.body') %></p>

		<h2><%= t('weathpage.selectinfo.header') %></h2>
			<p><%= raw t('weathpage.selectinfo.body') %></p>
			<h3><%= t('weathpage.selectinfo.method1.header') %></h3><br>
				<p><%= raw t('weathpage.selectinfo.method1.body1') %></p>
        <%= image_tag("help/page_5/image001.png", :alt => "Image 001", :style =>"border:1px solid gray;max-width:340px;width: 100%;") %>
				<br></br>

			<h3><%= t('weathpage.selectinfo.method2.header') %></h3><br>
				<p><%= raw t('weathpage.selectinfo.method2.body') %></p>
				<ol>
					<li>
						<p><%= raw t('weathpage.selectinfo.method2.item1.body1') %></p>
						<p><%= raw t('weathpage.selectinfo.method2.item1.body2') %></p>
						<p><%= raw t('weathpage.selectinfo.method2.item1.body3') %></p>
            <%= image_tag("help/page_5/image003.png", :alt => "Image 003", :style =>"border:1px solid gray;max-width:640px;width: 100%;") %>
						<p><%= raw t('weathpage.selectinfo.method2.item1.body4') %></p>
					</li>
					<li>
						<p><%= raw t('weathpage.selectinfo.method2.item2.body1') %></p>
						<p><%= raw t('weathpage.selectinfo.method2.item2.body2') %></p>
					</li>
					<li><p><%= raw t('weathpage.selectinfo.method2.item3') %></p></li>
				</ol>
			<h3><%= t('weathpage.selectinfo.method3.header') %></h3><br>
				<p><%= raw t('weathpage.selectinfo.method3.body1') %></p>
				<p><%= raw t('weathpage.selectinfo.method3.body2') %></p>
			<h2><%= t('weathpage.simulate.header') %></h2>
				<p><%= raw t('weathpage.simulate.body') %></p>
	</div>
</div>
<br><%= link_to "< Prev", help_path("page_6", :project_id => params[:project_id]), :class => "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Next >", help_path("page_8", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %></br>
