<div class="main">
	<div class="container">
		<h1><%= t('sysreq.header') %></h1>
		<h2><%= t('sysreq.minreq.header') %></h2>
		<ol>
			<li><%= raw t('sysreq.minreq.windows') %></li>
			<li><%= raw t('sysreq.minreq.mac') %></li>
		</ol>
		<br>
		
		<h2><%= t('sysreq.webbrowsers.header') %></h2>
		<p><%= raw t('sysreq.webbrowsers.statement') %></p>
		<h3><%= t('sysreq.webbrowsers.mac') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.safari') %></li>
		</ol>

		<h3><%= t('sysreq.webbrowsers.win81') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie11') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win8') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie10') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win7') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie89') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win7sp1') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie891011') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.2012r2') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie11') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win2012') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie10') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win2008sp2') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie789') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.win2008r2sp1') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie8911') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.winvista') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie789') %></li>
			<li><%= t('sysreq.webbrowsers.netscape') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<h3><%= t('sysreq.webbrowsers.winxp') %></h3>
		<ol>
			<li><%= t('sysreq.webbrowsers.ie78') %></li>
			<li><%= t('sysreq.webbrowsers.netscape') %></li>
			<li><%= t('sysreq.webbrowsers.firefox') %></li>
			<li><%= t('sysreq.webbrowsers.chrome') %></li>
		</ol>
		<br>
		
		<h2><%= t('sysreq.display.header') %></h2>
		<p><%= t('sysreq.display.body') %></p>
		
		<h2><%= t('sysreq.javascript.header') %></h2>
		<p><%= raw t('sysreq.javascript.body') %></p>
		
		<h2><%= t('sysreq.cookies.header') %></h2>
		<p><%= raw t('sysreq.cookies.body') %></p>
		
		<h2><%= t('sysreq.popup.header') %></h2>
		<p><%= raw t('sysreq.popup.body1') %></p>
		<ul>
			<li><%= t('sysreq.popup.list1') %></li>
			<li><%= raw t('sysreq.popup.list2') %></li>
		</ul>
		<p><%= t('sysreq.popup.body2') %></p>
	</div>
</div>
<br><%= link_to "Next >", help_path("nav", :project_id => params[:project_id]) %></br>
<br><%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]) %></br>