<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @county_crop_result.state_id %>
</p>

<p>
  <strong>County:</strong>
  <%= @county_crop_result.county_id %>
</p>

<p>
  <strong>Scenario:</strong>
  <%= @county_crop_result.scenario_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @county_crop_result.name %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @county_crop_result.yield %>
</p>

<p>
  <strong>Ws:</strong>
  <%= @county_crop_result.ws %>
</p>

<p>
  <strong>Ns:</strong>
  <%= @county_crop_result.ns %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @county_crop_result.ps %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @county_crop_result.ts %>
</p>

<p>
  <strong>Yield ci:</strong>
  <%= @county_crop_result.yield_ci %>
</p>

<%= link_to 'Edit', edit_county_crop_result_path(@county_crop_result) %> |
<%= link_to 'Back', county_crop_results_path %>
