<p id="notice"><%= notice %></p>

<div class="page-header"><h1><%=t("fem.general")%></h1></div>
<%= link_to t("general.reset_to"), reset_project_fem_general_path(@project, @field.id), :class => 'btn btn-primary' %>
<br>
<br>
  <div class="table-responsive">
    <div class="panel panel-default">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <!-- <th>Codes</th> -->
            <th>Unit</th>
            <th>Value</th>
            <th><%=t('general.actions')%></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @fem_generals.each do |fem_general| %>
            <tr>
              <td><%= fem_general.name.capitalize %></td>
             <!--  <td><%= fem_general.codes %></td> -->
              <td><%= fem_general.unit %></td>
              <td><%= fem_general.value %></td>
              <td><%#= link_to 'Show', project_fem_general_path(fem_general) %></td>
              <td><%= link_to image_tag("edit.png"), edit_project_fem_general_path(@project, fem_general,:field_id => @field.id,:caller_id => "FEM") %></td>
              <td><%#= link_to 'Destroy', fem_general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%#= link_to 'New Fem general', new_fem_general_path %>
