<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fem_general.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @fem_general.value %>
</p>

<%= link_to 'Edit', edit_fem_general_path(@fem_general) %> |
<%= link_to 'Back', fem_generals_path %>
