<%= form_for(@create_table_fertilizer) do |f| %>
  <% if @create_table_fertilizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create_table_fertilizer.errors.count, "error") %> prohibited this create_table_fertilizer from being saved:</h2>

      <ul>
      <% @create_table_fertilizer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qn %><br />
    <%= f.text_field :qn %>
  </div>
  <div class="field">
    <%= f.label :qp %><br />
    <%= f.text_field :qp %>
  </div>
  <div class="field">
    <%= f.label :yn %><br />
    <%= f.text_field :yn %>
  </div>
  <div class="field">
    <%= f.label :yp %><br />
    <%= f.text_field :yp %>
  </div>
  <div class="field">
    <%= f.label :nh3 %><br />
    <%= f.text_field :nh3 %>
  </div>
  <div class="field">
    <%= f.label :lbs %><br />
    <%= f.text_field :lbs %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :status=boolean %><br />
    <%= f.text_field :status=boolean %>
  </div>
  <div class="field">
    <%= f.label :spanish_name %><br />
    <%= f.text_field :spanish_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
