<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @create_table_fertilizer.code %>
</p>

<p>
  <b>Name:</b>
  <%= @create_table_fertilizer.name %>
</p>

<p>
  <b>Qn:</b>
  <%= @create_table_fertilizer.qn %>
</p>

<p>
  <b>Qp:</b>
  <%= @create_table_fertilizer.qp %>
</p>

<p>
  <b>Yn:</b>
  <%= @create_table_fertilizer.yn %>
</p>

<p>
  <b>Yp:</b>
  <%= @create_table_fertilizer.yp %>
</p>

<p>
  <b>Nh3:</b>
  <%= @create_table_fertilizer.nh3 %>
</p>

<p>
  <b>Lbs:</b>
  <%= @create_table_fertilizer.lbs %>
</p>

<p>
  <b>Type:</b>
  <%= @create_table_fertilizer.type %>
</p>

<p>
  <b>Status=boolean:</b>
  <%= @create_table_fertilizer.status=boolean %>
</p>

<p>
  <b>Spanish name:</b>
  <%= @create_table_fertilizer.spanish_name %>
</p>


<%= link_to t('general.edit'), edit_create_table_fertilizer_path(@create_table_fertilizer) %> |
<%= link_to t('general.back'), create_table_fertilizers_path %>
