  <div class="field" title="Name of Field">
    <%= f.label t('field.field_name') %>
    <%= f.text_field :field_name, :required => true %>
  </div>
  <div class="field" title="Field Area (Ac.). Must be greater than 0.">
    <%= f.label t('field.field_area') %>
    <%= f.number_field :field_area, :class => 'gvTitleStyleNumber', :step => "any", :required => true %>
	<%= '(ac.)' %>
  </div>
  <div class="field" style="display:none">
	<%= f.label t('field.field_avg_slope') %>
    <%= f.number_field :field_average_slope, :class => 'gvTitleStyleNumber', :step => "any", disabled: true  %>  <a href="#" id="trigger">[?]</a>
  </div>
  <div class="field" style="display:none">
	<%= f.label t('field.coordinate') + " (long, lat)" %><br>
	<%= f.text_area :coordinates, :required => 'true', disabled: true %>
  </div>
  <div class="field" title="">
	<%= t('soil.soilp') %>
	<%= f.number_field :soilp, :class => 'gvTitleStyleNumber', :step => "any" %>
  </div>

<script>
  $(function() {
    var moveLeft = -300;
    var moveDown = -100;
    $('a#trigger').hover(function(e) {
      $('div#pop-up').show();
    }, function() {
      $('div#pop-up').hide();
    });
    $('a#trigger').mousemove(function(e) {
      $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
    });
  });
</script>
