<%= form_for [@project, @field, @soil] do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @soil.errors.count, :model => t('models.soil').downcase) %></h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selected, t('soil.selected') %>
    <%= f.check_box :selected %>
  </div>
  <div class="field">
    <%= f.label :key, t('soil.key') %>
    <%= f.number_field :key, :class => "gvTitleStyleNumber" %>
  </div>
  <div class="field">
    <%= f.label :symbol, t('soil.symbol') %>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :group, t('soil.group') %>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :name, t('soil.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :albedo, t('soil.albedo') %>
    <%= f.number_field :albedo, :class => "gvTitleStyleNumber", :step => 'any'  %>
  </div>
  <div class="field">
    <%= f.label :slope, t('soil.slope') %>
    <%= f.number_field :slope, :class => "gvTitleStyleNumber", :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :percentage, t('soil.percentage') %>
    <%= f.number_field :percentage, :class => "gvTitleStyleNumber", :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :drainage_id, t('soil.drainage') %>
    <%#= f.text_field :drainage_id %>
	<%# if I18n.locale.equal?(:en) %>
		<%= collection_select :soil, :drainage_id, Drainage.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => @soil.drainage_id}%>
	<%# else %>
		<%#= collection_select :soil, :drainage_id, Drainage.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => @soil.drainage_id} %>
	<%# end %>
  </div>
  <div class="actions">
    <%#if type1 == 'Edit' %>
		<%= f.submit t('submit.save'), :class => "btn btn-primary" %>
	<%# else %>
		<%#= f.submit t('submit.savecontinue'), :class => "btn btn-primary" %>
	<%# end %>
	<%= link_to t('general.back'), project_field_soils_path(@project, @field), :class => "btn btn-primary" %>
  </div>
<% end %>
