<%= form_for @soil, url: soils_path do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil.errors.count, "error") %> prohibited this soil from being saved:</h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selected, t('soil.selected') %>
    <%= f.check_box :selected %>
  </div>
  <div class="field">
    <%= f.label :key, t('soil.key') %>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :symbol, t('soil.symbol') %>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :group, t('soil.group') %>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :name, t('soil.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :albedo, t('soil.albedo') %>
    <%= f.text_field :albedo %>
  </div>
  <div class="field">
    <%= f.label :slope, t('soil.slope') %>
    <%= f.text_field :slope %>
  </div>
  <div class="field">
    <%= f.label :percentage, t('soil.percentage') %>
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :drainage_type, t('soil.drainage_type') %>
    <%= f.text_field :drainage_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to t('general.back'), field_soils_field_path(session[:field_id]) %>
  </div>
<% end %>
