<%= form_for(@soil) do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil.errors.count, "error") %> prohibited this soil from being saved:</h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selected %><br />
    <%= f.check_box :selected %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :albedo %><br />
    <%= f.text_field :albedo %>
  </div>
  <div class="field">
    <%= f.label :slope %><br />
    <%= f.text_field :slope %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br />
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :field_id %><br />
    <%= f.number_field :field_id %>
  </div>
  <div class="field">
    <%= f.label :drainage_type %><br />
    <%= f.text_field :drainage_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
