<%= form_for (@soil) do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @soil.errors.count, :model => t('models.soil').downcase) %></h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selected, t('soil.selected') %>
    <%= f.check_box :selected %>
  </div>
  <div class="field">
    <%= f.label :key, t('soil.key') %>
    <%= f.number_field :key, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label :symbol, t('soil.symbol') %>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :group, t('soil.group') %>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :name, t('soil.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :albedo, t('soil.albedo') %>
    <%= f.number_field :albedo, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label :slope, t('soil.slope') %>
    <%= f.number_field :slope, :class => "numbers", :value => (number_with_precision(f.object.slope, :precision => 2) || 0), :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :percentage, t('soil.percentage') %>
    <%= f.number_field :percentage, :class => "numbers", :value => (number_with_precision(f.object.percentage, :precision => 2) || 0), :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :drainage_type, t('soil.drainage_type') %>
    <%= f.text_field :drainage_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to t('general.back'), field_soils_field_path(session[:field_id]) %>
  </div>
<% end %>
