<% if flash[:notice] %>
  <br>
	<div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
<% end %>

<h1><%= t("general.listing") + " " + t("menu.soils") %></h1>
<%= link_to t('general.new') + ' ' + t('soil.soil'), new_soil_path %>
<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle"><%= t('soil.selected') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.key') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.symbol') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.group') %></th> 
    <th class="gvCellStyleTitle"><%= t('soil.name') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.albedo') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.slope') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.percentage') %></th>
    <th class="gvCellStyleTitle"><%= t('soil.drainage_type') %></th>
    <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
  </tr>

  <% i=1 %>
      <% for soil in @soils %>
      <% if (i % 2  == 0) %>
          <tr class="gvRowStyleEven">
            <td class="gvCellStyleCheckbox"><%= check_box_tag :soil, "1", soil.selected, disabled: true %></td>
            <td class="gvCellStyleText"><%= soil.key %></td>
            <td class="gvCellStyleText"><%= soil.symbol %></td>
            <td class="gvCellStyleText"><%= soil.group %></td>
            <td class="gvCellStyleText"><%= soil.name %></td>
            <td class="gvCellStyleNumber"><%= soil.albedo %></td>
            <td class="gvCellStyleNumber"><%= soil.slope.round(2) %></td>
            <td class="gvCellStyleNumber"><%= soil.percentage.round(2) %></td>
            <td class="gvCellStyleText"><%= soil.drainage_type %></td>
            <td class="gvCellStyleActions">
              <%= link_to image_tag("layers.png"), soil_layers_soil_path(soil.id), title: t('soil.layers') %>  <%#http://www.veryicon.com/search/soil+layers/%>
              <%= link_to image_tag("edit.png"), edit_soil_path(soil), title: t('general.edit')%>
              <%= link_to image_tag("delete.png"), soil, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' }%>
            </td>
          </tr>
      <% else %>
          <tr class="gvRowStyleOdd">
            <td class="gvCellStyleCheckbox"><%= check_box_tag :soil, "1", soil.selected, disabled: true %></td>
            <td class="gvCellStyleText"><%= soil.key %></td>
            <td class="gvCellStyleText"><%= soil.symbol %></td>
            <td class="gvCellStyleText"><%= soil.group %></td>
            <td class="gvCellStyleText"><%= soil.name %></td>
            <td class="gvCellStyleNumber"><%= soil.albedo %></td>
            <td class="gvCellStyleNumber"><%= soil.slope.round(2) %></td>
            <td class="gvCellStyleNumber"><%= soil.percentage.round(2) %></td>
            <td class="gvCellStyleText"><%= soil.drainage_type %></td>
            <td class="gvCellStyleActions">
              <%= link_to image_tag("layers.png"), soil_layers_soil_path(soil.id), title: t('soil.layers') %>  <%#http://www.veryicon.com/search/soil+layers/%>
              <%= link_to image_tag("edit.png"), edit_soil_path(soil), title: t('general.edit')%>
              <%= link_to image_tag("delete.png"), soil, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' }%>
            </td>
          </tr>
      <% end %>
      <% i = i + 1 %>
  <% end %>
</table>

<br>