<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>

<p>
  <b>Selected:</b>
  <%= @soil.selected %>
</p>

<p>
  <b>Key:</b>
  <%= @soil.key %>
</p>

<p>
  <b>Symbol:</b>
  <%= @soil.symbol %>
</p>

<p>
  <b>Group:</b>
  <%= @soil.group %>
</p>

<p>
  <b>Name:</b>
  <%= @soil.name %>
</p>

<p>
  <b>Albedo:</b>
  <%= @soil.albedo %>
</p>

<p>
  <b>Slope:</b>
  <%= @soil.slope %>
</p>

<p>
  <b>Percentage:</b>
  <%= @soil.percentage %>
</p>

<p>
  <b>Field:</b>
  <%= @soil.field_id %>
</p>

<p>
  <b>Drainage type:</b>
  <%= @soil.drainage_type %>
</p>


<%= link_to t('general.edit'), edit_soil_path(@soil) %> |
<%= link_to t('general.back'), field_soils_field_path(session[:field_id]) %>
