<!DOCTYPE html>
<%= form_tag session_path do %>
    <% if flash[:alert] %>
        <div class="danger_alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= flash[:alert] %>
        </div>
    <% end %>
    <div class="container-login">
      <h2 style="text-align: center"><%= t('submit.login') %></h2>
      <div class="field">
        <%= text_field_tag :email, nil, placeholder: (t('.email')) %>
        <br>
        <%= password_field_tag :password, nil, placeholder: (t('.password')) %>
      </div>
      <div class="button_container">
        <div id="left_button">
          <%= submit_tag t('submit.login') %>
        </div>
<% end %>
<% #end of form_tag for login input %>
        <div id="right_button">
          <% if (I18n.locale.eql?(:en)) %>
            <%= button_to t('.new_user'), users_new_path, method: :get, :class => "green_button" %>
          <% else %>
            <%= button_to t('.new_user'), users_new_path, method: :get, :class => "green_button" %>
          <% end %>
        </div>
      </div>
    </div>
