<div class="page-container">
  <%= form_tag session_path do %>
    <% if notice != nil %>
      <div class="success_alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:info] != nil %>
      <div class="flash_alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= flash[:info] %>
      </div>
    <% end %>
    <% if flash[:error] != nil %>
      <div class="flash_alert" id="alert-flash">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <h2><%= t('activerecord.form_errors', :count => flash[:error].count, :model => t('models.user').downcase) %></h2>
        <ul>
          <% flash[:error].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="login-form toggable" id="user_100">
      <h2><%= t('submit.login') %></h2>
      <div class="field">
        <%= text_field_tag :email, nil, :required => true, placeholder: (t('.email')), :class => "form_input" %>
        <%= password_field_tag :password, nil, :required => true, placeholder: (t('.password')), :class => "form_input" %>
      </div>
      <div id="left_button">
        <%= submit_tag t('submit.login'), :class => "btn btn-primary" %>
      </div>
  <% end %>
      <div id="right_button">
        <%= button_to t('.new_user'), "javascript:void(0);", :id => "form_101", :class => "btn btn-primary" %>
        <%#= button_to t('.new_user'), users_new_path, method: :get, :class => "btn btn-primary" %>
      </div>
      <br/>
      <div id="forgot_pass">
        <%= link_to 'Forgot Password?', new_password_reset_path %>
      </div>
    </div>
    <div class="toggable" id="user_101" style="display: none">
      <%= form_for(@user) do |f| %>
        <div class="page-container">
          <div class="login-form">
            <h2><%= t('submit.new_user')%></h2>
            <div class="field">
              <%= f.text_field :email, placeholder: t('sessions.index.email'), :class => "form_input", :required => true %>
              <%= f.password_field :password, placeholder: t('sessions.index.password'), :class => "form_input", :required => true %>
              <%= f.password_field :password_confirmation, placeholder: t('users.confirmation'), :class => "form_input", :required => true %>
              <%= f.text_field :name, placeholder: t('general.name'), :class => "form_input", :required => true %>
              <%= f.text_field :company, placeholder: t('users.company'), :class => "form_input", :required => true %>
            </div>

            <div id="left_button">
              <%= f.submit t('submit.create') + " " + t('users.user'), :class => "btn btn-primary" %>
            </div>
      <% end %>

            <div id="right_button" onclick="myFunction1()">
              <% if (I18n.locale.eql?(:en)) %>
                  <%= button_to t('general.back'), "javascript:void(0);", :class => "btn btn-primary", :id => "form_100"%>
              <% else %>
                  <%= button_to t('general.back'), "javascript:void(0);", :class => "btn btn-primary", :id => "form_100" %>
              <% end %>
            </div>
          </div>
        </div>
<%#= render :template => "users/new", :layout => false, :@user => User.new %>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('[id^=form_').click(function() {
      var elementIDNum = (this.id).replace(/[^0-9]+/g, "");
      var clicked = $('#user_'+elementIDNum);
      clicked.each(function(i, elem) {
        $(".toggable").not(elem).hide();
        $(elem).toggle($(elem).css('display') == 'none');
      });
    });
  });
</script>
