<%= form_for(@apex_control) do |f| %>
  <% if @apex_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @apex_control.errors.count, :model => t('models.apex_control')) %></h2>

      <ul>
      <% @apex_control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('apex.code') + " " + ':' %>
    <%= f.label @control_code %>
  </div>
  <div class="field">
    <%= f.label t('apex.value') %><br />
    <%= f.number_field :value, :step => 'any' %>
  </div>
  <div class="field">
    <%= t('apex.low_range') + " " + ':' %>
    <%= @low_range %>
  </div>
  <div class="field">
    <%= t('apex.high_range') + " " + ':' %>
    <%=  @high_range %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
