<p id="notice"><%= notice %></p>

<p>
  <b>Control:</b>
  <%= @apex_control.control_id %>
</p>

<p>
  <b>Value:</b>
  <%= @apex_control.value %>
</p>


<%= link_to 'Edit', edit_apex_control_path(@apex_control) %> |
<%= link_to t('general.back'), apex_controls_path %>
