<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
</div>

<p>
  <b>Control:</b>
  <%= @apex_control.control_id %>
</p>

<p>
  <b>Code:</b>
  <%= @apex_control.control.code %>
</p>

<p>
  <b>line:</b>
  <%= @apex_control.control.line %>
</p>

<p>
  <b>Column:</b>
  <%= @apex_control.control.column %>
</p>

<p>
  <b>Low Range:</b>
  <%= @apex_control.control.range_low %>
</p>

<p>
  <b>High Range:</b>
  <%= @apex_control.control.range_high %>
</p>

<p>
  <b>Value:</b>
  <%= @apex_control.value %>
</p>


<%= link_to t('general.edit'), edit_apex_control_path(@apex_control) %> |
<%= link_to t('general.back'), apex_controls_path %>
