<%= form_for [@project, @watershed] do |f| %>
  <% if @watershed.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @watershed.errors.count, :model => t('models.watershed').downcase) %></h2>

      <ul>
      <% @watershed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('general.name') %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t('operation.save'), :class => "btn btn-primary" %>
    <%= link_to t('general.back'), project_watersheds_path(params[:project_id]), :class => "btn btn-primary" %>
  </div>
<% end %>
