<%= form_tag simulate_project_watersheds_path(@project), method: :post do |f| %>
<div class="page-header"><h1>List of Field Routing Scenarios</h1></div>

<%= link_to t('watershed.new'), new_project_watershed_path(@project.id), :class => "btn btn-primary" %>
<% if @watersheds.count > 0 %>
	<%= submit_tag t('scenario.simulate') + ' ' + 'NTT', data: {disable_with: 'Please wait. NTT simulation in progress . . .'}, :class => 'btn btn-primary' %>
<% end %>
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped", id="tbl_scenarios", name="tbl_scenarios">
      <thead>
        <tr>
          <th class="gvCellStyleTitle"><%= check_box_tag "select_all" %> </th>
          <th class="gvCellStyleTitle"><%= t('general.name') %></th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% i=1 %>
        <% @watersheds.each do |watershed| %>
            <% if (i % 2 == 0) %>
                <tr class="gvRowStyleEven">
            <% else %>
                <tr class="gvRowStyleOdd">
	          <% end %>
            <td><%= check_box_tag "select_watershed[]", watershed.id %></td>
            <td>
              <%= link_to watershed.name, project_watershed_watershed_scenarios_path(watershed, :project_id => @project.id) %>
            </td>
            <td>
                <%= link_to image_tag("edit.png"), edit_project_watershed_path(watershed, :project_id => @project.id) %>
                <%= link_to image_tag("delete.png"), watershed, method: :delete, data: { confirm: t('general.confirm') } %>
            </td>
          </tr>
          <% i = i + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <% end %>



