<% if @notice != nil %>
	<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= @notice %>
  </div>
<% end %>
<% if @error != nil %>
	<div class="success_alert" style="color: red">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= @error %>
  </div>
<% end %>
<div class="page-header"><h1><%=t('watershed.watershed')%></h1></div>
<%= link_to t('general.new'), new_project_watershed_path(@project.id), :class => "btn btn-primary" %>
<% if @watersheds.count > 0 %>
	<%#= submit_tag t('scenario.simulate') + ' ' + 'NTT', data: {disable_with: 'Please wait. NTT simulation in progress . . .'}, :class => 'btn btn-primary' %>
	<%#= link_to t('scenario.simulate') + ' ' + 'NTT', simulate_project_watersheds_path(@project.id), :class => "btn btn-primary" %>
<% end %>
<%= hidden_field_tag( :project_id, @project.id) %>
<% j = 0 %>
<% @watersheds.each do |watershed| %>
	<% j = j + 1 %>
	<% sim = t('scenario.simulate') + '-NTT' %>
	<%= form_for(watershed) do |f| %>
	  <% @watershed_scenarios = WatershedScenario.where(:watershed_id => watershed.id ) %>
	  <div class="panel panel-primary">
		<div class="panel panel-primary" id="expand_crop_<%= watershed.id %>">
		  <div class="panel-heading">
			<table>
				<tr>
					<td class="pointer" onclick="show_crop(<%=watershed.id%>)"><h4 style="cursor:pointer"><%= watershed.name %> [+]</h4></td>
					<% if @watershed_scenarios.count > 0 %>
						<td class="col-md-1 text-rigth", title= <%= sim %>><%= link_to image_tag("run.png"), simulate_project_watershed_path(@project.id, watershed), data: {disable_with: 'Please wait'} %></td>
					<% end %>
					<td class="col-md-1 text-rigth"><%= link_to image_tag("delete.png"), watershed, method: :delete, data: { confirm: t('general.confirm') } %></td>
				</tr>
			</table>
		  </div>
		</div>
		<div class="panel panel-primary" id="hide_crop_<%= watershed.id %>" style="display:none">
		  <div class="panel-heading">
			<table>
				<tr>
					<td class="pointer"  onclick="hide_crop(<%=watershed.id%>)"><h4 style="cursor:pointer"><%= watershed.name %> [-]</h4></td>
					<% if @watershed_scenarios.count > 0 %>
						<td class="col-md-1 text-rigth"><%= link_to image_tag("run.png"), simulate_project_watershed_path(@project.id, watershed), data: {disable_with: 'Please wait'} %></td>
					<% end %>
					<td class="col-md-1 text-rigth"><%= link_to image_tag("delete.png"), watershed, method: :delete, data: { confirm: t('general.confirm') } %></td>
				</tr>
			</table>
		  </div>
		</div>
		<div id="crop_<%= watershed.id %>" style="display:none">
			<div class="panel panel-primary">
  				  <table style="margin-rigth: 15px">
					<tr><td colspan = 5><%= t('instructions.watersheds', watershed: watershed.name) %></td></tr>
					<tr>						
						<% fields = Field.where(:location_id => @project.location.id) %>
						<td><%=  t('menu.fields') %></td>
						<td><%= collection_select "field" + j.to_s, :id, fields, :id, :field_name, {:prompt => t('helpers.select.field')}, {:required => true} %></td>
						<td><%= t('menu.scenarios') %></td>
						<td><%= collection_select "scenario" + j.to_s, :id, @scenarios, :id, :name, {:prompt => t('helpers.select.scenario')}, {:required => true} %></td>
						<td> <%= f.submit t('watershed_scenario.add_to') + " " + watershed.name, :name => "finish", :class => "btn btn-primary" %></td>
					</tr>
				  </table>
				  <% if !(@watershed_scenarios.blank? || @watershed_scenarios == nil) %>
						<table class="table">
							<thead>
							  <tr>
    							<td class="optable"><%= t('field.field_name')%></td>
    							<td class="optable"><%= t('scenario.scenario_name')%></td>
    							<td class="optable"><%= t('general.actions')%></td>
  							  </tr>
							</thead>
							<tbody>
  								<% i=1 %>
  								<% @watershed_scenarios.each do |watershed_scenario| %>
    								<% if (i % 2  == 0) %>
      									<tr class="gvRowStyleEven">
    								<% else %>
      									<tr class="gvRowStyleOdd">
    								<% end %>
        								<td class="gvCellStyleText"><%= Field.find_by_id(watershed_scenario.field_id).field_name %></td>
        								<td class="gvCellStyleText"><%= Scenario.find_by_id(watershed_scenario.scenario_id).name %></td>
        								<td class="gvCellStyleCheckbox">
          									<%= link_to image_tag("delete.png"), destroy_watershed_scenario_project_watershed_path(@project, watershed_scenario.id), title: t('general.delete'), data: { confirm: t('general.confirm') } %>
        								</td>
      								</tr>
  									<% i = i + 1 %>
  								<% end %>
							</tbody>
						</table>
				  <% end %>
			</div>
		</div>
	  </div>
	<%end%>
<% end %>

<script>

function show_crop(id) {
  var expand_crop_div = document.getElementById("expand_crop_" + id);
  var hide_crop_div = document.getElementById("hide_crop_" + id);
  var crop_div = document.getElementById("crop_" + id);
  hide_crop_div.style = "display:block";
  expand_crop_div.style = "display:none";
  crop_div.style = "display:block";
  }

function hide_crop(id) {
  var expand_crop_div = document.getElementById("expand_crop_" + id);
  var hide_crop_div = document.getElementById("hide_crop_" + id);
  var crop_div = document.getElementById("crop_" + id);
  hide_crop_div.style = "display:none";
  expand_crop_div.style = "display:block";
  crop_div.style = "display:none";
  }

  </script>
