<h1>Listing watersheds</h1>

<table>


<% @watersheds.each do |watershed| %>
  <tr>
    <td><%= watershed.name %></td>
    <td><%= link_to t('general.show'), watershed %></td>
    <td><%= link_to t('general.edit'), edit_watershed_path(watershed) %></td>
    <td><%= link_to 'Destroy', watershed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('watershed.new_watershed'), new_watershed_path %>
