<h1><%= t('watershed.watershed_title')%></h1>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle"><%= t('watershed.watershed_name')%></th>
    <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
  </tr>

<% i=1 %>
<% @watersheds.each do |watershed| %>
<% if (i % 2  == 0) %>
   <tr class="gvRowStyleEven">
    <% else %>
   <tr class="gvRowStyleOdd">
    <% end %>
    <% i = i + 1 %>
  <tr class="gvRowStyle">
    <td class="gvCellStyleText"><%= link_to watershed.name, watershed_scenarios_path %></td>
    <td class="gvCellStyleCheckbox">
      <%#= link_to image_tag("view.png"), watershed %>
      <%= link_to image_tag("edit.png"), edit_watershed_path(watershed), title: t('general.edit') %>
      <%= link_to image_tag("delete.png"), watershed, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Watershed', new_watershed_path %>