<% if flash[:notice] %>
	<div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="page-header"><h1><%= t('watershed.watershed_title')%></h1></div>

<%= button_to t('watershed.new_watershed'), new_watershed_path, :method => "get", :class=> "btn btn-primary" %>
<%= button_to t('general.continue'), results_path(:button => t('result.summary')), :class => "btn btn-success" %><br><br>
<p class="instruction"><%= t('instructions.watersheds') %> </p>

	<div class="table-responsive">
		<div class="panel panel-default">
			<table class="table table-striped">
				<thead>
					<tr class='gvHeaderStyle'>
						<th class="gvCellStyleTitle"><%= t('watershed.watershed_name')%></th>
						<th class="gvCellStyleTitle"><%= t('general.actions')%></th>
					</tr>
				</thead>
				<tbody>
					<% i=1 %>
					<% @watersheds.each do |watershed| %>
  					<% if (i % 2  == 0) %>
     					<tr class="gvRowStyleEven">
        				<td class="gvCellStyleText"><%= link_to watershed.name, watershed_scenario_path(watershed.id) %></td>
        				<td class="gvCellStyleCheckbox">
          				<%#= link_to image_tag("view.png"), watershed %>
          				<%= link_to image_tag("edit.png"), edit_watershed_path(watershed), title: t('general.edit') %>
          				<%= link_to image_tag("delete.png"), watershed, title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
        				</td>
      				</tr>
  					<% else %>
      				<tr class="gvRowStyleOdd">
        				<td class="gvCellStyleText"><%= link_to watershed.name, watershed_scenario_path(watershed.id) %></td>
        				<td class="gvCellStyleCheckbox">
          				<%#= link_to image_tag("run.png"), watershed_path(watershed.id), title: t('scenario.simulate'), data: {disable_with: 'Please wait. Simulation in progress . . .'} %>
          				<%#= link_to image_tag("view.png"), watershed %>
          				<%= link_to image_tag("edit.png"), edit_watershed_path(watershed), title: t('general.edit') %>
          				<%= link_to image_tag("delete.png"), watershed, title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
        				</td>
      				</tr>
    				<% end %>
  				<% i = i + 1 %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
