<p id="notice"><%= notice %></p>

<p>
  <b><%= t('general.name') %></b>
  <%= @watershed.name %>
</p>


<%= link_to t('general.edit'), edit_watershed_path(@watershed) %>
<%= link_to t('general.back'), list_watershed_path(session[:location_id]) %>
