<p id="notice"><%= notice %></p>

<p>
  <b><%= t('general.name') %></b>
  <%= @watershed.name %>
</p>


<%= link_to 'Edit', edit_watershed_path(@watershed) %> |
<%= link_to 'Back', list_watershed_path(session[:location_id]) %>
