<div class="page-header"><h1><%= t('faq.header') %></h1></div>
<div class="main">
  <div class="container faq">
    <a id="faq_1"><%= image_tag 'expand.png', :id => "open1", :class => "icon" %><h2><%= t('faq.subheader1') %></h2></a>
    <p id='1' class="toggable" style="display: none;"><%= t('faq.body1') %></p>

    <a id="faq_2"><%= image_tag 'expand.png', :id => "open2", :class => "icon" %><h2><%= t('faq.subheader2') %></h2></a>
    <p id='2' class="toggable" style="display: none;"><%= t('faq.body2') %></p>

    <a id="faq_3"><%= image_tag 'expand.png', :id => "open3", :class => "icon" %><h2><%= t('faq.subheader3') %></h2></a>
    <p id='3' class="toggable" name="3" style="display: none;"><%= t('faq.body3') %></p>

    <a id="faq_4"><%= image_tag 'expand.png', :id => "open4", :class => "icon" %><h2><%= t('faq.subheader4') %></h2></a>
    <p id='4' class="toggable" style="display: none;"><%= t('faq.body4') %></p>

    <a id="faq_5"><%= image_tag 'expand.png', :id => "open5", :class => "icon" %><h2><%= t('faq.subheader5') %></h2></a>
    <p id='5' class="toggable" style="display: none;"><%= t('faq.body5') %></p>

    <a id="faq_6"><%= image_tag 'expand.png', :id => "open6", :class => "icon" %><h2><%= t('faq.subheader6') %></h2></a>
    <p id='6' class="toggable" style="display: none;"><%= t('faq.body6') %></p>

    <a id="faq_7"><%= image_tag 'expand.png', :id => "open7", :class => "icon" %><h2><%= t('faq.subheader7') %></h2></a>
    <p id='7' class="toggable" style="display: none;"><%= t('faq.body7') %></p>

    <a id="faq_8"><%= image_tag 'expand.png', :id => "open8", :class => "icon" %><h2><%= t('faq.subheader8') %></h2></a>
    <p id='8' class="toggable" style="display: none;"><%= t('faq.body8') %></p>

    <a id="faq_9"><%= image_tag 'expand.png', :id => "open9", :class => "icon" %><h2><%= t('faq.subheader9') %></h2></a>
    <p id='9' class="toggable" style="display: none;"><%= t('faq.body9') %></p>

    <a id="faq_10"><%= image_tag 'expand.png', :id => "open10", :class => "icon" %><h2><%= t('faq.subheader10') %></h2></a>
    <p id='10' class="toggable" style="display: none;"><%= t('faq.body10') %></p>

  </div>
</div>
