<h1>FEM</h1>

<style>
.table-tab-wrapper {
    width: 100%;
    position: relative;
}
.table-tab-wrapper .tab-content * {
    position: relative;
    width: 100%; 
    overflow: scroll;
}
.table-heading {
    position: fixed;
}

.tab-pane {
    border: 1px solid gray;
}

td,th {
    min-width: 200px;
    border: 1px solid black;
}
</style>

<div class='table-tab-wrapper'>
<ul class="nav nav-tabs" id="fem-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link fade in active" data-toggle="tab" href="#feed">Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fade in " data-toggle="tab" href="#equipment">Equipment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fade in " data-toggle="tab" href="#structure">Structure</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fade in " data-toggle="tab" href="#other">Other</a>
  </li>
</ul>

<div class="tab-content container-fluid">
    <div class='btn-group'>
        <button id='update-fem' class='btn btn-success'>Update</button>
    </div>
    <div class="tab-pane fade in active" id="feed">
    <table class='table'>
        <tr class='table-heading'>
            <th>Name</th>
            <th>Selling Price</th>
            <th>Purchase Price</th>
            <th>Concentrate</th>
            <th>Forage</th>
            <th>Grain</th>
            <th>Hay</th>
            <th>Pasture</th>
            <th>Silage</th>
            <th>Supplement</th>
        </tr>
        <% @feeds.each do |feed| %>
        <tr class='table-values feed'>
            <td class="pt-3-half" contenteditable="false"><%= feed.name %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.selling_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.purchase_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.concentrate %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.forage %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.grain %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.hay %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.pasture %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.silage %></td>
            <td class="pt-3-half" contenteditable="true"><%= feed.supplement %></td>
            
        </tr>
        <% end %>
    </table>
    </div>

    <div class="tab-pane  fade in " id="equipment">
    <table class='table'>
        <tr class='table-heading'>
            <th>Name</th>
            <th>Lease Rate</th>
            <th>New Price</th>
            <th>New Hours</th>
            <th>Current Price</th>
            <th>Hours Remaining</th>
            <th>Width</th>
            <th>Speed</th>
            <th>Field Efficiency</th>
            <th>Horse Power</th>
            <th>RF1</th>
            <th>RF2</th>
            <th>IR Loan</th>
            <th>IR Equity</th>
            <th>P Debt</th>
            <th>Year</th>
            <th>RV1</th>
        </tr>
        <% @equipment.each do |e| %>
        <tr class='table-values equip'>
            <td class="pt-3-half" contenteditable="false"><%= e.name %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.lease_rate %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.new_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.new_hours %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.current_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.hours_remaining %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.width %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.field_efficiency %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.horse_power %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.rf1 %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.rf2 %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.ir_loan %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.ir_equity %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.p_debt %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.year %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.rv1 %></td>
            <td class="pt-3-half" contenteditable="true"><%= e.rv2 %></td>
            
        </tr>
        <% end %>
    </table>
    </div> 

    <div class="tab-pane  fade in " id="structure">
    <table class='table'>
        <tr class='table-heading'>
            <th>Name</th>
            <th>Lease Rate</th>
            <th>New Price</th>
            <th>Current Price</th>
            <th>Life Remaining</th>
            <th>Maintenance Coeff</th>
            <th>Loan Interest Rate</th>
            <th>Length Loan</th>
            <th>Interest Rate Equity</th>
            <th>Proportion Debt</th>
            <th>Year</th>
        </tr>

        <% @structure.each do |struct| %>
        <tr class='table-values struct'>
            <td class="pt-3-half" contenteditable="false"><%= struct.name %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.lease_rate %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.new_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.current_price %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.life_remaining %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.maintenance_coeff %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.loan_interest_rate %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.length_loan %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.interest_rate_equity %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.proportion_debt %></td>
            <td class="pt-3-half" contenteditable="true"><%= struct.year %></td>
            
        </tr>
        <% end %>
        </table>
    </div>

    <div class="tab-pane  fade in " id="other">
    <table class='table'>
        <tr class='table-heading'>
            <th>Name</th>
            <th>Operations</th>
        </tr>
        <% @other.each do |other| %>
        <tr class='table-values other'>
            <td class="pt-3-half" contenteditable="false"><%= other.name %></td>
            
        </tr>
        <% end %>
    </table>
    </div>
</div>

<script>
  $(function () {
    $('#fem-tabs').tab('show')
    // add handler for update.
    $('#update-fem').click(() => {
        feedRows = $('.tab-pane .table .table-values.feed').find('td');
        equipRows = $('.tab-pane .table .table-values.equip').find('td');
        otherRows = $('.tab-pane .table .table-values.other').find('td');
        
        //console.log('Feed Rows', feedRows)
        //console.log('Equip Rows', equipRows)
        
        
        //console.log(rows)
        feedKeys = [
          'name', 'selling_price', 'purchase_price','concentrate',
          'forage','grain','hay','pasture','silage','supplement'
        ]

        equipKeys = [
          'name','lease_rate','new_price','new_hours','current_price','hours_remaining', 
          'width', 'field_efficiency',
          'horse_power', 'rf1', 'rf2', 'ir_loan', 'ir_equity',  'p_debt' ,'year', 'rv1', 
          'rv2'
        ]

        otherKeys = [
            'name'
        ]

        feed = {}, feeds = []
        equip = {}, equips = []
        other = {}, others = []

        var i = 0
        //console.log(rows)
        for (var j = 0; j < feedRows.length-2; j++) {
            feed[feedKeys[i]] = feedRows[j].innerText
            i++;
            if (i === feedKeys.length) {
                i = 0; //j = 0;
                feeds.push(feed);
                feed = {}
            }
        }

        var i = 0
        //console.log(rows)
        for (var j = 0; j < equipRows.length-2; j++) {
            equip[equipKeys[i]] = equipRows[j].innerText
            console.log('Equip', equip[equipKeys[i]], i)
            i++;
            if (i === equipKeys.length) {
                i = 0; //j = 0;
                equips.push(equip);
                equip = {}
            }
        }

        var i = 0
        //console.log(rows)
        for (var j = 0; j < otherRows.length-2; j++) {
            other[otherKeys[i]] = otherRows[j].innerText
            i++;
            if (i === otherKeys.length) {
                i = 0; //j = 0;
                others.push(other);
                other = {}
            }
        }

        //TODO: REMOVE THIS AFTER FIXING ERRORNEOUS DATABASE ENTRY.
        feeds = feeds.slice(1)
        equips = equips.slice(1)
        others = others.slice(1)
        
        $.ajax({
            url:'update', 
            type:'POST',
            data: {
                feedsData: feeds,
                equipData: equips,
                otherData: others
            },
            success:(data) => {
                console.log('Sent data! received',data)
            },
            error:() => {
                console.log('failed to send data')
            }
        });

        //console.log("Feeds", feeds)
        //console.log("Equipment", equips)
        //console.log("Other", others)
    });
  });

</script>
</div>
