<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @drainage.drainage_id %>
</p>

<p>
  <b>Name:</b>
  <%= @drainage.name %>
</p>

<p>
  <b>Wtmx:</b>
  <%= @drainage.wtmx %>
</p>

<p>
  <b>Wtmn:</b>
  <%= @drainage.wtmn %>
</p>

<p>
  <b>Wtbl:</b>
  <%= @drainage.wtbl %>
</p>

<p>
  <b>Zqt:</b>
  <%= @drainage.zqt %>
</p>

<p>
  <b>Ztk:</b>
  <%= @drainage.ztk %>
</p>


<%= link_to 'Edit', edit_drainage_path(@drainage) %> |
<%= link_to 'Back', drainages_path %>
