<h1>Listing irrigations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Code</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @irrigations.each do |irrigation| %>
  <tr>
    <td><%= irrigation.id %></td>
    <td><%= irrigation.name %></td>
    <td><%= irrigation.code %></td>
    <td><%= irrigation.status %></td>
    <td><%= link_to t('general.show'), irrigation %></td>
    <td><%= link_to t('general.edit'), edit_irrigation_path(irrigation) %></td>
    <td><%= link_to 'Destroy', irrigation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Irrigation', new_irrigation_path %>
