<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Age:</b>
  <%= @person.age %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>


<%= link_to t('general.edit'), edit_person_path(@person) %> |
<%= link_to t('general.back'), people_path %>
