<p id="notice"><%= notice %></p>

<p>
  <strong>Scenario:</strong>
  <%= @crop_result.scenario_id %>
</p>

<p>
  <strong>Sub1:</strong>
  <%= @crop_result.sub1 %>
</p>

<p>
  <strong>Year:</strong>
  <%= @crop_result.year %>
</p>

<p>
  <strong>Yldg:</strong>
  <%= @crop_result.yldg %>
</p>

<p>
  <strong>Yldf:</strong>
  <%= @crop_result.yldf %>
</p>

<p>
  <strong>Ws:</strong>
  <%= @crop_result.ws %>
</p>

<p>
  <strong>Ns:</strong>
  <%= @crop_result.ns %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @crop_result.ps %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @crop_result.ts %>
</p>

<%= link_to 'Edit', edit_crop_result_path(@crop_result) %> |
<%= link_to 'Back', crop_results_path %>
