<p id="notice"><%= notice %></p>

<p>
  <strong>Scenario:</strong>
  <%= @annual_result.scenario_id %>
</p>

<p>
  <strong>Sub1:</strong>
  <%= @annual_result.sub1 %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_result.year %>
</p>

<p>
  <strong>Flow:</strong>
  <%= @annual_result.flow %>
</p>

<p>
  <strong>Qdr:</strong>
  <%= @annual_result.qdr %>
</p>

<p>
  <strong>Surface flow:</strong>
  <%= @annual_result.surface_flow %>
</p>

<p>
  <strong>Sed:</strong>
  <%= @annual_result.sed %>
</p>

<p>
  <strong>Ymnu:</strong>
  <%= @annual_result.ymnu %>
</p>

<p>
  <strong>Orgp:</strong>
  <%= @annual_result.orgp %>
</p>

<p>
  <strong>Po4:</strong>
  <%= @annual_result.po4 %>
</p>

<p>
  <strong>Orgn:</strong>
  <%= @annual_result.orgn %>
</p>

<p>
  <strong>No3:</strong>
  <%= @annual_result.no3 %>
</p>

<p>
  <strong>Qdrn:</strong>
  <%= @annual_result.qdrn %>
</p>

<p>
  <strong>Qdrp:</strong>
  <%= @annual_result.qdrp %>
</p>

<p>
  <strong>Qn:</strong>
  <%= @annual_result.qn %>
</p>

<p>
  <strong>Dprk:</strong>
  <%= @annual_result.dprk %>
</p>

<p>
  <strong>Irri:</strong>
  <%= @annual_result.irri %>
</p>

<p>
  <strong>Pcp:</strong>
  <%= @annual_result.pcp %>
</p>

<p>
  <strong>N2o:</strong>
  <%= @annual_result.n2o %>
</p>

<%= link_to 'Edit', edit_annual_result_path(@annual_result) %> |
<%= link_to 'Back', annual_results_path %>
