<p id="notice"><%= notice %></p>

<div class="page-header"><h1><%= "Issues" %></h1></div>
<%= link_to 'New Issue', new_issue_path, class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Opened date</th>
      <th>Expected date</th>
      <th>Close date</th>
      <th>Status</th>
      <% if session[:dev] %>
        <th>User</th>
      <% end %>
      <th>Type</th>
      <th>Priority</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.id %></td>
        <td><%= issue.title %></td>
        <td><%= issue.description %></td>
        <td><%= issue.created_at %></td>
        <td><%= issue.expected_data %></td>
        <td><%= issue.close_date %></td>
        <% if issue.status.id == 1 %>
          <td><font color="green"><%= issue.status.name %></font></td> 
        <% else %>
          <td ><font color="red"><%= issue.status.name %></font></td>
        <% end %>
        <% if session[:dev] %>
          <td><%= issue.user.name %></td>
        <% end %>
        <td><%= issue.type.name %></td>
        <td><%= issue.priority_id %></td>        
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Comment', comments_path(:issue_id => issue.id) %>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
