<%= form_for(@bmpsublist) do |f| %>
  <% if @bmpsublist.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @bmpsublist.errors.count, :model => t('models.bmpsublist')) %></h2>

      <ul>
      <% @bmpsublist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :bmplist_id %><br />
    <%= f.text_field :bmplist_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
