<h1>Listing bmpsublists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bmpsublists.each do |bmpsublist| %>
  <tr>
    <td><%= bmpsublist.name %></td>
    <td><%= bmpsublist.status %></td>
    <td><%= link_to 'Show', bmpsublist %></td>
    <td><%= link_to 'Edit', edit_bmpsublist_path(bmpsublist) %></td>
    <td><%= link_to 'Destroy', bmpsublist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bmpsublist', new_bmplist_bmpsublist_path %>
