<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bmpsublist.name %>
</p>

<p>
  <b>Status:</b>
  <%= @bmpsublist.status %>
</p>


<%= link_to t('general.edit'), edit_bmpsublist_path(@bmpsublist) %> |
<%= link_to t('general.back'), bmpsublists_path %>
