<div class="page-header"><h1><%= t("menu.supplement_parameters") %></h1></div>
<%= link_to  'Aplcat' + " " + t('result.summary') + " " + t('menu.parameters_file'), edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :class => 'btn btn-primary' %>
<td><%= link_to t('aplcat.grazing') + " " + t('menu.parameters_file'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td><br/><br/>
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr class='gvHeaderStyle'>
          <th class="gvCellStyleTitle">Type of Supplement</th>
          <th class="gvCellStyleTitle">Dmi code</th>
          <th class="gvCellStyleTitle">Dmi cows</th>
          <th class="gvCellStyleTitle">Dmi bulls</th>
          <th class="gvCellStyleTitle">Dmi heifers</th>
          <th class="gvCellStyleTitle">Dmi calves</th>
          <th class="gvCellStyleTitle">Green water footprint</th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <% i=1 %>
        <% @supplement_parameters.each do |supplement_parameter| %>
				<% if (i % 2 == 0) %>
					<tr class="gvRowStyleEven">
				<% else %>
					<tr class="gvRowStyleOdd">
				<% end %>
        <td><%= supplement_parameter.code %></td>
        <td><%= supplement_parameter.dmi_code %></td>
        <td><%= supplement_parameter.dmi_cows %></td>
        <td><%= supplement_parameter.dmi_bulls %></td>
        <td><%= supplement_parameter.dmi_heifers %></td>
        <td><%= supplement_parameter.dmi_calves %></td>
        <td><%= supplement_parameter.green_water_footprint %></td>
        <td>
            <%= link_to image_tag("view.png"), project_field_scenario_supplement_parameter_path(@project, @field, @scenario, supplement_parameter) %>
            <%= link_to image_tag("edit.png"), edit_project_field_scenario_supplement_parameter_path(@project, @field, @scenario, supplement_parameter) %>
            <%= link_to image_tag("delete.png"), project_field_scenario_supplement_parameter_path(@project, @field, @scenario, supplement_parameter), title: t('general.delete'), method: :delete, data: {confirm: t('general.confirm')} %>
            </td>
      </tr>
      <% i = i + 1 %>
      <% end %>
	  </tbody>
    </table>
  </div>
  </div>
      
<%= link_to 'New supplement parameter', new_project_field_scenario_supplement_parameter_path(@project, @field, @scenario), :class => 'btn btn-success' %>
