<%= form_for([@project, @field, @subarea]) do |f| %>
  <% if @subarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @subarea.errors.count, :model => t('models.subarea').downcase) %></h2>

      <ul>
      <% @subarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='gvTableStyle'>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :inps %></b><br>
        <%= f.number_field :inps, :class => "fieldNumbers", :min => 0, :step => 1 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :iops %></b><br>
        <%= f.number_field :iops, :class => "fieldNumbers", :min => 0, :step => 1 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :iow %></b><br>
        <%= f.number_field :iow, :class => "fieldNumbers", :min => 0, :step => 1 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ii %></b><br>
        <%= f.number_field :ii, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :iapl %></b><br>
        <%= f.number_field :iapl, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :nvcn %></b><br>
        <%= f.number_field :nvcn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :iwth %></b><br>
        <%= f.number_field :iwth, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ipts %></b><br>
        <%= f.number_field :ipts, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :isao %></b><br>
        <%= f.number_field :isao, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :luns %></b><br>
        <%= f.number_field :luns, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :imw %></b><br>
        <%= f.number_field :imw, :class => "fieldNumbers", :min => 0 %>
    </div></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
      <b><%= f.label :sno %></b><br>
      <%= f.number_field :sno, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
      <b><%= f.label :stdo %></b><br>
      <%= f.number_field :stdo, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
      <b><%= f.label :yct %></b><br>
      <%= f.number_field :yct, :class => "fieldNumbers", :min => 0 %>
    </div></td>
     <td><div class="field">
      <b><%= f.label :xct %></b><br>
      <%= f.number_field :xct, :class => "fieldNumbers", :min => 0 %>
    </div></td>
     <td><div class="field">
      <b><%= f.label :azm %></b><br>
      <%= f.number_field :azm, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
      <b><%= f.label :fl %></b><br>
      <%= f.number_field :fl, :class => "fieldNumbers", :min => 0 %>
    </div></td>
     <td><div class="field">
      <b><%= f.label :fw %></b><br>
      <%= f.number_field :fw, :class => "fieldNumbers", :min => 0 %>
    </div></td>
     <td><div class="field">
      <b><%= f.label :angl %></b><br>
      <%= f.number_field :angl, :class => "fieldNumbers", :min => 0 %>
    <td></td>
	<td></td>
	<td></td>
    </div></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :wsa %></b><br>
        <%= f.number_field :wsa, :class => "fieldNumbers", :value => (number_with_precision(f.object.wsa, :precision => 4) || 0), :step => '0.0001' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :chl %></b><br>
        <%= f.number_field :chl, :class => "fieldNumbers", :value => (number_with_precision(f.object.chl, :precision => 4) || 0), :step => '0.0001' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :chd %></b><br>
        <%= f.number_field :chd, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :chs %></b><br>
        <%= f.number_field :chs, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :chn %></b><br>
        <%= f.number_field :chn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :slp %></b><br>
        <%= f.number_field :slp, :class => "fieldNumbers", :value => (number_with_precision(f.object.slp, :precision => 4) || 0), :step => '0.0001' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :splg %></b><br>
        <%= f.number_field :splg, :class => "fieldNumbers", :value => (number_with_precision(f.object.splg, :precision => 2) || 0), :step => '0.01' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :upn %></b><br>
        <%= f.number_field :upn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ffpq %></b><br>
        <%= f.number_field :ffpq, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :urbf %></b><br>
        <%= f.number_field :urbf, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :rchl %></b><br>
        <%= f.number_field :rchl, :class => "fieldNumbers", :value => (number_with_precision(f.object.rchl, :precision => 4) || 0), :step => '0.0001' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rchd %></b><br>
        <%= f.number_field :rchd, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rcbw %></b><br>
        <%= f.number_field :rcbw, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rctw %></b><br>
        <%= f.number_field :rctw, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rchs %></b><br>
        <%= f.number_field :rchs, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rchn %></b><br>
        <%= f.number_field :rchn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rchc %></b><br>
        <%= f.number_field :rchc, :class => "fieldNumbers", :step => '0.1' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rchk %></b><br>
        <%= f.number_field :rchk, :class => "fieldNumbers", :step => '0.1' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rfpw %></b><br>
        <%= f.number_field :rfpw, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rfpl %></b><br>
        <%= f.number_field :rfpl, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :rsee %></b><br>
        <%= f.number_field :rsee, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsae %></b><br>
        <%= f.number_field :rsae, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsve %></b><br>
        <%= f.number_field :rsve, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsep %></b><br>
        <%= f.number_field :rsep, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsap %></b><br>
        <%= f.number_field :rsap, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsvp %></b><br>
        <%= f.number_field :rsvp, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsv %></b><br>
        <%= f.number_field :rsv, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsrr %></b><br>
        <%= f.number_field :rsrr, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsys %></b><br>
        <%= f.number_field :rsys, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsyn %></b><br>
        <%= f.number_field :rsyn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :rshc %></b><br>
        <%= f.number_field :rshc, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsdp %></b><br>
        <%= f.number_field :rsdp, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :rsbd %></b><br>
        <%= f.number_field :rsbd, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :pcof %></b><br>
        <%= f.number_field :pcof, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :bcof %></b><br>
        <%= f.number_field :bcof, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :bffl %></b><br>
        <%= f.number_field :bffl, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :nirr %></b><br>
        <%= f.number_field :nirr, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :iri %></b><br>
        <%= f.number_field :iri, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ira %></b><br>
        <%= f.number_field :ira, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :lm %></b><br>
        <%= f.number_field :lm, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ifd %></b><br>
        <%= f.number_field :ifd, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :idr %></b><br>
        <%= f.number_field :idr, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :idf1 %></b><br>
        <%= f.number_field :idf1, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :idf2 %></b><br>
        <%= f.number_field :idf2, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :idf3 %></b><br>
        <%= f.number_field :idf3, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :idf4 %></b><br>
        <%= f.number_field :idf4, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td><div class="field">
        <b><%= f.label :idf5 %></b><br>
        <%= f.number_field :idf5, :class => "fieldNumbers", :min => 0 %>
    </div></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :bir %></b><br>
        <%= f.number_field :bir, :class => "fieldNumbers", min: 0, :step => 'any' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :efi %></b><br>
        <%= f.number_field :efi, :class => "fieldNumbers", min: 0, :step => 'any' %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :vimx %></b><br>
        <%= f.number_field :vimx, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :armn %></b><br>
        <%= f.number_field :armn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :armx %></b><br>
        <%= f.number_field :armx, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :bft %></b><br>
        <%= f.number_field :bft, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :fnp4 %></b><br>
        <%= f.number_field :fnp4, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :fmx %></b><br>
        <%= f.number_field :fmx, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :drt %></b><br>
        <%= f.number_field :drt, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :fdsf %></b><br>
        <%= f.number_field :fdsf, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :pec %></b><br>
        <%= f.number_field :pec, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :dalg %></b><br>
        <%= f.number_field :dalg, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :vlgn %></b><br>
        <%= f.number_field :vlgn, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :coww %></b><br>
        <%= f.number_field :coww, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ddlg %></b><br>
        <%= f.number_field :ddlg, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :solq %></b><br>
        <%= f.number_field :solq, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :sflg %></b><br>
        <%= f.number_field :sflg, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :fnp2 %></b><br>
        <%= f.number_field :fnp2, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :fnp5 %></b><br>
        <%= f.number_field :fnp5, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :firg %></b><br>
        <%= f.number_field :firg, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :ny1 %></b><br>
        <%= f.number_field :ny1, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny2 %></b><br>
        <%= f.number_field :ny2, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny3 %></b><br>
        <%= f.number_field :ny3, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny4 %></b><br>
        <%= f.number_field :ny4, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny5 %></b><br>
        <%= f.number_field :ny5, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny6 %></b><br>
        <%= f.number_field :ny6, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny7 %></b><br>
        <%= f.number_field :ny7, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny8 %></b><br>
        <%= f.number_field :ny8, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny9 %></b><br>
        <%= f.number_field :ny9, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ny10 %></b><br>
        <%= f.number_field :ny10, :class => "fieldNumbers" %>
    </div></td>
	<td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :xtp1 %></b><br>
        <%= f.number_field :xtp1, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp2 %></b><br>
        <%= f.number_field :xtp2, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp3 %></b><br>
        <%= f.number_field :xtp3, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp4 %></b><br>
        <%= f.number_field :xtp4, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp5 %></b><br>
        <%= f.number_field :xtp5, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp6 %></b><br>
        <%= f.number_field :xtp6, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp7 %></b><br>
        <%= f.number_field :xtp7, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp8 %></b><br>
        <%= f.number_field :xtp8, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp9 %></b><br>
        <%= f.number_field :xtp9, :class => "fieldNumbers", :min => 0 %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :xtp10 %></b><br>
        <%= f.number_field :xtp10, :class => "fieldNumbers", :min => 0 %>
    </div></td>
	<td></td>
  </tr>
  </table>
  <div class="actions">
    <%= f.submit t('submit.update') + " " + t('menu.subarea_file'), :class => "btn btn-primary" %>
	<%= link_to t('general.back'), project_field_subareas_path, :class => "btn btn-primary" %>
  </div>
<% end %>
