<%= form_for(@subarea) do |f| %>
  <% if @subarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subarea.errors.count, "error") %> prohibited this subarea from being saved:</h2>

      <ul>
      <% @subarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_id(:field, :id, :value => session[:field_id]) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
