<div class="page-header"><h1><%= t('menu.subarea_file') %></h1></div>

<% if flash[:notice] != nil %>
    <div class="alert alert-info" role="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
<% end %>

<%= link_to t('menu.control_file'), project_field_apex_controls_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.parameters_file'), project_field_apex_parameters_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.subarea_file'), project_field_subareas_path(@project, @field), :class => 'btn btn-primary' %>
<%= link_to t('menu.apex_soil'), project_field_apex_soils_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.operation_file'), project_field_soil_operations_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.site'), project_field_sites_path(@project, @field), :class => 'btn btn-default' %><br></br>
<%#= link_to t('activerecord.models.apex.download') + " " + t('menu.aplcat_file'), aplcat_parameters_download_path, :method => :post, :class => 'btn btn-default' %>

<br>

<br><%= form_for :subarea do |f| %>
  <table>
    <tr>
      <td><%= label :bmp_id, t('scenario.scenario') %></td>
    </tr>
    <tr>
      <td><%= collection_select :subarea, :scenario_id, Scenario.where(:field_id => @field.id), :id, :name, {:prompt => t('scenario.select_scenario'), :selected => session[:scenario_id]}, {:required => true} %></td>
      <td><%= button_to t('subarea.load_subarea'),  class: 'btn btn-primary' %></td>
    </tr>
  </table>
<% end %>
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="gvCellStyleTitle"><%= t('subarea.subarea_type') %></th>
          <th class="gvCellStyleTitle"><%= t('subarea.subarea_number') %></th>
          <th class="gvCellStyleTitle"><%= t('subarea.subarea_description') %></th>
          <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
        </tr>
      </thead>
      <tbody>

<% i = 1 %>
<% @subareas.each do |sub| %>
	<% if i % 2 == 0 %>
      <tr class="gvRowStyleEven">
	<% else %>
	  <tr class="gvRowStyleOdd">
	<% end %>
      <td class="gvCellStyleText"><%= sub[:subarea_type] %></td>
      <td class="gvCellStyleText"><%= sub[:subarea_number] %></td>
      <td class="gvCellStyleText"><%= sub[:subarea_description] %></td>
      <td class="gvCellStyleCheckbox">
        <%= link_to image_tag("view.png"), project_field_subarea_path(@project, @field, sub[:subarea_id]), title: t('general.show') %>
        <%= link_to image_tag("edit.png"), edit_project_field_subarea_path(@project, @field, sub[:subarea_id]), title: t('general.edit') %>
      </td>
    <% i += 1 %><% end %>
</tr>
    </tbody>
  </table>
</div>
</div>

<br>
