<%= form_for :subarea do |f| %>
<table>
  <tr>
    <td>
      <%= label :bmp_id, 'Scenario' %>
      <%= label :bmp_id, 'Subarea' %>
    </td>
  <tr>
    <td><%= collection_select :scenario, :scenario_id, Scenario.where(:field_id => session[:field_id]), :id, :name, {:prompt => 'Select Scenarios'}, {:required => true} %></td>
  </tr>
</table>
<% end %>

<h1><%= t('general.listing')  + " " + t('menu.subarea_file') %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @subareas.each do |subarea| %>
  <tr>
    <td>
      <%= link_to 'Show', subarea %>
    </td>
    <td>
      <%= link_to 'Edit', edit_subarea_path(subarea) %>
    </td>
    <td>
      <%= link_to 'Destroy', subarea, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>

