<%= form_for :subarea do |f| %>
  <table>
    <%#= hidden_field(:field, :id, :value => session[:field_id]) %>
    <tr>
      <td><%= label :bmp_id, 'Scenario' %></td>
      <td><%#= label :bmp_id, 'Subarea' %></td>
    </tr>
    <tr>
      <td><%= collection_select :subarea, :scenario_id, Scenario.where(:field_id => session[:field_id]), :id, :name, {:prompt => t('subarea.select_subarea')}, {:required => true} %></td>
      <td><%= button_to t('subarea.load_subarea'), subareas_path, :id => "to-subareas-btn",:class => "button", :method => :get %></td>
	  <td><%#= collection_select :subarea, :subarea_id, Subarea.where(:id => -1), :id, :description, {:prompt => 'Select Subarea'}, {:required => true} %></td>
    </tr>
  </table>
<% end %>

<h1>Listing subareas</h1>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle"><%= 'Subarea Description'%></th>
    <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
    <th></th>
  </tr>

<% i=1 %>
<% @subareas.each do |subarea| %>
  <% if (i % 2  == 0) %>
    <tr class="gvRowStyleEven">
  <% else %>
    <tr class="gvRowStyleOdd">
  <% end %>
  <% i = i + 1 %>
  <tr class="gvRowStyle">
    <td class="gvCellStyleText"><%= subarea.description %></td>
    <td class="gvCellStyleCheckbox">
      <%#= link_to image_tag("edit.png"), edit_field_path(field), title: t('general.edit') %>
	</td>
  </tr>
  <% end %>
</table>

