<p id="notice"><%= notice %></p>

<table class='gvTableStyle'>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>inps:</b><%= @subarea.inps %></p>
    </td>
    <td>
      <p><b>iops:</b><%= @subarea.iops %></p>
    </td>
    <td>
      <p><b>iow:</b><%= @subarea.iow %></p>
    </td>
    <td>
      <p><b>ii:</b><%= @subarea.ii %></p>
    </td>
    <td>
      <p><b>iapl:</b><%= @subarea.iapl %></p>
    </td>
    <td>
      <p><b>nvcn:</b><%= @subarea.nvcn %></p>
    </td>
    <td>
      <p><b>iwth:</b><%= @subarea.iwth %></p>
    </td>
    <td>
      <p><b>ipts:</b><%= @subarea.ipts %></p>
    </td>
    <td>
      <p><b>isao:</b><%= @subarea.isao %></p>
    </td>
    <td>
      <p><b>luns:</b><%= @subarea.luns %></p>
    </td>
    <td>
      <p><b>imw:</b><%= @subarea.imw %></p>
    </td>
  </tr>
  <tr class='gvRowStyleOdd''>
    <td>
      <p><b>sno:</b><%= @subarea.sno %></p>
    </td>
    <td>
      <p><b>stdo:</b><%= @subarea.stdo %></p>
    </td>
    <td>
      <p><b>yct:</b><%= @subarea.yct %></p>
    </td>
    <td>
      <p><b>xct:</b><%= @subarea.xct %></p>
    </td>
    <td>
      <p><b>azm:</b><%= @subarea.azm %></p>
    </td>
    <td>
      <p><b>fl:</b><%= @subarea.fl %></p>
    </td>
    <td>
      <p><b>fw:</b><%= @subarea.fw %></p>
    </td>
    <td>
      <p><b>angl:</b><%= @subarea.angl %></p>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>wsa:</b><%= @subarea.wsa %></p>
    </td>
    <td>
      <p><b>chl:</b><%= @subarea.chl %></p>
    </td>
    <td>
      <p><b>chd:</b><%= @subarea.chd %></p>
    </td>
    <td>
      <p><b>chs:</b><%= @subarea.chs %></p>
    </td>
    <td>
      <p><b>chn:</b><%= @subarea.chn %></p>
    </td>
    <td>
      <p><b>slp:</b><%= @subarea.slp %></p>
    </td>
    <td>
      <p><b>splg:</b><%= @subarea.splg %></p>
    </td>
    <td>
      <p><b>upn:</b><%= @subarea.upn %></p>
    </td>
    <td>
      <p><b>ffpq:</b><%= @subarea.ffpq %></p>
    </td>
    <td>
      <p><b>urbf:</b><%= @subarea.urbf %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>rchl:</b><%= @subarea.rchl %></p>
    </td>
    <td>
      <p><b>rchd:</b><%= @subarea.rchd %></p>
    </td>
    <td>
      <p><b>rcbw:</b><%= @subarea.rcbw %></p>
    </td>
    <td>
      <p><b>rctw:</b><%= @subarea.rctw %></p>
    </td>
    <td>
      <p><b>rchs:</b><%= @subarea.rchs %></p>
    </td>
    <td>
      <p><b>rchn:</b><%= @subarea.rchn %></p>
    </td>
    <td>
      <p><b>rchc:</b><%= @subarea.rchc %></p>
    </td>
    <td>
      <p><b>rchk:</b><%= @subarea.rchk %></p>
    </td>
    <td>
      <p><b>rfpw:</b><%= @subarea.rfpw %></p>
    </td>
    <td>
      <p><b>rfpl:</b><%= @subarea.rfpl %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>rsee:</b><%= @subarea.rsee %></p>
    </td>
    <td>
      <p><b>rsae:</b><%= @subarea.rsae %></p>
    </td>
    <td>
      <p><b>rsve:</b><%= @subarea.rsve %></p>
    </td>
    <td>
      <p><b>rsep:</b><%= @subarea.rsep %></p>
    </td>
    <td>
      <p><b>rsap:</b><%= @subarea.rsap %></p>
    </td>
    <td>
      <p><b>rsvp:</b><%= @subarea.rsvp %></p>
    </td>
    <td>
      <p><b>rsv:</b><%= @subarea.rsv %></p>
    </td>
    <td>
      <p><b>rsrr:</b><%= @subarea.rsrr %></p>
    </td>
    <td>
      <p><b>rsys:</b><%= @subarea.rsys %></p>
    </td>
    <td>
      <p><b>rsyn:</b><%= @subarea.rsyn %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>rshc:</b><%= @subarea.rshc %></p>
    </td>
    <td>
      <p><b>rsdp:</b><%= @subarea.rsdp %></p>
    </td>
    <td>
      <p><b>rsbd:</b><%= @subarea.rsbd %></p>
    </td>
    <td>
      <p><b>pcof:</b><%= @subarea.pcof %></p>
    </td>
    <td>
      <p><b>bcof:</b><%= @subarea.bcof %></p>
    </td>
    <td>
      <p><b>bffl:</b><%= @subarea.bffl %></p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>nirr:</b><%= @subarea.nirr %></p>
    </td>
    <td>
      <p><b>iri:</b><%= @subarea.iri %></p>
    </td>
    <td>
      <p><b>ira:</b><%= @subarea.ira %></p>
    </td>
    <td>
      <p><b>lm:</b><%= @subarea.lm %></p>
    </td>
    <td>
      <p><b>ifd:</b><%= @subarea.ifd %></p>
    </td>
    <td>
      <p><b>idr:</b><%= @subarea.idr %></p>
    </td>
    <td>
      <p><b>idf1:</b><%= @subarea.idf1 %></p>
    </td>
    <td>
      <p><b>idf2:</b><%= @subarea.idf2 %></p>
    </td>
    <td>
      <p><b>idf3:</b><%= @subarea.idf3 %></p>
    </td>
    <td>
      <p><b>idf4:</b><%= @subarea.idf4 %></p>
    </td>
    <td>
      <p><b>idf5:</b><%= @subarea.idf5 %></p>
    </td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>bir:</b><%= @subarea.bir %></p>
    </td>
    <td>
      <p><b>efi:</b><%= @subarea.efi %></p>
    </td>
    <td>
      <p><b>vimx:</b><%= @subarea.vimx %></p>
    </td>
    <td>
      <p><b>armn:</b><%= @subarea.armn %></p>
    </td>
    <td>
      <p><b>armx:</b><%= @subarea.armx %></p>
    </td>
    <td>
      <p><b>bft:</b><%= @subarea.bft %></p>
    </td>
    <td>
      <p><b>fnp4:</b><%= @subarea.fnp4 %></p>
    </td>
    <td>
      <p><b>fmx:</b><%= @subarea.fmx %></p>
    </td>
    <td>
      <p><b>drt:</b><%= @subarea.drt %></p>
    </td>
    <td>
      <p><b>fdsf:</b><%= @subarea.fdsf %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>pec:</b><%= @subarea.pec %></p>
    </td>
    <td>
      <p><b>dalg:</b><%= @subarea.dalg %></p>
    </td>
    <td>
      <p><b>vlgn:</b><%= @subarea.vlgn %></p>
    </td>
    <td>
      <p><b>coww:</b><%= @subarea.coww %></p>
    </td>
    <td>
      <p><b>ddlg:</b><%= @subarea.ddlg %></p>
    </td>
    <td>
      <p><b>solq:</b><%= @subarea.solq %></p>
    </td>
    <td>
      <p><b>sflg:</b><%= @subarea.sflg %></p>
    </td>
    <td>
      <p><b>fnp2:</b><%= @subarea.fnp2 %></p>
    </td>
    <td>
      <p><b>fnp5:</b><%= @subarea.fnp5 %></p>
    </td>
    <td>
      <p><b>firg:</b><%= @subarea.firg %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>ny1:</b><%= @subarea.ny1 %></p>
    </td>
    <td>
      <p><b>ny2:</b><%= @subarea.ny2 %></p>
    </td>
    <td>
      <p><b>ny3:</b><%= @subarea.ny3 %></p>
    </td>
    <td>
      <p><b>ny4:</b><%= @subarea.ny4 %></p>
    </td>
    <td>
      <p><b>ny5:</b><%= @subarea.ny5 %></p>
    </td>
    <td>
      <p><b>ny6:</b><%= @subarea.ny6 %></p>
    </td>
    <td>
      <p><b>ny7:</b><%= @subarea.ny7 %></p>
    </td>
    <td>
      <p><b>ny8:</b><%= @subarea.ny8 %></p>
    </td>
    <td>
      <p><b>ny9:</b><%= @subarea.ny9 %></p>
    </td>
    <td>
      <p><b>ny10:</b><%= @subarea.ny10 %></p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd'>
    <td>
      <p><b>xtp1:</b><%= @subarea.xtp1 %></p>
    </td>
    <td>
      <p><b>xtp2:</b><%= @subarea.xtp2 %></p>
    </td>
    <td>
      <p><b>xtp3:</b><%= @subarea.xtp3 %></p>
    </td>
    <td>
      <p><b>xtp4:</b><%= @subarea.xtp4 %></p>
    </td>
    <td>
      <p><b>xtp5:</b><%= @subarea.xtp5 %></p>
    </td>
    <td>
      <p><b>xtp6:</b><%= @subarea.xtp6 %></p>
    </td>
    <td>
      <p><b>xtp7:</b><%= @subarea.xtp7 %></p>
    </td>
    <td>
      <p><b>xtp8:</b><%= @subarea.xtp8 %></p>
    </td>
    <td>
      <p><b>xtp9:</b><%= @subarea.xtp9 %></p>
    </td>
    <td>
      <p><b>xtp10:</b><%= @subarea.xtp10 %></p>
    </td>
    <td></td>
  </tr>
</table>

<%= link_to 'Edit', edit_subarea_path(@subarea) %> |
<%= link_to 'Back', subareas_path %>