<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @manure_control.id %>
</p>

<p>
  <b>Name:</b>
  <%= @manure_control.name %>
</p>

<p>
  <b>Spanish name:</b>
  <%= @manure_control.spanish_name %>
</p>

<p>
  <b>No3n:</b>
  <%= @manure_control.no3n %>
</p>

<p>
  <b>Po4p:</b>
  <%= @manure_control.po4p %>
</p>

<p>
  <b>Orgn:</b>
  <%= @manure_control.orgn %>
</p>

<p>
  <b>Orgp:</b>
  <%= @manure_control.orgp %>
</p>

<p>
  <b>Om:</b>
  <%= @manure_control.om %>
</p>


<%= link_to 'Edit', edit_manure_control_path(@manure_control) %> |
<%= link_to 'Back', manure_controls_path %>
