<%= form_for(@fertilizer) do |f| %>
  <% if @fertilizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @fertilizer.errors.count, :model => t('models.fertilizer').downcase) %></h2>

      <ul>
      <% @fertilizer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qn %><br />
    <%= f.number_field :qn%>
  </div>
  <div class="field">
    <%= f.label :qp %><br />
    <%= f.text_field :qp %>
  </div>
  <div class="field">
    <%= f.label :yn %><br />
    <%= f.number_field :yn %>
  </div>
  <div class="field">
    <%= f.label :yp %><br />
    <%= f.text_field :yp %>
  </div>
  <div class="field">
    <%= f.label :nh3 %><br />
    <%= f.number_field :nh3%>
  </div>
  <div class="field">
    <%= f.label :dry_matter %><br />
    <%= f.text_field :dry_matter %>
  </div>
  <div class="field">
    <%= f.label :convertion_unit %><br />
    <%= f.number_field :convertion_unit %>
  </div>
  <div class="field">
    <%= f.label :animal %><br />
    <%= f.check_box :animal %>
  </div>
  <div class="field">
    <%= f.label :spanish_name %><br />
    <%= f.text_field :spanish_name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
