<h1>Listing fertilizers</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Code</th>
    <th>Dndc</th>
    <th>Name</th>
    <th>Operation</th>
    <th>Spinsh name</th>
    <th>Status</th>
    <th>Activity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fertilizers.each do |fertilizer| %>
  <tr>
    <td><%= fertilizer.abbreviation %></td>
    <td><%= fertilizer.code %></td>
    <td><%= fertilizer.dndc %></td>
    <td><%= fertilizer.name %></td>
    <td><%= fertilizer.operation %></td>
    <td><%= fertilizer.spinsh_name %></td>
    <td><%= fertilizer.status %></td>
    <td><%= fertilizer.activity_id %></td>
    <td><%= link_to 'Show', fertilizer %></td>
    <td><%= link_to 'Edit', edit_fertilizer_path(fertilizer) %></td>
    <td><%= link_to 'Destroy', fertilizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fertilizer', new_fertilizer_path %>
