<h1>Listing fertilizers</h1>

<div class="table-responsive">
  <div class="panel panel-default">
    <table class='table table-striped'>
      <tr>
    <th>Code</th>
    <th>Name</th>
    <th>qn</th>
    <th>qp</th>
    <th>yn</th>
    <th>yp</th>
    <th>nh3</th>
    <th>dry_matter</th>
    <th>convertion_unit</th>
    <th>animal</th>
    <th>spanish_name</th>
    <th>status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fertilizers.each do |fertilizer| %>
  <tr>
    <td><%= fertilizer.code %></td>
    <td><%= fertilizer.name %></td>
    <td><%= fertilizer.qn %></td>
    <td><%= fertilizer.qp %></td>
    <td><%= fertilizer.yn %></td>
    <td><%= fertilizer.yp %></td>
    <td><%= fertilizer.nh3 %></td>
    <td><%= fertilizer.dry_matter %></td>
    <td><%= fertilizer.convertion_unit %></td>
    <td><%= fertilizer.animal %></td>
    <td><%= fertilizer.spanish_name %></td>
    <td><%= fertilizer.status %></td>
    <td><%= link_to t('general.show'), fertilizer %></td>
    <td><%= link_to t('general.edit'), edit_fertilizer_path(fertilizer) %></td>
    <td><%= link_to 'Destroy', fertilizer, method: :delete, data: { confirm: t('general.confirm') } %></td>
  </tr>
<% end %>
</table>
  </div>
</div>

<br>

<%= link_to 'New Fertilizer', new_fertilizer_path %>
