<p id="notice"><%= notice %></p>

<p><b>Code:</b><%= @grazing_parameter.code %></p>

<p><b>Starting julian day:</b><%= @grazing_parameter.starting_julian_day %></p>

<p><b>Ending julian day:</b><%= @grazing_parameter.ending_julian_day %></p>

<p><b>Dmi code:</b><%= @grazing_parameter.dmi_code %></p>

<p><b>Dmi cows:</b><%= @grazing_parameter.dmi_cows %></p>

<p><b>Dmi bulls:</b><%= @grazing_parameter.dmi_bulls %></p>

<p><b>Dmi heifers:</b><%= @grazing_parameter.dmi_heifers %></p>

<p><b>Dmi calves:</b><%= @grazing_parameter.dmi_calves %></p>

<p><b>Green water footprint:</b><%= @grazing_parameter.green_water_footprint %></p>

<%= link_to 'Edit', edit_project_field_scenario_grazing_parameter_path(@project, @field, @scenario, @grazing_parameter.id), :class => "btn btn-primary" %> 
<%= link_to 'Back', project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :class => "btn btn-primary" %>
