<p id="notice"><%= notice %></p>
<span class="btn btn-primary" onclick="this.parentElement.style.display='none';">close</span>
<h1><%=t('aplcat.trailer')%></h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th><%=t('general.select')%></th>
      <th><%=t('apex.code')%></th>
      <th><%=t('aplcat.trailer')%></th>
      <th><%=t('aplcat.length')%></th>
      <th><%=t('aplcat.width')%></th>
      <th><%=t('aplcat.payload')%></th>
      <th><%=t('aplcat.suggestion')%></th>
    </tr>
  </thead>

  <tbody>
    <% Trailer.all.order("code").each do |trailer| %>
      <tr>
        <td><input type="text" id="trailer" name=<%=trailer.id.to_s%>  value=<%=t('general.select')%> class='btn btn-primary' readonly></td>
        <td><%= trailer.code %></td>
        <td><%= trailer.description %></td>
        <td><%= trailer.length %></td>
        <td><%= trailer.width %></td>
        <td><%= trailer.payload %></td>
        <td><%= trailer.suggestion %></td>
      </tr>
    <% end %>
  </tbody>
</table>%
