<div class="page-header"><h1><%= t("menu.animal_transport") %></h1></div>
<td><%= link_to t('aplcat.tabular_parameters'), edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario,0), :class => 'btn btn-primary'  %>
<td><%= link_to t('aplcat.animal_feed_parameters'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :title => t('aplcat_tooltip.go_to_gp'), :class => 'btn btn-primary' %></td>
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr class='gvHeaderStyle'>
          <th class="gvCellStyleTitle">Frequency of trip</th>
          <th class="gvCellStyleTitle">Trip related to cattle production</th>
          <th class="gvCellStyleTitle">Purpose of the trip</th>
          <th class="gvCellStyleTitle">Transportation</th>
          <th class="gvCellStyleTitle">Categories of animal transported</th>
          <th class="gvCellStyleTitle">Categories of animals finished and ready for slaughter</th>
          <th class="gvCellStyleTitle">Number of animals in each category</th>
          <th class="gvCellStyleTitle">Mortality rate of cattle</th>
          <th class="gvCellStyleTitle">Distance moved (miles)</th>
          <th class="gvCellStyleTitle">Trailer selected for moving</th>
          <th class="gvCellStyleTitle">Truck selected for moving</th>
          <th class="gvCellStyleTitle">Fuel type</th>
          <th class="gvCellStyleTitle">Same vehicle?</th>
          <th class="gvCellStyleTitle">Loading pressure equation</th>
          <th class="gvCellStyleTitle">Proportion of live animal becoming carcass (%)</th>
          <th class="gvCellStyleTitle">Proportion of carcass becoming boneless beef (%)</th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <% @animal_transports.each do |animal_transport| %>
        <tr>
          <td><%= animal_transport.freq_trip %></td>
          <td><%= animal_transport.cattle_pro %></td>
          <td><%= animal_transport.purpose %></td>
          <td><%= animal_transport.trans %></td>
          <td><%= animal_transport.categories_trans %></td>
          <td><%= animal_transport.categories_slaug %></td>
          <td><%= animal_transport.num_animal %></td>
          <td><%= animal_transport.mortality_rate %></td>
          <td><%= animal_transport.distance %></td>
          <td><%= animal_transport.trailer_id %></td>
          <td><%= animal_transport.truck_id %></td>
          <td><%= animal_transport.fuel_id %></td>
          <td><%= animal_transport.same_vehicle %></td>
          <td><%= animal_transport.loading %></td>
          <td><%= animal_transport.carcass %></td>
          <td><%= animal_transport.boneless_beef %></td>
          <td>
          <%= link_to image_tag("view.png"), project_field_scenario_animal_transport_path(@project, @field, @scenario, animal_transport) %>
          <%= link_to image_tag("edit.png"), edit_project_field_scenario_animal_transport_path(@project, @field, @scenario, animal_transport) %>
          <%= link_to image_tag("delete.png"), project_field_scenario_animal_transport_path(@project, @field, @scenario, animal_transport), title: t('general.delete'), method: :delete, data: {confirm: t('general.confirm')} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br>
  <%= link_to t('menu.new_animal_transport'), new_project_field_scenario_animal_transport_path(@project, @field, @scenario), :class => 'btn btn-success' %>
  <%= link_to 'Back', edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :title => t('aplcat_tooltip.go_to_ap'), :class => 'btn btn-primary' %>
</div>
