<div class="page-header"><h1><%= t("aplcat.animal_transport") %></h1></div>
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr class='gvHeaderStyle'>
          <th class="gvCellStyleTitle">Frequency of trip</th>
          <th class="gvCellStyleTitle">Trip related to cattle production</th>
          <th class="gvCellStyleTitle">Purpose of the trip</th>
          <th class="gvCellStyleTitle">Transportation</th>
          <th class="gvCellStyleTitle">Categories of animal transported</th>
          <th class="gvCellStyleTitle">Categories of animals finished and ready for slaughter</th>
          <th class="gvCellStyleTitle">Average market weight of each animal (lb)</th>
          <th class="gvCellStyleTitle">Number of animals in each category</th>
          <th class="gvCellStyleTitle">Mortality rate of cattle</th>
          <th class="gvCellStyleTitle">Distance moved (miles)</th>
          <th class="gvCellStyleTitle">Trailer selected for moving</th>
          <th class="gvCellStyleTitle">Truck selected for moving</th>
          <th class="gvCellStyleTitle">Fuel type</th>
          <th class="gvCellStyleTitle">Same vehicle?</th>
          <th class="gvCellStyleTitle">Loading pressure equation</th>
          <th class="gvCellStyleTitle">Proportion of live animal becoming carcass (%)</th>
          <th class="gvCellStyleTitle">Proportion of carcass becoming boneless beef (%)</th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <% @animal_transports.each do |animal_transports| %>
        <tr>
          <td><%= animal_transports.freq_trip %></td>
          <td><%= animal_transports.cattle_pro %></td>
          <td><%= animal_transports.purpose %></td>
          <td><%= animal_transports.trans %></td>
          <td><%= animal_transports.categories_trans %></td>
          <td><%= animal_transports.categories_slaug %></td>
          <td><%= animal_transports.animal_category_id %></td>
          <td><%= animal_transports.mortality_rate %></td>
          <td><%= animal_transports.distance %></td>
          <td><%= animal_transports.trailer_id %></td>
          <td><%= animal_transports.truck_id %></td>
          <td><%= animal_transports.fuel_id %></td>
          <td><%= animal_transports.same_vehicle %></td>
          <td><%= animal_transports.loading %></td>
          <td><%= animal_transports.carcass %></td>
          <td><%= animal_transports.boneless_beef %></td>
          <%= link_to image_tag("view.png"), project_field_scenario_animal_transport_path(@project, @field, @scenario, animal_transport_) %>
          <%= link_to image_tag("edit.png"), edit_project_field_scenario_animal_transport__path(@project, @field, @scenario, animal_transport_) %>
          <%= link_to image_tag("delete.png"), project_field_scenario_animal_transport__path(@project, @field, @scenario, animal_transport_), title: t('general.delete'), method: :delete, data: {confirm: t('general.confirm')} %>
        </tr>
      <% end %>
    </table>
  </div>
  <br>
  <%= link_to 'New Grazing parameter', new_project_field_scenario_animal_transport_path(@project, @field, @scenario), :class => 'btn btn-success' %>
  <%= link_to 'Back', edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :title => t('aplcat_tooltip.go_to_ap'), :class => 'btn btn-primary' %>
</div>
