<%= form_for(@soil_operation) do |f| %>
  <% if @soil_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil_operation.errors.count, "error") %> prohibited this soil_operation from being saved:</h2>

      <ul>
      <% @soil_operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('datetime.prompts.year') + " " + ':' %>
    <%= f.number_field :year, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label t('datetime.prompts.month') + " " + ':' %>
    <%= f.number_field :month, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label t('datetime.prompts.day') + " " + ':' %>
    <%= f.number_field :day, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label t('scenario.operation') + " " + ':' %>
    <%= f.number_field :apex_operation, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label :'Tractor:' %>
    <%= f.number_field :tractor_id, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label t('operation.crop') + " " + ':' %>
    <%= f.number_field :apex_crop, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label t('general.type') + " " + ':' %>
    <%= f.number_field :type_id, :class => "numbers" %>
  </div>
  <div class="field">
    <%= f.label :'OPV1:' %>
    <%= f.number_field :opv1, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV2:' %>
    <%= f.number_field :opv2, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV3:' %>
    <%= f.number_field :opv3, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV4:' %>
    <%= f.number_field :opv4, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV5:' %>
    <%= f.number_field :opv5, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV6:' %>
    <%= f.number_field :opv6, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :'OPV7:' %>
    <%= f.number_field :opv7, :class => "numbers", :step => '0.01' %>
  </div>
  <div class="actions">
    <%= f.submit t('submit.update') + " " + t('scenario.operation') %>
  </div>
<% end %>
