<% if notice != nil %>
  <div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
  </div>
<% end %>

<div class="page-header"><h1><small><%= t('menu.operation_file') %></h1></div>

<%= link_to t('menu.control_file'), project_field_apex_controls_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.parameters_file'), project_field_apex_parameters_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.subarea_file'), project_field_subareas_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.apex_soil'), project_field_apex_soils_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.operation_file'), project_field_soil_operations_path(@project, @field), :class => 'btn btn-primary' %>
<%= link_to t('menu.site'), project_field_sites_path(@project, @field), :class => 'btn btn-default' %><br></br>
<%= link_to t('activerecord.models.apex.download') + " " + t('menu.apex_file'), {:action => :download}, :method => :post, :class => 'btn btn-default' %>
<%#= link_to t('activerecord.models.apex.download') + " " + t('menu.aplcat_file'), aplcat_parameters_download_path, :method => :post, :class => 'btn btn-default' %>

<br><br>

<%= form_for :soil_operations, url: project_field_soil_operations_url do |f| %>
<table>
  <tr>
    <td><%= label :bmp_id, t('soil.soil') %></td>
    <td><%= label :bmp_id, t('scenario.scenario') %></td>
  </tr>
  <tr>
    <td><%= collection_select :soil_operation, :soil_id, Soil.where(:field_id => params[:field_id]), :id, :name, {:prompt => t('soil.select_soil'), :selected => @soil.id}, {:required => true} %></td>
    <td><%= collection_select :soil_operation, :scenario_id, Scenario.where(:field_id => params[:field_id]), :id, :name, {:prompt => t('scenario.select_scenario'), :selected => @scenario.id}, {:required => true} %></td>
	  <td class='action'><%= f.submit t('operation.load_operation'), :class => "btn btn-primary" %></td>
  </tr>
</table>
<% end %>
<br>

<div class="table-responsive">
  <div class="panel panel-default">
    <table class='table table-striped'>
      <thead>
        <tr class='gvHeaderStyle'>
          <th class="gvCellStyleTitle"><%= t('datetime.prompts.year') %></th>
          <th class="gvCellStyleTitle"><%= t('datetime.prompts.month') %></th>
          <th class="gvCellStyleTitle"><%= t('datetime.prompts.day') %></th>
          <th class="gvCellStyleTitle"><%= t('scenario.operation') %></th>
          <th class="gvCellStyleTitle">Tractor</th>
          <th class="gvCellStyleTitle"><%= t('operation.crop') %></th>
          <th id="typeTitle" class="gvCellStyleTitle"><%= t('general.type') %></th>
          <th class="gvCellStyleTitle">OPV1</th>
          <th class="gvCellStyleTitle">OPV2</th>
          <th class="gvCellStyleTitle">OPV3</th>
          <th class="gvCellStyleTitle">OPV4</th>
          <th class="gvCellStyleTitle">OPV5</th>
          <th class="gvCellStyleTitle">OPV6</th>
          <th class="gvCellStyleTitle">OPV7</th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @soil_operations.each do |soil_operation| %>
          <% if (i % 2 == 0) %>
            <tr class="gvRowStyleEven">
		  <% else %>
            <tr class="gvRowStyleOdd">
          <% end %>
              <td class="gvCellStyleNumber"><%= soil_operation.year %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.month %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.day %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.apex_operation %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.tractor_id %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.apex_crop %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.type_id %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv1 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv2 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv3 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv4 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv5 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv6 %></td>
              <td class="gvCellStyleNumber"><%= soil_operation.opv7 %></td>
              <td class="gvCellStyleActions">
                <%= link_to image_tag("edit.png"), edit_project_field_soil_operation_path(@project, @field, soil_operation), title: t('general.edit') %>
              </td>
            </tr>
          <% i = i + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
