<p id="notice"><%= notice %></p>

<p>
  <b><%= t('datetime.prompts.year') + " " + ':' %></b>
  <%= @soil_operation.year %>
  </p>

<p>
  <b><%= t('datetime.prompts.month') + " " + ':' %></b>
  <%= @soil_operation.month %>
  </p>

<p>
  <b><%= t('datetime.prompts.day') + " " + ':' %></b>
  <%= @soil_operation.day %>
</p>

<p>
  <b><%= t('scenario.operation') + " " + ':' %></b>
  <%= @soil_operation.apex_operation %>
</p>

<p>
  <b>Tractor:</b>
  <%= @soil_operation.tractor_id %>
</p>

<p>
  <b><%= t('operation.crop') + " " + ':' %></b>
  <%= @soil_operation.apex_crop %>
</p>

<p>
  <b><%= t('general.type') + " " + ':' %></b>
  <%= @soil_operation.type_id %>
</p>

<p>
  <b>OPV1:</b>
  <%= @soil_operation.opv1 %>
</p>

<p>
  <b>OPV2:</b>
  <%= @soil_operation.opv2 %>
  </p>

<p>
  <b>OPV3:</b>
  <%= @soil_operation.opv3 %>
  </p>

<p>
  <b>OPV4:</b>
  <%= @soil_operation.opv4 %>
  </p>

<p>
  <b>OPV5:</b>
  <%= @soil_operation.opv5 %>
  </p>

<p>
  <b>OPV6:</b>
  <%= @soil_operation.opv6 %>
  </p>

<p>
  <b>OPV7:</b>
  <%= @soil_operation.opv7 %>
  </p>


<%= link_to t('general.edit'), edit_soil_operation_path(@soil_operation) %> |
<%= link_to t('general.back'), soil_operations_path %>
