<%= form_for(bmp) do |f| %>
			  <% case bmp.bmpsublist_id %>
				<% when 1 %>
				  <tr style="padding-left:100px">
					<td>
						<%= label :irrigation_id, t('bmp.irrigation')  %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :autoirrigation, :irrigation_id, Irrigation.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp1.irrigation_id}%>
						<% else %>
						  <%= collection_select :autoirrigation, :irrigation_id, Irrigation.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp1.irrigation_id} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td>
						<%= label :water_stress_factor, t('bmp.water_stress_factor') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp1, :water_stress_factor %>
					</td>
				  </tr>
				  <tr>
				    <td class="field" id = "irrigation_efficiency" >
						<%= label :irrigation_efficiency, t('bmp.irrigation_efficiency') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp1, :irrigation_efficiency  %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field" id = "frequency" >
						<%= label :days, t('bmp.irrigation_frequency') + " " + t('bmp.days_range') %>
						<%= text_field :bmp1, :days %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field" id = "maximum_single_application" >
						<%= label :days, t('bmp.maximum_single_application') + " " + t('bmp.zero_to_max') + " " + t('bmp.inches') %>
						<%= text_field :bmp1, :maximum_single_application%>
				    </td>
				  </tr>
				  <tr>
				    <td class="field" id = "reservour_area" >
						<%= label :days, t('bmp.reservoir_area') + " " + t('bmp.zero_to_max') %>
						<%= text_field :bmp1, :area%>
				    </td>
				  </tr>
<% end %>
