<%= form_for(@bmp) do |f| %>
  <% if @bmp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmp.errors.count, "error") %> prohibited this bmp from being saved:</h2>

      <ul>
      <% @bmp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= label :bmp_id, 'BMP' %>
     <%= collection_select :bmp, :bmp_id, Bmplist.all, :id, :name, {:prompt => 'Select BMP Group'}, {:required => false} %>
     <%= label :bmp_id, 'BMP' %>
     <%= collection_select :bmp, :bmpsublist_id, Bmpsublist.where(:bmplist_id => @bmp.bmp_id), :id, :name, {:required => false, :selected => @bmp.bmpsublist_id, :prompt => 'Select BMP Group' } %>
  </div>

  <div class="field" id="irrigation" style="display:none">
    <%= label :irrigation_id, 'Irrigation' %>
    <%= collection_select :bmp, :irrigation_id, Irrigation.all, :id, :name, {:prompt => 'Select Irrigation Type'}, {:required => true} %>
  </div>
  <div class="field" id="crop"  style="display:none">
    <%= label :crop_id, 'Crop' %>
    <%= collection_select :bmp, :crop_id, Crop.all, :id, :name, {:prompt => 'Select Vegetation'}, {:required => true} %>
  </div>
  <div class="field" id = "water_stress_factor" style="display:none">
	<%= f.label :water_stress_factor %><br />
	<%= f.text_field :water_stress_factor %>
  </div>
  <div class="field" id = "irrigation_efficiency" style="display:none">
	<%= f.label :irrigation_efficiency %><br />
	<%= f.text_field :irrigation_efficiency %>
  </div>
  <div class="field" id="maximum_single_application" style="display:none">
	<%= f.label :maximum_single_application %><br />
	<%= f.text_field :maximum_single_application %>
  </div>
  <div class="field" id="safety_factor" style="display:none">
	<%= f.label :safety_factor %><br />
	<%= f.text_field :safety_factor %>
  </div>
  <div class="field" id="depth" style="display:none">
	<%= f.label :depth %><br />
	<%= f.text_field :depth %>
  </div>
    <div class="field" id = "area" style="display:none">
	<%= f.label :area %><br />
	<%= f.text_field :area %>
  </div>
  <div class="field" id="number_of_animals" style="display:none">
	<%= f.label :number_of_animals %><br />
	<%= f.text_field :number_of_animals %>
  </div>
  <div class="field" id = "days" style="display:none">
	<%= f.label :days %><br />
	<%= f.text_field :days %>
  </div>
  <div class="field" id="hours" style="display:none">
	<%= f.label :hours %><br />
	<%= f.text_field :hours %>
  </div>
  <div class="field" id="animals" style="display:none">
    <%= label :animal_id, 'Animals' %>
    <%= collection_select :bmp, :animal_id, Animal.all, :id, :name, {:prompt => 'Select Animal Type'}, {:required => true} %>
  </div>
  <div class="field" id="dry_manure" style="display:none">
	<%= f.label :dry_manure %><br />
	<%= f.text_field :dry_manure %>
  </div>
  <div class="field" id="no3_n" style="display:none">
	<%= f.label :no3_n %><br />
	<%= f.text_field :no3_n %>
  </div>
  <div class="field" id="po4_p" style="display:none">
	<%= f.label :po4_p %><br />
	<%= f.text_field :po4_p %>
  </div>
  <div class="field" id="org_n" style="display:none">
	<%= f.label :org_n %><br />
	<%= f.text_field :org_n %>
  </div>
  <div class="field" id="org_p" style="display:none">
	<%= f.label :org_p %><br />
	<%= f.text_field :org_p %>
  </div>
  <div class="field" id="width" style="display:none">
	<%= f.label :width %><br />
	<%= f.text_field :width %>
  </div>
  <div class="field" id="grass_field_portion" style="display:none">
	<%= f.label :grass_field_portion %><br />
	<%= f.text_field :grass_field_portion %>
  </div>
  <div class="field" id="buffer_slope_upland" style="display:none">
	<%= f.label :buffer_slope_upland %><br />
	<%= f.text_field :buffer_slope_upland %>
  </div>
  <div class="field" id="crop_width" style="display:none">
	<%= f.label :crop_width %><br />
	<%= f.text_field :crop_width %>
  </div>
  <div class="field" id="slope_reduction" style="display:none">
	<%= f.label :slope_reduction %><br />
	<%= f.text_field :slope_reduction %>
  </div>
  <div class="field" id="sides" style="display:none">
	<%= f.label :sides%><br />
	<%= f.text_field :sides %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
