<head>
  <script src="assets/javascripts/gen_validatorv4.js" type="text/javascript"></script>
</head>
<%= form_for :bmp, :html => { :id => "bmpsForm" }, :url => save_bmps_project_field_scenario_bmps_path(@project, @field, @scenario), method: :post do %>
  <div class="page-header">
    <h1><%= t('menu.bmps') %></h1>
  </div>
  <div id="flash_messages">
    <% flash.each do |key, value|
      if value.class == String # regular flash notices, alerts, etc. will be strings
        value = [value]
      end
      value.each do |value| %>
        <%= content_tag(:p, value, :class => "flash #{key}") unless value.empty? %>
      <% end %>
    <% end %>
  </div>
  <%= submit_tag t("submit.save"), name: "button", class: "btn btn-primary" %>
  <%= link_to t('general.continue'), project_field_scenarios_path(@project, @field), :class => 'btn btn-success' %><br>
    <br>
      <table class="table table-striped">
        <thead>
          <tr class='gvHeaderStyle'>
            <th><%= t('general.name')%></th>
            <th><%= t('general.select')%></th>
          </tr>
        </thead>
        <% manure_operations = @scenario.operations.where(:activity_id => 2, :type_id => 2).count %>

        <% @bmps.each do |bmp| %>
		      <tbody>
            <% if !(@project.location.state_id == 25 || @project.location.state_id == 26) && bmp.bmpsublist_id == 4 %>
              <% next %>
            <% end %>
            <% if manure_operations == 0 && bmp.bmpsublist_id == 18 %>
              <% next %>
            <% end %>

            <% if bmp.bmpsublist_id != 2 && bmp.bmpsublist_id != 11 && bmp.bmpsublist_id != 5 && bmp.bmpsublist_id != 6 && bmp.bmpsublist_id != 7 && bmp.bmpsublist_id != 12 %>
              <tr>
				        <% if I18n.locale.equal?(:en) %>
					        <td style="cursor: pointer" id=<%= "bmp#{bmp.bmpsublist_id}" %>><h4><%= Bmpsublist.find(bmp.bmpsublist_id).name %></h4></td>
				        <% else %>
					        <td style="cursor: pointer" id=<%= "bmp#{bmp.bmpsublist_id}" %>><h4><%= Bmpsublist.find(bmp.bmpsublist_id).spanish_name %></h4></td>
				        <% end %>
				        <% if bmp.id != nil %>
					        <td><%= check_box_tag "select[#{bmp.bmpsublist_id}]", true, value="1"%></td>
				        <% else %>
					        <td><%= check_box_tag "select[#{bmp.bmpsublist_id}]" %></td>
				        <% end %>
			        </tr>
            <%end %>
		      </tbody>
		    <tbody class="toggable" id=<%="#{bmp.bmpsublist_id}"%>>

			    <% case bmp.bmpsublist_id %>
				    <% when 1 %>
              <tr>
                <td>
                  <% case bmp.depth%>
                    <% when 1 %>
                      <%= radio_button_tag :bmp_cb1, "1", true  %> <%= t('bmp.autoirrigation') %>
                      <%= radio_button_tag :bmp_cb1, "2"%> <%= t('bmp.autofertigation') %>
                    <% when 2 %>
                      <%= radio_button_tag :bmp_cb1, "1" %> <%= t('bmp.autoirrigation') %>
                      <%= radio_button_tag :bmp_cb1, "2", true %> <%= t('bmp.autofertigation') %>
                    <% else %>
                      <%= radio_button_tag :bmp_cb1, "1"%> <%= t('bmp.autoirrigation') %>
                        <%= radio_button_tag :bmp_cb1, "2" %> <%= t('bmp.autofertigation') %>
                  <%end%>
                </td>
              </tr>
				      <tr>
					    <td class="indent">
						    <%= label :irrigation_id, t('bmp.irrigation')  %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_ai, :irrigation_id, Irrigation.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id}%>
						    <% else %>
						      <%= collection_select :bmp_ai, :irrigation_id, Irrigation.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id} %>
						    <% end %>
					    </td>
				      </tr>
              <tr>
                <td class="field indent" id = "frequency" >
                  <%= label :days, t('bmp.irrigation_frequency') + " " + t('bmp.days_range') %>
                  <%= number_field :bmp_ai, :days, :value => bmp.days, :class => "gvTitleStyleNumber" %>
                </td>
              </tr>
              <tr>
					    <td class="indent">
						    <%= label :water_stress_factor, t('bmp.water_stress_factor') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_ai, :water_stress_factor, :value => bmp.water_stress_factor * 100, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="field indent" id = "irrigation_efficiency" >
                  <%= label :irrigation_efficiency, t('bmp.irrigation_efficiency') + " " + t('bmp.percentage_range') %>
                  <%= number_field :bmp_ai, :irrigation_efficiency, :value => (1 - bmp.irrigation_efficiency) * 100, :class => "gvTitleStyleNumber"  %>
                </td>
				      </tr>
				      <tr>
				        <td class="field indent" id = "maximum_single_application" >
						    <%= label :days, t('bmp.maximum_single_application') + " (" + t('bmp.inches')  + ")"%>
						    <%= number_field :bmp_ai, :maximum_single_application, :value => bmp.maximum_single_application, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="field indent" id = "reservoir_area" style="display: none;">
						    <%= label :days, t('bmp.reservoir_area') + " (" + t('bmp.acres')  + ")"%>
						    <%= number_field :bmp_ai, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				    <% when 3 %>
				      <tr>
					    <td class="field indent" id = "depth" >
						    <%= label :depth, t('bmp.depth') + " (" + t('bmp.ft')  + ")"%>
						    <%= number_field :bmp_td, :depth, :value => bmp.depth, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				    <% when 4 %>
              <% if @project.location.state_id == 25 || @project.location.state_id == 26 %>
                <tr>
                  <td>
                    <% case bmp.depth%>
                      <% when 4 %>
                        <%= radio_button_tag :bmp_cb2, "4", true  %> <%= t('pdf.ppdi') %></br>
                        <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                        <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                        <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %>
                      <% when 5 %>
                        <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                        <%= radio_button_tag :bmp_cb2, "5", true %> <%= t('pdf.ppds') %></br>
                        <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                        <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppds') %>
                      <% when 6 %>
                        <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                        <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                        <%= radio_button_tag :bmp_cb2, "6", true %> <%= t('pdf.ppde') %></br>
                        <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %>
                      <% when 7 %>
                        <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                        <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                        <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                        <%= radio_button_tag :bmp_cb2, "7", true %> <%= t('pdf.ppti') %>
                      <% else %>
                        <%= radio_button_tag :bmp_cb2, "4"%> <%= t('pdf.ppdi') %></br>
                        <%= radio_button_tag :bmp_cb2, "5" %> <%= t('pdf.ppds') %></br>
                        <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                        <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %>
                      <%end%>
                  </td>
                </tr>
                          <tr>
					      <td class="indent">
						      <%= t('bmp.pad') + " " + t('bmp.width') + " (" + t('bmp.ft')  + ")"%>
						      <%= number_field :bmp_ppnd, :width, :value => bmp.width, :class => "gvTitleStyleNumber" %>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <%= t('bmp.sides')  %>
                    <%= number_field :bmp_ppnd, :sides, :value => bmp.sides, :class => "gvTitleStyleNumber" %>
                  </td>
				      </tr>
              <% if bmp.depth == 6 || bmp.depth == 7 %>
			          <tr id = "tr_bmp_pp_area" >
					          <td class="indent">
						          <%= label :area, t('bmp.reservoir_area') + " (" + t('bmp.acres')  + ")"%>
						          <%= number_field :bmp_ppnd, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                      </td>
			          </tr>
              <% else %>
			          <tr id = "tr_bmp_pp_area" style="display:none" >
					            <td class="indent">
						            <%= label :area, t('bmp.reservoir_area') + " (" + t('bmp.acres')  + ")"%>
						            <%= text_field :bmp_ppnd, :area, :value => bmp.area %>
					            </td>
			            </tr>
                <% end %>
              <% end %>
				    <% when 8 %>
				      <tr>
					    <td class="field indent" id = "area" >
						    <%= label :depth, t('pdf.area') + " (" + t('bmp.acres')  + ")"%>
						    <%= number_field :bmp_wl, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				    <% when 9 %>
				      <tr>
					    <td class="field indent" id = "fraction_control_by_pond" >
						    <%= label :control, t('bmp.area_control') + " " + t('bmp.zero_to_one')  %>
						    <%= number_field :bmp_pnd, :irrigation_efficiency, :value => bmp.irrigation_efficiency, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				    <% when 10 %>
				      <tr>
					    <td class="indent">
						    <%= label :depth, t('operation.animals')  %>
						    <%= number_field :bmp_sf, :number_of_animals, :value => bmp.number_of_animals, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent">
						      <%= label :days, t('bmp.stream_fencing_frequency') + " " + t('bmp.days_range') %>
						      <%= number_field :bmp_sf, :days, :value => bmp.days, :style=>"width:50px", :class => "gvTitleStyleNumber" %>
                    <%= label :hours, t('bmp.hours') + " " + t('bmp.hours_range') %>
                  <%= number_field :bmp_sf, :hours, :value => bmp.hours, :style=>"width:50px", :class => "gvTitleStyleNumber" %>
                  </td>
				      </tr>
				      <tr>
				        <td class="indent">
				        </td>
				      </tr>
				      <tr>
				        <td class="indent">
						    <%= label :animal_id, t('bmp.animals') %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
						    <% else %>
						      <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
						    <% end %>
				        </td>
				      </tr>
				      <tr>
				        <td class="indent2">
						    <%= label :dry_manure, t('bmp.dry_manure') + " (" + t('bmp.lbs')  + ")"%>
						    <%= number_field :bmp_sf, :dry_manure, :value => bmp.dry_manure, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent2">
						    <%= label :no3_n, t('bmp.no3_n') + " " + t('bmp.zero_to_one') %>
						    <%= number_field :bmp_sf, :no3_n, :value => bmp.no3_n, :class => "gvTitleStyleNumber" %>
				        </td>
				      </tr>
				      <tr>
				        <td class="indent2">
						    <%= label :po4_p, t('bmp.po4_p') + " " + t('bmp.zero_to_one') %>
						    <%= number_field :bmp_sf, :po4_p, :value => bmp.po4_p, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent2">
						    <%= label :org_n, t('bmp.org_n') + " " + t('bmp.zero_to_one') %>
						    <%= number_field :bmp_sf, :org_n, :value => bmp.org_n, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent2">
						    <%= label :org_p, t('bmp.org_p') + " " + t('bmp.zero_to_one') %>
						    <%= number_field :bmp_sf, :org_p, :value => bmp.org_p, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
            <!--<% when 11 %>
				      <tr>
					    <td class="indent">
						    <%= t('general.select') %>
						    <% if bmp.id != nil %>
							    <%= check_box :bmp_sbs, :id, checked: true %>
						    <%else%>
							    <%= check_box :bmp_sbs, :id, checked: false %>
						    <%end%>
					    </td>
            </tr> -->
				    <% when 13 %>
              <tr>
                <td>
                  <% case bmp.depth%>
                    <% when 13 %>
                      <%= radio_button_tag :bmp_cb3, "13", true  %> <%= t('pdf.filter_strip') %>
                      <%= radio_button_tag :bmp_cb3, "12"%> <%= t('pdf.riparian_forest') %>
                    <% when 12 %>
                      <%= radio_button_tag :bmp_cb3, "13" %> <%= t('pdf.filter_strip') %>
                      <%= radio_button_tag :bmp_cb3, "12", true %> <%= t('pdf.riparian_forest') %>
                    <% else %>
                      <%= radio_button_tag :bmp_cb3, "13"%> <%= t('pdf.filter_strip') %>
                      <%= radio_button_tag :bmp_cb3, "12" %> <%= t('pdf.riparian_forest') %>
                  <%end%>
                </td>
              </tr>
              <tr id = "tr_fs_vegetation" <%= "style=display:none" if bmp.depth == 12%>>
                <td class="indent">
                  <%= label :crop_id, t('operation.crop') %>
                  <% if I18n.locale.equal?(:en) %>
						          <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id}%>
                  <% else %>
						          <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                  <% end %>
                </td>
              </tr>
              <tr>
					      <td class="indent">
						      <%= t('general.area') + " (" + t('bmp.acres') + ")"%>
						      <%= number_field :bmp_fs, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                  </td>
				        </tr>
				        <tr>
					      <td class="indent">
						      <%= t('bmp.width') + " (" + t('bmp.ft') + ")" %>
                    <%= number_field :bmp_fs, :width, :value => bmp.width, :class => "gvTitleStyleNumber" %>
					      </td>
				        </tr>
                <tr id = "tr_grass_field_portion" <%= "style=display:none" if bmp.depth == 13%>>
                  <td class="indent">
                    <%= t('general.area') + " " + t('bmp.grass_field_portion') + " " + t('bmp.quarter_to_three_fourths') %>
                    <%= number_field :bmp_fs, :grass_field_portion, :value => bmp.grass_field_portion, :step => '0.01', :min => 0.25, :max => 0.75, :class => "gvTitleStyleNumber" %>
                    </td>
                </tr>
                <tr>
					        <td class="indent">
						        <%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
						        <%= number_field :bmp_fs, :buffer_slope_upland, :value => bmp.buffer_slope_upland, :step => '0.01', :min => 0.25, :max => 1.00, :class => "gvTitleStyleNumber" %>
                    </td>
				        </tr>
				    <% when 14 %>
				      <tr>
					    <td class="indent">
						    <%= label :crop_id, t('operation.crop') %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% else %>
						      <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% end %>
					    </td>
				      </tr>
				      <tr>
					    <td class="indent">
						    <%= t('bmp.width') + " (" + t('bmp.ft') + ")" %>
                  <%= number_field :bmp_ww, :width, :value => bmp.width, :class => "gvTitleStyleNumber" %>
                  </td>
				      </tr>
				    <% when 15 %>
				      <tr>
					    <td class="indent">
						    <%= label :crop_id, t('operation.crop') %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% else %>
						      <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% end %>
					    </td>
				      </tr>
				      <tr>
					    <td class="indent">
						    <%= t('bmp.buffer_width') + " (" + t('bmp.ft') + ")" %>
                  <%= number_field :bmp_cb, :width, :value => bmp.width, :class => "gvTitleStyleNumber" %>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <%= t('bmp.crop_width') + " (" + t('bmp.ft') + ")"%>
                    <%= number_field :bmp_cb, :crop_width, :value => bmp.crop_width, :class => "gvTitleStyleNumber" %>
                  </td>
				      </tr>
				    <% when 16 %>
				      <tr>
					    <td class="indent">
						    <%= t('bmp.slope_reduction') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_ll, :slope_reduction, :value => bmp.slope_reduction, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				    <% when 17 %>
				      <tr>
					    <td class="indent">
						    <%= t('general.yes') %>
						    <% if bmp.id != nil %>
							    <%= check_box :bmp_ts, :id, checked: true %>
						    <%else%>
							    <%= check_box :bmp_ts, :id, checked: false %>
						    <%end%>
					    </td>
				      </tr>
				    <% when 18 %>
              <% if manure_operations > 0%>
				      <tr>
				        <td class="indent">
						    <%= label :manure_control_id, t('bmp.manure_control') %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_mc, :animal_id, ManureControl.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
						    <% else %>
						      <%= collection_select :bmp_mc, :animal_id, ManureControl.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
						    <% end %>
				        </td>
				      </tr>
				      <tr>
				        <td class="indent">
						    <%= label :no3_n, t('bmp.no3_n') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_mc, :no3_n, :value => bmp.no3_n, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent">
						    <%= label :po4_p, t('bmp.po4_p') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_mc, :po4_p, :value => bmp.po4_p, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent">
						    <%= label :org_n, t('bmp.org_n') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_mc, :org_n, :value => bmp.org_n, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
				        <td class="indent">
						    <%= label :org_p, t('bmp.org_p') + " " + t('bmp.percentage_range') %>
						    <%= number_field :bmp_mc, :org_p, :value => bmp.org_p, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
              <% end %>
            <% when 19 %>
              <tr>
                <th class="gvCellStyleTitle">
                  <%= t('bmp.month')%>
                </th>
                <th class="gvCellStyleTitle">
                  <%= t('bmp.max_temp')%>
                </th>
                <th class="gvCellStyleTitle">
                  <%= t('bmp.min_temp')%>
                </th>
                  <th class="gvCellStyleTitle">
                    <%= t('bmp.precipitation')%>
                  </th>
              </tr>

              <% @climates.each do |climate| %>
                <tr class="indent">
                  <td style="text-align: center">
                    <%= climate.month %>
                  </td>
                  <td class="gvTitleStyleNumber">
                    <%= number_field "bmp_cc", "max_temp" + climate.month.to_s, :value  => climate.max_temp %>
                  </td>
                  <td class="gvTitleStyleNumber">
                    <%= number_field "bmp_cc", "min_temp" + climate.month.to_s, :value => climate.min_temp  %>
                  </td>
                  <td class="gvTitleStyleNumber">
                    <%= number_field "bmp_cc", "precipitation" + climate.month.to_s, :value  => climate.precipitation %>
                  </td>
                </tr>
              <% end %>

            <% when 20 %>
				      <tr>
					    <td class="indent">
						    <%= t('general.select') %>
						    <%= check_box :bmp_ac, :id, :value => bmp.id %>
					    </td>
				      </tr>
				    <% when 21 %>
				      <tr>
					    <td class="indent">
						    <%= t('general.select') %>
						    <%= check_box :bmp_gc, :id, :value => bmp.id %>
					    </td>
				      </tr>
				    <% when 22 %>
				      <tr>
					    <td class="indent">
						    <%= t('general.select') %>
						    <%= check_box :bmp_sa, :id, :value => bmp.id %>
					    </td>
				      </tr>
				    <% when 23 %>
				      <tr>
					    <td class="indent">
						    <%= label :crop_id, t('operation.crop') %>
						    <% if I18n.locale.equal?(:en) %>
						      <%= collection_select :bmp_sdg, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id}%>
						    <% else %>
						      <%= collection_select :bmp_sdg, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
						    <% end %>
					    </td>
				      </tr>
				      <tr>
					    <td class="indent">
						    <%= t('general.area') + " " + t('bmp.acres') %>
						    <%= number_field :bmp_sdg, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
					    <td class="indent">
						    <%= t('bmp.width') + " " + t('bmp.ft') %>
						    <%= number_field :bmp_sdg, :width, :value => bmp.width, :class => "gvTitleStyleNumber", :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
				      <tr>
					    <td class="indent">
						    <%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
						    <%= number_field :bmp_sdg, :buffer_slope_upland, :value => bmp.buffer_slope_upland, :class => "gvTitleStyleNumber" %>
                </td>
				      </tr>
			    <% end %>
		    </tbody>
	  <% end %>
    </table>
  </div>
<% end %>
