<%= form_for(@bmps) do |f| %>
div class="page-header">
<h1><%= t('menu.bmps') %></h1>
  <%= link_to "Save BMPs Selected", new_bmp_path, :class => 'btn btn-primary' %>
    <table class="table table-striped">
  <thead>
  <tr class='gvHeaderStyle'>
    <th><%= t('general.name')%></th>
    <th><%= t('general.select')%></th>
  </thead>
</tr>

<% @bmpsublists.each do |bmpsublist| %>
      <tr>
        <td><h4><%= bmpsublist.name %></h4></td>
        <td><%= check_box_tag 'select' %></td>
      </tr>
      <tr >
        <% if @Bmps == nil then %>
          <%@bmp = Bmp.new %>
        <%else%>
          <% @bmp = @Bmps.where(:scenario_id => params[:id], :bmp_id => bmpsublist.id) %>
        <%end%>
        <%session[:depth] = @bmp %>
        <%if @bmp.blank? then %>
          <% @bmp = Bmps.new %>
        <%end%>
        <% case bmpsublist.id %>
          <% when 1 %> 
            <td><%= render 'auto_irrigation'%></td>
          <% when 2 %> 
            <td><%= render 'auto_irrigation'%></td>
          <% when 3 %> 
            <td><%= render 'tile_drain' %></td>
        <% end %>
      </tr>
<% end %>
</table>
<%end%>

