<%= form_for :bmp, :url => save_bmps_bmps_path, method: :post do %>
  <div class="page-header">
    <h1><%= t('menu.bmps') %></h1>
  </div>
	<%= submit_tag t("submit.save"), name: "button", class: "btn btn-primary" %>
    <table class="table table-striped">
      <thead>
        <tr class='gvHeaderStyle'>
          <th><%= t('general.name')%></th>
          <th><%= t('general.select')%></th>
        </tr>
      </thead>

      <% @bmps.each do |bmp| %>
		<tbody>
			<tr>
			  <td style="cursor: pointer" id=<%= "bmp#{bmp.bmpsublist_id}" %>><h4><%= Bmpsublist.find(bmp.bmpsublist_id).name %></h4></td>
			  <% if bmp.id != nil %>
				<td><%= check_box_tag "select[#{bmp.bmpsublist_id}]", true, value="1"%></td>
			<% else %>
				<td><%= check_box_tag "select[#{bmp.bmpsublist_id}]" %></td>
			<% end %>
			</tr>
		</tbody>
		<tbody id=<%="#{bmp.bmpsublist_id}"%>>
			<% case bmp.bmpsublist_id %>
				<% when 1 %>
				  <tr>
					<td class="indent">
						<%= label :irrigation_id, t('bmp.irrigation')  %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_ai, :irrigation_id, Irrigation.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id}%>
						<% else %>
						  <%= collection_select :bmp_ai, :irrigation_id, Irrigation.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= label :water_stress_factor, t('bmp.water_stress_factor') + " " + t('bmp.zero_to_one') %>
						<%=bmp.water_stress_factor%>
						<%= text_field :bmp_ai, :water_stress_factor, :value => bmp.water_stress_factor %>
					</td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "irrigation_efficiency" >
						<%= label :irrigation_efficiency, t('bmp.irrigation_efficiency') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_ai, :irrigation_efficiency, :value => bmp.irrigation_efficiency  %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "frequency" >
						<%= label :days, t('bmp.irrigation_frequency') + " " + t('bmp.days_range') %>
						<%= text_field :bmp_ai, :days, :value => bmp.days %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "maximum_single_application" >
						<%= label :days, t('bmp.maximum_single_application') + " " + t('bmp.zero_to_max') + " " + t('bmp.inches') %>
						<%= text_field :bmp_ai, :maximum_single_application, :value => bmp.maximum_single_application %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "reservoir_area" style="display: none;">
						<%= label :days, t('bmp.reservoir_area') + " " + t('bmp.zero_to_max') %>
						<%= text_field :bmp_ai, :area, :value => bmp.area%>
				    </td>
				  </tr>
				<% when 2 %>
				  <tr>
					<td class="indent">
						<%= label :irrigation_id, t('bmp.irrigation') %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_af, :irrigation_id, Irrigation.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id} %>
						<% else %>
						  <%= collection_select :bmp_af, :irrigation_id, Irrigation.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= label :water_stress_factor, t('bmp.water_stress_factor') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_af, :water_stress_factor, :value => bmp.water_stress_factor %>
					</td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "irrigation_efficiency" >
						<%= label :irrigation_efficiency, t('bmp.irrigation_efficiency') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_af, :irrigation_efficiency, :value => bmp.irrigation_efficiency %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "frequency" >
						<%= label :days, t('bmp.irrigation_frequency') + " " + t('bmp.days_range') %>
						<%= text_field :bmp_af, :days, :value => bmp.days %>
				    </td>
				  </tr>
				  <tr>
				    <td class="field indent" id = "maximum_single_application" >
						<%= label :days, t('bmp.maximum_single_application') + " " + t('bmp.zero_to_max') + " " + t('bmp.inches') %>
						<%= text_field :bmp_af, :maximum_single_application, :value => bmp.maximum_single_application %>
				    </td>
				  </tr>
				<% when 3 %>
				  <tr>
					<td class="field indent" id = "depth" >
						<%= label :depth, t('bmp.depth') + " " + t('bmp.zero_to_max') + " " + t('bmp.ft') %>
						<%= text_field :bmp_td, :depth, :value => bmp.depth %>
					</td>
				  </tr>
				<% when 4 %>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_ppnd, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.sides')  %>
						<%= text_field :bmp_ppnd, :sides, :value => bmp.sides %>
					</td>
				  </tr>
				<% when 5 %>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_ppds, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.sides')  %>
						<%= text_field :bmp_ppds, :sides, :value => bmp.sides %>
					</td>
				  </tr>
				<% when 6 %>
				  <tr>
					<td class="indent">
						<%= label :area, t('bmp.reservoir_area') + " " + t('bmp.zero_to_max') + " " + t('bmp.acres') %>
						<%= text_field :bmp_ppde, :area, :value => bmp.area %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_ppde, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.sides')  %>
						<%= text_field :bmp_ppde, :sides, :value => bmp.sides %>
					</td>
				  </tr>
				<% when 7 %>
				  <tr>
					<td class="indent">
						<%= label :area, t('bmp.reservoir_area') + " " + t('bmp.zero_to_max') + " " + t('bmp.acres') %>
						<%= text_field :bmp_pptw, :area, :value => bmp.area %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_pptw, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.sides')  %>
						<%= text_field :bmp_pptw, :sides, :value => bmp.sides %>
					</td>
				  </tr>
				<% when 8 %>
				  <tr>
					<td class="field indent" id = "area" >
						<%= label :depth, t('bmp.reservoir_area') + " " + t('bmp.zero_to_max') + " " + t('bmp.acres') %>
						<%= text_field :bmp_wl, :area, :value => bmp.area %>
					</td>
				  </tr>
				<% when 9 %>
				  <tr>
					<td class="field indent" id = "fraction_control_by_pond" >
						<%= label :control, t('bmp.area_control') + " " + t('bmp.zero_to_max')  %>
						<%= text_field :bmp_pnd, :irrigation_efficiency, :value => bmp.irrigation_efficiency %>
					</td>
				  </tr>
				<% when 10 %>
				  <tr>
					<td class="indent">
						<%= label :depth, t('bmp.animals') + " " + t('bmp.zero_to_max')  %>
						<%= text_field :bmp_sf, :number_of_animals, :value => bmp.number_of_animals %>
					</td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :days, t('bmp.stream_fencing_frequency') + " " + t('bmp.days_range') %>
						<%= text_field :bmp_sf, :days, :value => bmp.days %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :hours, t('bmp.hours') + " " + t('bmp.hours_range') %>
						<%= text_field :bmp_sf, :hours, :value => bmp.hours %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :animal_id, t('bmp.animals') %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :required => true} %>
						<% else %>
						  <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :required => true} %>
						<% end %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :dry_manure, t('bmp.dry_manure') + " " + t('bmp.zero_to_max') + " " + t('bmp.lbs') %>
						<%= text_field :bmp_sf, :dry_manure, :value => bmp.dry_manure %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :no3_n, t('bmp.no3_n') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_sf, :no3_n, :value => bmp.no3_n %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :po4_p, t('bmp.po4_p') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_sf, :po4_p, :value => bmp.po4_p %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :org_n, t('bmp.org_n') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_sf, :org_n, :value => bmp.org_n %>
				    </td>
				  </tr>
				  <tr>
				    <td class="indent">
						<%= label :org_p, t('bmp.org_p') + " " + t('bmp.zero_to_one') %>
						<%= text_field :bmp_sf, :org_p, :value => bmp.org_p %>
				    </td>
				  </tr>
				<% when 11 %>
				  <tr>
					<td class="indent">
						<%= t('general.select') %>
						<%= check_box :bmp_sbs, :id, :value => bmp.id %>
					</td>
				  </tr>
				<% when 12 %>
				  <tr>
					<td class="indent">
						<%= t('general.area') + " " + t('bmp.acres') %>
						<%= text_field :bmp_rf, :area, :value => bmp.area %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_rf, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('general.area') + " " + t('bmp.grass_field_portion') + " " + t('bmp.quarter_to_three_fourths') %>
						<%= text_field :bmp_rf, :grass_field_portion, :value => bmp.grass_field_portion %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
						<%= text_field :bmp_rf, :buffer_slope_upland, :value => bmp.buffer_slope_upland %>
					</td>
				  </tr>
				<% when 13 %>
				  <tr>
					<td class="indent">
						<%= label :crop_id, t('operation.crop') %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege')} %>
						<% else %>
						  <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege')} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('general.area') + " " + t('bmp.acres') %>
						<%= text_field :bmp_fs, :area, :value => bmp.area %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_fs, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
						<%= text_field :bmp_fs, :buffer_slope_upland, :value => bmp.buffer_slope_upland %>
					</td>
				  </tr>
				<% when 14 %>
				  <tr>
					<td class="indent">
						<%= label :crop_id, t('operation.crop') %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege')} %>
						<% else %>
						  <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege')} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_ww, :width, :value => bmp.width %>
					</td>
				  </tr>
				<% when 15 %>
				  <tr>
					<td class="indent">
						<%= label :crop_id, t('operation.crop') %>
						<% if I18n.locale.equal?(:en) %>
						  <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege')} %>
						<% else %>
						  <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege')} %>
						<% end %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.buffer_width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_cb, :width, :value => bmp.width %>
					</td>
				  </tr>
				  <tr>
					<td class="indent">
						<%= t('bmp.crop_width') + " " + t('bmp.ft') %>
						<%= text_field :bmp_cb, :crop_width, :value => bmp.crop_width %>
					</td>
				  </tr>
				<% when 16 %>
				  <tr>
					<td class="indent">
						<%= t('bmp.slope_reduction') + " " + t('bmp.percentage_range') %>
						<%= text_field :bmp_ll, :slope_reduction, :value => bmp.slope_reduction %>
					</td>
				  </tr>
				<% when 17 %>
				  <tr>
					<td class="indent">
						<%= t('general.select') %>
						<%= check_box :bmp_ts, :id, :value => bmp.id %>
					</td>
				  </tr>
				<% when 18 %>
				  <tr>
					<td class="indent">
						<%= t('general.select') %>
						<%= check_box :bmp_ac, :id, :value => bmp.id %>
					</td>
				  </tr>
				<% when 19 %>
				  <tr>
					<td class="indent">
						<%= t('general.select') %>
						<%= check_box :bmp_gc, :id, :value => bmp.id %>
					</td>
				  </tr>
				<% when 20 %>
				  <tr>
					<td class="indent">
						<%= t('general.select') %>
						<%= check_box :bmp_sa, :id, :value => bmp.id %>
					</td>
				  </tr>
			<% end %>
		</tbody>
	  <% end %>
    </table>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
      //hides all Bmps on page load
      for(i = 1; i < 21; i++) {
        $('#'+i).hide();
      }
      //show/hide bmps on click-'let' makes 'i' local to loop instead of global
      for(let i = 1; i < 21; i++) {
        if ($('#select_'+i).is(':checked')){
          $('#'+i).show();
        } else {
          $('#'+i).hide();
        }
        //gives all BMPs toggle(show/hide) functionality
        $("#bmp"+i).click(function(){
          $("#"+i).toggle();
        });
        //checking box will open/show BMP, unchecking hides & clears BMP info.
        $('#select_'+i).change(function () {
          if (!this.checked) { //unchecked
            $("tbody#"+i).hide();
            $("tbody#"+i + " input").each(function() {
              this.value="";
              $("tbody#"+i + " input").not(this).attr('checked', false);
              $("tbody#"+i + " select").val([]);
            });
          } else { //checkbox checked
            $("tbody#"+i).show();
            if (i == 1 && $('#select_2').is(':checked')) {
              if (prompt_user()) {
                $("#select_2").prop('checked', false);
                $("tbody#2 input").val("");
              } else { confirm_check(i); }
            } else if (i == 2 && $('#select_1').is(':checked')) {
                if (prompt_user()) {
                  $("#select_1").prop('checked', false);
                  $("tbody#1 input").val("");
                } else { confirm_check(i); }
            } else if (i > 3 && i < 8) {
                if (i == 4 && ($('#select_5').is(':checked') || $('#select_6').is(':checked') || $('#select_7').is(':checked'))) {
                  if (prompt_user()) {
                    $("#select_5, #select_6, #select_7").prop('checked', false);
                    $("tbody#5 input, tbody#6 input, tbody#7 input").val("");
                  } else { confirm_check(i); }
                } else if (i == 5 && ($('#select_4').is(':checked') || $('#select_6').is(':checked') || $('#select_7').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_4, #select_6, #select_7").prop('checked', false);
                      $("tbody#4 input, tbody#6 input, tbody#7 input").val("");
                    } else { confirm_check(i); }
                } else if (i == 6 && ($('#select_4').is(':checked') || $('#select_5').is(':checked') || $('#select_7').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_4, #select_5, #select_7").prop('checked', false);
                      $("tbody#4 input, tbody#5 input, tbody#7 input").val("");
                    } else { confirm_check(i); }
                } else if (i == 7 && ($('#select_4').is(':checked') || $('#select_5').is(':checked') || $('#select_6').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_4, #select_5, #select_6").prop('checked', false);
                      $("tbody#4 input, tbody#5 input, tbody#6 input").val("");
                    } else { confirm_check(i); }
                }
            } else if (i > 11 && i < 16) {
                if (i == 12 && ($('#select_13').is(':checked') || $('#select_14').is(':checked') || $('#select_15').is(':checked'))) {
                  if (prompt_user()) {
                    $("#select_13, #select_14, #select_15").prop('checked', false);
                    $("tbody#13 input, tbody#14 input, tbody#15 input").val("");
                  } else { confirm_check(i); }
                } else if (i == 13 && ($('#select_12').is(':checked') || $('#select_14').is(':checked') || $('#select_15').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_12, #select_14, #select_15").prop('checked', false);
                      $("tbody#12 input, tbody#14 input, tbody#15 input").val("");
                  } else { confirm_check(i); }
                } else if (i == 14 && ($('#select_12').is(':checked') || $('#select_13').is(':checked') || $('#select_15').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_12, #select_13, #select_15").prop('checked', false);
                      $("tbody#12 input, tbody#13 input, tbody#15 input").val("");
                    } else { confirm_check(i); }
                } else if (i == 15 && ($('#select_12').is(':checked') || $('#select_13').is(':checked') || $('#select_14').is(':checked'))) {
                    if (prompt_user()) {
                      $("#select_12, #select_13").prop('checked', false);
                      $("tbody#12 input, tbody#13 input, tbody#14 input").val("");
                    } else { confirm_check(i); }
                }
            }
          }
        });
      }
      function prompt_user() {
        var r = confirm("It appears you have a similar BMP already checked. Continuing will clear any input you may have had for the other BMP.");
        if (r == true) {
          return true;
        } else {
            return false;
        }
      }
      function confirm_check(i) {
        $('#select_'+i).prop('checked', false);
      }
      //hide reservoir field if irrigation != pads & pipes
      $('#bmp_ai_irrigation_id').change(function(){
        var tableValue = $('#bmp_ai_irrigation_id').val();
        if (tableValue == 8)
          $('#reservoir_area').show();
        else
          $('#reservoir_area').hide();
      });
    });
</script>
