<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script><head>
  <%#= javascript_include_tag "gen_validatorv4" %>
</head>
<%= form_for :bmp, :html => { :id => "bmpsForm" }, :url => save_bmps_project_field_scenario_bmps_path(@project, @field, @scenario), method: :post do %>
  <div class="page-header"><h1><%= t('menu.bmps') %></h1></div>
  <div id="flash_messages">
    <% flash.each do |key, value|
      if value.class == String # regular flash notices, alerts, etc. will be strings
        value = [value]
      end
      value.each do |value| %>
        <%= content_tag(:p, value, :class => "flash #{key}") unless value.empty? %>
      <% end %>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class='gvHeaderStyle'>
        <th><%= t('general.select')%></th>
        <th><%= t('general.name')%></th>
      </tr>
    </thead>
    <% manure_operations = @scenario.operations.where("activity_id = ? and type_id > ?",2,1).count %>
    <% county_id = County.find(@project.location.county_id).id %>

    <% @bmps.each do |bmp| %>
      <tbody>
        <% if !(@project.location.state_id == 25 || @project.location.state_id == 26) && bmp.bmpsublist_id == 4 %>
          <% next %>
        <% end %>
        <% if (manure_operations == 0 && bmp.bmpsublist_id == 18) || (bmp.bmpsublist_id == 18 && county_id != 2939) %>
          <% next %>
        <% end %>

        <% if bmp.bmpsublist_id != 2 && bmp.bmpsublist_id != 11 && bmp.bmpsublist_id != 5 && bmp.bmpsublist_id != 6 && bmp.bmpsublist_id != 7 && bmp.bmpsublist_id != 12 %>
        <% if bmp.bmpsublist_id == 10 && ENV["APP_VERSION"] == "modified" %>
          <% next %>
        <% end %>
          <tr>
            <% if bmp.bmpsublist_id <= 18 || bmp.bmpsublist_id > 20 %>
              <% if bmp.id != nil %>
                <td><%= check_box_tag "select[#{bmp.bmpsublist_id}]", true, value="1"%></td>
              <% else %>
                <td><%= check_box_tag "select[#{bmp.bmpsublist_id}]" %></td>
              <% end %>
              <% if I18n.locale.equal?(:en) %>
                <td style="cursor: pointer" id=<%= "bmp#{bmp.bmpsublist_id}" %> class="bmp"><h4><%= Bmpsublist.find(bmp.bmpsublist_id).name %></h4></td>
              <% else %>
                <td style="cursor: pointer" id=<%= "bmp#{bmp.bmpsublist_id}" %> class="bmp"><h4><%= Bmpsublist.find(bmp.bmpsublist_id).spanish_name %></h4></td>
              <% end %>
            <% end %>
          </tr>
        <%end %>
      </tbody>
      <tbody class="toggable borders" id=<%="#{bmp.bmpsublist_id}"%>>
        <% case bmp.bmpsublist_id %>
          <% when 1 %>
            <tr>
              <td class="indent" colspan="2">
                <% case bmp.depth%>
                  <% when 1 %>
                    <%= radio_button_tag :bmp_cb1, "1", true  %> <%= t('bmp.autoirrigation') %>
                    <%= radio_button_tag :bmp_cb1, "2"%> <%= t('bmp.autofertigation') %>
                  <% when 2 %>
                    <%= radio_button_tag :bmp_cb1, "1" %> <%= t('bmp.autoirrigation') %>
                    <%= radio_button_tag :bmp_cb1, "2", true %> <%= t('bmp.autofertigation') %>
                  <% else %>
                    <%= radio_button_tag :bmp_cb1, "1"%> <%= t('bmp.autoirrigation') %>
                    <%= radio_button_tag :bmp_cb1, "2" %> <%= t('bmp.autofertigation') %>
                <%end%>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
                <%= label :irrigation_id, t('bmp.irrigation')  %>
                <% if I18n.locale.equal?(:en) %>
                  <%= collection_select :bmp_ai, :irrigation_id, @irrigations, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id}%>
                <% else %>
                  <%= collection_select :bmp_ai, :irrigation_id, @irrigations, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :selected => bmp.irrigation_id} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="field indent2" id = "irrigation_efficiency" colspan="2" >
                <%= label :irrigation_efficiency, t('bmp.irrigation_efficiency') + " " + t('bmp.percentage_range') %>
                <%= number_field :bmp_ai, :irrigation_efficiency, :value => (1 - bmp.irrigation_efficiency) * 100, :step => 'any', :min => 0, :max => 100, :class => "gvTitleStyleNumber" %>
                <% if bmp.irrigation_id == 1 %> <% range = "70-80%" %>
                  <% elsif bmp.irrigation_id == 2 %> <% range = "50-70%" %>
                  <% elsif bmp.irrigation_id == 3 %> <% range = "80-95%" %>
                  <% elsif bmp.irrigation_id == 7 %> <% range = "80-95%" %>
                  <% elsif bmp.irrigation_id == 8 %> <% range = "50-70%" %>
                <% end %>
                <input type="text" readonly="" style="border:none;" id="bmp_ai_irrigation_efficiency_lable" value=""<%=range%>>
              </td>
            </tr>
            <tr>
              <td class="field indent2" id = "frequency" colspan="2" >
                <%= label :days, t('bmp.irrigation_frequency') %>
                <%= number_field :bmp_ai, :days, :value => bmp.days, :min => 0, :max => 365, :class => "gvTitleStyleNumber" %>
                <%= t('bmp.days_range') %>
                </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
                <%= label :water_stress_factor, t('bmp.water_stress_factor') + " " + t('bmp.zero_to_hundred') %>
                <%= number_field :bmp_ai, :water_stress_factor, :value => bmp.water_stress_factor * 100, :step => 'any', :min => 0, :max => 100, :class => "gvTitleStyleNumber" %>
                <strong><a href="#" id="trigger" style="color:blue;">(?)</a></strong>
              </td>
            </tr>
            <tr>
              <td class="field indent2" id = "maximum_single_application" colspan="2" >
               <%= label :days, t('bmp.maximum_single_application') + " (" + " 1-15 in.)"%>
               <%= number_field :bmp_ai, :maximum_single_application, :value => bmp.maximum_single_application, :step => 'any', :min => 1, :max => 15, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <!--<td class="field indent2" id = "reservoir_area" style="display: none;" colspan="2">
               <%= label :days, t('bmp.reservoir_area') + " (" + t('bmp.acres') + ")"%>
               <%= number_field :bmp_ai, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
              </td>-->
            </tr>
            <tr>
              <% if bmp.depth == 1 %>
                <td class="field indent2" id = "td_n_rate" colspan="2" style="display: none">
              <% else %>
                <td class="field indent2" id = "td_n_rate" colspan="2">
              <% end %>
               <%= label :days, t('operation.application_rate') + " (" + t('bmp.lbs') + "/" + t("bmp.acres") + ")"%>
               <%= number_field :bmp_ai, :n_rate, :value => bmp.dry_manure, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
               <%= label_tag :application_rate, t('bmp.application_rate_html'), :style => "color:blue" %>
              </td>
            </tr>
          <% when 3 %>
            <tr>
              <td class="field indent" id = "depth" colspan="2" >
                <%= label :depth, t('bmp.depth') + " (" + t('bmp.ft')  + ")"%>
                <%= number_field :bmp_td, :depth, :value => bmp.depth, :step => 'any', :class => "gvTitleStyleNumber", :min => 0 %>
              </td>
            </tr>
          <% when 4 %>
            <% if @project.location.state_id == 25 || @project.location.state_id == 26 %>
              <tr>
                <td class="indent" colspan="2">
                  <% case bmp.depth%>
                    <% when 4 %>
                      <%= radio_button_tag :bmp_cb2, "4", true %> <%= t('pdf.ppdi')%> </br>
                      <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                      <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                      <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %></br>
                    <% when 5 %>
                      <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                      <%= radio_button_tag :bmp_cb2, "5", true %> <%= t('pdf.ppds')%></br>
                      <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                      <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppds') %></br>
                    <% when 6 %>
                      <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                      <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                      <%= radio_button_tag :bmp_cb2, "6", true %> <%= t('pdf.ppde') %></br>
                      <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %></br>
                    <% when 7 %>
                      <%= radio_button_tag :bmp_cb2, "4" %> <%= t('pdf.ppdi') %></br>
                      <%= radio_button_tag :bmp_cb2, "5"%> <%= t('pdf.ppds') %></br>
                      <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                      <%= radio_button_tag :bmp_cb2, "7", true %> <%= t('pdf.ppti') %></br>
                    <% else %>
                      <%= radio_button_tag :bmp_cb2, "4"%> <%= t('pdf.ppdi') %></br>
                      <%= radio_button_tag :bmp_cb2, "5" %> <%= t('pdf.ppds') %></br>
                      <%= radio_button_tag :bmp_cb2, "6"%> <%= t('pdf.ppde') %></br>
                      <%= radio_button_tag :bmp_cb2, "7"%> <%= t('pdf.ppti') %></br>
                    <%end%>
                </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.pad') + " " + t('bmp.width') + " (" + t('bmp.ft')  + ")"%>
                <%= number_field :bmp_ppnd, :width, :value => bmp.width, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                  <%= t('bmp.sides')  %>
                  <%= number_field :bmp_ppnd, :sides, :value => bmp.sides, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <% if bmp.depth == 6 || bmp.depth == 7 %>
              <tr id = "tr_bmp_pp_area" >
                  <td class="indent" colspan="2">
                    <%= label :area, t('bmp.reservoir_area') + " (" + t('bmp.acres')  + ")"%>
                    <%= number_field :bmp_ppnd, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
                    </td>
              </tr>
            <% else %>
              <tr id = "tr_bmp_pp_area" style="display:none" >
                    <td class="indent" colspan="2">
                      <%= label :area, t('bmp.reservoir_area') + " (" + t('bmp.acres')  + ")"%>
                      <%= text_field :bmp_ppnd, :area, :value => bmp.area %>
                    </td>
                </tr>
              <% end %>
            <% end %>
          <% when 8 %>
            <tr>
              <td class="field indent" colspan="2" id = "area" colspan="2">
                <%= label :depth, t('pdf.area') + " (" + t('bmp.acres')  + ")"%>
                <%= number_field :bmp_wl, :area, :value => bmp.area, :step => 'any', :min => 0, :class => "gvTitleStyleNumber"%>
              </td>
            </tr>
            <tr >
              <td class="indent" colspan="2">
                <% if bmp.sides == 1 %>
                  <%= t('bmp.additional_land')%>  <input type="checkbox" id="bmp_wl_buffer_land", name="bmp_wl[buffer_land]", checked="" data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
                <% else %>
                  <%= t('bmp.additional_land').sub('buffer', 'wetland')%>  <input type="checkbox" id="bmp_wl_buffer_land", name="bmp_wl[buffer_land]", data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
                <% end %>
              </td>
            </tr>
          <% when 9 %>
            <tr>
              <td class="field indent" colspan="2" id = "fraction_control_by_pond" >
                <%= label_tag :control, t('bmp.area_control_html') + " " + t('bmp.zero_to_one')  %>
                <% if bmp.irrigation_efficiency  != nil %>
                  <% ie = bmp.irrigation_efficiency %>
                <% else %>
                  <% ie = 0 %>
                <% end %>
                <%= number_field :bmp_pnd, :irrigation_efficiency, :value => ie, :step => '0.01', :min => 0, :max => 1, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
          <!-- <% when 10 %>
            <tr>
              <td class="indent" colspan="2">
                <%= label :depth, t('operation.animals')  %>
                <%= number_field :bmp_sf, :number_of_animals, :value => bmp.number_of_animals, :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= label :days, t('bmp.stream_fencing_frequency') + " " + t('bmp.days_range') %>
                <%= number_field :bmp_sf, :days, :value => bmp.days, :style=>"width:50px", :min => 0, :max => 365, :class => "gvTitleStyleNumber" %>
                  <%= label :hours, t('bmp.hours') + " " + t('bmp.hours_range') %>
                <%= number_field :bmp_sf, :hours, :value => bmp.hours, :style=>"width:50px", :step => '0.1', :min => 0, :max => 24, :class => "gvTitleStyleNumber" %>
                </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= label :animal_id, t('bmp.animals') %>
                <% if I18n.locale.equal?(:en) %>
                  <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
                <% else %>
                  <%= collection_select :bmp_sf, :animal_id, Fertilizer.where(:animal => true, :status => true), :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
              <%= label :dry_manure, t('bmp.dry_manure') + " (" + t('bmp.lbs')  + ")"%>
              <%= number_field :bmp_sf, :dry_manure, :value => bmp.dry_manure, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
              <%= label :no3_n, t('bmp.no3_n_html') + " " + t('bmp.zero_to_one') %>
              <%= number_field :bmp_sf, :no3_n, :value => bmp.no3_n, :step => '0.001', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
              <%= label :po4_p, t('bmp.po4_p_html') + " " + t('bmp.zero_to_one') %>
              <%= number_field :bmp_sf, :po4_p, :value => bmp.po4_p, :step => '0.001', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
              <%= label :org_n, t('bmp.org_n_html') + " " + t('bmp.zero_to_one') %>
              <%= number_field :bmp_sf, :org_n, :value => bmp.org_n, :step => '0.001', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
              <%= label :org_p, t('bmp.org_p_html') + " " + t('bmp.zero_to_one') %>
              <%= number_field :bmp_sf, :org_p, :value => bmp.org_p, :step => '0.001', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr> -->
          <% when 13 %>
            <tr>
              <td class="indent" colspan="2">
                <% case bmp.depth%>
                  <% when 13 %>
                    <%= radio_button_tag :bmp_cb3, "13", true  %> <%= t('pdf.filter_strip') %>
                    <%= radio_button_tag :bmp_cb3, "12"%> <%= t('pdf.riparian_forest') %>
                  <% when 12 %>
                    <%= radio_button_tag :bmp_cb3, "13" %> <%= t('pdf.filter_strip') %>
                    <%= radio_button_tag :bmp_cb3, "12", true %> <%= t('pdf.riparian_forest') %>
                  <% else %>
                    <%= radio_button_tag :bmp_cb3, "13"%> <%= t('pdf.filter_strip') %>
                    <%= radio_button_tag :bmp_cb3, "12" %> <%= t('pdf.riparian_forest') %>
                <%end%>
              </td>
            </tr>
            <tr id = "tr_fs_vegetation" <%= "style=display:none" if bmp.depth == 12%>>
              <td class="indent2" colspan="2">
                <%= label :crop_id, t('operation.crop') %>
                <% if I18n.locale.equal?(:en) %>
                    <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id}%>
                <% else %>
                    <%= collection_select :bmp_fs, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
                <%= t('pdf.area') + " (" + t('bmp.acres') + ")"%>
                <%= number_field :bmp_fs, :area, :value => bmp.area, :step => 'any', :class => "gvTitleStyleNumber", :min => "0" %>
                <%= label :area, " (" + t('general.optional') + ")", :style => "color:blue" %>
                </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
                <%= t('pdf.filter_strip').sub('Buffer', 'Strip') + " " + t('bmp.width') + " (" + t('bmp.ft') + ")" %>
                <%= number_field :bmp_fs, :width, :value => bmp.width, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr id = "tr_grass_field_portion" <%= "style=display:none" if bmp.depth == 13%>>
              <td class="indent2" colspan="2">
                <%= t('pdf.riparian_forest').sub('Buffer', 'Strip') + " " + t('bmp.width') + " (" + t('bmp.ft') + ")" %>
                <%= number_field :bmp_fs, :grass_field_portion, :value => bmp.grass_field_portion, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr style='display:none'>
              <td class="indent2" colspan="2">
                <%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
                <%= number_field :bmp_fs, :buffer_slope_upland, :value => bmp.buffer_slope_upland, :step => '0.01', :min => 0.25, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent2" colspan="2">
                <%= t('bmp.ffpq') + " buffer" + t('bmp.zero_to_one')%>
                <%= number_field :bmp_fs, :floodplain_flow, :value => bmp.slope_reduction, :step => '0.01', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr >
              <td class="indent2" colspan="2">
                <%#= t('bmp.additional_land') %>
                <% if bmp.sides == 1 %>
                  <%= t('bmp.additional_land')%>  <input type="checkbox" id="bmp_fs_buffer_land", name="bmp_fs[buffer_land]", checked data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
                <% else %>
                  <%= t('bmp.additional_land')%>  <input type="checkbox" id="bmp_fs_buffer_land", name="bmp_fs[buffer_land]", data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
                <% end %>
                <%#= check_box :bmp_fs, :buffer_land, {checked: checked} %>
              </td>
            </tr>
          <% when 14 %>
            <tr>
              <td class="indent" colspan="2">
                <%= label :crop_id, t('operation.crop') %>
                <% if I18n.locale.equal?(:en) %>
                  <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% else %>
                  <%= collection_select :bmp_ww, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                    <% end %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.width') + " (" + t('bmp.ft') + ")" %>
                <%= number_field :bmp_ww, :width, :value => bmp.width, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.ffpq') + " " + t('pdf.waterway') + t('bmp.zero_to_one') %>
                <%= number_field :bmp_ww, :floodplain_flow, :value => bmp.slope_reduction, :step => '0.01', :min => 0.00, :max => 1.00, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
          <% when 15 %>
            <tr>
              <td class="indent" colspan="2">
                <%= label :crop_id, t('operation.crop') %>
                <% if I18n.locale.equal?(:en) %>
                  <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                <% else %>
                  <%= collection_select :bmp_cb, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.buffer_width') + " (" + t('bmp.ft') + ")" %>
                <%= number_field :bmp_cb, :width, :value => bmp.width, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.crop_width') + " (" + t('bmp.ft') + ")"%>
                <%= number_field :bmp_cb, :crop_width, :value => bmp.crop_width, :step => 'any', :min => 0, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
          <% when 16 %>
            <tr>
            <td class="indent" colspan="2">
              <%= t('bmp.slope_reduction') + " " + t('bmp.percentage_range') %>
              <%= number_field :bmp_ll, :slope_reduction, :value => bmp.slope_reduction, :step => 'any', :min => 0, :max => 100, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
          <% when 17 %>
            <tr>
              <td class="indent" colspan="2">
                <%= t('general.no_additional_needed') %>
              </td>
            </tr>
          <% when 18 %>
            <% if manure_operations > 0 && county_id == 2939%>  <!-- only for Yakima, WA county -->
            <!-- <tr>
              <td class="indent" colspan="2">
               <%= label :manure_control_id, t('bmp.manure_control') + " (" + t('pdf.percentage') + " " + t('general.change') + ")"%>
               <% if I18n.locale.equal?(:en) %>
                <%= collection_select :bmp_mc, :animal_id, ManureControl.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
               <% else %>
                <%= collection_select :bmp_mc, :animal_id, ManureControl.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one'), :required => true, :selected => bmp.animal_id} %>
               <% end %>
              </td>
            </tr> -->
            <tr>
              <td class="indent" colspan="2">
               <%#= label t('operation.no3_n_html') %>
               <label for="no3_n"><%=t('operation.total_n')%></label>
               <%= number_field :bmp_mc, :no3_n, :value => bmp.no3_n, :step => 'any', :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
               <label for="po4_p"><%=t('operation.total_p')%></label>
               <%= number_field :bmp_mc, :po4_p, :value => bmp.po4_p, :step => 'any', :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <!-- <tr>
              <td class="indent" colspan="2">
               <label for="org_n"><%=t('operation.org_n_html')%></label>
               <%= number_field :bmp_mc, :org_n, :value => bmp.org_n, :step => 'any', :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
               <label for="org_p"><%=t('operation.org_p_html')%></label>
                <%= number_field :bmp_mc, :org_p, :value => bmp.org_p, :step => 'any', :class => "gvTitleStyleNumber" %>
              </td>
            </tr> -->
            <% end %>

          <% when 22 %>
            <tr>
              <td class="indent" colspan="2">
                <div>
                  <table>
                    <tr><td colspan="4" class="gvTotalText"><%= t('bmp.weather_change')%></tr>
                    <tr><th><%= t('bmp.month')%></th>
                        <th><%= t('bmp.max_temp')%></th>
                        <th><%= t('bmp.min_temp')%></th>
                        <th><%= t('bmp.precipitation')%></th>
                    </tr>
                    <% @climates.each do |climate| %>
                      <tr class="indent" colspan="4">
                        <td><%= listMonths.detect { |val, index| index == climate.month}[0] %></td>
                        <td><%= number_field "bmp_cc", "max_temp" + climate.month.to_s, :value  => climate.max_temp, :class => "numbers" %></td>
                        <td><%= number_field "bmp_cc", "min_temp" + climate.month.to_s, :value => climate.min_temp, :class => "numbers"  %></td>
                        <td><%= number_field "bmp_cc", "precipitation" + climate.month.to_s, :value  => climate.precipitation, :class => "numbers" %></td>
                      </tr>
                    <% end %>
                </table>
                </div>
              </td>
            </tr>
          <% when 23 %>
            <tr>
            <td class="indent" colspan="2">
              <%= t('general.select') %>
              <%= check_box :bmp_ac, :id, :value => bmp.id %>
            </td>
            </tr>
          <% when 24 %>
            <tr>
              <td class="indent" colspan="2">
                <%= t('general.select') %>
                <%= check_box :bmp_gc, :id, :value => bmp.id %>
              </td>
            </tr>
          <% when 25 %>
            <tr>
              <td class="indent" colspan="2">
                <%= t('general.select') %>
                <%= check_box :bmp_sa, :id, :value => bmp.id %>
              </td>
            </tr>
          <% when 26 %>
            <tr>
              <td class="indent" colspan="2">
                <%= label :crop_id, t('operation.crop') %>
                <% if I18n.locale.equal?(:en) %>
                  <%= collection_select :bmp_sdg, :crop_id, Crop.where(:type1 => "FS"), :id, :name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id}%>
                <% else %>
                  <%= collection_select :bmp_sdg, :crop_id, Crop.where(:type1 => "FS"), :id, :spanish_name, {:prompt => t('bmp.select_vege'), :selected => bmp.crop_id} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('pdf.area') + " " + t('bmp.acres') %>
                <%= number_field :bmp_sdg, :area, :value => bmp.area, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.width') + " " + t('bmp.ft') %>
                <%= number_field :bmp_sdg, :width, :value => bmp.width, :class => "gvTitleStyleNumber", :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
            <tr>
              <td class="indent" colspan="2">
                <%= t('bmp.slope_ratio_label') + " " + t('bmp.quarter_to_one') %>
                <%= number_field :bmp_sdg, :buffer_slope_upland, :value => bmp.buffer_slope_upland, :class => "gvTitleStyleNumber" %>
              </td>
            </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <%= link_to t('general.back'), project_field_scenario_operations_path(@project.id, @field.id, @scenario.id), :class => "btn btn-primary" %>
  <%= submit_tag t("submit.savecontinue"), name: "button", class: "btn btn-primary" %>
<% end %>
<div id="pop-up">
  <h6>
    This factor is used to trigger the automatic irrigation and fertigation based on the plant water stress level.
    For example, the irrigation application amount would be much higher at 90% stress level as compared to that of
    20%. The value should be grater than 0.
  </h6>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    var trident = ua.indexOf("Trident/");
    var edge = ua.indexOf("Edge/");
    //Hide all BMPs on page load
    $(".toggable").hide();
    //declare validation variables for each BMP
    var validateBmpAi = new Validator("bmpsForm");
    var validateBmpTd = new Validator("bmpsForm");
    var validateBmpWl = new Validator("bmpsForm");
    var validateBmpPnd = new Validator("bmpsForm");
    var validateBmpSf = new Validator("bmpsForm");
    var validateBmpRf = new Validator("bmpsForm");
    var validateBmpFs = new Validator("bmpsForm");
    var validateBmpWw = new Validator("bmpsForm");
    var validateBmpCb = new Validator("bmpsForm");
    var validateBmpLl = new Validator("bmpsForm");
    var validateBmpTs = new Validator("bmpsForm");
    var validateBmpCc = new Validator("bmpsForm");
    //BMP Toggle (show/hide)
    $('[class^=bmp]').click(function() {
      //extracts id # from id of element clicked (e.g. bmp3 = 3)
    var elementIDNum = (this.id).replace(/[^0-9]+/g, "");
    var clicked = $('#'+elementIDNum);
    clicked.each(function(i, elem) {
      $(".toggable").not(elem).hide(); //shows one BMP at a time
      //toggle functionality workaround compatible with IE
      $(elem).toggle($(elem).css('display') == 'none');
      });
    });
    //Checking box will show BMP, unchecking hides & clears BMP input
    $('[id^=select').change(function() {
      //extracts id # from id of element clicked (e.g. checkbox_3 = 3)
      var elementIDNum = (this.id).replace(/[^0-9]+/g, "");
        var check = $("#"+elementIDNum);
        if (!this.checked) { //unchecked
            check.hide();
            $("tbody#" + elementIDNum + " input").each(function() {
                this.value="";
                $("tbody#" + elementIDNum + " input").not(this).attr('checked', false);
                $("tbody#" + elementIDNum + " select").val([]);
              });
            //unchecked - remove validations & hide inputs
            //minor bug if user unchecks while other BMPs are checked (clears ALL validations)
            if (elementIDNum == 1) {
              validateBmpAi.clearAllValidations();
            } else if (elementIDNum == 3) {
                validateBmpTd.clearAllValidations();
            } else if (elementIDNum == 8) {
                validateBmpWl.clearAllValidations();
            } else if (elementIDNum == 9) {
                validateBmpPnd.clearAllValidations();
            } else if (elementIDNum == 10) {
                validateBmpSf.clearAllValidations();
            } else if (elementIDNum == 13) {
                validateBmpFs.clearAllValidations();
            } else if (elementIDNum == 14) {
                validateBmpWw.clearAllValidations();
            } else if (elementIDNum == 15) {
                validateBmpCb.clearAllValidations();
            } else if (elementIDNum == 16) {
                validateBmpLl.clearAllValidations();
            } else if (elementIDNum == 17) {
                validateBmpTs.clearAllValidations();
            } else if (elementIDNum == 19) {
                validateBmpCc.clearAllValidations();
            }
          } else { //checked - add validations & reveal inputs
            check.show();
            if (elementIDNum == 1) {
              validationsBmpAi();
            } else if (elementIDNum == 3) {
                validationsBmpTd();
            } else if (elementIDNum == 8) {
                validationsBmpWl();
            } else if (elementIDNum == 9) {
                validationsBmpPnd();
            } else if (elementIDNum == 10) {
                validationsBmpSf();
            } else if (elementIDNum == 13) {
                validationsBmpFs();
            } else if (elementIDNum == 14) {
                validationsBmpWw();
            } else if (elementIDNum == 15) {
                validationsBmpCb();
            } else if (elementIDNum == 16) {
                validationsBmpLl();
            } else if (elementIDNum == 17) {
                validationsBmpTs();
            } /*else if (elementIDNum == 19) {
                validationsBmpCc();
            }*/
          } if (elementIDNum > 12 && elementIDNum < 16) {
              if (elementIDNum == 13 && ($('#select_12').is(':checked') || $('#select_14').is(':checked') || $('#select_15').is(':checked'))) {
                if (prompt_user()) {
                  validationsBmpFs(0);
                } else { confirm_check(elementIDNum); }
              } else if (elementIDNum == 14 && ($('#select_12').is(':checked') || $('#select_13').is(':checked') || $('#select_15').is(':checked'))) {
                if (prompt_user()) {
                  validationsBmpWw(0);
                } else { confirm_check(elementIDNum); }
              } else if (elementIDNum == 15 && ($('#select_12').is(':checked') || $('#select_13').is(':checked') || $('#select_14').is(':checked'))) {
                if (prompt_user()) {
                  validationsBmpCb(0);
                } else { confirm_check(elementIDNum); }
              }
          }
    });
  function prompt_user() {
    var r = confirm("It appears you have a similar BMP already checked. Continuing will clear any input you may have had for the other BMP.");
    if (r == true) {
      return true;
    } else {
      return false;
    }
  }
  function confirm_check(i) {
    $('#select_'+i).prop('checked', false);
    $('#'+i).hide();
  }
  //hide reservoir field if irrigation != pads & pipes
  $('#bmp_ai_irrigation_id').change(function(){
    var tableValue = $('#bmp_ai_irrigation_id').val();
    if (tableValue == 8)
      $('#reservoir_area').show();
    else
      $('#reservoir_area').hide();
  });
  function validationsBmpAi(i) {
    var ai_inputs = $('[name^=bmp_ai]').valueOf();
    $('#bmp_ai_irrigation_id').change(function(){
      if ($('#bmp_ai_irrigation_id').val() == 8) {
        validateBmpAi.addValidation(ai_inputs[5].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.auto.header") %>');
      }
    });
    for(n = 0; n < ai_inputs.length - 1; n++) {
      validateBmpAi.addValidation(ai_inputs[n].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.auto.header") %>');
    }
    validateBmpAi.addValidation("bmp_cb1", "selone", "A selection is required.");
    validateBmpAi.addValidation(ai_inputs[1].name, "gt=0", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.irrigation_frequency") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpAi.addValidation(ai_inputs[1].name, "lte=365", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.irrigation_frequency") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 365");
    validateBmpAi.addValidation(ai_inputs[2].name, "gt=0", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.water_stress_factor") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpAi.addValidation(ai_inputs[2].name, "lte=100", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.water_stress_factor") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 100");
    validateBmpAi.addValidation(ai_inputs[3].name, "gt=0", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.irrigation_efficiency") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpAi.addValidation(ai_inputs[3].name, "lte=100", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.irrigation_efficiency") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 100");
    validateBmpAi.addValidation(ai_inputs[4].name, "gt=0", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.max_single_application") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpAi.addValidation(ai_inputs[4].name, "lte=99999.00", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("pdf.max_single_application") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 99999.00");
    validateBmpAi.addValidation(ai_inputs[6].name, "gte=0", '<%= t("managepage.bmpdesc.auto.header") %>' + " " + '<%= t("operation.application_rate") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
  }
  function validationsBmpTd() {
    var td_inputs = $('[name^=bmp_td]').valueOf();
    validateBmpTd.addValidation(td_inputs[0].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.drainsystem.tile.header") %>');
    validateBmpTd.addValidation(td_inputs[0].name, "gt=0", '<%= t("managepage.bmpdesc.drainsystem.tile.header") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpTd.addValidation(td_inputs[0].name, "lte=99999.00", '<%= t("managepage.bmpdesc.drainsystem.tile.header") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 99999.00");
  }
  function validationsBmpWl() {
    var wl_inputs = $('[name^=bmp_wl]').valueOf();
    validateBmpWl.addValidation(wl_inputs[0].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.wetponds.wetlands.header") %>');
    validateBmpWl.addValidation(wl_inputs[0].name, "gt=0", '<%= t("managepage.bmpdesc.wetponds.wetlands.header") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpWl.addValidation(wl_inputs[0].name, "lte=99999.00", '<%= t("managepage.bmpdesc.wetponds.wetlands.header") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 99999.00");
  }
  function validationsBmpPnd() {
    var pnd_inputs = $('[name^=bmp_pnd]').valueOf();
    validateBmpPnd.addValidation(pnd_inputs[0].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.wetponds.ponds.header") %>');
    validateBmpPnd.addValidation(pnd_inputs[0].name, "gt=0", '<%= t("managepage.bmpdesc.wetponds.ponds.header") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpPnd.addValidation(pnd_inputs[0].name, "lte=100", '<%= t("managepage.bmpdesc.wetponds.ponds.header") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 1.00");
  }
  function validationsBmpSf() {
    var sf_inputs = $('[name^=bmp_sf]').valueOf();
    if (promptMsg("This BMP requires a Filter Strip. Continuing will clear any data you may have entered for any BMP belonging to the same group as Filter Strip.")) {//check with Oscar for best prompt msg for user
      validationsBmpFs(0);
      $('#select_13').prop('checked', true);
      $('#13').show();
      $('input[type=radio][id=bmp_cb3_13]').prop("checked", true);
      $("#tr_grass_field_portion").hide();
      for(n = 0; n < sf_inputs.length; n++) {
                validateBmpSf.addValidation(sf_inputs[n].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.stream.fencing.header") %>');
      }
      validateBmpSf.addValidation(sf_inputs[0].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.animals") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[0].name, "lte=99999.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.animals") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 99999.00");
      validateBmpSf.addValidation(sf_inputs[1].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.stream_fencing_frequency") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[1].name, "lte=365", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.stream_fencing_frequency") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 365");
      validateBmpSf.addValidation(sf_inputs[2].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.hours") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[2].name, "lte=24.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.hours") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 24");
      validateBmpSf.addValidation(sf_inputs[4].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.dry_manure") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[4].name, "lte=99999.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.dry_manure") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 99999.00");
      validateBmpSf.addValidation(sf_inputs[5].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.no3_n") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[5].name, "lte=1.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.no3_n") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 1.0");
      validateBmpSf.addValidation(sf_inputs[6].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.po4_p") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[6].name, "lte=1.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.po4_p") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 1.0");
      validateBmpSf.addValidation(sf_inputs[7].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.org_n") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[7].name, "lte=1.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.org_n") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 1.0");
      validateBmpSf.addValidation(sf_inputs[8].name, "gt=0", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.org_p") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpSf.addValidation(sf_inputs[8].name, "lte=1.00", '<%= t("managepage.bmpdesc.stream.fencing.header") %>' + " " + '<%= t("bmp.org_p") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 1.0");
    } else {
      confirm_check(10);
    }
  }
  function validationsBmpFs(i) {
    var fs_inputs = $('[name^=bmp_fs]').valueOf();
    if (i == 0) {
      validateBmpCb.clearAllValidations();
      validateBmpWw.clearAllValidations();
      $("#select_14, #select_15").prop('checked', false);
      $("tbody#14 input, tbody#15 input").val("");
      $("tbody#14 select, tbody#15 select").val([]);
    }
    validateBmpFs.addValidation("bmp_cb3", "selone", "A selection is required. Grass Buffer or Forest Buffer?");
    $('input[type=radio][name=bmp_cb3]').change(function() {
      validateBmpFs.clearAllValidations();
      if (this.value == '12') {
        for(n = 0; n < fs_inputs.length-3; n++){
          if (n != 0 && n != 1) {
            console.log("validates: " + n + ": " + fs_inputs[n].name);
            validateBmpFs.addValidation(fs_inputs[n].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpnav.mutualbmp.item4") %>');
          }
        }
        //validateBmpFs.addValidation(fs_inputs[3].name, "lte=0.75", '<%= t("managepage.bmpdesc.stream.filterstrip.header") %>' + ' <%= t("bmp.grass_field_portion") %>: ' + '<%= t("validate.input_lessequal") %>' + " 0.75");
        //validateBmpFs.addValidation(fs_inputs[3].name, "gte=0.25", '<%= t("managepage.bmpdesc.stream.filterstrip.header") %>' + ' <%= t("bmp.grass_field_portion") %>: ' + '<%= t("validate.input_greaterequal") %>' + " 0.25");
      }
      else if (this.value == '13') {
        for(n = 0; n < fs_inputs.length-1; n++){
          if (n != 1 && n != 3 && n != 4) {
            console.log("validates: " + n + ": " + fs_inputs[n].name);
            validateBmpFs.addValidation(fs_inputs[n].name, "req", '<%= t("validate.required") %> ' + '<%= t("managepage.bmpnav.mutualbmp.item4") %>');
          }
        }
      }
    });
    validateBmpFs.addValidation(fs_inputs[1].name, "gt=0", '<%= t("managepage.bmpnav.mutualbmp.item4") %>' + ' <%= t("pdf.area")%> ' + '<%= t("bmp.acres") %>: ' + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpFs.addValidation(fs_inputs[1].name, "lte=100000", '<%= t("managepage.bmpnav.mutualbmp.item4") %>' + ' <%= t("pdf.area")%> ' + '<%= t("bmp.acres") %>: ' + '<%= t("validate.input_lessequal") %>' + " 100000");
    validateBmpFs.addValidation(fs_inputs[2].name, "gt=0", '<%= t("managepage.bmpnav.mutualbmp.item4") %>' + ' <%= t("bmp.width") %>: ' + '<%= t("validate.input_greater") %>' + " 0");
  }
  function validationsBmpWw(i) {
    var ww_inputs = $('[name^=bmp_ww]').valueOf();
    if (i == 0) {
      validateBmpCb.clearAllValidations();
      validateBmpFs.clearAllValidations();
      validateBmpRf.clearAllValidations();
      $("#select_10, #select_13, #select_15").prop('checked', false);
      $("tbody#10 input, tbody#13 input, tbody#15 input").val("");
      $("tbody#10 select, tbody#13 select, tbody#15 select").val([]);
    }
    for(n = 0; n < ww_inputs.length; n++){
      validateBmpWw.addValidation(ww_inputs[n].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.stream.waterway.header") %>');
    }
    validateBmpWw.addValidation(ww_inputs[1].name, "gt=0", '<%= t("managepage.bmpdesc.stream.waterway.header") %>' + " " + '<%= t("bmp.width") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
  }
  function validationsBmpCb(i) {
    var cb_inputs = $('[name^=bmp_cb]').valueOf();
    if (i == 0) {
      validateBmpRf.clearAllValidations();
      validateBmpFs.clearAllValidations();
      validateBmpWw.clearAllValidations();
      $("#select_10, #select_13, #select_14").prop('checked', false);
      $("tbody#10 input, tbody#13 input, tbody#14 input").val("");
      $("tbody#13 select, tbody#14 select").val([]);
    }
    for(n = 0; n < cb_inputs.length; n++){
      validateBmpCb.addValidation(cb_inputs[n].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("managepage.bmpdesc.contour.header") %>');
    }
    validateBmpCb.addValidation(cb_inputs[0].name, "gt=0", '<%= t("managepage.bmpdesc.contour.header") %>' + " " + '<%= t("bmp.buffer_width") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpCb.addValidation(cb_inputs[1].name, "gt=0", '<%= t("managepage.bmpdesc.contour.header") %>' + " " + '<%= t("bmp.crop_width") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
  }
  function validationsBmpLl() {
    var ll_inputs = $('[name^=bmp_ll]').valueOf();
    validateBmpLl.addValidation(ll_inputs[0].name, "req", '<%= t("validate.required") %>' + " " + '<%= t("pdf.land_leveling") %>');
    validateBmpLl.addValidation(ll_inputs[0].name, "gt=0", '<%= t("pdf.land_leveling") %>' + " " + '<%= t("bmp.slope_reduction") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
    validateBmpLl.addValidation(ll_inputs[0].name, "lte=100.00", '<%= t("pdf.land_leveling") %>' + " " + '<%= t("bmp.slope_reduction") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 100.00");
  }
  function validationsBmpTs() {
    var ts_inputs = $('[name^=bmp_ts]').valueOf();
    validateBmpTs.addValidation(ts_inputs[0].name, "selone", '<%= t("managepage.bmpdesc.landgrading.terrace.header")%>' + ": " + '<%= t("validate.checkbox") %>');
  }
  function validationsBmpCc() {
    var cc_inputs = $('[name^=bmp_cc]').valueOf();
    for (n = 0; n < cc_inputs.length; n++) {
      validateBmpCc.addValidation(cc_inputs[n].name, "gt=0", '<%= t("pdf.climate") %>' + ": " + '<%= t("validate.input_greater") %>' + " 0");
      validateBmpCc.addValidation(cc_inputs[n].name, "lte=100", '<%= t("pdf.climate") %>' + ": " + '<%= t("validate.input_lessequal") %>' + " 100");
    }
  }
  function promptMsg(msg) {
    var r = confirm(msg);
    if (r == true) {
      return true;
      } else {
        return false;
      }
    }
  });
</script>

<script>
  $(function() {
    var moveLeft = 300;
    var moveDown = -220;

    $('a#trigger').hover(function(e) {
      $('div#pop-up').show();
      }, function() {
      $('div#pop-up').hide();
    });

    $('a#trigger').mousemove(function(e) {
      $("div#pop-up").css('top', e.pageY + moveDown).css('left', moveLeft);
    });
  });
</script>
