<% if flash[:notice] %>
	<div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="page-header"><h1><small><%= @field.field_name %></small><br><%= t('general.listing') + " " + t('menu.bmps') %></h1></div>

<%= link_to t('general.new') + " " + t('operation.bmp'), new_bmp_path, :class => 'btn btn-primary' %>
<%= link_to t('general.continue'), list_scenario_path(params[:field_id]), :class => 'btn btn-success' %>
<br><br>
<div class="table-responsive">
	<div class="panel panel-default">
		<table class='table table-striped'>
			<thead>
			  <tr class='gvHeaderStyle'>
			    <th class="gvCellStyleTitle"><%= t('operation.bmp') %></th>
			    <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
			  </tr>
			</thead>
			<tbody>
			  <% i=1 %>
			  <% @bmps.each do |bmp| %>
			    <% if (i % 2  == 0) %>
			      <tr class="gvRowStyleEven">
			        <% if I18n.locale.eql?(:en) %>
			            <td class="gvCellStyleText"><%= Bmpsublist.find(bmp.bmpsublist_id).name %></td>
			        <% else %>
			            <td class="gvCellStyleText"><%= Bmpsublist.find(bmp.bmpsublist_id).spanish_name %></td>
			        <% end %>
			        <td class="gvCellStyleAction"><%= link_to image_tag("view.png"), bmp %>
			          <%= link_to image_tag("edit.png"), edit_bmp_path(bmp) %>
			        <%= link_to image_tag("delete.png"), bmp, method: :delete, data: { confirm: t('general.confirm') } %></td>
			      </tr>
			    <% else %>
			      <tr class="gvRowStyleOdd">
			        <% if I18n.locale.eql?(:en) %>
			          <td class="gvCellStyleText"><%= Bmpsublist.find(bmp.bmpsublist_id).name %></td>
			        <% else %>
			          <td class="gvCellStyleText"><%= Bmpsublist.find(bmp.bmpsublist_id).spanish_name %></td>
			        <% end %>
			        <td class="gvCellStyleAction"><%= link_to image_tag("view.png"), bmp %>
			          <%= link_to image_tag("edit.png"), edit_bmp_path(bmp) %>
			        <%= link_to image_tag("delete.png"), bmp, method: :delete, data: { confirm: t('general.confirm') } %></td>
			      </tr>
			    <% end %>
			    <% i = i + 1 %>
				<% end %>
			<tbody>
		</table>
	</div>
</div>

<br>
