<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>
<div>
  <b>Best Management Practice:</b>
  <%= Bmpsublist.find(@bmp.bmpsublist_id).name %>
<<<<<<< HEAD
</p>

<%= link_to t('general.edit'), edit_bmp_path(@bmp) %>
<%= link_to t('general.back'), scenario_bmps_scenario_path(session[:scenario_id]) %>
=======
</div>
</br>
<div class="actions">
	<%= link_to t('general.back'), scenario_bmps_scenario_path(session[:scenario_id]) %>
</div>
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> oscar
>>>>>>> a993709fc9ee84259d45cb23998065c0ac0df986
