<h1>Listing descriptions</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Detail</th>
    <th>Description</th>
    <th>Spanish Description</th>
    <th>Unit</th>
    <th>Position</th>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @descriptions.each do |description| %>
  <tr>
    <td><%= description.id %></td>
    <td><%= description.detail %></td>
    <td><%= description.description %></td>
    <td><%= description.spanish_description %></td>
    <td><%= description.unit %></td>
    <td><%= description.position %></td>
    <td><%= description.period %></td>
    <td><%= link_to t('general.show'), description %></td>
    <td><%= link_to t('general.edit'), edit_description_path(description) %></td>
    <td><%= link_to 'Destroy', description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Description', new_description_path %>
