<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>
<p>
  <b>Detail:</b>
  <%= @description.detail %>
</p>

<p>
  <b>Description:</b>
  <%= @description.description %>
</p>

<p>
  <b>Unit:</b>
  <%= @description.unit %>
</p>

<p>
  <b>Position:</b>
  <%= @description.position %>
</p>


<%= link_to t('general.edit'), edit_description_path(@description) %> |
<%= link_to t('general.back'), descriptions_path %>
