<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="flash_alert">
      <h2><%= t('activerecord.form_errors', :count => @user.errors.count, :model => t('models.user').downcase) %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="center left less-padding">
    <h2><%= t('submit.new_user')%></h2>
    <div class="field">
    <%= f.text_field :email, placeholder: t('sessions.index.email') %>
    <%= f.password_field :password, placeholder: t('sessions.index.password') %>
    <%= f.password_field :password_confirmation, placeholder: t('users.confirmation') %>
    <%= f.text_field :name, placeholder: t('general.name') %>
    <%= f.text_field :company, placeholder: t('users.company') %>
    </div>
  </div>
    <div class="actions new">
      <%= f.submit t('submit.create') + " " + t('users.user') %>
    </div>
<% end %>

