<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="flash_alert">
		<h3><%=pluralize(@user.errors.count, "error") %> prohibited this user from being save:</h3>
		<ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		</ul>
	</div>
  <% end %>
  
  <div class="center left">
    <h2><%= t('submit.new_user')%></h2>
    <div class="field">
    <%= f.text_field :email, placeholder: "email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :company, placeholder: "Company" %>
    </div>
    <div class="actions new">
      <%= f.submit t('submit.create') + " " + t('users.user') %>
    </div>
<% end %>

