<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="danger_alert">
      <h2><%= t('activerecord.form_errors', :count => @user.errors.count, :model => t('models.user').downcase) %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-container">
  <div class="container-form">
    <h2><%= t('submit.new_user')%></h2>
    <div class="field">
      <%= f.text_field :email, placeholder: t('sessions.index.email'), :class => "form_input" %>
      <%= f.password_field :password, placeholder: t('sessions.index.password'), :class => "form_input" %>
      <%= f.password_field :password_confirmation, placeholder: t('users.confirmation'), :class => "form_input" %>
      <%= f.text_field :name, placeholder: t('general.name'), :class => "form_input" %>
      <%= f.text_field :company, placeholder: t('users.company'), :class => "form_input" %>
    </div>

    <div class="button_container">
    <div id="left_button">
      <%= f.submit t('submit.create') + " " + t('users.user'), :class => "btn btn-primary" %>
    </div>
    <% end %>

    <div id="right_button">
      <% if (I18n.locale.eql?(:en)) %>
          <%= button_to t('general.back'), login_path, method: :get, :class => "btn btn-primary" %>
      <% else %>
          <%= button_to t('general.back'), login_path, method: :get, :class => "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
  </div>
