<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation' class="flash_alert">
		<h3><%=pluralize(@user.errors.count, "error") %> prohibited this user from being save:</h3>
		<ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		</ul>
	</div>
  <% end %>

  <div class="field">
    <%= f.label t('sessions.index.email') %><br />
	<%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t('sessions.index.password') %><br />
	<%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label t('users.confirmation') %><br />
	<%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label t('general.name') %><br />
	<%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('users.company') %><br />
<<<<<<< HEAD
	<%= f.text_field :company %>
=======
    <%= f.text_field :company %>
>>>>>>> d98b0c1fc7ae45ebf5f566203602e5f1ba6da038
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

