<p id="notice"><%= notice %></p>

<p>
  <b>State name:</b>
  <%= @state.state_name %>
</p>

<p>
  <b>State code:</b>
  <%= @state.state_code %>
</p>

<p>
  <b>Status:</b>
  <%= @state.status %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to t('general.back'), states_path %>
