<h1>Listing counties</h1>

<table>
  <tr>
    <th>County name</th>
    <th>County code</th>
    <th>Status</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @counties.each do |county| %>
  <tr>
    <td><%= county.county_name %></td>
    <td><%= county.county_code %></td>
    <td><%= county.status %></td>
    <td><%= county.latitude %></td>
    <td><%= county.longitude %></td>
    <td><%= county.state_id %></td>
    <td><%= link_to t('general.show'), county %></td>
    <td><%= link_to t('general.edit'), edit_county_path(county) %></td>
    <td><%= link_to 'Destroy', county, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New County', new_county_path %>
