<p id="notice"><%= notice %></p>

<p>
  <b>County name:</b>
  <%= @county.county_name %>
</p>

<p>
  <b>County code:</b>
  <%= @county.county_code %>
</p>

<p>
  <b>Status:</b>
  <%= @county.status %>
</p>

<p>
  <b>Latitude:</b>
  <%= @county.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @county.longitude %>
</p>

<p>
  <b>State:</b>
  <%= @county.state_id %>
</p>


<%= link_to t('general.edit'), edit_county_path(@county) %> |
<%= link_to t('general.back'), counties_path %>
