<%= form_for(@control) do |f| %>
  <% if @control.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @control.errors.count, :model => t('models.control').downcase) %></h2>

      <ul>
      <% @control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :line %><br />
    <%= f.number_field :line%>
  </div>
  <div class="field">
    <%= f.label :column %><br />
    <%= f.number_field :column %>
  </div>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description%>
  </div>
  <div class="field">
    <%= f.label :range_low %><br />
    <%= f.number_field :range_low%>
  </div>
  <div class="field">
    <%= f.label :range_high %><br />
    <%= f.number_field :range_high%>
  </div>
  <div class="field">
    <%= f.label :default_value %><br />
    <%= f.number_field :default_value%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
