<h1>Listing controls</h1>

<table>
  <tr>
    <th>id</th>
    <th>state</th>
    <th>number</th>
    <th>Default Value</th>
    <th>Actions</th>
  </tr>

<% @controls.each do |control| %>
  <tr>
    <td><%=control.id%></td>
    <td><%=control.state_id%></td>
    <td><%=control.number%></td>
    <td><%=control.default_value%></td>
    <td><%= link_to t('general.show'), control %></td>
    <td><%= link_to t('general.edit'), edit_control_path(control) %></td>
    <td><%= link_to 'Destroy', control, method: :delete, data: { confirm: t('general.confirm') } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Control', new_control_path %>
