<h1>Listing controls</h1>

<table>
  <tr>
    <th>Line</th>
    <th>Column</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Low Range</th>
    <th>High Range</th>
    <th>Default Value</th>
  </tr>

<% @controls.each do |control| %>
  <tr>
    <td><%=control.line%></td>
    <td><%=control.column%></td>
    <td><%=control.code%></td>
    <td><%=control.name%></td>
    <td><%=control.description%></td>
    <td><%=control.range_low%></td>
    <td><%=control.range_high%></td>
    <td><%=control.default_value%></td>
    <td><%= link_to 'Show', control %></td>
    <td><%= link_to 'Edit', edit_control_path(control) %></td>
    <td><%= link_to 'Destroy', control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Control', new_control_path %>
