<%= form_for(@way) do |f| %>
  <% if @way.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @way.errors.count, :model => t('models.way').downcase) %></h2>

      <ul>
      <% @way.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :way_name %><br />
    <%= f.text_field :way_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
