<%= form_for(@bmplist) do |f| %>
  <% if @bmplist.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @bmplist.errors.count, :model => t('models.bmplist')) %></h2>

      <ul>
      <% @bmplist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
