<%= form_for([@project, @watershed, @watershed_scenario]) do |f| %>
  <% if @watershed_scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @watershed_scenarios.errors.count, :model => t('models.watershed_scenario').downcase) %></h2>

      <ul>
      <% @watershed_scenarios.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <td><%= collection_select :field, :id, Field.where(:location_id => session[:location_id]), :id, :field_name, {:prompt => t('helpers.select.field')}, {:required => true} %></td>
  <td><%= collection_select :scenario, :id, @scenarios, :id, :name, {:prompt => t('helpers.select.scenario')}, {:required => true} %></td>
  <div class="actions">
	<%= f.submit t('result.add') %>
  </div>
  <%= hidden_field_tag(:watershed_id, @watershed_scenario.id) %>
<% end %>
