<%#= form_for [@project, @watershed, @watershed_scenarios] do |f| %>
<% case %>
	<% when notice %>
		<div class="success_alert">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		  <%= notice %>
		</div>
	<% when flash[:info] %>
		<div class="flash_alert">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		  <%= flash[:info] %>
		</div>
<% end %>
<div class="page-header"><h1><%= t('watershed_scenario.watershed_scenario_title') + " " + @watershed.name%></h1></div>

<%#= form_for @watersheds, method: :post do |f| %>
<br>
<% @watershed_scenario = WatershedScenario.new %>
<% @watershed_scenario.watershed_id = @watershed.id %>
<div><%= t('instructions.watershed_scenarios')%></div>
<div class = "actions"> 
	<%= button_tag t('result.add') + " " + t('models.field') + ' / ' + t('models.scenario'), :class => 'btn btn-primary', :id => "new_watershed" %> 
	<%= link_to t('general.back'), project_watersheds_path(params[:project_id]), :class => 'btn btn-primary' %>
</div>
<div id="div_new" style="display:none"><%= render 'form'%></div>

<%= hidden_field_tag( :project_id, @project.id) %>
<%# end %>

<div class="table-responsive">
	<div class="panel panel-default">
		<table class='table table-striped'>
			<thead>
			  <tr>
    			<th class="gvCellStyleTitle"><%= t('field.field_name')%></th>
    			<th class="gvCellStyleTitle"><%= t('scenario.scenario_name')%></th>
    			<th class="gvCellStyleTitle"><%= t('general.actions')%></th>
  			  </tr>
			</thead>
			<tbody>
  			<% i=1 %>
  			<% @watershed_scenarios.each do |watershed_scenario| %>
    			<% if (i % 2  == 0) %>
      				<tr class="gvRowStyleEven">
    			<% else %>
      				<tr class="gvRowStyleOdd">
    			<% end %>
        			<td class="gvCellStyleText"><%= Field.find_by_id(watershed_scenario.field_id).field_name %></td>
        			<td class="gvCellStyleText"><%= Scenario.find_by_id(watershed_scenario.scenario_id).name %></td>
        			<td class="gvCellStyleCheckbox">
          				<%= link_to image_tag("delete.png"), project_watershed_watershed_scenario_path(@project, @watershed, watershed_scenario), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
        			</td>
      			</tr>
  				<% i = i + 1 %>
  			<% end %>
			</tbody>
		</table>
	</div>
</div>

<br>
