<%= form_for(@soil) do |f| %>
  <% if @soil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil.errors.count, "error") %> prohibited this soil from being saved:</h2>

      <ul>
      <% @soil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class='gvTableStyle'>
  <tr class='gvRowStyleOdd'>
    <td><div class="field">
        <b><%= f.label :SALB %></b><br />
        <%= f.number_field :albedo, :class => "fieldNumbers"%>
    </div></td>
	<td><div class="field">
        <b><%= f.label :FFC %></b><br />
        <%= f.number_field :ffc, :class => "fieldNumbers"%>
    </div></td>
    <td><div class="field">
        <b><%= f.label :WTMN %></b><br />
        <%= f.number_field :wtmn, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :WTMX %></b><br />
        <%= f.number_field :wtmx, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :WTBL %></b><br />
        <%= f.number_field :wtbl, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :GWST %></b><br />
        <%= f.number_field :gwst, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :GWMX %></b><br />
        <%= f.number_field :gwmx, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :RFT %></b><br />
        <%= f.number_field :rft, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :RFPK %></b><br />
        <%= f.number_field :rfpk, :class => "fieldNumbers" %> 
  </tr>
  <tr class='gvRowStyleOdd''>
    </div></td>
    <td><div class="field">
        <b><%= f.label :TSLA %></b><br />
        <%= f.number_field :tsla, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :XIDS %></b><br />
        <%= f.number_field :xids, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :RTN1 %></b><br />
        <%= f.number_field :rtn1, :class => "fieldNumbers" %>
    </div></td>
	<td><div class="field">
        <b><%= f.label :XIDK %></b><br />
        <%= f.number_field :xidk, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ZQT %></b><br />
        <%= f.number_field :zqt, :class => "fieldNumbers" %>
    </div></td>
    <td><div class="field">
        <b><%= f.label :ZF %></b><br />
        <%= f.number_field :zf, :class => "fieldNumbers" %>
    </div></td>
     <td><div class="field">
        <b><%= f.label :ZTK %></b><br />
        <%= f.number_field :ztk, :class => "fieldNumbers" %>
    </div></td> 
     <td><div class="field">
        <b><%= f.label :FBM %></b><br />
        <%= f.number_field :fbm, :class => "fieldNumbers" %>
    </div></td> 
    <td><div class="field">
        <b><%= f.label :FHP %></b><br />
        <%= f.number_field :fhp, :class => "fieldNumbers" %>
    </div></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit t('submit.update') + " " + t('soil.soil') %>
  </div>
<% end %>
