<h1 class="less-margin"><%= t('menu.apex_soil')%></h1>

<table class='gvTableStyle'>
    <tr class='gvHeaderStyle'>
	  <th class="gvCellStyleTitle"><%= t('soil.selected') %></th>
      <th class="gvCellStyleTitle"><%= t('soil.key') %></th>
      <th class="gvCellStyleTitle"><%= t('soil.symbol') %></th>
      <th class="gvCellStyleTitle"><%= t('soil.group') %></th>
      <th class="gvCellStyleTitle"><%= t('soil.name') %></th>
      <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
    </tr>
    <%= hidden_field(:layer_id, :id, :value => @field_id) %>
  <% i = 1 %>
  <% for apex_soil in @soils %>
    <% if (i % 2  == 0) %>
      <tr class="gvRowStyleEven">
        <td class="gvCellStyleCheckbox"><%= check_box_tag :apex_soil, "1", apex_soil.selected, disabled: true %></td>
        <td class="gvCellStyleText"><%= apex_soil.key %></td>
        <td class="gvCellStyleText"><%= apex_soil.symbol %></td>
        <td class="gvCellStyleText"><%= apex_soil.group %></td>
        <td class="gvCellStyleText"><%= apex_soil.name %></td>
        <td class="gvCellStyleActions">
          <%= link_to image_tag("layers.png"), controller: "apex_layers", action: "index", id: apex_soil.id, title: t('soil.layers') %>  <%#http://www.veryicon.com/search/soil+layers/%>
          <%= link_to image_tag("edit.png"), edit_apex_soil_path(apex_soil.id), title: t('general.edit') %>
        </td>
    </tr>
    <% else %>
      <tr class="gvRowStyleOdd">
        <td class="gvCellStyleCheckbox"><%= check_box_tag :apex_soil, "1", apex_soil.selected, disabled: true %></td>
        <td class="gvCellStyleText"><%= apex_soil.key %></td>
        <td class="gvCellStyleText"><%= apex_soil.symbol %></td>
        <td class="gvCellStyleText"><%= apex_soil.group %></td>
        <td class="gvCellStyleText"><%= apex_soil.name %></td>
        <td class="gvCellStyleActions">
          <%= link_to image_tag("layers.png"), controller: "apex_layers", action: "index", id: apex_soil.id, title: t('soil.layers') %>  <%#http://www.veryicon.com/search/soil+layers/%>
          <%= link_to image_tag("edit.png"), edit_apex_soil_path(apex_soil.id), title: t('general.edit') %>
        </td>
    </tr>
    <% end %>
    <% i = i + 1 %>
  <% end %>
</table>

<br>