<p id="notice"><%= notice %></p>

<p>
  <b>Selected:</b>
  <%= @soil.selected %>
</p>

<p>
  <b>Key:</b>
  <%= @soil.key %>
</p>

<p>
  <b>Symbol:</b>
  <%= @soil.symbol %>
</p>

<p>
  <b>Group:</b>
  <%= @soil.group %>
</p>

<p>
  <b>Name:</b>
  <%= @soil.name %>
</p>

<p>
  <b>Albedo:</b>
  <%= @soil.albedo %>
</p>

<p>
  <b>Slope:</b>
  <%= @soil.slope %>
</p>

<p>
  <b>Percentage:</b>
  <%= @soil.percentage %>
</p>

<p>
  <b>Field:</b>
  <%= @soil.field_id %>
</p>

<p>
  <b>Drainage type:</b>
  <%= @soil.drainage_type %>
</p>


<%= link_to 'Edit', edit_soil_path(@soil) %> |
<%= link_to 'Back', soils_path %>
