<p id="notice"><%= notice %></p>

<p>
  <b>Albedo:</b>
  <%= @soil.albedo %>
</p>

<p>
  <b>Slope:</b>
  <%= @soil.slope %>
</p>

<p>
  <b>Percentage:</b>
  <%= @soil.percentage %>
</p>

<p>
  <b>Field:</b>
  <%= @soil.field_id %>
</p>

<p>
  <b>Drainage type:</b>
  <%= @soil.drainage_type %>
</p>

<table class='gvTableStyle'>
  <tr class='gvRowStyleOdd'>
    <td>
      <p>
        <b>ffc:</b><%= @soil.ffc %>
      </p>
    </td>
    <td>
      <p>
        <b>wtmn:</b><%= @soil.wtmn %>
      </p>
    </td>
    <td>
      <p>
        <b>wtmx:</b><%= @soil.wtmx %>
      </p>
    </td>
    <td>
      <p>
        <b>wtbl:</b><%= @soil.wtbl %>
      </p>
    </td>
    <td>
      <p>
        <b>gwst:</b><%= @soil.gwst %>
      </p>
    </td>
    <td>
      <p>
        <b>gwmx:</b><%= @soil.gwmx %>
      </p>
    </td>
    <td>
      <p>
        <b>rft:</b><%= @soil.rft %>
      </p>
    </td>
    <td>
      <p>
        <b>rfpk:</b><%= @soil.rfpk %>
      </p>
    </td>
    <td></td>
  </tr>
  <tr class='gvRowStyleOdd''>
    <td>
      <p>
        <b>tsla:</b><%= @soil.tsla %>
      </p>
    </td>
    <td>
      <p>
        <b>xids:</b><%= @soil.xids %>
      </p>
    </td>
    <td>
      <p>
        <b>rtn1:</b><%= @soil.rtn1 %>
      </p>
    </td>
    <td>
      <p>
        <b>xidk:</b><%= @soil.xidk %>
      </p>
    </td>
    <td>
      <p>
        <b>zqt:</b><%= @soil.zqt %>
      </p>
    </td>
    <td>
      <p>
        <b>zf:</b><%= @soil.zf %>
      </p>
    </td>
    <td>
      <p>
        <b>ztk:</b><%= @soil.ztk %>
      </p>
    </td>
    <td>
      <p>
        <b>fbm:</b><%= @soil.fhp %>
      </p>
    </td>
    <td>
      <p>
        <b>fhp:</b><%= @soil.fhp %>
      </p>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_apex_soil_path(@soil) %> |
<%= link_to 'Back', apex_soils_path %>
