<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>


<table class='gvTableStyle'>
  <tr class='gvRowStyleOdd'>
    <td><p>
        <b>SALB</b><br />
        <%= @soil.albedo %>
    </p></td>
    <td><p>
        <b>FFC</b><br />
        <%= @soil.ffc %>
    </p></td>
    <td><p>
        <b>WTMN</b><br />
        <%= @soil.wtmn %>
    </p></td>
    <td><p>
        <b>WTMX</b><br />
        <%= @soil.wtmx %>
    </p></td>
    <td><p>
        <b>WTBL</b><br />
        <%= @soil.wtbl %>
    </p></td>
    <td><p>
        <b>GWST</b><br />
        <%= @soil.gwst %>
    </p></td>
    <td><p>
        <b>GWMX</b><br />
        <%= @soil.gwmx %>
    </p></td>
    <td><p>
        <b>RFT</b><br />
        <%= @soil.rft %>
    </p></td>
    <td><p>
        <b>RFPK</b><br />
        <%= @soil.rfpk %>
    </p></td>
  
  </tr>
  <tr class='gvRowStyleOdd''>
    <td><p>
        <b>TSLA</b><br />
        <%= @soil.tsla %>
    </p></td>
    <td><p>
        <b>XIDS</b><br />
        <%= @soil.xids %>
    </p></td>
    <td><p>
        <b>RTN1</b><br />
        <%= @soil.rtn1 %>
    </p></td>
    <td><p>
        <b>XIDK</b><br />
        <%= @soil.xidk %>
    </p></td>
    <td><p>
        <b>ZQT</b><br />
        <%= @soil.zqt %>
    </p></td>
    <td><p>
        <b>ZF</b><br />
        <%= @soil.zf %>
    </p></td>
    <td><p>
        <b>ZTK</b><br />
        <%= @soil.ztk %>
    </p></td>
    <td><p>
        <b>FBM</b><br />
        <%= @soil.fbm %>
    </p></td>
    <td><p>
        <b>FHP</b><br />
        <%= @soil.fhp %>
    </p></td>
  </tr>
</table>


<%= link_to t('general.edit'), edit_apex_soil_path(@soil) %> |
<%= link_to t('general.back'), apex_soils_path %>
