<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :watershed_id %><br />
    <%= f.number_field :watershed_id %>
  </div>
  <div class="field">
    <%= f.label :field_id %><br />
    <%= f.number_field :field_id %>
  </div>
  <div class="field">
    <%= f.label :soil_id %><br />
    <%= f.number_field :soil_id %>
  </div>
  <div class="field">
    <%= f.label :scenario_id %><br />
    <%= f.number_field :scenario_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :ci_value %><br />
    <%= f.text_field :ci_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
