<form id="myForm" >
  <div class="page-header">
    <h1>APLCAT Results</h1>
    </div>

	<div class="field">
	    <table>
	      	<tr>
	        	<% if session[:simulation] == 'scenario' %>
	        		<h4><%= t('result.select_prompt_scenario') %></h4>
	        	<% else %>
	        		<h4><%= t('result.select_prompt_watershed') %></h4>
	        	<% end %>
	      	</tr>
	      	<tr>
	  			<% if session[:simulation] == 'scenario' %>
				  <% field_id = @field.id %>
		          <td><%= collection_select :result1, :scenario_id, @field.scenarios.where("last_simulation > ?", 0),
		          	:id, :name, {:include_blank => t('result.select_scenario1'), :selected => @scenario1}, {:required => true, :style =>"width:150px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @field.scenarios.where("last_simulation > ?",0), :id, :name,
		          	{:include_blank => t('result.select_scenario2'), :selected => @scenario2}, {:required => false, :style =>"width:150px"}  %></td>
		          <td><%= collection_select :result3, :scenario_id, @field.scenarios.where("last_simulation > ?", 0), :id, :name,
		          	{:include_blank => t('result.select_scenario3'), :selected => @scenario3}, {:required => false, :style =>"width:150px"} %></td>
		        <% else %>
		          <td><%= collection_select :result1, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed1'),
		          	:selected => @scenario1}, {:required => true, :style => "width:160px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed2'),
		          	:selected => @scenario2}, {:required => false, :style =>"width:160px"} %></td>
		          <td><%= collection_select :result3, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed3'),
		          	:selected => @scenario3}, {:required => false, :style =>"width:160px"} %></td>
		        <% end %>
		        <td><%= submit_tag t("general.view"), :id => "aplcat_report", name: "button", :class => "btn btn-primary" %>
		        	<%= link_to t('result.download_pdf'),  :id => "pdf_download", name: "button", :class => "btn btn-primary" %> </td>
			</tr>
	    </table>
	</div>

  <div class="panel panel-default">
		<table class='table table-bordered', style="white-space: nowrap;">
		  	<thead> <!-- titles -->
			  	<tr class='gvHeaderStyle' >
			  		<th></th>
			  		<% if session[:simulation] == 'scenario' %>
						<% if @scenario1 == "0" || @scenario1 == "" %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Scenario.find(@scenario1).name%></th><%end%>
						<% if @scenario2 == "0" || @scenario2 == ""  %> <th colspan="2" style="text-align:center"><%= t('result.scenario2') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@scenario2).name%></th><%end%>
						<% if @scenario3 == "0" || @scenario3 == ""  %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@scenario3).name%></th><%end%>
					<% else %>
						<% if @scenario1 == "0" || @scenario1 == ""  %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Watershed.find(@scenario1).name%></th><%end%>
						<% if @scenario2 == "0" || @scenario2 == ""  %> <th colspan="2" style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@scenario2).name%></th><%end%>
						<% if @scenario3 == "0" || @scenario3 == ""  %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@scenario3).name%></th><%end%>
					<% end %>
			  	</tr>
		  	</thead>

        <tbody>
          <% if @scenario1 != "0" && @scenario1 != "" then %>
          <tr class="gvRowStyleOdd">
						<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
							<a class="gvTotalText"><%= "Cows" %></a>
              <label><input type="checkbox" id="checkbox_cow"></label>
						</th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%#= sprintf("%8.2f", @aplcat_results1.AGR) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" style="background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.AGR)%></td>
            <%# difference1 = @aplcat_results1.AGR - @aplcat_results2.AGR %>
            <%# reduction1 = difference1 / @aplcat_results1.AGR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.AGR)%></td>
            <%# difference1 = @aplcat_results1.AGR - @aplcat_results3.AGR %>
            <%# reduction1 = difference1 / @aplcat_results1.AGR * 100 %>
            <td class= "gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>
            <% end %>
					</tr>
          <tr id = "cow_row1" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Animal Weights (lb)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_aws) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_aws) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_aws) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row2" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Dry Matter Intake  ('kg', daily)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_dmi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_dmi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_dmi) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row3" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Gross Energy Intake (MJ/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_gei) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_gei) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_gei) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row4" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake ('L/year')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row5" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake (Emb_feed|drinking)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row6" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. ('kg_daily')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row7" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. (kg manu_N)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row8" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Nitrogen Intake (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_ni) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_ni) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_ni) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row9" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_tne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_tne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_tne) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row10" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen retained (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_tnr) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_tnr) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_tnr) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row11" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Fecal Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_fne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_fne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_fne) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row12" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Urine Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_une) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_une) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_une) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row13" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row14" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "cow_row15" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_mme) %></td>
            <% end %>
          </tr>
          <tr id = "cow_row16" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].cow_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.cow_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.cow_mme) %></td>
            <% end %>
          </tr>

          <tr class="gvRowStyleOdd">
						<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
							<a class="gvTotalText"><%= "Bulls" %>
              <label><input type="checkbox" id="checkbox_bull"></label>
						</th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%#= sprintf("%8.2f", @aplcat_results1[0].FIR) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" style="background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.FIR)%></td>
            <%# difference1 = @aplcat_results1[0].FIR - @aplcat_results2.FIR %>
            <%# reduction1 = difference1 / @aplcat_results1[0].FIR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.FIR)%></td>
            <%# difference1 = @aplcat_results1[0].FIR - @aplcat_results3.FIR %>
            <%# reduction1 = difference1 / @aplcat_results1[0].FIR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
					</tr>
          <tr id = "bull_row1" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Animal Weights (lb)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_aws) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_aws) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_aws) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row2" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Dry Matter Intake  ('kg', daily|annual)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_dmi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_dmi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_dmi) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row3" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Gross Energy Intake ('daily', MJ/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_gei) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_gei) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_gei) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row4" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake ('L/year')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row5" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake (Emb_feed|drinking)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row6" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. ('kg_daily')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row7" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. (manu|manu_N)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row8" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Nitrogen Intake (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_ni) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_ni) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_ni) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row9" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_tne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_tne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_tne) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row10" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen retained (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_tnr) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_tnr) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_tnr) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row11" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Fecal Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_fne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_fne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_fne) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row12" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Urine Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_une) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_une) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_une) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row13" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row14" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "bull_row15" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_mme) %></td>
            <% end %>
          </tr>
          <tr id = "bull_row16" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].bull_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.bull_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.bull_mme) %></td>
            <% end %>
          </tr>

          <tr class="gvRowStyleOdd">
						<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
							<a class="gvTotalText"><%= "Calves" %>
              <label><input type="checkbox" id="checkbox_calves"></label>
						</th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%#= sprintf("%8.2f", @aplcat_results1.WIR) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" style="background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.WIR)%></td>
            <%# difference1 = @aplcat_results1.WIR - @aplcat_results2.WIR %>
            <%# reduction1 = difference1 / @aplcat_results1.WIR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.WIR)%></td>
            <%# difference1 = @aplcat_results1.WIR - @aplcat_results3.WIR %>
            <%# reduction1 = difference1 / @aplcat_results1.WIR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
					</tr>
          <tr id = "calves_row1" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Animal Weights (lb)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_aws) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_aws) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_aws) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row2" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Dry Matter Intake  ('kg', daily|annual)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_dmi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_dmi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_dmi) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row3" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Gross Energy Intake ('daily', MJ/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_gei) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_gei) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_gei) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row4" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake ('L/year')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row5" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake (Emb_feed|drinking)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row6" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. ('kg_daily')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row7" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. (manu|manu_N)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row8" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Nitrogen Intake (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_ni) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_ni) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_ni) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row9" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_tne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_tne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_tne) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row10" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen retained (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_tnr) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_tnr) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_tnr) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row11" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Fecal Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_fne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_fne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_fne) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row12" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Urine Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_une) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_une) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_une) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row13" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row14" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "calves_row15" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_mme) %></td>
            <% end %>
          </tr>
          <tr id = "calves_row16" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].calf_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.calf_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.calf_mme) %></td>
            <% end %>
          </tr>

          <tr class="gvRowStyleOdd">
						<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
							<a class="gvTotalText"><%= "First Calf Heifers" %>
              <label><input type="checkbox" id="checkbox_fch"></label>
						</th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%#= sprintf("%8.2f", @aplcat_results1.MER) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" style="background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.MER)%></td>
            <%# difference1 = @aplcat_results1.MER - @aplcat_results2.MER %>
            <%# reduction1 = difference1 / @aplcat_results1.MER * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.MER)%></td>
            <%# difference1 = @aplcat_results1.MER - @aplcat_results3.MER %>
            <%# reduction1 = difference1 / @aplcat_results1.MER * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
					</tr>
          <tr id = "fch_row1" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Animal Weights (lb)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_aws) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_aws) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_aws) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row2" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Dry Matter Intake  ('kg', daily|annual)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_dmi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_dmi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_dmi) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row3" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Gross Energy Intake ('daily', MJ/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_gei) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_gei) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_gei) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row4" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake ('L/year')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row5" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake (Emb_feed|drinking)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row6" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. ('kg_daily')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row7" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. (manu|manu_N)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row8" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Nitrogen Intake (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_ni) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_ni) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_ni) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row9" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_tne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_tne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_tne) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row10" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen retained (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_tnr) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_tnr) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_tnr) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row11" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Fecal Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_fne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_fne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_fne) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row12" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Urine Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_une) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_une) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_une) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row13" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row14" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "fch_row15" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_mme) %></td>
            <% end %>
          </tr>
          <tr id = "fch_row16" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].fch_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.fch_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.fch_mme) %></td>
            <% end %>
          </tr>

          <tr class="gvRowStyleOdd">
						<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
							<a class="gvTotalText"><%= "Replacement Heifers" %>
              <label><input type="checkbox" id="checkbox_rh"></label>
						</th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%#= sprintf("%8.2f", @aplcat_results1[0].NBR) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" style="background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.NBR)%></td>
            <%# difference1 = @aplcat_results1.NBR - @aplcat_results2.NBR %>
            <%# reduction1 = difference1 / @aplcat_results1.NBR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" style="background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.NBR)%></td>
            <%# difference1 = @aplcat_results1.NBR - @aplcat_results3.NBR %>
            <%# reduction1 = difference1 / @aplcat_results1.NBR * 100 %>
            <td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.1f", difference1) + " (" + sprintf("%8.1f", reduction1) + ")" %></td>
            <% end %>
					</tr>
          <tr id = "rh_row1" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Animal Weights (lb)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_aws) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_aws) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_aws) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row2" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Dry Matter Intake  ('kg', daily|annual)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_dmi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_dmi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_dmi) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row3" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Gross Energy Intake ('daily', MJ/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_gei) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_gei) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_gei) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row4" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake ('L/year')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row5" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Water Intake (Emb_feed|drinking)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_wi) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_wi) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_wi) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row6" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. ('kg_daily')" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row7" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Solid Manure excr. (manu|manu_N)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_sme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_sme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_sme) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row8" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Nitrogen Intake (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_ni) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_ni) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_ni) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row9" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_tne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_tne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_tne) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row10" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Total Nitrogen retained (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_tnr) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_tnr) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_tnr) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row11" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Fecal Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_fne) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_fne) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_fne) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row12" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Urine Nitrogen excretion (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_une) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_une) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_une) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row13" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row14" class="gvRowStyleEven" style="display:none">
    				<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Enteric methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_eme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_eme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_eme) %></td>
            <% end %>
    			</tr>
          <tr id = "rh_row15" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (g/day)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_mme) %></td>
            <% end %>
          </tr>
          <tr id = "rh_row16" class="gvRowStyleEven" style="display:none">
            <th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><a class="gvTotalText"><%= "Manure methane emission (kg/year)" %></a></th>
            <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", @aplcat_results1[0].rh_mme) %></td>
            <% if @scenario2 != "0" && @scenario2 != "" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%#= sprintf("%8.2f", @aplcat_results2.rh_mme) %></td>
            <% end %>
            <% if @scenario3 > "0" then %>
            <td class="gvTotalText" colspan="2" style="border-right: thick double #ff0000; background-color:#CADCFF"><%#= sprintf("%8.2f", @aplcat_results3.rh_mme) %></td>
            <% end %>
          </tr>

          <% end %>
          </tbody>
    </table>
</div>
</form>

<script type="text/javascript">
  $(function () {
          $("#checkbox_cow").click(function () {
              if ($(this).is(":checked")) {
                  $("#cow_row1, #cow_row2, #cow_row3, #cow_row4, #cow_row5, #cow_row6, #cow_row7, #cow_row8, #cow_row9, #cow_row10, #cow_row11, #cow_row12, #cow_row13, #cow_row14, #cow_row15, #cow_row16").hide();
                  $("#cow_row1, #cow_row2, #cow_row3, #cow_row4, #cow_row5, #cow_row6, #cow_row7, #cow_row8, #cow_row9, #cow_row10, #cow_row11, #cow_row12, #cow_row13, #cow_row14, #cow_row15, #cow_row16").show();
              } else {
                  $("#cow_row1, #cow_row2, #cow_row3, #cow_row4, #cow_row5, #cow_row6, #cow_row7, #cow_row8, #cow_row9, #cow_row10, #cow_row11, #cow_row12, #cow_row13, #cow_row14, #cow_row15, #cow_row16").show();
                  $("#cow_row1, #cow_row2, #cow_row3, #cow_row4, #cow_row5, #cow_row6, #cow_row7, #cow_row8, #cow_row9, #cow_row10, #cow_row11, #cow_row12, #cow_row13, #cow_row14, #cow_row15, #cow_row16").hide();
              }
          });
          $("#checkbox_bull").click(function () {
              if ($(this).is(":checked")) {
                  $("#bull_row1, #bull_row2, #bull_row3, #bull_row4, #bull_row5, #bull_row6, #bull_row7, #bull_row8, #bull_row9, #bull_row10, #bull_row11, #bull_row12, #bull_row13, #bull_row14, #bull_row15, #bull_row16").hide();
                  $("#bull_row1, #bull_row2, #bull_row3, #bull_row4, #bull_row5, #bull_row6, #bull_row7, #bull_row8, #bull_row9, #bull_row10, #bull_row11, #bull_row12, #bull_row13, #bull_row14, #bull_row15, #bull_row16").show();
              } else {
                  $("#bull_row1, #bull_row2, #bull_row3, #bull_row4, #bull_row5, #bull_row6, #bull_row7, #bull_row8, #bull_row9, #bull_row10, #bull_row11, #bull_row12, #bull_row13, #bull_row14, #bull_row15, #bull_row16").show();
                  $("#bull_row1, #bull_row2, #bull_row3, #bull_row4, #bull_row5, #bull_row6, #bull_row7, #bull_row8, #bull_row9, #bull_row10, #bull_row11, #bull_row12, #bull_row13, #bull_row14, #bull_row15, #bull_row16").hide();
              }
          });
          $("#checkbox_calves").click(function () {
              if ($(this).is(":checked")) {
                  $("#calves_row1, #calves_row2, #calves_row3, #calves_row4, #calves_row5, #calves_row6, #calves_row7, #calves_row8, #calves_row9, #calves_row10, #calves_row11, #calves_row12, #calves_row13, #calves_row14, #calves_row15, #calves_row16").hide();
                  $("#calves_row1, #calves_row2, #calves_row3, #calves_row4, #calves_row5, #calves_row6, #calves_row7, #calves_row8, #calves_row9, #calves_row10, #calves_row11, #calves_row12, #calves_row13, #calves_row14, #calves_row15, #calves_row16").show();
              } else {
                  $("#calves_row1, #calves_row2, #calves_row3, #calves_row4, #calves_row5, #calves_row6, #calves_row7, #calves_row8, #calves_row9, #calves_row10, #calves_row11, #calves_row12, #calves_row13, #calves_row14, #calves_row15, #calves_row16").show();
                  $("#calves_row1, #calves_row2, #calves_row3, #calves_row4, #calves_row5, #calves_row6, #calves_row7, #calves_row8, #calves_row9, #calves_row10, #calves_row11, #calves_row12, #calves_row13, #calves_row14, #calves_row15, #calves_row16").hide();
              }
          });
          $("#checkbox_fch").click(function () {
              if ($(this).is(":checked")) {
                  $("#fch_row1, #fch_row2, #fch_row3, #fch_row4, #fch_row5, #fch_row6, #fch_row7, #fch_row8, #fch_row9, #fch_row10, #fch_row11, #fch_row12, #fch_row13, #fch_row14, #fch_row15, #fch_row16").hide();
                  $("#fch_row1, #fch_row2, #fch_row3, #fch_row4, #fch_row5, #fch_row6, #fch_row7, #fch_row8, #fch_row9, #fch_row10, #fch_row11, #fch_row12, #fch_row13, #fch_row14, #fch_row15, #fch_row16").show();
              } else {
                  $("#fch_row1, #fch_row2, #fch_row3, #fch_row4, #fch_row5, #fch_row6, #fch_row7, #fch_row8, #fch_row9, #fch_row10, #fch_row11, #fch_row12, #fch_row13, #fch_row14, #fch_row15, #fch_row16").show();
                  $("#fch_row1, #fch_row2, #fch_row3, #fch_row4, #fch_row5, #fch_row6, #fch_row7, #fch_row8, #fch_row9, #fch_row10, #fch_row11, #fch_row12, #fch_row13, #fch_row14, #fch_row15, #fch_row16").hide();
              }
          });
          $("#checkbox_rh").click(function () {
              if ($(this).is(":checked")) {
                  $("#rh_row1, #rh_row2, #rh_row3, #rh_row4, #rh_row5, #rh_row6, #rh_row7, #rh_row8, #rh_row9, #rh_row10, #rh_row11, #rh_row12, #rh_row13, #rh_row14, #rh_row15, #rh_row16").hide();
                  $("#rh_row1, #rh_row2, #rh_row3, #rh_row4, #rh_row5, #rh_row6, #rh_row7, #rh_row8, #rh_row9, #rh_row10, #rh_row11, #rh_row12, #rh_row13, #rh_row14, #rh_row15, #rh_row16").show();
              } else {
                  $("#rh_row1, #rh_row2, #rh_row3, #rh_row4, #rh_row5, #rh_row6, #rh_row7, #rh_row8, #rh_row9, #rh_row10, #rh_row11, #rh_row12, #rh_row13, #rh_row14, #rh_row15, #rh_row16").show();
                  $("#rh_row1, #rh_row2, #rh_row3, #rh_row4, #rh_row5, #rh_row6, #rh_row7, #rh_row8, #rh_row9, #rh_row10, #rh_row11, #rh_row12, #rh_row13, #rh_row14, #rh_row15, #rh_row16").hide();
              }
          });


      });</script>
