<% if @errors != nil %>
  <% if @errors.length > 0 %>
    <div id="error_explanation">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h2><%= t('activerecord.run_errors', :count => @errors.count, :model => t('models.result').downcase) %></h2>
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if flash[:info] %>
  <div class="flash_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:info] %>
  </div>
<% end %>
<div class="page-header"><h1><%=@type + " " %><%= "" unless @type != t('menu.results') + ': ' + t('result.annual') + "-" + t('result.charts')  %></h1></div>
<form id="myForm" onsubmit="return validateForm();">
	<div class="field">
	    <table>
	      	<tr>
	        	<% if session[:simulation] == 'scenario' %>
	        		<h4><%= t('result.select_prompt_scenario') %></h4>
	        	<% else %>
	        		<h4><%= t('result.select_prompt_watershed') %></h4>
	        	<% end %>
	      	</tr>
	      	<tr>
	      		<% if @type.include?(t('result.annual')) then %>
		      		<% @years = (Field.find(params[:field_id]).weather.simulation_initial_year+1...Field.find(params[:field_id]).weather.simulation_final_year+1).entries %>
		      		<%# debug @years %>
		      		<td>
		      			<select name="sim_initial_year">
		      				<option value="default" selected="selected">Initial Year</option>
		      				<% @years.each do |y| %>
		      					<option value="<%= y %>"><%= y %></option>
		      				<% end %>
		      			</select>
		      		</td>
		      		<td>
		      			<select name="sim_final_year">
		      				<option value="" selected="selected">Final Year</option>
		      				<% @years.each do |y| %>
		      					<option value="<%= y %>"><%= y %></option>
		      				<% end %>
		      			</select>
		      		</td> 
		      	<% end %>
			    <%# debug Weather.select(:simulation_initial_year).uniq.each %>
			    <td><%# collection_select :result1, :scenario_id, @field.scenarios.all("last_simulation > ?", 0), :id, :name, {:include_blank => "Final Year", :selected => @scenario1}, {:required => true, :style =>"width:150px"} %></td>
			    <% field_id = 0 %>
		        <% if session[:simulation] == 'scenario' %>
				  <% field_id = @field.id %>
		          <td><%= collection_select :result1, :scenario_id, @field.scenarios.where("last_simulation > ?", 0), :id, :name, {:include_blank => t('result.select_scenario1'), :selected => @scenario1}, {:required => true, :style =>"width:150px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @field.scenarios.where("last_simulation > ?",0), :id, :name, {:include_blank => t('result.select_scenario2'), :selected => @scenario2}, {:required => false, :style =>"width:150px"}  %></td>
		          <td><%= collection_select :result3, :scenario_id, @field.scenarios.where("last_simulation > ?", 0), :id, :name, {:include_blank => t('result.select_scenario3'), :selected => @scenario3}, {:required => false, :style =>"width:150px"} %></td>
		        <% else %>
		          <td><%= collection_select :result1, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed1'), :selected => @scenario1}, {:required => true, :style => "width:160px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed2'), :selected => @scenario2}, {:required => false, :style =>"width:160px"} %></td>
		          <td><%= collection_select :result3, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed3'), :selected => @scenario3}, {:required => false, :style =>"width:160px"} %></td>
		        <% end %>
		        <% case @type %>
		        <% when t('general.view'), t('result.summary'), "Tabular" %>
	              	<td>
		    		        <%= radio_button_tag :result_type, "acre", true  %> <%= t('result.units_ac') %>
		    		        <%= radio_button_tag :result_type, "total"%> <%= t('result.total_units') %>
	    	        </td>
	            	<td><%= submit_tag t("general.view"), :id => "summary", name: "button", :class => "btn btn-primary" %>
						<% if @averages1 != nil %>
							<% if !request.url.include?(url_for("/fields/0/results?")) %>
								<%= link_to t('result.download_pdf'), { :format => :pdf }, :id => "pdf_download", name: "button", :class => "btn btn-primary" %>
							<% end %>
						    <!-- Download CSV/Excel button -->
						    <%= link_to t('result.download_excel'), results_path(:format => :xlsx, :result1 => {:scenario_id => @scenario1}, :result2 => {:scenario_id => @scenario2}, :result3 => {:scenario_id => @scenario3}, :project_id => @project.id, :field_id => field_id), :id => "excel_download", name: "button", :class => "btn btn-primary" %>
						<% end %>
					</td>
						<tr><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
		        <% when t("result.summary") + " " + t("result.by_soil"), t("general.view") + " " + t("result.by_soil")  %>
	              	<td>
	    		        <%= radio_button_tag :result_type, "acre", true  %> <%= t('result.units_ac') %>
	    		        <%= radio_button_tag :result_type, "total"%> <%= t('result.total_units') %>
	    	        </td>
	                <td><%= collection_select :result4, :soil_id, Soil.where(:field_id => @field.id, :selected => true), :id, :name, {:prompt => t('soil.select_soil'), :selected => @soil }, { :required => true }%></td>
			            <td><%= submit_tag t("general.view") + " " + t("result.by_soil"), name: "button", :class => "btn btn-primary" %>
						</tr>
						<tr ><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
	          	<% when t('result.annual')  + "-" + t('result.charts'), t("general.view") + " " + t('result.annual')  + "-" + t('result.charts')%>
		            <% if I18n.locale.eql?(:en) %>
		              <td><%= collection_select :result5_category, :group_id, Group.all, :id, :group_name, {:prompt => t('result.select_category'), :selected => @group}, {:required => true} %></td>
		              <td><%= collection_select :result5, :description_id, @descriptions.where(:group_id => @group), :id, :description, {:prompt => t('result.select_category'), :selected => @description}, {:required => true} %></td>
					  <td><%#= select :result5, :description_id, options_for_select(@des.map { |obj| [obj['description'], obj['id']] }) %>
		            <% else %>
		              <td><%= collection_select :result5_category, :group_id, Group.all, :id, :spanish_group_name, {:prompt => t('result.select_category'), :selected => @group}, {:required => true} %></td>
		              <td><%= collection_select :result5, :description_id, @descriptions.where("id != 52"), :id, :spanish_description, {:prompt => t('result.select_category'), :selected => @description}, {:required => true} %></td>
		            <% end %>
					<% if I18n.locale.eql?(:en) %>
						<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :name, {:prompt => t('result.select_crop'), :selected => @crop} %></td>
					<% else %>
						<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :spanish_name, {:prompt => t('result.select_crop'), :selected => @crop} %></td>
					<% end %>
		            <td>
		            	<%= submit_tag t("general.view"), name: "button_annual", :class => "btn btn-primary" %>
		            </td>
					</tr>
	        	<% when t('result.monthly') + "-" + t('result.charts'), t("general.view") + " " + t('result.monthly') + "-" + t('result.charts') %>
		            <% if I18n.locale.eql?(:en) %>
		              <td><%= collection_select :result6, :description_id, Description.where("period = 1"), :id, :description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
		            <% else %>
		              <td><%= collection_select :result6, :description_id, Description.where("period = 1"), :id, :spanish_description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
		            <% end %>
		            <td><%= submit_tag t("general.view"), name: "button_monthly", :class => "btn btn-primary" %></td>
	        	<% end %>
			</tr>
	        <%= hidden_field(:language, :language, :value => I18n.locale) %>
	        <%= hidden_field(:session, :name, :value => session[:simulation]) %>
	    </table>
	</div>
</form>

<% if @type == t("result.summary") then %>
	<div id="tbl_detailed" class="table-responsive">
		<%= render 'detailed' %>
	</div>
	<div id="tbl_total" class="table-responsive" style="display: none">
		<%= render 'total' %>
	</div>
<% elsif @type.include? t('result.annual') or @type.include? t('result.monthly') then %>
	<% scenario1_name = "" %>
	<% scenario2_name = "" %>
	<% scenario3_name = "" %>
	<% if session[:simulation] == 'scenario' %>
		<% if !(@scenario1 == "0" || @scenario1 == "") then scenario1_name = Scenario.find(@scenario1).name end%>
		<% if !(@scenario2 == "0" || @scenario2 == "") then scenario2_name = Scenario.find(@scenario2).name end%>
		<% if !(@scenario3 == "0" || @scenario3 == "") then scenario3_name = Scenario.find(@scenario3).name end%>
	<% else %>
		<% if !(@scenario1 == "0" || @scenario1 == "") then scenario1_name = Watershed.find(@scenario1).name end%>
		<% if !(@scenario2 == "0" || @scenario2 == "") then scenario2_name = Watershed.find(@scenario2).name end%>
		<% if !(@scenario3 == "0" || @scenario3 == "") then scenario3_name = Watershed.find(@scenario3).name end%>
	<% end %>
	<%# @title += " " + t('result.upto12') %>
  	<strong><h4><%= @title %></h4></strong>
  	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= column_chart [
        { :name => scenario1_name, :data => @charts1 },
        { :name => scenario2_name, :data => @charts2 },
        { :name => scenario3_name, :data => @charts3 }
        ], { library: {hAxis: {title: @x}, vAxis: {title: @y}}}
        %>
    	<br/>
    <div class="table-responsive">
    	<table class='table table-bordered' style="white-space: nowrap;">
	        <% if (@present1 || @present2 || @present3)  %>
				<thead>
				  <tr class='gvHeaderStyle'>
					<th class='gvCellStyle Title'><%= t('models.scenario') %></th>
					<% case true %>
						<% when @present1 %>
							<% for i in 0..@charts1.count - 1 %><th class='gvCellStyle Title'><%= @charts1[i][0] %></th><% end %>
						<% when @present2 %>
							<% for i in 0..@charts2.count - 1 %><th class='gvCellStyle Title'><%= @charts2[i][0] %></th><% end %>
						<% when @present3 %>
							<% for i in 0..@charts3.count - 1 %><th class='gvCellStyle Title'><%= @charts3[i][0] %></th><% end %>
					<% end %>
				  </tr>
				</thead>
		        <tbody>
		          <% if @present1 %>
		            <tr class="gvRowStyleOdd">
		              <td class="gvTotalText">
		                <% if session[:simulation] != 'scenario' %>
		                  <%= Watershed.find(@scenario1).name %>
		                <% else %>
		                  <%= Scenario.find(@scenario1).name %>
		                <% end %>
		                </td>
						<% for i in 0..@charts1.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts1[i][1].round(1) %></td>
						<% end %>
		            </tr>
		          <% end %>
		          <% if @present2 %>
		            <tr class="gvRowStyleEven">
		              <td class="gvTotalText">
		              	<% if session[:simulation] != 'scenario' %>
		                  <%= Watershed.find(@scenario2).name %>
		                <% else %>
		                  <%= Scenario.find(@scenario2).name %>
		                <% end %>
		              </td>
						<% for i in 0..@charts2.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts2[i][1].round(1)  %></td>
						<% end %>
		            </tr>
		          <% end %>
		          <% if @present3 %>
		            <tr class="gvRowStyleOdd">
		              	<td class="gvTotalText">
			              	<% if session[:simulation] != 'scenario' %>
			                  <%= Watershed.find(@scenario3).name %>
			                <% else %>
			                  <%= Scenario.find(@scenario3).name %>
			                <% end %>
		              	</td>
						<% for i in 0..@charts3.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts3[i][1].round(1)  %></td>
						<% end %>
		            </tr>
		          <% end %>
		        </tbody>
	        <% end %>
    	</table>
    </div>
<% end %>

 <br>

 <div id="pop-up-1" class="description_pop-up">
   <p>Average annual of combined organic, runoff, subsurface, and tile drainage N</p>
 </div>

 <div id="pop-up-2" class="description_pop-up">
   <p>Average annual rate of organic N loss with sediment</p>
 </div>

 <div id="pop-up-3" class="description_pop-up">
   <p>Average annual rate of soluble N loss with surface runoff</p>
 </div>

 <div id="pop-up-4" class="description_pop-up">
   <p>Average annual rate of soluble N loss in subsurface flow</p>
 </div>

 <div id="pop-up-5" class="description_pop-up">
   <p>Average annual rate of soluble N loss with tile flow</p>
 </div>

 <div id="pop-up-6" class="description_pop-up">
   <p>Average annual of  combined organic, runoff,  and tile drainage N</p>
 </div>

 <div id="pop-up-7" class="description_pop-up">
   <p>Average annual rate of organic P loss with sediment</p>
 </div>

 <div id="pop-up-8" class="description_pop-up">
   <p>Average annual rate of soluble P loss with surface runoff</p>
 </div>

 <div id="pop-up-9" class="description_pop-up">
   <p>Average annual rate of soluble P loss with tile flow</p>
 </div>

 <div id="pop-up-10" class="description_pop-up">
   <p>Average annual surface runoff</p>
 </div>

 <div id="pop-up-11" class="description_pop-up">
   <p>Average annual of subsurface flow</p>
 </div>

 <div id="pop-up-12" class="description_pop-up">
   <p>Average annual tile drain runoff</p>
 </div>

 <div id="pop-up-13" class="description_pop-up">
   <p>Total Other Water Info (in) Average annual of combined irrigation applied and deep percolation</p>
 </div>

 <div id="pop-up-14" class="description_pop-up">
   <p>Average annual applied irrigation</p>
 </div>

 <div id="pop-up-15" class="description_pop-up">
   <p>Annual average deep perculated water</p>
 </div>

 <div id="pop-up-16" class="description_pop-up">
   <p>Average annual surface erosion and manure erosion</p>
 </div>

 <div id="pop-up-17" class="description_pop-up">
   <p>Average annual rate of soil erosion from soil surface</p>
 </div>

 <div id="pop-up-18" class="description_pop-up">
   <p>Average annual rate of manure erosion from soil surface</p>
 </div>

 <div id="pop-up-19" class="description_pop-up">
   <p>Average annual rate of harvested crop yield</p>
 </div>

 <div id="pop-up-20" class="description_pop-up">
   <p>Days of N Stress</p>
 </div>

 <div id="pop-up-21" class="description_pop-up">
   <p>Days of P Stress</p>
 </div>

 <div id="pop-up-22" class="description_pop-up">
   <p>Days of temperatures tress</p>
 </div>

 <div id="pop-up-23" class="description_pop-up">
   <p>Days of water stress</p>
 </div>

<%= hidden_field_tag "errors", @errors, { :id => "errors" } %>

<script>
  var initial_year = 0
  var final_year = 0
  
  $(document).ready(function(event) {
  	$("[name='sim_initial_year']").change(() => {
        initial_year = $("[name='sim_initial_year'] option:selected").val();
    });
    $("[name='sim_final_year']").change(() => {
        final_year = $("[name='sim_final_year'] option:selected").val();
    });
    var elementIDNum = 0;
    $('[id^=show').hover(function() {
      //extracts id # from id of element clicked (e.g. checkbox_3 = 3)
      elementIDNum = (this.id).replace(/[^0-9]+/g, "");
      var check = $("#show"+elementIDNum);
      var moveLeft = -300;
      var moveDown = -80;
      $('div#pop-up-'+elementIDNum).show();
      $(this).mousemove(function(e) {
        $("div#pop-up-"+elementIDNum).css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
      });
    }, function() {
        $('div#pop-up-'+elementIDNum).hide();
    });
  });

  function validateForm() {
	console.log("hi");
	console.log("Initial and final", initial_year, final_year);
	
	if (initial_year > final_year) {
		alert("Initial Year cannot be greater than or equal to final year");
		return false;
	}
	return true;
  }
</script>
