<% if @errors != nil %>
  <% if @errors.length > 0 %>
    <div id="error_explanation">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h2><%= t('activerecord.run_errors', :count => @errors.count, :model => t('models.result').downcase) %></h2>
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if flash[:info] %>
  <div class="flash_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:info] %>
  </div>
<% end %>
<div class="page-header"><h1><%=@type + " " %><%= t('result.upto12') unless @type != t('menu.results') + ': ' + t('result.annual') + "-" + t('result.charts')  %></h1></div>

<form id="myForm">
	<div class="field">
	    <table>
	      	<tr>
	        	<% if session[:simulation] == 'scenario' %>
	        		<h4><%= t('result.select_prompt_scenario') %></h4>
	        	<% else %>
	        		<h4><%= t('result.select_prompt_watershed') %></h4>
	        	<% end %>
	      	</tr>
	      	<tr>
			    <% field_id = 0 %>
		        <% if session[:simulation] == 'scenario' %>
				  <% field_id = @field.id %>
		          <td><%= collection_select :result1, :scenario_id, @field.scenarios.where("last_simulation > ?", 0), :id, :name, {:include_blank => t('result.select_scenario1'), :selected => @scenario1}, {:required => true, :style =>"width:150px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @field.scenarios.where("last_simulation > ?",0), :id, :name, {:include_blank => t('result.select_scenario2'), :selected => @scenario2}, {:required => false, :style =>"width:150px"}  %></td>
		          <td><%= collection_select :result3, :scenario_id, @field.scenarios.where("last_simulation > ?", 0), :id, :name, {:include_blank => t('result.select_scenario3'), :selected => @scenario3}, {:required => false, :style =>"width:150px"} %></td>
		        <% else %>
		          <td><%= collection_select :result1, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed1'), :selected => @scenario1}, {:required => true, :style => "width:160px"} %></td>
		          <td><%= collection_select :result2, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed2'), :selected => @scenario2}, {:required => false, :style =>"width:160px"} %></td>
		          <td><%= collection_select :result3, :scenario_id, @project.location.watersheds, :id, :name, {:include_blank => t('result.select_watershed3'), :selected => @scenario3}, {:required => false, :style =>"width:160px"} %></td>
		        <% end %>
		        <% case @type %>
		        <% when t('general.view'), t('result.summary'), "Tabular" %>
	              	<td>
	    		        <%= radio_button_tag :result_type, "acre", true  %> <%= t('result.units_ac') %>
	    		        <%= radio_button_tag :result_type, "total"%> <%= t('result.total_units') %>
	    	        </td>
	            	<td><%= submit_tag t("general.view"), :id => "summary", name: "button", :class => "btn btn-primary" %>
						<% if @results1 != nil %>
							<% if !request.url.include?(url_for("/fields/0/results?")) %>
								<%= link_to t('result.download_pdf'), { :action => "index", :format => :pdf }, :id => "pdf_download", name: "button", :class => "btn btn-primary" %>
							<% end %>
						    <!-- Download CSV/Excel button -->
						    <%= link_to t('result.download_excel'), results_path(:format => :xlsx, :result1 => {:scenario_id => @scenario1}, :result2 => {:scenario_id => @scenario2}, :result3 => {:scenario_id => @scenario3}, :project_id => @project.id, :field_id => field_id), :id => "excel_download", name: "button", :class => "btn btn-primary" %>
						<% end %>
					</td>
						<tr><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
		        <% when t("result.summary") + " " + t("result.by_soil"), t("general.view") + " " + t("result.by_soil")  %>
	              	<td>
	    		        <%= radio_button_tag :result_type, "acre", true  %> <%= t('result.units_ac') %>
	    		        <%= radio_button_tag :result_type, "total"%> <%= t('result.total_units') %>
	    	        </td>
	                <td><%= collection_select :result4, :soil_id, Soil.where(:field_id => @field.id, :selected => true), :id, :name, {:prompt => t('soil.select_soil'), :selected => @soil }, { :required => true }%></td>
			            <td><%= submit_tag t("general.view") + " " + t("result.by_soil"), name: "button", :class => "btn btn-primary" %>
						</tr>
						<tr ><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
	          	<% when t('result.annual')  + "-" + t('result.charts'), t("general.view") + " " + t('result.annual')  + "-" + t('result.charts')%>
		            <% if I18n.locale.eql?(:en) %>
		              <td><%= collection_select :result5_category, :group_id, Group.all, :id, :group_name, {:prompt => t('result.select_category'), :selected => @group}, {:required => true} %></td>
		              <td><%= collection_select :result5, :description_id, @descriptions.where(:group_id => @group), :id, :description, {:prompt => t('result.select_category'), :selected => @description}, {:required => true} %></td>
					  <td><%#= select :result5, :description_id, options_for_select(@des.map { |obj| [obj['description'], obj['id']] }) %>
		            <% else %>
		              <td><%= collection_select :result5_category, :group_id, Group.all, :id, :spanish_group_name, {:prompt => t('result.select_category'), :selected => @group}, {:required => true} %></td>
		              <td><%= collection_select :result5, :description_id, @descriptions.where("id != 52"), :id, :spanish_description, {:prompt => t('result.select_category'), :selected => @description}, {:required => true} %></td>
		            <% end %>
					<% if I18n.locale.eql?(:en) %>
						<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :name, {:prompt => t('result.select_crop'), :selected => @crop} %></td>
					<% else %>
						<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :spanish_name, {:prompt => t('result.select_crop'), :selected => @crop} %></td>
					<% end %>
		            <td><%= submit_tag t("general.view"), name: "button_annual", :class => "btn btn-primary" %></td>
					</tr>
	        	<% when t('result.monthly') + "-" + t('result.charts'), t("general.view") + " " + t('result.monthly') + "-" + t('result.charts') %>
		            <% if I18n.locale.eql?(:en) %>
		              <td><%= collection_select :result6, :description_id, Description.where("period = 1"), :id, :description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
		            <% else %>
		              <td><%= collection_select :result6, :description_id, Description.where("period = 1"), :id, :spanish_description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
		            <% end %>
		            <td><%= submit_tag t("general.view"), name: "button_monthly", :class => "btn btn-primary" %></td>
	        	<% end %>
			</tr>
	        <%= hidden_field(:language, :language, :value => I18n.locale) %>
	    </table>
	</div>
</form>
<% if @type == t("general.view") + " " + t('result.annual') + "-" + t('result.charts') || @type == t("general.view") + " " + t('result.monthly') + "-" + t('result.charts') then %>
	<% if @type.include? t('result.annual') then @title += " " + t('result.upto12') end %>
  	<strong><h4><%= @title %></h4></strong>
  	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= column_chart [
        { :name => t('result.1st_scenario'), :data => @charts1 },
        { :name => t('result.2nd_scenario'), :data => @charts2 },
        { :name => t('result.3rd_scenario'), :data => @charts3 }
        ], { library: {hAxis: {title: @x}, vAxis: {title: @y}}}
        %>
    	<br/>
    <div class="table-responsive">
    	<table class='table table-bordered' style="white-space: nowrap;">
	        <% if (@present1 || @present2 || @present3)  %>
				<thead>
				  <tr class='gvHeaderStyle'>
					<th class='gvCellStyle Title'><%= t('models.scenario') %></th>
					<% case true %>
						<% when @present1 %>
							<% for i in 0..@charts1.count - 1 %><th class='gvCellStyle Title'><%= @charts1[i][0] %></th><% end %>
						<% when @present2 %>
							<% for i in 0..@charts2.count - 1 %><th class='gvCellStyle Title'><%= @charts2[i][0] %></th><% end %>
						<% when @present3 %>
							<% for i in 0..@charts3.count - 1 %><th class='gvCellStyle Title'><%= @charts3[i][0] %></th><% end %>
					<% end %>
				  </tr>
				</thead>
		        <tbody>
		          <% if @present1 %>
		            <tr class="gvRowStyleOdd">
		              <td class="gvTotalText">
		                <% if session[:simulation] != 'scenario' %>
		                  <%= Watershed.find(@scenario1).name %>
		                <% else %>
		                  <%= Scenario.find(@scenario1).name %>
		                <% end %>
		                </td>
						<% for i in 0..@charts1.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts1[i][1].round(1) %></td>
						<% end %>
		            </tr>
		          <% end %>
		          <% if @present2 %>
		            <tr class="gvRowStyleEven">
		              <td class="gvTotalText">
		              	<% if session[:simulation] != 'scenario' %>
		                  <%= Watershed.find(@scenario2).name %>
		                <% else %>
		                  <%= Scenario.find(@scenario2).name %>
		                <% end %>
		              </td>
						<% for i in 0..@charts2.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts2[i][1].round(1) %></td>
						<% end %>
		            </tr>
		          <% end %>
		          <% if @present3 %>
		            <tr class="gvRowStyleOdd">
		              	<td class="gvTotalText">
			              	<% if session[:simulation] != 'scenario' %>
			                  <%= Watershed.find(@scenario3).name %>
			                <% else %>
			                  <%= Scenario.find(@scenario3).name %>
			                <% end %>
		              	</td>
						<% for i in 0..@charts3.count - 1 %>
							<td class='gvCellStyle Title'><%= @charts3[i][1].round(1) %></td>
						<% end %>
		            </tr>
		          <% end %>
		        </tbody>
	        <% end %>
    	</table>
    </div>
<% else %>
	<div id="tbl_detailed" class="table-responsive">
	  <div class="panel panel-default">
		<table class='table table-bordered', style="white-space: nowrap;">
		  	<thead> <!-- titles -->
			  	<tr class='gvHeaderStyle' >
			  		<th></th>
			  		<% if session[:simulation] == 'scenario' %>
						<% if !@present1 %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Scenario.find(@results1[0].scenario_id).name%></th><%end%>
						<% if !@present2 %> <th colspan="2" style="text-align:center"><%= t('result.scenario2') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@results2[0].scenario_id).name%></th><%end%>
						<% if !@present3 %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@results3[0].scenario_id).name%></th><%end%>
					<% else %>
						<% if !@present1 %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Watershed.find(@results1[0].watershed_id).name%></th><%end%>
						<% if !@present1 %> <th colspan="2" style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@results1[0].watershed_id).name%></th><%end%>
						<% if !@present3 %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@results3[0].watershed_id).name%></th><%end%>
					<% end %>
			  	</tr>
				<tr class='gvHeaderStyle'>
					<th style="border-right: thick double #ff0000" ><%= t('result.description') %></th>
					<th ><%= "Losses(±)" %></th>
					<th ><%= "Losses(±)" %></th>
					<th style="border-right: thick double #ff0000"><%= t('general.change') + "(%)"%></th>
					<th ><%= "Losses(±)" %></th>
					<th ><%= t('general.change') + "(%)"%></th>
				</tr>
		  	</thead>
		  	<tbody>
		  		<% t = "s" %>
			    <% if @results1 != nil && @present %>
				  	<% @results1.each do |result| %>
						<!--deep percolation hidden according to Dr. Saleh on 7/31/2017 - show again requested by Mindy 10/13/2017-->
						<% if (result.description_id > 89 and ENV["APP_VERSION"] == "modified") %>
							<% next %>
						<% end %>
						<%# description = Description.find(result.description_id) %>
						<% value2 = 0 %>
						<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil then %> <%value2 = @results2.find_by_description_id(result.description_id).value %> 
						<% end %>
						<% difference1 = value2 - result.value %>
						<% reduction1 = difference1 / result.value * 100 %>
						<%# total_area1 = difference1 * @total_area%>
						<% value3 = 0 %>
						<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil then %> <%value3 = @results3.find_by_description_id(result.description_id).value %> 
						<% end %>
						<% difference2 = value3 - result.value%>
						<% reduction2 = difference2 / result.value * 100%>
						<%# total_area2 = difference2 * @total_area%>
						<% row_id = t + "row" + result.description_id.to_s %>
						<% case (result.description_id % 10) %> 
						<% when 0 %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<% if result.description_id == 70 %>  
									<% if I18n.locale.eql?(:en) %>  
									  <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
										<%= result.description.description + " (" + result.description.unit + ")"  %>
										<%= check_box_tag result.description.description%>
									  </td>
									<% else %>
									  <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									    <%= result.description.spanish_description %>
										<%= check_box_tag result.description.description %>
									  </td>
									<% end %>
									<td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
									<%# if @results2 != nil %>
									  <!--<td class="gvTotalNumber"><%= "" %></td>-->
									  <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
									  <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<%# end %>
									<%# if @results3 != nil %>
									  <!--<td class="gvTotalNumber"><%= "" %></td>-->
									  <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
									  <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
									<%# end %>
								<% else %>  <!--if different than crops -->
									<% if I18n.locale.eql?(:en) %>
									  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
										<%= result.description.description + " (" + result.description.unit + ")" %>
										<%= check_box_tag result.description.description %>
									  </th>
									<% else %>
									  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
										<%= result.description.spanish_description + " (" + result.description.unit + ")" %>
										<%= check_box_tag result.description.description %>
									  </th>
									<% end %>
									<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", result.value).to_s + " (" + result.ci_value.to_s + ")" %></td>
									<% if @results2 != nil %>
									  <td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", value2).to_s + " (" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value).to_s + ")" %></td>
									  <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1) + " (" %> <%= "+" unless reduction1 < 0 %> <%= sprintf("%8.1f", reduction1) + ")" %></td>
									<% end %>
									<% if @results3 != nil %>
									  <td class="gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", value3).to_s + " (" + sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value).to_s + ")" %></td>
									  <td class="gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference2) + " (" %> <%= "+" unless reduction2 < 0 %> <%=sprintf("%8.1f", reduction2) + ")"%></td>
									<% end %>
									<% if @results2 == nil %>
									  <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
									  <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<% end %>
									<% if @results3 == nil %>
									  <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
									  <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
									<% end %>
								<% end %>
						  	</tr>
						<% else %>  <!-- else in case when detailed-->
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<% if result.description_id > 70 && result.description_id < 80 %>
									<% if I18n.locale.eql?(:en) %>
										<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).name + " (" + Crop.find(result.crop_id).yield_unit + "/ac)" %></td>
									<% else %>
										<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).spanish_name + " (" + Crop.find(result.crop_id).yield_unit + "/ac)" %></td>
									<% end %>
									<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", result.value.round(1)) + " (" + sprintf("%8.1f", result.ci_value) + ")"%></td>
									<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", value2.round(1)) + " (" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference1 <= 0 %>
											<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD">><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", value3.round(1)) %></td>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value) %></td>
										<% if difference2 <= 0 %>
											<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results2 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<% end %>
									<% if @results3 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
									<% end %>
								<% else %>
    								<% format = "%8.2f" %>
    								<% if result.description_id >= 60 && result.description_id <=69 %>
    									<% format = "%8.4f" %>
    								<% end %>
									<% if I18n.locale.eql?(:en) %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= result.description.description + " (" + result.description.unit + ")" %></th>
									<% else %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= result.description.spanish_description + " (" + result.description.unit + ")" %></th>
									<% end %>
									<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf(format, result.value).to_s + " (" + sprintf("%8.1f", result.ci_value).to_s + ")" %></td>
									<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf(format, value2) + " (" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if reduction1 >= 0 %>
											<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf(format, difference1) + " (+" + sprintf(format, reduction1) + ")"%></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf(format, difference1) + " (" + sprintf(format, reduction1) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf(format, value3) + " (" + sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference2 >= 0 %>
											<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf(format, difference2) + " (+" + sprintf(format, reduction2) + ")"%></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf(format, difference2) + " (" + sprintf(format, reduction2) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results2 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<% end %>
									<% if @results3 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"<%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
									<% end %>
								<% end %>   <!-- if result.description_id > 70 && result.description_id < 80 -->
							</tr>
						<% end %><!-- end case when -->
				    <% end %>  <!-- @results1.each -->
				<% else %>
					<% row_id = t + "row" + "20" %>
					<% debugger %>
					<% if @scenario1 != nil then %>
							<% averages1=AnnualResult.where(:sub1 => 0, :scenario_id => @scenario1).pluck('avg(orgn)', 'avg(qn)', 'avg(no3-qn)', 'avg(qdrn)', 'avg(orgp)', 'avg(po4)', 'avg(qdrp)', 'avg(surface_flow)', 'avg(flow-surface_flow)', 'avg(qdr)', 'avg(irri)', 'avg(dprk)', 'avg(sed)', 'avg(ymnu)') %>
							<% averages2 = nil %>
							<% if @scenario2 != nil then %>
								<% averages2=AnnualResult.where(:sub1 => 0, :scenario_id => @scenario2).pluck('avg(orgn)', 'avg(qn)', 'avg(no3-qn)', 'avg(qdrn)', 'avg(orgp)', 'avg(po4)', 'avg(qdrp)', 'avg(surface_flow)', 'avg(flow-surface_flow)', 'avg(qdr)', 'avg(irri)', 'avg(dprk)', 'avg(sed)', 'avg(ymnu)') %>
								<% if @scenario3 != nil  then %>
									<% averages3=AnnualResult.where(:sub1 => 0, :scenario_id => @scenario3).pluck('avg(orgn)', 'avg(qn)', 'avg(no3-qn)', 'avg(qdrn)', 'avg(orgp)', 'avg(po4)', 'avg(qdrp)', 'avg(surface_flow)', 'avg(flow-surface_flow)', 'avg(qdr)', 'avg(irri)', 'avg(dprk)', 'avg(sed)', 'avg(ymnu)') %>
								<% end %>
							<% end %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= "Total N" + " (" + "lbs/ac" + ")" %>
									<%= check_box_tag "Total N" %>
								</th>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]).to_s + " (" + 0.to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", averages2[0][0]+averages2[0][1]+averages2[0][2]+averages2[0][3]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages2[0][0]+averages2[0][1]+averages2[0][2]+averages2[0][3]-(averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) %>
									<% reduction1 = difference1 / (averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) * 100 %>
									<td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>
								<% if @scenario3 > "0" then %>
									<td class="gvTotalText" style="background-color:#CADCFF""><%= sprintf("%8.1f", averages3[0][0]+averages3[0][1]+averages3[0][2]+averages3[0][3]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages3[0][0]+averages3[0][1]+averages3[0][2]+averages3[0][3]-(averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) %>
									<% reduction1 = difference1 / (averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) * 100 %>
									<td class= "gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>
							</tr>
							<% row_id = t + "row" + "21" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Org N" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][0]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][0]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][0]-averages1[0][0] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][0]-averages1[0][0]).to_s + " (" + sprintf("%8.2f", (averages2[0][0]-averages1[0][0]) / averages1[0][0]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0"  then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][0]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][0]-averages1[0][0] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][0]-averages1[0][0]).to_s + " (" + sprintf("%8.2f", (averages3[0][0]-averages1[0][0]) / averages1[0][0]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "22" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Runoff N" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][1]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][1]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][1]-averages1[0][1] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][1]-averages1[0][1]).to_s + " (" + sprintf("%8.2f", (averages2[0][1]-averages1[0][1]) / averages1[0][1]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][1]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][1]-averages1[0][1] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][1]-averages1[0][1]).to_s + " (" + sprintf("%8.2f", (averages3[0][1]-averages1[0][1]) / averages1[0][1]).to_s + ")" %></td>
								<% end %>								
							</tr>
							<% row_id = t + "row" + "23" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Subsurface N" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][2]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][2]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][2]-averages1[0][2] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][2]-averages1[0][2]).to_s + " (" + sprintf("%8.2f", (averages2[0][2]-averages1[0][2]) / averages1[0][2]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][2]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][2]-averages1[0][2] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][2]-averages1[0][2]).to_s + " (" + sprintf("%8.2f", (averages3[0][2]-averages1[0][2]) / averages1[0][2]).to_s + ")" %></td>
								<% end %>							
							</tr>
							<% row_id = t + "row" + "24" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Tile Drain N" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][3]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][3]-averages1[0][3]).to_s + " (" + sprintf("%8.2f", (averages2[0][3]-averages1[0][3]) / averages1[0][3]).to_s + ")" %></td>
									<td class=<%= if averages2[0][3]-averages1[0][3] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][3]-averages1[0][3]).to_s + " (" + sprintf("%8.1f", (averages2[0][3]-averages1[0][3]) / averages1[0][3]).to_s + ")" %></td>									
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][3]-averages1[0][3]).to_s + " (" + sprintf("%8.2f", (averages3[0][3]-averages1[0][3]) / averages1[0][3]).to_s + ")" %></td>
									<td class=<%= if averages3[0][3]-averages1[0][3] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][3]-averages1[0][3]).to_s + " (" + sprintf("%8.1f", (averages3[0][3]-averages1[0][3]) / averages1[0][3]).to_s + ")" %></td>									
								<% end %>							
							</tr>
							<%# P values %>
							<% row_id = t + "row" + "30" %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= "Total P" + " (" + "lbs/ac" + ")" %>
									<%= check_box_tag "Total P" %>
								</th>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", averages1[0][4]+averages1[0][5]+averages1[0][6]).to_s + " (" + 0.to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", averages2[0][4]+averages2[0][5]+averages2[0][6]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages2[0][4]+averages2[0][5]+averages2[0][5]-(averages1[0][4]+averages1[0][5]+averages1[0][6]) %>
									<% reduction1 = difference1 / (averages1[0][4]+averages1[0][5]+averages1[0][6]) * 100 %>
									<td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>									
								<% end %>
								<% if @scenario3 > "0" then %>
									<td class="gvTotalText" style="background-color:#CADCFF""><%= sprintf("%8.1f", averages3[0][4]+averages3[0][5]+averages3[0][6]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages3[0][4]+averages3[0][5]+averages3[0][6]-(averages1[0][4]+averages1[0][5]+averages1[0][6]) %>
									<% reduction1 = difference1 / (averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) * 100 %>
									<td class= "gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>
							</tr>
							<% row_id = t + "row" + "31" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Org P" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][4]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][4]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][4]-averages1[0][4] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][4]-averages1[0][4]).to_s + " (" + sprintf("%8.2f", (averages2[0][4]-averages1[0][4]) / averages1[0][4]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][4]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][4]-averages1[0][4] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][4]-averages1[0][4]).to_s + " (" + sprintf("%8.2f", (averages3[0][4]-averages1[0][4]) / averages1[0][4]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "32" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "PO4" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][5]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][5]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][5]-averages1[0][5] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][5]-averages1[0][5]).to_s + " (" + sprintf("%8.2f", (averages2[0][5]-averages1[0][5]) / averages1[0][5]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][5]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][5]-averages1[0][5] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][5]-averages1[0][5]).to_s + " (" + sprintf("%8.2f", (averages3[0][5]-averages1[0][5]) / averages1[0][5]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "33" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Tile Drain P" + " (" + "lbs/ac" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][6]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][6]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][6]-averages1[0][6] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][6]-averages1[0][6]).to_s + " (" + sprintf("%8.2f", (averages2[0][6]-averages1[0][6]) / averages1[0][6]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][6]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][6]-averages1[0][6] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][6]-averages1[0][6]).to_s + " (" + sprintf("%8.2f", (averages3[0][6]-averages1[0][6]) / averages1[0][6]).to_s + ")" %></td>
								<% end %>
							</tr>
							<%# Flow values %>
							<% row_id = t + "row" + "40" %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= "Surface/Subsurface/Tile Drain Flow" + " (" + "in" + ")" %>
									<%= check_box_tag "Total P" %>
								</th>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", averages1[0][7]+averages1[0][8]+averages1[0][9]).to_s + " (" + 0.to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", averages2[0][7]+averages2[0][8]+averages2[0][9]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages2[0][7]+averages2[0][8]+averages2[0][9]-(averages1[0][7]+averages1[0][8]+averages1[0][9]) %>
									<% reduction1 = difference1 / (averages1[0][7]+averages1[0][8]+averages1[0][9]) * 100 %>
									<td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 > "0" then %>
									<td class="gvTotalText" style="background-color:#CADCFF""><%= sprintf("%8.1f", averages3[0][7]+averages3[0][8]+averages3[0][9]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages3[0][7]+averages3[0][8]+averages3[0][9]-(averages1[0][7]+averages1[0][8]+averages1[0][9]) %>
									<% reduction1 = difference1 / (averages1[0][0]+averages1[0][1]+averages1[0][2]+averages1[0][3]) * 100 %>
									<td class= "gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>							
							</tr>
							<% row_id = t + "row" + "41" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Surface Flow" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][7]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][7]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][7]-averages1[0][7] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][7]-averages1[0][7]).to_s + " (" + sprintf("%8.2f", (averages2[0][7]-averages1[0][7]) / averages1[0][7]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][7]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][7]-averages1[0][7] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][7]-averages1[0][7]).to_s + " (" + sprintf("%8.2f", (averages3[0][7]-averages1[0][7]) / averages1[0][7]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "42" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Subsurface Flow" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][8]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][8]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][7]-averages1[0][7] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][7]-averages1[0][7]).to_s + " (" + sprintf("%8.2f", (averages2[0][7]-averages1[0][7]) / averages1[0][7]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][8]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][7]-averages1[0][7] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][7]-averages1[0][7]).to_s + " (" + sprintf("%8.2f", (averages3[0][7]-averages1[0][7]) / averages1[0][7]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "43" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Tile Drain Flow" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][9]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][9]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][9]-averages1[0][9] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][9]-averages1[0][9]).to_s + " (" + sprintf("%8.2f", (averages2[0][9]-averages1[0][9]) / averages1[0][9]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][9]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][9]-averages1[0][9] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][9]-averages1[0][9]).to_s + " (" + sprintf("%8.2f", (averages3[0][9]-averages1[0][9]) / averages1[0][9]).to_s + ")" %></td>
								<% end %>
							</tr>
							<%# Other Flow values %>
							<% row_id = t + "row" + "50" %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= "Total Other Water Info" + " (" + "in" + ")" %>
									<%= check_box_tag "Total P" %>
								</th>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", averages1[0][10]+averages1[0][11]).to_s + " (" + 0.to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", averages2[0][10]+averages2[0][11]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages2[0][10]+averages2[0][11]-(averages1[0][10]+averages1[0][11]) %>
									<% reduction1 = difference1 / (averages1[0][10]+averages1[0][11]) * 100 %>
									<td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 > "0" then %>
									<td class="gvTotalText" style="background-color:#CADCFF""><%= sprintf("%8.1f", averages3[0][10]+averages3[0][11]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages3[0][10]+averages3[0][11]-(averages1[0][10]+averages1[0][11]) %>
									<% reduction1 = difference1 / (averages1[0][10]+averages1[0][11]) * 100 %>
									<td class= "gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>								
							</tr>
							<% row_id = t + "row" + "51" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Irrigation Runoff" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][10]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][10]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][10]-averages1[0][10] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][10]-averages1[0][10]).to_s + " (" + sprintf("%8.2f", (averages2[0][10]-averages1[0][10]) / averages1[0][10]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][10]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][10]-averages1[0][10] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][10]-averages1[0][10]).to_s + " (" + sprintf("%8.2f", (averages3[0][10]-averages1[0][10]) / averages1[0][10]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "52" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Deep Percolation" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][11]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][11]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][11]-averages1[0][11] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][11]-averages1[0][11]).to_s + " (" + sprintf("%8.2f", (averages2[0][11]-averages1[0][11]) / averages1[0][11]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][11]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][11]-averages1[0][11] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][11]-averages1[0][11]).to_s + " (" + sprintf("%8.2f", (averages3[0][11]-averages1[0][11]) / averages1[0][11]).to_s + ")" %></td>
								<% end %>
							</tr>
							<%# Erosion %>
							<% row_id = t + "row" + "60" %>
							<tr class="gvRowStyleOdd", id = <%=row_id%>>
								<th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= "Total Sediment" + " (" + "t/ac" + ")" %>
									<%= check_box_tag "Total P" %>
								</th>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", averages1[0][12]+averages1[0][13]).to_s + " (" + 0.to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", averages2[0][12]+averages2[0][13]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages2[0][12]+averages2[0][13]-(averages1[0][12]+averages1[0][13]) %>
									<% reduction1 = difference1 / (averages1[0][12]+averages1[0][13]) * 100 %>
									<td class= "gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 > "0" then %>
									<td class="gvTotalText" style="background-color:#CADCFF""><%= sprintf("%8.1f", averages3[0][12]+averages3[0][13]).to_s + " (" + 0.to_s + ")" %></td>
									<% difference1 = averages3[0][12]+averages3[0][13]-(averages1[0][12]+averages1[0][13]) %>
									<% reduction1 = difference1 / (averages1[0][12]+averages1[0][13]) * 100 %>
									<td class= "gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference1).to_s + " (" + sprintf("%8.1f", reduction1).to_s + ")" %></td>	
								<% end %>
							</tr>
							<% row_id = t + "row" + "61" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Surface Erosion" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][12]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][12]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][12]-averages1[0][12] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][12]-averages1[0][12]).to_s + " (" + sprintf("%8.2f", (averages2[0][12]-averages1[0][12]) / averages1[0][12]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][12]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][12]-averages1[0][12] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][12]-averages1[0][12]).to_s + " (" + sprintf("%8.2f", (averages3[0][12]-averages1[0][12]) / averages1[0][12]).to_s + ")" %></td>
								<% end %>
							</tr>
							<% row_id = t + "row" + "62" %>
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= "Manure Erosion" + " (" + "in" + ")" %></th>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.2f", averages1[0][13]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
								<% if @scenario2 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][13]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages2[0][13]-averages1[0][13] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.2f", averages2[0][13]-averages1[0][13]).to_s + " (" + sprintf("%8.2f", (averages2[0][13]-averages1[0][13]) / averages1[0][13]).to_s + ")" %></td>
								<% end %>
								<% if @scenario3 != "0" then %>
									<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][13]).to_s + " (" + sprintf("%8.1f", 0).to_s + ")" %></td>
									<td class=<%= if averages3[0][13]-averages1[0][13] <= 0 then "nutrients_negative bottom_border" else "nutrients_positive bottom_border" end %> style="background-color:#DEFFFD"><%= sprintf("%8.2f", averages3[0][13]-averages1[0][13]).to_s + " (" + sprintf("%8.2f", (averages3[0][13]-averages1[0][13]) / averages1[0][13]).to_s + ")" %></td>
								<% end %>
							</tr>													
					<% end %>
					<% if params[:result2] != nil then %>
						<% if params[:result2][:scenario_id] == nil then %>
							<% averages2=AnnualResult.where(:sub1 => 0, :scenario_id => @scenario2).pluck('avg(orgn)', 'avg(qn)', 'avg(no3-qn)', 'avg(qdrn)', 'avg(orgp)', 
										'avg(po4)', 'avg(qdrp)', 'avg(surface_flow)', 'avg(flow-surface_flow)', 'avg(qdr)', 'avg(no3-qn)', 'avg(irri)',
										'avg(dprk)', 'avg(sed)', 'avg(ymnu)', 'avg(pcp)') %>
						<% end %>
					<% end %>
					<% if params[:result3] != nil then %>
						<% if params[:result3][:scenario_id] == nil then %>					
							<% averages3=AnnualResult.where(:sub1 => 0, :scenario_id => @scenario3).pluck('avg(orgn)', 'avg(qn)', 'avg(no3-qn)', 'avg(qdrn)', 'avg(orgp)', 
										'avg(po4)', 'avg(qdrp)', 'avg(surface_flow)', 'avg(flow-surface_flow)', 'avg(qdr)', 'avg(no3-qn)', 'avg(irri)',
										'avg(dprk)', 'avg(sed)', 'avg(ymnu)', 'avg(pcp)')	%>
						<% end %>
					<% end %>												
				<% end %>   <!-- if @results1 != nil && @present -->
				<!--Crop result here -->
				<% id = 70%>
				<% @crop_results.each do |result| %>
					<% id += 1%>
					<% row_id = t + "row" + id.to_s %>
					<% value2 = 0 %>
					<% reduction1 = 0 %>
					<% if @scenario2 > "0" then %>
						<%value2 = result[3] %>
						<% difference1 = value2 - result[1] %>
						<% reduction1 = difference1 / result[1] * 100 unless result[1] == 0%>
						<%# total_area1 = difference1 * @total_area%>
					<% end %>
					<% value3 = 0 %>
					<% reduction2 = 0 %>
					<% if @scenario3 > "0" then %>
						<%value3 = result[5] %>
						<% difference2 = value3 - result[1] %>
						<% reduction2 = difference2 / result[1] * 100 unless result[1] == 0 %>
						<%# total_area2 = difference2 * @total_area %>
					<% end %>
					<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
						<% if I18n.locale.eql?(:en) %>
							<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).name + " (" + Crop.find(result[0]).yield_unit + "/ac)" %></td>
						<% else %>
							<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).spanish_name + " (" + Crop.find(result[0]).yield_unit + "/ac)" %></td>
						<% end %>
						<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", result[1].round(1)) + " (" + sprintf("%8.1f", result[2]) + ")" %></td>
						<% if @scenario2 > "0" && @results2 %>
							<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", result[3].round(1)) + " (" + sprintf("%8.1f", result[4]) + ")"%></td>
							<% if difference1 <= 0 %>
								<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
							<% else %>
								<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
							<% end %>
						<% else %>
							<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
							<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
						<%end%>
						<% if @scenario3 > "0" && @results3 %>
							<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", result[5].round(1)) + " (" + sprintf("%8.1f", result[6]) + ")" %></td>
							<% if difference2 <= 0 %>
								<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
							<% else %>
								<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
							<% end %>
						<% else %>
							<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
							<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
						<%end%>
					</tr>
				<% end %>  <!-- @crop_results.each  -->

      <% if !@crop_results.empty? && @present and ENV["APP_VERSION"] == "standard" %>
        <% id = 200%>
        <% row_id = t + "row" + id.to_s %>
        <tr class="gvRowStyleOdd" id=<%=row_id%>>
          <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
            <%= 'N ' + t('result.stress')%>
            <%= check_box_tag 'n_stress' %>
          </td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
        </tr>
        <% @stress_ns_results.each do |ns| %>
          <% id += 1 %>
          <% row_id = t + "row" + id.to_s %>
          <% value2 = 0 %>
          <% reduction1 = 0 %>
          <% crop = Crop.find(ns[0]) %>
		  <% percent1 = (ns[1]/crop.dyam)*100 %>
          <% if @scenario2 > "0" then %>
            <%value2 = ns[3] %>
            <% difference1 = value2 - ns[1] %>
            <% reduction1 = difference1 / ns[1] * 100 unless ns[1] == 0 %>
            <% percent2 = (ns[3]/crop.dyam)*100 %>
            <%# total_area1 = difference1 * @total_area%>
          <% end %>
          <% value3 = 0 %>
          <% reduction2 = 0 %>
          <% if @scenario3 > "0" then %>
            <%value3 = ns[5] %>
            <% difference2 = value3 - ns[1] %>
            <% reduction2 = difference2 / ns[1] * 100 unless ns[1] == 0 %>
            <% percent3 = (ns[5]/crop.dyam)*100 %>
          <% end %>
          <% if percent1 && percent1 > 100 %><% percent1 = 100 %><% end %>
      	  <% if percent2 && percent2 > 100 %><% percent2 = 100 %><% end %>
      	  <% if percent3 && percent3 > 100 %><% percent3 = 100 %><% end %>
          <tr class="gvRowStyleEven" id = <%=row_id%> style="display: none">
          <% if I18n.locale.eql?(:en) %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.name + " (" + t('pdf.days') + ")" %></td>
          <% else %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.spanish_name + " (" + t('pdf.days') + ")" %></td>
          <% end %>
          <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", ns[1].round(1)) + " (" + sprintf("%3.0f", percent1) + "%)"%></td>
          <% if @scenario2 > "0" && @results2 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", ns[3].round(1)).to_s + " (" + sprintf("%3.0f", percent2) + "%)" %></td>
            <% if difference1 <= 0 %>
              <td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <%end%>
          <% if @scenario3 > "0" && @results3 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", ns[5].round(1)).to_s + " (" + sprintf("%3.0f", percent3) + "%)"%></td>
            <% if difference2 > 0 %>
              <td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
          <%end%>
        </tr>
        <% end %>
        <% id = 210 %>
        <% row_id = t + "row" + id.to_s %>
        <tr class="gvRowStyleOdd" id=<%=row_id%>>
          <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
            <%= 'P ' + t('result.stress')%>
            <%= check_box_tag 'p_stress' %>
          </td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
        </tr>
        <% @stress_ps_results.each do |ps| %>
          <% id += 1 %>
          <% row_id = t + "row" + id.to_s %>
          <% value2 = 0 %>
          <% reduction1 = 0 %>
          <% crop = Crop.find(ps[0]) %>
		  <% percent1 = (ps[1]/crop.dyam)*100 %>
          <% if @scenario2 > "0" then %>
            <% value2 = ps[3] %>
            <% difference1 = value2 - ps[1] %>
            <% reduction1 = difference1 / ps[1] * 100 unless ps[1] == 0 %>
            <% percent2 = (ps[3]/crop.dyam)*100 %>
            <%# total_area1 = difference1 * @total_area%>
          <% end %>
          <% value3 = 0 %>
          <% reduction2 = 0 %>
          <% if @scenario3 > "0" then %>
            <%value3 = ps[5] %>
            <% difference2 = value3 - ps[1] %>
            <% reduction2 = difference2 / ps[1] * 100 unless ps[1] == 0 %>
            <% percent3 = (ps[5]/crop.dyam)*100 %>
            <%# total_area2 = difference2 * @total_area %>
          <% end %>
      	  <% if percent1 && percent1 > 100 %><% percent1 = 100 %><% end %>
      	  <% if percent2 && percent2 > 100 %><% percent2 = 100 %><% end %>
      	  <% if percent3 && percent3 > 100 %><% percent3 = 100 %><% end %>
          <tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
          <% if I18n.locale.eql?(:en) %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.name + " (" + t('pdf.days') + ")" %></td>
          <% else %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.spanish_name + " (" + t('pdf.days') + ")" %></td>
          <% end %>
          <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", ps[1].round(1)) + " (" + sprintf("%3.0f", percent1) + "%)" %></td>
          <% if @scenario2 > "0" && @results2 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", ps[3].round(1)). + " (" + sprintf("%3.0f", percent2) + "%)" %></td>
            <% if difference1 <= 0 %>
              <td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <%end%>
          <% if @scenario3 > "0" && @results3 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", ps[5].round(1)) + " (" + sprintf("%3.0f", percent3) + "%)"%></td>
            <% if difference2 <= 0 %>
              <td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
          <%end%>
        </tr>
        <% end %>
        <% id = 220 %>
        <% row_id = t + "row" + id.to_s %>
        <tr class="gvRowStyleOdd" id=<%=row_id%>>
          <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
            <%= 'Temperature ' + t('result.stress')%>
            <%= check_box_tag 'temp_stress' %>
          </td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
        </tr>
        <% @stress_ts_results.each do |ts| %>
          <% id += 1 %>
          <% row_id = t + "row" + id.to_s %>
          <% value2 = 0 %>
          <% reduction1 = 0 %>
          <% crop = Crop.find(ts[0]) %>
		  <% percent1 = (ts[1]/crop.dyam)*100 %>
          <% if @scenario2 > "0" then %>
            <%value2 = ts[3] %>
            <% difference1 = value2 - ts[1] %>
            <% reduction1 = difference1 / ts[1] * 100 unless ts[1] == 0 %>
            <% percent2 = (ts[3]/crop.dyam)*100 %>
          <% end %>
          <% value3 = 0 %>
          <% reduction2 = 0 %>
          <% if @scenario3 > "0" then %>
            <% value3 = ts[5] %>
            <% difference2 = value3 - ts[1] %>
            <% reduction2 = difference2 / ts[1] * 100 unless ts[1] == 0 %>
            <% percent3 = (ts[5]/crop.dyam)*100 %>
          <% end %>
          <% if percent1 && percent1 > 100 %><% percent1 = 100 %><% end %>
      	  <% if percent2 && percent2 > 100 %><% percent2 = 100 %><% end %>
      	  <% if percent3 && percent3 > 100 %><% percent3 = 100 %><% end %>
          <tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
            <% if I18n.locale.eql?(:en) %>
              <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.name + " (" + t('pdf.days') + ")" %></td>
            <% else %>
              <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.spanish_name + " (" + t('pdf.days') + ")" %></td>
            <% end %>
            <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", ts[1].round(1)) + " (" + sprintf("%3.0f", percent1) + "%)" %></td>
            <% if @scenario2 > "0" && @results2 %>
              <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", ts[3].round(1)) + " (" + sprintf("%3.0f", percent2) + "%)" %></td>
              <% if difference1 <= 0 %>
                <td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
              <% else %>
                <td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
              <% end %>
            <% else %>
              <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
              <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
            <%end%>
            <% if @scenario3 > "0" && @results3 %>
              <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", ts[5].round(1)).to_s + " (" + sprintf("%3.0f", percent3) + "%)" %></td>
              <% if difference2 <= 0 %>
                <td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
              <% else %>
                <td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
              <% end %>
            <% else %>
              <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
              <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
            <%end%>
          </tr>
        <% end %>
        <% id = 230 %>
        <% row_id = t + "row" + id.to_s %>
        <tr class="gvRowStyleOdd" id=<%=row_id%>>
          <td class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
            <%= 'Water ' + t('result.stress')%>
            <%= check_box_tag 'water_stress' %>
          </td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
          <td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
        </tr>
        <% @stress_ws_results.each do |ws| %>
          <% id += 1 %>
          <% row_id = t + "row" + id.to_s %>
          <% value2 = 0 %>
          <% reduction1 = 0 %>
          <% crop = Crop.find(ws[0]) %>
		  <% percent1 = (ws[1]/crop.dyam)*100 %>
          <% if @scenario2 > "0" then %>
            <%value2 = ws[3] %>
            <% difference1 = value2 - ws[1] %>
            <% reduction1 = difference1 / ws[1] * 100 unless ws[1] == 0 %>
            <% percent2 = (ws[3]/crop.dyam)*100 %>
          <% end %>
          <% value3 = 0 %>
          <% reduction2 = 0 %>
          <% if @scenario3 > "0" then %>
            <%value3 = ws[5] %>
            <% difference2 = value3 - ws[1] %>
            <% reduction2 = difference2 / ws[1] * 100 unless ws[1] == 0 %>
            <% percent3 = (ws[5]/crop.dyam)*100 %>
          <% end %>
          <% if percent1 && percent1 > 100 %><% percent1 = 100 %><% end %>
      	  <% if percent2 && percent2 > 100 %><% percent2 = 100 %><% end %>
      	  <% if percent3 && percent3 > 100 %><% percent3 = 100 %><% end %>
          <tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
          <% if I18n.locale.eql?(:en) %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.name + " (" + t('pdf.days') + ")" %></td>
          <% else %>
            <td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= crop.spanish_name + " (" + t('pdf.days') + ")" %></td>
          <% end %>
          <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", ws[1].round(1)) + " (" + sprintf("%3.0f", percent1) + "%)" %></td>
          <% if @scenario2 > "0" && @results2 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", ws[3].round(1)) + " (" + sprintf("%3.0f", percent2) + "%)"%></td>
            <% if difference1 <= 0 %>
              <td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1))+ " (" + sprintf("%8.0f", reduction1.round(1)) + ")" %></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
          <%end%>
          <% if @scenario3 > "0" && @results3 %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", ws[5].round(1)) + " (" + sprintf("%3.0f", percent3) + "%)" %></td>
            <% if difference2 <= 0 %>
              <td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
            <% else %>
              <td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")" %></td>
            <% end %>
          <% else %>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
            <td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
          <%end%>
        </tr>
        <% end %>
      <% end %>
			</tbody>
		</table>
	  </div>
	</div>

	<div id="tbl_total" class="table-responsive" style="display:none">
	  <div class="panel panel-default">
		<table class='table table-bordered', style="white-space: nowrap;">
		  	<thead> <!-- titles -->
			  	<tr class='gvHeaderStyle' >
			  		<th></th>
			  		<% if session[:simulation] == 'scenario' %>
						<% if !@present1 %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Scenario.find(@results1[0].scenario_id).name%></th><%end%>
						<% if !@present2 %> <th colspan="2" style="text-align:center"><%= t('result.scenario2') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@results2[0].scenario_id).name%></th><%end%>
						<% if !@present3 %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Scenario.find(@results3[0].scenario_id).name%></th><%end%>
					<% else %>
						<% if !@present1 %> <th style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th style="text-align:center"><%=Watershed.find(@results1[0].watershed_id).name%></th><%end%>
						<% if !@present1 %> <th colspan="2" style="text-align:center"><%= t('result.scenario1') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@results1[0].watershed_id).name%></th><%end%>
						<% if !@present3 %> <th colspan="2" style="text-align:center"><%= t('result.scenario3') %></th> <% else %> <th colspan="2" style="text-align:center"><%=Watershed.find(@results3[0].watershed_id).name%></th><%end%>
					<% end %>
			  	</tr>
				<tr class='gvHeaderStyle'>
					<th style="border-right: thick double #ff0000" ><%= t('result.description') %></th>
					<th ><%= "Losses(±)" %></th>
					<th ><%= "Losses(±)" %></th>
					<th style="border-right: thick double #ff0000"><%= t('general.change') + "(%)"%></th>
					<th ><%= "Losses(±)" %></th>
					<th ><%= t('general.change') + "(%)"%></th>
				</tr>
		  	</thead>
		    <tbody>
		  		<% t = "t" %>
			    <% if @results1 != nil && @present %>
				  <% @results1.each do |result| %>
						<!--deep percolation hidden according to Dr. Saleh on 7/31/2017 - show again requested by Mindy 10/13/2017-->
					  <% if (result.description_id > 89 and ENV["APP_VERSION"] == "modified") %>
						<% next %>
					  <% end %>
					  <%# description = Description.find(result.description_id) %>
					  <% value2 = 0 %>
					  <% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil then %> <%value2 =@total_area2 * @results2.find_by_description_id(result.description_id).value.round(1) %> <% end %>
					  <% difference1 = value2 - result.value.round(1)*@total_area1 %>
					  <% reduction1 = difference1 / (result.value.round(1)*@total_area1) * 100 %>
					  <%# total_area1 = difference1 * @total_area1%>
					  <% value3 = 0 %>
					  <% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil then %> <%value3 = @total_area3 * @results3.find_by_description_id(result.description_id).value.round(1) %> <% end %>
					  <% difference2 = value3  - result.value.round(1)*@total_area1%>
					  <% reduction2 = difference2 / (result.value.round(1)*@total_area1) * 100%>

					  <% row_id = t + "row" + result.description_id.to_s %>
					  <% case (result.description_id % 10) %>
						<% when 0 %>
						  <tr class="gvRowStyleOdd", id = <%=row_id%>>
							<% if result.description_id == 70 %>
								<% if I18n.locale.eql?(:en) %>
								  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= result.description.description %>
									<%= check_box_tag result.description.description%>
								  </th>
								<% else %>
								  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
								    <%= result.description.spanish_description %>
									<%= check_box_tag result.description.description %>
								  </th>
								<% end %>
								<td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= "" %></td>
								<td class="gvTotalNumber" style="background-color:#DEFFFD"><%= "" %></td>
								<td class="gvTotalNumber" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
								<td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
								<td class="gvTotalNumber" style="background-color:#CADCFF"><%= "" %></td>
							<% else %>
							    <% if result.description_id >= 40 && result.description_id <= 59 %>
    								<% description_unit = "ac in" %>
    							<% else %>
    								<% description_unit = result.description.unit.chomp("/ac") %>
    							<% end %>
								<% if I18n.locale.eql?(:en) %>
								  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= result.description.description + " (" + description_unit + ")" %>
									<%= check_box_tag result.description.description %>
								  </th>
								<% else %>
								  <th class="gvTotalText" style="border-right: thick double #ff0000; text-align:left">
									<%= result.description.spanish_description + " (" + description_unit + ")" %>
									<%= check_box_tag result.description.description %>
								  </th>
								<% end %>
								<td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.1f", result.value.round(1)*@total_area1) + "(" + sprintf("%8.1f", result.ci_value) + ")"%></td>
								<% if @results2 != nil %>
								  <td class="gvTotalText" style="background-color:#DEFFFD"><%= sprintf("%8.1f", value2) + "(" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value) + ")"%></td>
								  <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.1f", difference1) + "(" + sprintf("%8.1f", reduction1) + ")"%></td>
								<% end %>
								<% if @results3 != nil %>
								  <td class="gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", value3).to_s + "(" + sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value) + ")"%></td>
								  <td class="gvTotalText" style="background-color:#CADCFF"><%= sprintf("%8.1f", difference2) + "(" + sprintf("%8.1f", reduction2) + ")"%></td>
								<% end %>
								<% if @results2 == nil %>
								  <td class="gvTotalText" style="background-color:#DEFFFD"><%= "" %></td>
								  <td class="gvTotalText" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
								<% end %>
								<% if @results3 == nil %>
								  <td class="gvTotalText" style="background-color:#CADCFF"><%= "" %></td>
								  <td class="gvTotalText" style="background-color:#CADCFF"><%= "" %></td>
								<% end %>
							<% end %>
						  </tr>
						<% else %>  <!-- else in case detailed values-->
							<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
								<% if result.description_id > 70 && result.description_id < 80 %>
									<% if I18n.locale.eql?(:en) %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).name + " (" + Crop.find(result.crop_id).yield_unit + ")" %></th>
									<% else %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).spanish_name + " (" + Crop.find(result.crop_id).yield_unit + ")" %></th>
									<% end %>
									<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9">><%= sprintf("%8.0f", (result.value.round(1)*@total_area1).round(1)) + "(" + sprintf("%8.1f", result.ci_value) + ")"%></td>
									<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", value2.round(1)) + " (" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference1 <= 0 %>
											<td class="nutrients_negative bottom_border"  style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
											<!--<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000"><%#= sprintf("%8.0f", total_area1.round(1)) %></td>-->
										<% else %>
											<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", value3.round(1)) + " (" + sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference2 <= 0 %>
											<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results2 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<% end %>
									<% if @results3 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
									<% end %>
								<% else %>
    								<% format = "%8.2f" %>
    								<% if result.description_id >= 60 && result.description_id <=69 %>
    									<% format = "%8.4f" %>
    								<% end %>
    								<% if result.description_id >= 40 && result.description_id <= 59 %>
    									<% description_unit = "ac in" %>
    								<% else %>
    									<% description_unit = result.description.unit.chomp("/ac") %>
    								<% end %>
									<% if I18n.locale.eql?(:en) %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= result.description.description + " (" + description_unit + ")" %></th>
									<% else %>
										<th class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= result.description.spanish_description + " (" + description_unit + ")" %></th>
									<% end %>
									<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf(format, result.value.round(1)*@total_area1) + " (" + sprintf("%8.1f", result.ci_value) + ")"%></td>
									<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf(format, value2) + "(" + sprintf("%8.1f", @results2.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference1 >= 0 %>
											<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf(format, difference1) + " (+" + sprintf(format, reduction1) + ")"%></td>
										<% else %>
											<td class="nutrients_positive bottom_border"  style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf(format, difference1) + " (" + sprintf(format, reduction1) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf(format, value3) + "(" + sprintf("%8.1f", @results3.find_by_description_id(result.description_id).ci_value) + ")"%></td>
										<% if difference2 >= 0 %>
											<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf(format, difference2) + " (+" + sprintf(format, reduction2) + ")"%></td>
										<% else %>
											<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf(format, difference2) + " (" + sprintf(format, reduction2) + ")"%></td>
										<% end %>
									<% end %>
									<% if @results2 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
									<% end %>
									<% if @results3 == nil %>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
										<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
									<% end %>
								<% end %>   <!-- if result.description_id > 70 && result.description_id < 80 -->
							</tr>
						<% end %><!-- end case when -->
				    <% end %>  <!-- @results1.each -->
			  <% end %>   <!-- if @results1 != nil && @present -->
			<!--Crop result here -->
			<% id = 70%>
			<% @crop_results.each do |result| %>
				<% id += 1%>
				<% row_id = t + "row" + id.to_s %>
				<% value2 = 0 %>
				<% reduction1 = 0 %>
				<% if @scenario2 > "0" then %>
					<%value2 = result[3].round(1) * @total_area2 %>
					<% difference1 = value2 - (result[1].round(1) * @total_area1) %>
					<% reduction1 = difference1 / (result[1].round(1)*@total_area1) * 100 unless result[1] == 0%>
					<%# total_area1 = difference1 * @total_area%>
				<% end %>
				<% value3 = 0 %>
				<% reduction2 = 0 %>
				<% if @scenario3 > "0" then %>
					<%value3 = result[5].round(1) * @total_area3 %>
					<% difference2 = value3 - result[1].round(1)*@total_area1 %>
					<% reduction2 = difference2 / (result[1].round(1)*@total_area1) * 100 unless result[1] == 0 %>
					<%# total_area2 = difference2 * @total_area %>
				<% end %>
				<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
					<% if I18n.locale.eql?(:en) %>
						<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).name + " (" + Crop.find(result[0]).yield_unit + ")" %></td>
					<% else %>
						<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).spanish_name + " (" + Crop.find(result[0]).yield_unit + ")" %></td>
					<% end %>
					<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#FFE8F9"><%= sprintf("%8.0f", (result[1].round(1)*@total_area1).round(1)) + " (" + sprintf("%8.1f", result[2]) + ")"%></td>
					<% if @scenario2 > "0" %>
						<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= sprintf("%8.0f", value2.round(1)) + "(" + sprintf("%8.1f", result[4]) + ")"%></td>
						<% if difference1 <= 0 %>
							<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (+" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
						<% else %>
							<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= sprintf("%8.0f", difference1.round(1)) + " (" + sprintf("%8.0f", reduction1.round(1)) + ")"%></td>
						<% end %>
					<% else %>
						<td class="gvCellStyleNumber bottom_border" style="background-color:#DEFFFD"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000; background-color:#DEFFFD"><%= "" %></td>
					<%end%>
					<% if @scenario3 > "0" %>
						<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", value3.round(1)) + "(" + sprintf("%8.1f", result[6]) + ")"%></td>
						<% if difference2 <= 0 %>
							<td class="nutrients_negative bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (+" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
						<% else %>
							<td class="nutrients_positive bottom_border" style="background-color:#CADCFF"><%= sprintf("%8.0f", difference2.round(1)) + " (" + sprintf("%8.0f", reduction2.round(1)) + ")"%></td>
						<% end %>
					<% else %>
						<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border" style="background-color:#CADCFF"><%= "" %></td>
					<%end%>
				</tr>
			<% end %>  <!-- @crop_results.each  -->

			</tbody>
		</table>
	  </div>
	</div>


 <% end %>
 <br>

<%= hidden_field_tag "errors", @errors, { :id => "errors" } %>
