<% if @errors != nil %>
  <% if @errors.length > 0 %>
    <div id="error_explanation">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h2><%= t('activerecord.run_errors', :count => @errors.count, :model => t('models.result').downcase) %></h2>
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if flash[:info] %>
  <div class="flash_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:info] %>
  </div>
<% end %>

<div class="page-header"><h1><%=@type %> <% @title%></h1></div>

<form id="myForm">
  <div class="field">
    <table>
      <tr>
        <% if session[:simulation] == 'scenario' %>
          <h4><%= t('result.select_prompt_scenario') %></h4>
        <% else %>
          <h4><%= t('result.select_prompt_watershed') %></h4>
        <% end %>
      </tr>
      <tr>
        <% if session[:simulation] == 'scenario' %>
          <td><%= collection_select :result1, :scenario_id, Scenario.where(:field_id => @field.id), :id, :name, {:prompt => t('result.select_scenario1'), :selected => @scenario1}, {:required => true, :style =>"width:150px"} %></td>
          <td><%= collection_select :result2, :scenario_id, Scenario.where(:field_id => @field.id), :id, :name, {:prompt => t('result.select_scenario2'), :selected => @scenario2}, {:required => false, :style =>"width:150px"}  %></td>
          <td><%= collection_select :result3, :scenario_id, Scenario.where(:field_id => @field.id), :id, :name, {:prompt => t('result.select_scenario3'), :selected => @scenario3}, {:required => false, :style =>"width:150px"} %></td>
        <% else %>
          <td><%= collection_select :result1, :scenario_id, Watershed.where(:location_id => session[:location_id]), :id, :name, {:prompt => t('result.select_watershed1'), :selected => @scenario1}, {:required => true, :style => "width:160px"} %></td>
          <td><%= collection_select :result2, :scenario_id, Watershed.where(:location_id => session[:location_id]), :id, :name, {:prompt => t('result.select_watershed2'), :selected => @scenario2}, {:required => false, :style =>"width:160px"} %></td>
          <td><%= collection_select :result3, :scenario_id, Watershed.where(:location_id => session[:location_id]), :id, :name, {:prompt => t('result.select_watershed3'), :selected => @scenario3}, {:required => false, :style =>"width:160px"} %></td>
        <% end %>
        <% case @type %>
          <% when t('general.view'), t('result.summary') %>
            <td><%= submit_tag t("general.view"), :id => "summary", name: "button", :class => "btn btn-primary" %>
				<% if @results1 != nil %>
					<%= link_to t('result.download_pdf'), { :action => "index", :format => :pdf }, :id => "pdf_download", name: "button", :class => "btn btn-primary" %>
					<a href="javascript:AlertIt();" id="pdf_no_click" class="no_click" class="btn btn-primary"><div class="btn btn-primary"><% t('result.download_pdf') %></div></a>
          <!-- Download CSV/Excel button
          <%= link_to t('result.download_csv'), { :action => "index", :format => :csv }, :id => "csv_download", name: "button", :class => "btn btn-primary" %>
          <a href="javascript:AlertIt();" id="csv_no_click" class="no_click" class="btn btn-primary"><div class="btn btn-primary"><% t('result.download_csv') %></div></a>
          -->
				<% end %>
			</td>
			</tr>
			<tr><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
          <% when t("result.summary") + " " + t("result.by_soil"), t("general.view") + " " + t("result.by_soil")  %>
            <td><%= collection_select :result4, :soil_id, Soil.where(:field_id => @field.id, :selected => true), :id, :name, {:prompt => t('soil.select_soil'), :selected => @soil }, { :required => true }%></td>
            <td><%= submit_tag t("general.view") + " " + t("result.by_soil"), name: "button", :class => "btn btn-primary" %>
			</tr>
			<tr ><td colspan = "3"><%= "(±) = " + t('result.confidence') %></td></tr>
          <% when t('result.annual')  + "-" + t('result.charts'), t("general.view") + " " + t('result.annual')  + "-" + t('result.charts')%>
            <% if I18n.locale.eql?(:en) %>
              <td><%= collection_select :result5, :description_id, @descriptions, :id, :description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
			  <td><%#= select :result5, :description_id, options_for_select(@des.map { |obj| [obj['description'], obj['id']] }) %>
            <% else %>
              <td><%= collection_select :result5, :description_id, @descriptions, :id, :spanish_description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
            <% end %>
			<% if I18n.locale.eql?(:en) %>
				<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :name, {:prompt => t('result.select_crop'), :selected => @description} %></td>
			<% else %>
				<td id="td_crops" style="display:none"><%= collection_select :result7, :crop_id, @crops, :crop_id, :spanish_name, {:prompt => t('result.select_crop'), :selected => @description} %></td>
			<% end %>
            <td><%= submit_tag t("general.view") + " " + t("result.annual")  + "-" + t('result.charts'), name: "button", :class => "btn btn-primary" %></td>
			</tr>
          <% when t('result.monthly') + "-" + t('result.charts'), t("general.view") + " " + t('result.monthly') + "-" + t('result.charts') %>
            <% if I18n.locale.eql?(:en) %>
              <td><%= collection_select :result6, :description_id, Description.where("period == 2 OR period == 1"), :id, :description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
            <% else %>
              <td><%= collection_select :result6, :description_id, Description.where("period == 2 OR period == 1"), :id, :spanish_description, {:prompt => t('result.select_chart'), :selected => @description}, {:required => true} %></td>
            <% end %>
            <td><%= submit_tag t("general.view") + " " + t("result.monthly")  + "-" + t('result.charts'), name: "button", :class => "btn btn-primary" %></td>
			</tr>
        <% end %>
        <%= hidden_field(:language, :language, :value => I18n.locale) %>
    </table>
  </div>
</form>

<% if @type == t("general.view") + " " + t('result.annual') + "-" + t('result.charts') || @type == t("general.view") + " " + t('result.monthly') + "-" + t('result.charts') then %>
  <tr><td><%= @title %></td></tr>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= column_chart [
        { :name => "1st Scenario", :data => @charts1 },
        { :name => "2nd Scenario", :data => @charts2 },
        { :name => "3rd Scenario", :data => @charts3 }
        ], { library: {hAxis: {title: @x}, vAxis: {title: @y}}}
        %>
    <br/>
    <div class="table-responsive">
      <table class='table table-bordered' style="white-space: nowrap;">
        <% if (@present1 || @present2 || @present3) && @x == "Year" %>
			<% values = Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year > 12").order("month_year desc").limit(12).reverse %>
			<thead>
			  <tr class='gvHeaderStyle'>
				<th class='gvCellStyle Title'><%= t('models.scenario') %></th>
				<% for i in 0..values.count - 1 %>
					<th class='gvCellStyle Title'><%= values[i].month_year %></th>
				<% end %>
			  </tr>
			</thead>
        <tbody>
          <% if @present1 %>
            <tr class="gvRowStyleOdd">
              <td class="gvTotalText"><%= Scenario.find(@scenario1).name %></td>
				<% for i in 0..values.count - 1 %>
					<th class='gvCellStyle Title'><%= values[i].value.round(2) %></th>
				<% end %>
            </tr>
          <% end %>
          <% if @present2 %>
			<% values = Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year > 12").order("month_year desc").limit(12).reverse %>
            <tr class="gvRowStyleEven">
              <td class="gvTotalText"><%= Scenario.find(@scenario2).name %></td>
				<% for i in 0..values.count - 1 %>
					<th class='gvCellStyle Title'><%= values[i].value.round(2) %></th>
				<% end %>
            </tr>
          <% end %>
          <% if @present3 %>
			<% values = Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year > 12").order("month_year desc").limit(12).reverse %>
            <tr class="gvRowStyleOdd">
              <td class="gvTotalText"><%= Scenario.find(@scenario3).name %></td>
				<% for i in 0..values.count - 1 %>
					<th class='gvCellStyle Title'><%= values[i].value.round(2) %></th>
				<% end %>
            </tr>
          <% end %>
        </tbody>
        <% elsif (@present1 || @present2 || @present3) && @x == "Month" %>
          <thead>
            <tr class='gvHeaderStyle'>
              <th class='gvCellStyle Title'><%= t('models.scenario') %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[0].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[1].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[2].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[3].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[4].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[5].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[6].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[7].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[8].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[9].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[10].month_year %></th>
              <th class='gvCellStyle Title'><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[11].month_year %></th>
            </tr>
          </thead>
          <tbody>
            <% if @present1 %>
              <tr class="gvRowStyleOdd">
                <td class="gvTotalText"><%= Scenario.find(@scenario1).name %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[0].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[1].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[2].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[3].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[4].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[5].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[6].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[7].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[8].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[9].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[10].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result1][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[11].value.round(3) %></td>
              </tr>
            <% end %>
            <% if @present2 %>
              <tr class="gvRowStyleEven">
                <td class="gvTotalText"><%= Scenario.find(@scenario2).name %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[0].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[1].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[2].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[3].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[4].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[5].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[6].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[7].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[8].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[9].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[10].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result2][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[11].value.round(3) %></td>
              </tr>
            <% end %>
            <% if @present3 %>
              <tr class="gvRowStyleOdd">
                <td class="gvTotalText"><%= Scenario.find(@scenario3).name %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[0].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[1].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[2].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[3].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[4].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[5].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[6].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[7].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[8].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[9].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[10].value.round(3) %></td>
                <td class="gvTotalText"><%= Chart.select("month_year, value").where("field_id == " + params[:field_id] + " AND scenario_id == " + params[:result3][:scenario_id] + " AND soil_id == " + @soil + " AND description_id == " + @description + " AND month_year <= 12")[11].value.round(3) %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
<% else %>
	<div class="table-responsive">
	  <div class="panel panel-default">
		<table class='table table-bordered', style="white-space: nowrap;">
		  <thead>
			<tr class='gvHeaderStyle'>
				<th class="gvCellStyleTitle" style="border-right: thick double #ff0000" ><%= t('result.description') %></th>
				<% if session[:simulation] == 'scenario' %>
				  <% if !@present1 %> <th class="gvCellStyleTitle"><%= t('result.scenario1') %></th> <% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results1[0].scenario_id).name%></th> <% end %>
				  <th class="gvCellStyleActions" style="border-right: thick double #ff0000"><%= "±" %></th>
				  <% if !@present2 %> <th class="gvCellStyleTitle"><%= t('result.scenario2') %></th><% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results2[0].scenario_id).name%></th> <% end %>
				<% else %>
				  <% if !@present1 %> <th class="gvCellStyleTitle"><%= t('result.scenario1') %></th> <% else %> <th class="gvCellStyleTitle"><%=Watershed.find(@results1[0].watershed_id).name%></th> <% end %>
				  <th class="gvCellStyleActions" style="border-right: thick double #ff0000"><%= "±" %></th>
				  <% if !@present2 %> <th class="gvCellStyleTitle"><%= t('result.scenario2') %></th><% else %> <th class="gvCellStyleTitle"><%=Watershed.find(@results2[0].watershed_id).name%></th> <% end %>
				<% end %>
				<th class="gvCellStyleActions"><%= "±" %></th>
				<th class="gvCellStyleTitle"><%= t('result.difference') %></th>
				<th class="gvCellStyleTitle"><%= t('result.reduction') %></th>
				<th class="gvCellStyleTitle" style="border-right: thick double #ff0000"><%= t('result.total_area') %></th>
				<% if session[:simulation] == 'scenario' %>
				  <% if !@present3 %> <th class="gvCellStyleTitle"><%= t('result.scenario3') %></th> <% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results3[0].scenario_id).name%></th> <% end %>
				<% else %>
				  <% if !@present3 %> <th class="gvCellStyleTitle"><%= t('result.scenario3') %></th> <% else %> <th class="gvCellStyleTitle"><%=Watershed.find(@results3[0].watershed_id).name%></th> <% end %>
				<% end %>
				  <th class="gvCellStyleActions"><%= "±" %></th>
				<th class="gvCellStyleTitle"><%= t('result.difference') %></th>
				<th class="gvCellStyleTitle"><%= t('result.reduction') %></th>
				<th class="gvCellStyleTitle"><%= t('result.total_area') %></th>
			</tr>
		  </thead>
		  <tbody>
			  <% if @results1 != nil && @present %>
				  <% @results1.each do |result| %>
					  <% description = Description.find(result.description_id) %>
					  <% value2 = 0 %>
					  <% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil then %> <%value2 = @results2.find_by_description_id(result.description_id).value %> <% end %>
					  <% difference1 = value2 - result.value %>
					  <% reduction1 = difference1 / result.value * 100 %>
					  <% total_area1 = difference1 * @total_area%>
					  <% value3 = 0 %>
					  <% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil then %> <%value3 = @results3.find_by_description_id(result.description_id).value %> <% end %>
					  <% difference2 = value3- result.value%>
					  <% reduction2 = difference2 / result.value * 100%>
					  <% total_area2 = difference2 * @total_area%>
					  <% row_id = "row" + result.description_id.to_s %>
					  <% case (result.description_id % 10) %>
						<% when 0 %>
						  <tr class="gvRowStyleOdd", id = <%=row_id%>>
							<% if result.description_id == 70 %>
								<% if I18n.locale.eql?(:en) %>
								  <td class="gvTotalText" style="border-right: thick double #ff0000">
									<%= description.description  %>
									<%= check_box_tag description.description%>
								  </td>
								<% else %>
								  <td class="gvTotalText" style="border-right: thick double #ff0000">
								    <%= description.spanish_description %>
									<%= check_box_tag description.description %>
								  </td>
								<% end %>
								<td class="gvTotalNumber"><%= "" %></td>
								<td class="gvTotalNumber" style="border-right: thick double #ff0000"><%= "" %></td>
								<% if @results2 != nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber" style="border-right: thick double #ff0000"><%= "" %></td>
								<% end %>
								<% if @results3 != nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								<% end %>
								<% if @results2 == nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber" style="border-right: thick double #ff0000"><%= "" %></td>
								<% end %>
								<% if @results3 == nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								<% end %>
							<% else %>
								<% if I18n.locale.eql?(:en) %>
								  <td class="gvTotalText" style="border-right: thick double #ff0000">
									<%= description.description + "(" + description.unit + ")" %>
									<%= check_box_tag description.description %>
								  </td>
								<% else %>
								  <td class="gvTotalText" style="border-right: thick double #ff0000">
									<%= description.spanish_description + "(" + description.unit + ")" %>
									<%= check_box_tag description.description %>
								  </td>
								<% end %>
								<td class="gvTotalText"><%= sprintf("%8.2f", result.value).to_s %></td>
								<td class="gvTotalText" style="border-right: thick double #ff0000"><%= sprintf("%8.2f", result.ci_value).to_s %></td>
								<% if @results2 != nil %>
								  <td class="gvTotalText"><%= sprintf("%8.2f", value2).to_s %></td>
								  <td class="gvTotalText"><%= sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", difference1) %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", reduction1) %></td>
								  <td class="gvTotalNumber" style="border-right: thick double #ff0000"><%= sprintf("%8.2f", total_area1) %></td>
								<% end %>
								<% if @results3 != nil %>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", value3).to_s %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", difference2) %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", reduction2) %></td>
								  <td class="gvTotalNumber"><%= sprintf("%8.2f", total_area2) %></td>
								<% end %>
								<% if @results2 == nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber" style="border-right: thick double #ff0000"><%= "" %></td>
								<% end %>
								<% if @results3 == nil %>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								  <td class="gvTotalNumber"><%= "" %></td>
								<% end %>
							<% end %>
						  </tr>
						<% else %>  <!-- end case when -->
						  <tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
							<% if result.description_id > 70 && result.description_id < 90 %>
								<% if I18n.locale.eql?(:en) %>
									<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).name + "(" + Crop.find(result.crop_id).yield_unit + ")" %></td>
								<% else %>
									<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result.crop_id).spanish_name + "(" + Crop.find(result.crop_id).yield_unit + ")" %></td>
								<% end %>
								<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", result.value.round(2)).to_s %></td>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.2f", result.ci_value).to_s %></td>
								<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", value2.round(2)).to_s %></td>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
									<% if difference1 <= 0 %>
										<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", difference1.round(2)) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", reduction1.round(2)) %></td>
										<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area1.round(2)) %></td>
									<% else %>
										<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", difference1.round(2)) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", reduction1.round(2)) %></td>
										<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area1.round(2)) %></td>
									<% end %>
								<% end %>
								<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", value3.round(2)).to_s %></td>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
									<% if difference2 <= 0 %>
										<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", difference2.round(2)) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", reduction2.round(2)) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", total_area2.round(2)) %></td>
									<% else %>
										<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", difference1.round(2)) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", reduction1.round(2)) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", total_area1.round(2)) %></td>
									<% end %>
								<% end %>
								<% if @results2 == nil %>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
								<% end %>
								<% if @results3 == nil %>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
								<% end %>
							<% else %>
    							<% format = "%8.2f" %>
    							<% if result.description_id >= 60 && result.description_id <=69 %>
    								<% format = "%8.4f" %>
    							<% end %>
								<% if I18n.locale.eql?(:en) %>
									<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= description.description + "(" + description.unit + ")" %></td>
								<% else %>
									<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= description.spanish_description + "(" + description.unit + ")" %></td>
								<% end %>
								<td class="gvCellStyleNumber bottom_border"><%= sprintf(format, result.value).to_s %></td>
								<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.2f", result.ci_value).to_s %></td>
								<% if @results2 != nil && @results2.find_by_description_id(result.description_id) != nil  %>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf(format, value2).to_s %></td>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
									<% if difference1 >= 0 %>
										<td class="nutrients_negative bottom_border"><%= sprintf(format, difference1) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf(format, reduction1) %></td>
										<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000"><%= sprintf(format, total_area1) %></td>
									<% else %>
										<td class="nutrients_positive bottom_border"><%= sprintf(format, difference1) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf(format, reduction1) %></td>
										<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000"><%= sprintf(format, total_area1) %></td>
									<% end %>
								<% end %>
								<% if @results3 != nil && @results3.find_by_description_id(result.description_id) != nil  %>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf(format, value3).to_s %></td>
									<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
									<% if difference2 >= 0 %>
										<td class="nutrients_negative bottom_border"><%= sprintf(format, difference2) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf(format, reduction2) %></td>
										<td class="nutrients_negative bottom_border"><%= sprintf(format, total_area2) %></td>
									<% else %>
										<td class="nutrients_positive bottom_border"><%= sprintf(format, difference2) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf(format, reduction2) %></td>
										<td class="nutrients_positive bottom_border"><%= sprintf(format, total_area2) %></td>
									<% end %>
								<% end %>
								<% if @results2 == nil %>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000"><%= "" %></td>
								<% end %>
								<% if @results3 == nil %>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
									<td class="gvCellStyleNumber bottom_border" ><%= "" %></td>
								<% end %>
							<% end %>
						  </tr>
						<% end %>
				  <% end %>
			  <% end %>
			<!--Crop result here -->
			<% id = 70%>
			<% @crop_results.each do |result| %>
				<% id += 1%>
				<% row_id = "row" + id.to_s %>
				<% value2 = 0 %>
				<% reduction1 = 0 %>
				<% if @scenario2 != "" then %>
					<%value2 = result[3] %>
					<% difference1 = value2 - result[1] %>
					<% reduction1 = difference1 / result[1] * 100 unless result[1] == 0%>
					<% total_area1 = difference1 * @total_area%>
				<% end %>
				<% value3 = 0 %>
				<% reduction2 = 0 %>
				<% if @scenario3 != "" then %>
					<%value3 = result[5] %>
					<% difference2 = value3 - result[1] %>
					<% reduction2 = difference2 / result[1] * 100 unless result[1] == 0 %>
					<% total_area2 = difference2 * @total_area %>
				<% end %>
				<tr class="gvRowStyleEven" id = <%=row_id%> style="display:none">
					<% if I18n.locale.eql?(:en) %>
						<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).name + "(" + Crop.find(result[0]).yield_unit + ")" %></td>
					<% else %>
						<td class="gvDetailText bottom_border" style="border-right: thick double #ff0000"><%= Crop.find(result[0]).spanish_name + "(" + Crop.find(result[0]).yield_unit + ")" %></td>
					<% end %>
					<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", result[1].round(2)).to_s %></td>
					<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.2f", result[2]).to_s %></td>
					<% if @scenario2 != "" %>
						<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", result[3].round(2)).to_s %></td>
						<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", result[4]).to_s %></td>
						<% if difference1 <= 0 %>
							<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", difference1.round(2)) %></td>
							<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", reduction1.round(2)) %></td>
							<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area1.round(2)) %></td>
						<% else %>
							<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", difference1.round(2)) %></td>
							<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", reduction1.round(2)) %></td>
							<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area1.round(2)) %></td>
						<% end %>
					<% else %>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border" style="border-right: thick double #ff0000"><%= "" %></td>
					<%end%>
					<% if @scenario3 != "" %>
						<td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.0f", result[5].round(2)).to_s %></td>
						<td class="gvCellStyleNumber bottom_border" ><%= sprintf("%8.2f", result[6]).to_s %></td>
						<% if difference2 <= 0 %>
							<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", difference2.round(2)) %></td>
							<td class="nutrients_negative bottom_border"><%= sprintf("%8.0f", reduction2.round(2)) %></td>
							<td class="nutrients_negative bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area2.round(2)) %></td>
						<% else %>
							<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", difference2.round(2)) %></td>
							<td class="nutrients_positive bottom_border"><%= sprintf("%8.0f", reduction2.round(2)) %></td>
							<td class="nutrients_positive bottom_border" style="border-right: thick double #ff0000"><%= sprintf("%8.0f", total_area2.round(2)) %></td>
						<% end %>
					<% else %>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
						<td class="gvCellStyleNumber bottom_border"><%= "" %></td>
					<%end%>
				</tr>
			<% end %>

			</tbody>
		  </table>
	  </div>
    <% if !@crop_stress1_ws.empty? %>
    <div class="table-responsive" id="stress_table" style="display:none">
      <div class="panel panel-default">
        <table class='table table-bordered' style="white-space: nowrap;">
          <thead>
            <tr class='gvHeaderStyle'>
              <th class="gvCellStyle Title"><%= 'Crop Name' %></th>
              <th class="gvCellStyle Title"><%= 'NS' %></th>
              <th class="gvCellStyle Title"><%= 'Temperature Stress' %></th>
              <th class="gvCellStyle Title"><%= 'PS' %></th>
              <th class="gvCellStyle Title"><%= 'Water Stress' %></th>
            </tr>
          </thead>
          <tbody>
            <!-- Scenario 1 stress results -->
            <% @crop_stress1_ws.each do |result_ws| %>
            <% @crop_stress1_ns.each do |result_ns| %>
            <% @crop_stress1_ts.each do |result_ts| %>
            <% @crop_stress1_ps.each do |result_ps| %>
              <tr class="gvRowStyleOdd">
                <td class="gvCellStyleNumber bottom_border"><%= Crop.find(result_ws.crop_id).name %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ns.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ts.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ps.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ws.value %></td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <!-- Scenario 2 stress results -->
            <% @crop_stress2_ws.each do |result_ws| %>
            <% @crop_stress2_ns.each do |result_ns| %>
            <% @crop_stress2_ts.each do |result_ts| %>
            <% @crop_stress2_ps.each do |result_ps| %>
              <tr class="gvRowStyleEven">
                <td class="gvCellStyleNumber bottom_border"><%= Crop.find(result_ws.crop_id).name %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ns.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ts.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ps.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ws.value %></td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <!-- Scenario 3 stress results -->
            <% @crop_stress3_ws.each do |result_ws| %>
            <% @crop_stress3_ns.each do |result_ns| %>
            <% @crop_stress3_ts.each do |result_ts| %>
            <% @crop_stress3_ps.each do |result_ps| %>
              <tr class="gvRowStyleOdd">
                <td class="gvCellStyleNumber bottom_border"><%= Crop.find(result_ws.crop_id).name %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ns.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ts.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ps.value %></td>
                <td class="gvCellStyleNumber bottom_border"><%= result_ws.value %></td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
	</div>
 <% end %>
 <br>

<%= hidden_field_tag "errors", @errors, { :id => "errors" } %>

<script type="text/javascript">
  function AlertIt() {
    var language, n, url;
    url = window.location.href;
    n = url.indexOf('locale=');
    language = url.substring(n, n + 9);

    if (language === "locale=en") {
      alert("You must run a summary before you can download a pdf");
    } else {
      alert("Debe ejecutar un resumen antes de poder descargar el pdf");
    }
  }
</script>
