<form id="myForm">
  <div class="field">
    <table>
      <tr>
        <td><%= label :bmp_id, t('result.scenario1') %></td>
        <td><%= label :bmp_id, t('result.scenario2') %></td>
        <td><%= label :bmp_id, t('result.scenario3') %></td>
        <% case @type %>
          <% when t('result.summary'), t('result.download_pdf') %>
            <td></td>
          <% when t("result.summary") + " " + t("result.by_soil") %>
            <td colspan='2'><%= label :bmp_id, t('soil.soil') %></td>
          <% when t('result.annual') %>
            <td colspan='2'><%= label :bmp_id, t('result.annual') + " " + t('result.last') %></td>
          <% when t('result.monthly') %>
            <td colspan='2'><%= label :bmp_id, t('result.avg') + " " + t('result.last') %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= collection_select :result1, :scenario_id, Scenario.where(:field_id => session[:field_id]), :id, :name, {:prompt => t('result.select_scenario1'), :required => true, :selected => @scenario1} %></td>
        <td><%= collection_select :result2, :scenario_id, Scenario.where(:field_id => session[:field_id]), :id, :name, {:prompt => t('result.select_scenario2'), :required => false, :selected => @scenario2} %></td>
        <td><%= collection_select :result3, :scenario_id, Scenario.where(:field_id => session[:field_id]), :id, :name, {:prompt => t('result.select_scenario3'), :required => false, :selected => @scenario3} %></td>
        <% case @type %>
          <% when t('result.summary')%>
            <td><%= submit_tag t("result.summary"), name: "button" %></td>
          <% when t("result.summary") + " " + t("result.by_soil") %>
            <td><%= collection_select :result4, :soil_id, Soil.where(:field_id => session[:field_id], :selected => true), :id, :name, {:prompt => t('soil.select_soil'), :required => false, :selected => @soil} %></td>
            <td><%= submit_tag t("result.summary") + " " + t("result.by_soil"), name: "button" %>
          <% when t('result.annual')  + "-" + t('result.charts') %>
            <td><%= collection_select :result5, :description_id, @descriptions, :id, :description, {:prompt => t('result.select_chart'), :required => true, :selected => @description} %></td>
            <td><%= submit_tag t("result.annual")  + "-" + t('result.charts'), name: "button" %></td>
          <% when t('result.monthly') + "-" + t('result.charts') %>
            <td><%= collection_select :result6, :description_id, Description.where("period == 3 OR period == 1"), :id, :description, {:prompt => t('result.select_chart'), :required => true, :selected => @description} %></td>
            <td><%= submit_tag t("result.monthly")  + "-" + t('result.charts'), name: "button" %></td>
          <% when t('result.download_pdf') %>
            <td><%= link_to t('result.download_pdf'), { :action => "index", :format => :pdf }, target: '_blank', :class => "green_button padding_top", :id => "pdf_download", name: "button" %></td>
        <% end %>

      </tr>
        <%= hidden_field(:language, :language, :value => I18n.locale) %>
        <%= hidden_field(:field, :id, :value => session[:field_id]) %>
    </table>
    <table>
        <tr>
        </tr>
    </table>
  </div>
</form>

<h1><%=@result_selected + " " + @title%></h1>
<% if @result_selected == t('result.annual') + "-" + t('result.charts') || @result_selected == t('result.monthly') + "-" + t('result.charts') then %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= column_chart [
        { :name => "1st Scenario", :data => @charts1 },
        { :name => "2nd Scenario", :data => @charts2 },
        { :name => "3rd Scenario", :data => @charts3 }
        ], { library: {hAxis: {title: @x}, vAxis: {title: @y}}}
        %>
<% else %>
  <table class='gvTableStyle'>
      <tr class='gvHeaderStyle'>
          <th class="gvCellStyleTitle"><%= t('result.description') %></th>
          <% if @results1 == nil %> <th class="gvCellStyleTitle"><%= t('result.scenario1') %></th> <% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results1[0].scenario_id).name%></th> <% end %>
          <% if @results2 == nil %> <th class="gvCellStyleTitle"><%= t('result.scenario2') %></th><% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results2[0].scenario_id).name%></th> <% end %>
          <th class="gvCellStyleTitle"><%= t('result.difference') %></th>
          <th class="gvCellStyleTitle"><%= t('result.reduction') %></th>
          <th class="gvCellStyleTitle"><%= t('result.total_area') %></th>
          <% if @results3 == nil %> <th class="gvCellStyleTitle"><%= t('result.scenario3') %></th> <% else %> <th class="gvCellStyleTitle"><%=Scenario.find(@results3[0].scenario_id).name%></th> <% end %>
          <th class="gvCellStyleTitle"><%= t('result.difference') %></th>
          <th class="gvCellStyleTitle"><%= t('result.reduction') %></th>
          <th class="gvCellStyleTitle"><%= t('result.total_area') %></th>
      </tr>
      <% if @results1 != nil %>
          <% @results1.each do |result| %>
              <% value2 = 0 %>
              <% if @results2 != nil then %> <%value2 = @results2.find_by_description_id(result.description_id).value %> <% end %>
              <% difference1 = value2 - result.value %>
              <% reduction1 = difference1 / result.value * 100 %>
              <% total_area1 = difference1 * @total_area%> 
              <% value3 = 0 %>
              <% if @results3 != nil %> <%value3 = @results3.find_by_description_id(result.description_id).value %> <% end %>
              <% difference2 = value3- result.value%>
              <% reduction2 = difference2 / result.value * 100%>
              <% total_area2 = difference2 * @total_area%>
              <% case (result.description_id % 10) %>
                <% when 0 %>
                  <tr class="gvRowStyleOdd">
                    <% if result.description_id == 70 %>
                        <td class="gvTotalText"><%= Description.find(result.description_id).description %></td>
                        <td class="gvTotalNumber"><%= "" %></td>
                        <% if @results2 != nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                        <% if @results3 != nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                        <% if @results2 == nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                        <% if @results3 == nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                    <% else %>
                        <td class="gvTotalText"><%= Description.find(result.description_id).description %></td>
                        <td class="gvTotalNumber"><%= sprintf("%8.2f", result.value).to_s + "  ±" + sprintf("%8.2f", result.ci_value).to_s %></td>
                        <% if @results2 != nil %>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", value2).to_s + "  ±" + sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", difference1) %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", reduction1) %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", total_area1) %></td>
                        <% end %>
                        <% if @results3 != nil %>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", value3).to_s + "  ±" + sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", difference2) %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", reduction2) %></td>
                          <td class="gvTotalNumber"><%= sprintf("%8.2f", total_area2) %></td>
                        <% end %>
                        <% if @results2 == nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                        <% if @results3 == nil %>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                          <td class="gvTotalNumber"><%= "" %></td>
                        <% end %>
                    <% end %>
                  </tr>
                <% else %>
                  <tr class="gvRowStyleEven">
                    <% if result.description_id > 70 && result.description_id < 90 %>
                      <td class="gvDetailText bottom_border"><%= Crop.find(result.crop_id).name + "(" + Crop.find(result.crop_id).yield_unit + ")" %></td>
                      <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", result.value).to_s + "  ±" + sprintf("%8.2f", result.ci_value).to_s %></td>
                      <% if @results2 != nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", value2).to_s + "  ±" + sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", difference1) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", reduction1) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", total_area1) %></td>
                      <% end %>
                      <% if @results3 != nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", value3).to_s + "  ±" + sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", difference2) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", reduction2) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", total_area2) %></td>
                      <% end %>
                      <% if @results2 == nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                      <% end %>
                      <% if @results3 == nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                      <% end %>
                    <% else %>
                      <td class="gvDetailText bottom_border"><%= Description.find(result.description_id).description %></td>
                      <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", result.value).to_s + "  ±" + sprintf("%8.2f", result.ci_value).to_s %></td>
                      <% if @results2 != nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", value2).to_s + "  ±" + sprintf("%8.2f", @results2.find_by_description_id(result.description_id).ci_value).to_s %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", difference1) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", reduction1) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", total_area1) %></td>
                      <% end %>
                      <% if @results3 != nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", value3).to_s + "  ±" + sprintf("%8.2f", @results3.find_by_description_id(result.description_id).ci_value).to_s %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", difference2) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", reduction2) %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= sprintf("%8.2f", total_area2) %></td>
                      <% end %>
                      <% if @results2 == nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                      <% end %>
                      <% if @results3 == nil %>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                        <td class="gvCellStyleNumber bottom_border"><%= "" %></td>
                      <% end %>
                    <% end %> 
                  </tr>
                <% end %>  
          <% end %>  
      <% end %>
  </table>
 <% end %>