<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<% @user_id = session[:user_id] %>
<% @user = User.find(@user_id) %>
<%# @project = Project.find(@project) %>
<% @location = @project.location %>
<% t = Time.now %>
<% @result_scenario1 = session[:scenario1] %>
<% @result_scenario2 = session[:scenario2] %>
<% @result_scenario3 = session[:scenario3] %>
<%= wicked_pdf_stylesheet_link_tag "pdf" %>
</br>
</br>
<body>
    <%= render '/pdf/input_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/location_site_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/weather_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/field_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/soil_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/layers_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/management_info' %><div><hr class="line_break_first" color="dodgerblue"></div>
    <%= render '/pdf/results' %>
</body>
