<%= form_for(@chart) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @chart.errors.count, :model => t('models.chart').downcase) %></h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description_id %><br>
    <%= f.number_field :description_id %>
  </div>
  <div class="field">
    <%= f.label :scenario_id %><br>
    <%= f.number_field :scenario_id %>
  </div>
  <div class="field">
    <%= f.label :field_id %><br>
    <%= f.number_field :field_id %>
  </div>
  <div class="field">
    <%= f.label :soil_id %><br>
    <%= f.number_field :soil_id %>
  </div>
  <div class="field">
    <%= f.label :month_year %><br>
    <%= f.number_field :month_year %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
