<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>

<p>
  <b>Description:</b>
  <%= @chart.description_id %>
</p>

<p>
  <b>Scenario:</b>
  <%= @chart.scenario_id %>
</p>

<p>
  <b>Field:</b>
  <%= @chart.field_id %>
</p>

<p>
  <b>Soil:</b>
  <%= @chart.soil_id %>
</p>

<p>
  <b>Month year:</b>
  <%= @chart.month_year %>
</p>

<p>
  <b>Value:</b>
  <%= @chart.value %>
</p>


<%= link_to t('general.edit'), edit_chart_path(@chart) %> |
<%= link_to t('general.back'), charts_path %>
