<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @animal.errors.count, :model => t('models.animal').downcase) %></h2>
      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :apex_code %><br>
    <%= f.number_field :apex_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
