<h1>Listing animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Apex code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.status %></td>
    <td><%= animal.apex_code %></td>
    <td><%= link_to t('general.show'), animal %></td>
    <td><%= link_to t('general.edit'), edit_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: t('general.confirm') } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
