<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
</div>

<p>
  <b>Name:</b>
  <%= @animal.name %>
</p>

<p>
  <b>Status:</b>
  <%= @animal.status %>
</p>

<p>
  <b>Apex code:</b>
  <%= @animal.apex_code %>
</p>


<%= link_to t('general.edit'), edit_animal_path(@animal) %> |
<%= link_to t('general.back'), animals_path %>
