<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'pic1.jpg', :class => "first-slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>A couple of introductory sentences would go here, e.g. "NTT allows farmers to simulate BMPS and operations..." etc.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %></div></div>
        </div>
       <div class="item">
          <%= image_tag 'pic2.jpg', :class => "second-slide" %>
          <div class="container">
            <div class="carousel-caption">
             <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic3.jpg', :class => "third-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic4.jpg', :class => "fourth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic5.jpg', :class => "fifth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic6.jpg', :class => "sixth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic7.jpg', :class => "seventh-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic8.jpg', :class => "eigth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic9.png', :class => "ninth-slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t('general.previous') %></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t('general.next') %></span>
      </a>
    </div><!-- /.carousel -->

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading"><%= t('models.welcome') %> <%= t('general.to')%> NTT. </h2>
          <p><%= t('welcome_note.thanks') %></p>

<p><%= t('general.note') %><br>
  <%= t('welcome_note.note1') %></p>

<p><%= t('welcome_note.note2') %></p>

<p><%= t('welcome_note.final') %></p><br>

<p>Dr. Ali Saleh</p>
        </div>
      </div>
