<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'pic1.jpg', :class => "first-slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>A couple of introductory sentences would go here, e.g. "NTT allows farmers to simulate BMPS and operations..." etc.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %></div></div>
        </div>
       <div class="item">
          <%= image_tag 'pic2.jpg', :class => "second-slide" %>
          <div class="container">
            <div class="carousel-caption">
             <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic3.jpg', :class => "third-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic4.jpg', :class => "fourth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic5.jpg', :class => "fifth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic6.jpg', :class => "sixth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic7.jpg', :class => "seventh-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic8.jpg', :class => "eigth-slide" %>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
        <%= image_tag 'pic9.png', :class => "ninth-slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="intro">Nutrient Tracking Tool</h1>
              <p></p>
              <!-- <p>This can be some different text from the first image, or the same.</p> -->
              <%= button_to t('menu.signup') + " " + t('general.today') , new_user_path, :method => "get", :class => "btn btn-lg btn-primary" %> or <%= button_to t('menu.signin'), login_path, :method => "get", :class => "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t('general.previous') %></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t('general.next') %></span>
      </a>
    </div><!-- /.carousel -->

      <div class="row featurette">
        <div class="col-md-12">
          <img src="/serve_image/tiaer_logo.png" style= "max-width:65px;width: 100%; position:absolute; top:0; left:0; padding:9px;" alt="logo" />
          <h2><%= raw t('welcome_note.header')%></h2>
          <img src="/serve_image/usda_logo.png" style= "max-width:100px;width: 100%; position:absolute; top:0; right:0; padding:9px;" alt="logo" /><br>
          <p><%= raw t('welcome_note.body1') %></p>
          <p><%= raw t('welcome_note.body2') %></p>
          <p><%= raw t('welcome_note.body3') %></p>
          <p><%= raw t('welcome_note.body4') %></p>
          <p><%= raw t('welcome_note.body5') %></p>
          <p><%= raw t('welcome_note.body6') %></p>
          <p>Dr. Ali Saleh</p>
          <!--<% if ENV["APP_VERSION"] == "standard" %>
          <center><p style="border:1px solid gray;max-width:300px;width: 100%;"><%= raw t('welcome_note.body7') %></p></center>
          <% end %>-->
        </div>
      </div>
