<%= form_tag welcome_path do %>
  <div class="field less-padding">
    <p><%= raw t('welcome_note.body1') %></p>
    <p><%= raw t('welcome_note.body2') %></p>
    <p><%= raw t('welcome_note.body3') %></p>
    <p><%= raw t('welcome_note.body4') %></p>
    <p><%= raw t('welcome_note.body5') %></p>
    <p><%= raw t('welcome_note.body6') %></p>
    <% if ENV["APP_VERSION"] == "standard" %>
    <p><%= raw t('welcome_note.body7') %></p>
    <% end %>
    <p><%= raw t('welcome_note.name') %></p><br>
    <%= link_to t('general.begin'), welcomes_path, :class => 'light_green_button' %>
  </div>
<% end %>
