<%= form_tag welcome_path do %>
  <div class="field">
    <p><%= t('welcome_note.thanks') %></p>
    <strong><%= t('general.note') %></strong>
    <p><%= t('welcome_note.note1') %></p>
    <p><%= t('welcome_note.note2') %></p>
    <p><%= t('welcome_note.final') %></p>
    <p><%= t('welcome_note.name') %></p>
  </div>
<% end %>