<%= form_tag welcome_path do %>
  <div class="field">
    <p><%= t('welcome.thanks') %></p>
    <strong><%= t('general.note') %></strong>
    <p><%= t('welcome.note1') %></p>
    <p><%= t('welcome.note2') %></p>
    <p><%= t('welcome.final') %></p>
    <p><%= t('welcome.name') %></p>
  </div>
<% end %>