<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @project.errors.count, :model => t('models.project').downcase) %></h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" title="Name of Project">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" title="Description of Project">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit t('submit.save') + " " + t('project.project') %>
    <%= link_to t('general.back'), welcomes_path %>
  </div>
<% end %>
