<%= form_for [@user, @project] do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @project.errors.count, :model => t('models.project').downcase) %></h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" title="Name of Project" style="aling:center">
	<span class="create_font">
		<%= f.label t('project.project_name')%>
		<%= f.text_field :name %>
	</span>
  </div><br>
  <div class="field" title="Description of Project">
	<span class="create_font">
		<%= f.label :project_description %>
		<%= f.text_area :description, :rows => 5, :width => 50 %>
	</span>
  </div>
  <div class="actions">
    <%= f.submit t('submit.save'), :class => "btn btn-primary" %>
    <%= link_to t('submit.cancel'), welcomes_path, :class => "btn btn-primary" %>
  </div>
<% end %>
