<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag({action: :upload_project}, multipart: true) do %>
  <h1><%= t('project.upload_project') %></h1>

  <label for="project"><%= t('project.upload_button_desc')%></label>
    <br>
    <br>
  <%= file_field_tag "project" %>
    <br>
    <br>
  <%= submit_tag(value = t('submit.save')) %>

  <p><%= link_to 'Back', welcomes_path %></p>

<% end %>