<%= form_with(model: trailer, local: true) do |form| %>
  <% if trailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trailer.errors.count, "error") %> prohibited this trailer from being saved:</h2>

      <ul>
      <% trailer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
