<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @trailer.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trailer.description %>
</p>

<%= link_to 'Edit', edit_trailer_path(@trailer) %> |
<%= link_to 'Back', trailers_path %>
