<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
</div>

<p>
  <b>Number:</b>
  <%= @crop.number %>
</p>

<p>
  <b>Dndc:</b>
  <%= @crop.dndc %>
</p>

<p>
  <b>Code:</b>
  <%= @crop.code %>
</p>

<p>
  <b>Name:</b>
  <%= @crop.name %>
</p>

<p>
  <b>Plant population mt:</b>
  <%= @crop.plant_population_mt %>
</p>

<p>
  <b>Plant population ac:</b>
  <%= @crop.plant_population_ac %>
</p>

<p>
  <b>Plant population ft:</b>
  <%= @crop.plant_population_ft %>
</p>

<p>
  <b>Heat units:</b>
  <%= @crop.heat_units %>
</p>

<p>
  <b>Lu number:</b>
  <%= @crop.lu_number %>
</p>

<p>
  <b>Soil group a:</b>
  <%= @crop.soil_group_a %>
</p>

<p>
  <b>Soil group b:</b>
  <%= @crop.soil_group_b %>
</p>

<p>
  <b>Soil group c:</b>
  <%= @crop.soil_group_c %>
</p>

<p>
  <b>Soil group d:</b>
  <%= @crop.soil_group_d %>
</p>

<p>
  <b>Type:</b>
  <%= @crop.type %>
</p>

<p>
  <b>Yield unit:</b>
  <%= @crop.yield_unit %>
</p>

<p>
  <b>Bushel weight:</b>
  <%= @crop.bushel_weight %>
</p>

<p>
  <b>Conversion factor:</b>
  <%= @crop.conversion_factor %>
</p>

<p>
  <b>Dry matter:</b>
  <%= @crop.dry_matter %>
</p>

<p>
  <b>Harvest code:</b>
  <%= @crop.harvest_code %>
</p>

<p>
  <b>Planting code:</b>
  <%= @crop.planting_code %>
</p>

<p>
  <b>State:</b>
  <%= @crop.state_id %>
</p>

<p>
  <b>Itil:</b>
  <%= @crop.itil %>
</p>

<p>
  <b>To1:</b>
  <%= @crop.to1 %>
</p>

<p>
  <b>Tb:</b>
  <%= @crop.tb %>
</p>

<p>
  <b>Dd:</b>
  <%= @crop.dd %>
</p>

<p>
  <b>Dyam:</b>
  <%= @crop.dyam %>
</p>

<p>
  <b>Spanish name:</b>
  <%= @crop.spanish_name %>
</p>


<%= link_to t('general.edit'), edit_crop_path(@crop) %> |
<%= link_to t('general.back'), crops_path %>
