<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fem_feed.name %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @fem_feed.selling_price %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @fem_feed.purchase_price %>
</p>

<p>
  <strong>Concentrate:</strong>
  <%= @fem_feed.concentrate %>
</p>

<p>
  <strong>Forage:</strong>
  <%= @fem_feed.forage %>
</p>

<p>
  <strong>Grain:</strong>
  <%= @fem_feed.grain %>
</p>

<p>
  <strong>Hay:</strong>
  <%= @fem_feed.hay %>
</p>

<p>
  <strong>Pasture:</strong>
  <%= @fem_feed.pasture %>
</p>

<p>
  <strong>Silage:</strong>
  <%= @fem_feed.silage %>
</p>

<p>
  <strong>Supplement:</strong>
  <%= @fem_feed.supplement %>
</p>

<%= link_to 'Edit', edit_fem_feed_path(@fem_feed) %> |
<%= link_to 'Back', fem_feeds_path %>
