<%= form_with(model: clime, local: true) do |form| %>
  <% if clime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clime.errors.count, "error") %> prohibited this clime from being saved:</h2>

      <ul>
      <% clime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.text_field :field_id %>
  </div>

  <div class="field">
    <%= form.label :daily_weather %>
    <%= form.text_field :daily_weather %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
