<%= form_for(@layer) do |f| %>
  <% if @layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @layer.errors.count, :model => t('models.layer').downcase) %></h2>

      <ul>
      <% @layer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :depth, t('soil.depth') %>
    <%= f.number_field :depth, :class => 'numbers', min: 0, :step => 'any'  %>
  </div>
  <div class="field">
    <%= f.label :soil_p, t('soil.soilp') %>
    <%= f.number_field :soil_p, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :bulk_density, t('soil.bulk_density') %>
    <%= f.number_field :bulk_density, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :sand, t('soil.sand') %>
    <%= f.number_field :sand, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :silt, t('soil.silt') %>
    <%= f.number_field :silt, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :clay, t('soil.clay') %>
    <%= f.number_field :clay, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :organic_matter, t('soil.organic_matter') %>
    <%= f.number_field :organic_matter, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :ph, t('soil.ph') %>
    <%= f.number_field :ph, :class => 'numbers', min: 0, :step => 'any' %>
  </div>
  <div class="actions">
    <%= f.submit "Finish", :name => "finish" %>
    <%= f.submit "Add more", :name => "add_more" %>
    <%= link_to t('general.back'), soil_layers_soil_path(session[:soil_id]) %>
  </div>
<% end %>
