<%= form_for [@project, @field, @soil, @layer] do |f| %>
  <% if @layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @layer.errors.count, :model => t('models.layer').downcase) %></h2>

      <ul>
      <% @layer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :depth, t('soil.depth') %>
	  <%= f.number_field :depth, :class => 'gvTitleStyleNumber', min: 0, :step => 'any'  %>
  </div>
  <div class="field">
    <%= f.label :soil_test_id, t('soil.test') %>
    <%= f.collection_select :soil_test_id, SoilTest.where("id != 0"), :id, :name, {:prompt => 'Select One', :selected => @layer.soil_test_id}, {:required => true} %></td>
  </div>
  <div class="field" title="" id="div_soil_al"<%= "style=display:none;" unless :soil_aluminum == 7 %>>
    <%= f.label :soil_aluminum, t('soil.aluminum') %>
    <%= f.number_field :soil_aluminum, :class => 'gvTitleStyleNumber', :step => "any", :min => 0, :required => true %>
  </div>
  <div class="field">
    <%= f.label :soil_p_initial, t('soil.soilp') %>
    <%= f.number_field :soil_p_initial, :class => 'gvTitleStyleNumber', :step => "0.01", :min => 0, :required => true %>
  </div>
  <!--<div class="field" style="display:none;">
    <%= f.label :soil_p, t('soil.soilp') %>
	<%# if @layer.depth > 3.95 %>
		<%#= f.number_field :soil_p, :class => 'gvTitleStyleNumber', min: 0, :step => 'any', :disabled => 'disabled'%>
	<%# else %>
		<%= f.number_field :soil_p, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
	<%# end %>
  </div>-->
  <div class="field">
    <%= f.label :bulk_density, t('soil.bulk_density') %>
    <%= f.number_field :bulk_density, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :sand, t('soil.sand') %>
    <%= f.number_field :sand, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :silt, t('soil.silt') %>
    <%= f.number_field :silt, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :clay, t('soil.clay') %>
    <%= f.number_field :clay, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :organic_matter, t('soil.organic_matter') %>
    <%= f.number_field :organic_matter, :class => 'gvTitleStyleNumber', min: 0, :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :ph, t('soil.ph') %>
    <%= f.number_field :ph, :class => 'gvTitleStyleNumber', min: 0, :step => 'any', :max => 14 %>
  </div>
  <div class="actions">
    <%#= f.submit "Finish", :name => "finish", :class => "btn btn-primary" %>
    <%= f.submit t('helpers.submit.submit'), :name => "add_more", :class => "btn btn-primary" %>
    <%= link_to t('general.back'), project_field_soil_layers_path(@project, @field, @soil), :class => "btn btn-primary" %>
  </div>
<% end %>
