<h1><%= t('general.listing') + " " + t('soil.layers') %></h1>
<%= link_to t('general.new') + ' ' + t('soil.layer'), new_layer_path %>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th><%= t('soil.depth') %></th>
    <th><%= t('soil.soilp') %></th>
    <th><%= t('soil.bulk_density') %></th>
    <th><%= t('soil.sand') %></th>
    <th><%= t('soil.silt') %></th>
    <th><%= t('soil.clay') %></th>
    <th><%= t('soil.organic_matter') %></th>
    <th><%= t('soil.ph') %></th>
    <th><%=t('general.actions')%></th>
  </tr>

  <% @layers.each do |layer| %>
    <tr class="gvRowStyle">
      <td><%= '%.2f' % layer.depth %></td>
      <td><%= layer.soil_p %></td>
      <td><%= layer.bulk_density %></td>
      <td><%= layer.sand %></td>
      <td><%= layer.silt %></td>
      <td><%= layer.clay %></td>
      <td><%= layer.organic_matter %></td>
      <td><%= layer.ph %></td>
      <td>
         <%= link_to image_tag("edit.png"), edit_layer_path(layer), title: t('general.edit') %>
         <%= link_to image_tag("delete.png"), layer, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>