<%= form_for [@project, @field, @scenario] do |f| %>
  <% if @scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @scenario.errors.count, :model => t('models.scenario').downcase) %></h2>
      <ul>
        <% @scenario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="actions">
	<span class="create_font">
    <%= f.label :name, t('general.name') %>
    <%= f.text_field :name %>
	</span>
	<%= f.submit t('submit.save'), :class => "btn btn-primary" %>
	<%= link_to t('general.back'), project_field_scenarios_path(@project, @field), :class => "btn btn-primary" %>
  </div>
<% end %>
