<%= form_for [@project, @field, @scenario] do |f| %>
  <% if @scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @scenario.errors.count, :model => t('models.scenario').downcase) %></h2>
      <ul>
        <% @scenario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('general.name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <% if type1 == 'Edit' %><br>
		<%= f.submit t('submit.save'), :class => "btn btn-primary" %>
	<% else %><br>
		<%= f.submit t('submit.savecontinue'), :class => "btn btn-primary" %>
	<% end %>
  </div>
<% end %>
