<%= form_for(@scenario) do |f| %>
  <% if @scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @scenario.errors.count, :model => t('models.scenario').downcase) %></h2>
      <ul>
        <% @scenario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('general.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to t('general.back'), scenarios_path %>
  </div>
<% end %>
