<h1>Listing Scenarios</h1>

<%= link_to t('general.new')  + ' ' + t('scenario.scenario'), new_scenario_path %>
&nbsp &nbsp
<%= link_to t('scenario.simulate') + ' ' + t('general.all'), new_scenario_path %>
<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle">Name</th>
    <th><%= t('general.actions')%></th>
  </tr>
  <% i=1 %>

<% @scenarios.each do |scenario| %>
    <% if (i % 2  == 0) %>
      <tr class="gvRowStyleEven">
    <% else %>
      <tr class="gvRowStyleOdd">
    <% end %>
    <% i = i + 1 %>
  <tr class="gvRowStyle">
    <td class="gvCellStyleText"><%= link_to scenario.name, scenario_operations_scenario_path(scenario.id) %></td>
    <td>
      <%= link_to image_tag("run.png"), scenario_path(scenario.id), title: t('scenario.simulate') %>
        <%= link_to image_tag("edit.png"), edit_scenario_path(scenario), title: t('general.edit') %>
      <%= link_to image_tag("delete.png"), scenario, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
