<<<<<<< HEAD
﻿<% if flash[:notice] %>
	<div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:notice] %>
    </div>
<% end %>

<h1 class="less-margin text_h1">
  <%= t('general.listing') + " " + t('menu.scenarios') %>
  <div class="normal_text"><%= t('instructions.scenarios') %></div>
</h1>

=======
﻿<% if notice != nil %>
	<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
  </div>
<% end %>
<h1 class="less-margin"><%= t('general.listing') + " " + t('menu.scenarios') %></h1><br>
>>>>>>> master
<%= link_to t('general.new')  + ' ' + t('scenario.scenario'), new_scenario_path %>
<%= link_to t('scenario.simulate') + ' ' + t('general.all'), new_scenario_path %>
  <table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle"><%= t('general.name') %></th>
    <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
  </tr>
  <% i=1 %>    
  <% @scenarios.each do |scenario| %>
      <% if (i % 2  == 0) %>
        <tr class="gvRowStyleEven">
          <td class="gvCellStyleText"><%= link_to scenario.name, scenario_operations_scenario_path(scenario.id) %></td>
          <td class="gvCellStyleActions">
            <%= link_to image_tag("run.png"), scenario_path(scenario.id), title: t('scenario.simulate'), data: {disable_with: 'Please wait. Simulation in progress . . .'} %>
              <%= link_to image_tag("edit.png"), edit_scenario_path(scenario), title: t('general.edit') %>
            <%= link_to image_tag("delete.png"), scenario, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% else %>
        <tr class="gvRowStyleOdd">
          <td class="gvCellStyleText"><%= link_to scenario.name, scenario_operations_scenario_path(scenario.id) %></td>
          <td class="gvCellStyleActions">
            <%= link_to image_tag("run.png"), scenario_path(scenario.id), title: t('scenario.simulate'), data: {disable_with: 'Please wait. Simulation in progress . . .'} %>
              <%= link_to image_tag("edit.png"), edit_scenario_path(scenario), title: t('general.edit') %>
            <%= link_to image_tag("delete.png"), scenario, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
      <% i = i + 1 %>
  <% end %>
</table>

<br>
