<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scenario.name %>
  <%= @doc %>
  </p>

<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', field_scenarios_field_path(session[:field_id]) %>
