<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= form_for :post, :url => {:action => "index"}, method: :post do |f|%>
  <div class="form-group">
    <%= f.text_field :search, size: 80 %>
    <%= f.submit "Search" %>
  </div>
<% end %>

<% if !(session[:user_id] == nil or session[:user_id] == "") %>
  <%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>
<% end %>



  <!-- <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
<br>
<br>
<div class="panel panel-default">
  <% @posts.each do |post| %>
    <table class="table table-striped">
      <tr class="post-link">
        <td ><%= link_to post.title,post , class: "post-link"%></td>
      </tr>
      <tr>
        <td><%=h truncate(post.body, :length => 80) %></td>
      </tr>
    </table>
      <!--
        <td><%= link_to post.title, post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
  <% end %>
</div>


