<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%=h @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%=h @post.body %>
</p>

<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <p>
    <b><%=h c.name %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
    <%=h c.body %>
  </p>
<% end %>

<% form_for [@post.comments.new] do |f| %>
	<%= f.label :name, "Autor" %>
<% end %>



