<h2>Origional Post</h2>
<div class="panel panel-default">
<p>
@post</p>
</div>
<br>
<h2>Comments</h2>
<div class="panel panel-default">
<div class="table-responsive">

<table class="table table-striped">
 <tbody>
		<% i=1 %>
		<% @post.comments.each do |c| %>
			<% if (i % 2 == 0) %>
        <tr class="gvRowStyleEven">
        <% else %>
        <tr class="gvRowStyleOdd">
        <% end %>
        <td id="TestScenario" class="gvCellStyleText">
        <%= h c.name %>
            <p><b><%=h c.name %> said:</b>(<%= time_ago_in_words(c.created_at) %> ago)</p>
          <p><%=h c.body %></p>
        </td>

				<% i = i + 1 %>
		<% end %>
  </tbody>
  </table>
</div>
</div>

<div class = "comments">
  <%= form_for ([@post, @comment]) do |f| %>
  <br>
  <br>
    <p>
      <h2>LEAVE A REPLY</h2>
      <%= f.label :body, "Comment" %>
      <%= f.text_area :body,  :rows => 10, :cols => 156 %>
      <%= f.label :name, "Author: " %><%= f.label :name, User.find(session[:user_id]).name.capitalize %>

    </p>
    <div  class="actions">
    <%= f.submit "Add Comment" %>
    <%= link_to 'Back', posts_path %>
  </div>
  <% end %>
</div>
