<p id="notice"><%= notice %></p>

<p>
  <b>Bmp:</b>
  <%= @climate.bmp_id %>
</p>

<p>
  <b>Month:</b>
  <%= @climate.month %>
</p>

<p>
  <b>Spanish month:</b>
  <%= @climate.spanish_month %>
</p>

<p>
  <b>Max temp:</b>
  <%= @climate.max_temp %>
</p>

<p>
  <b>Min temp:</b>
  <%= @climate.min_temp %>
</p>

<p>
  <b>Precipitation:</b>
  <%= @climate.precipitation %>
</p>


<%= link_to 'Edit', edit_climate_path(@climate) %> |
<%= link_to 'Back', climates_path %>
