<div class="page-header"><h1>Nutrient Tracking Tool (NTT) Overview</h1></div>
<div class="main">
	<div class="container">
		<p><%= raw t('about.overview1') %></p>
		<p><%= raw t('about.overview2') %></p>
		<p><%= raw t('about.overview3') %></p>
		<p><%= raw t('about.overview4') %></p>
		<p><%= raw t('about.overview5') %></p>
		<p><%= raw t('about.overview7') %></p>
		<ul>
			<li><%= raw t('about.item9') %></li>
			<li><%= raw t('about.item10') %></li>
			<li><%= raw t('about.item11') %></li>
		</ul>
		<p><%= raw t('about.overview6') %></p>
		<%#= t('about.process0') %>
		<%#= raw t('about.process') %>
		<%#= t('about.selections0') %>
		<%#= raw t('about.selections1') %>
		<%#= raw t('about.selections2') %>
		<%#= raw t('about.note1') %>
		<%#= raw t('about.note2') %>
		<h2><%= t('about.apex0') %></h2>
		<p><%= raw t('about.apex1') %></p>
		<ul>
			<li><p><%= raw t('about.item1') %></p></li>
			<li><p><%= raw t('about.item2') %></p></li>
			<li><p><%= raw t('about.item3') %></p></li>
			<li><p><%= raw t('about.item4') %></p></li>
			<li><p><%= raw t('about.item5') %></p></li>
			<li><p><%= raw t('about.item6') %></p></li>
			<li><p><%= raw t('about.item7') %></p></li>
			<li><p><%= raw t('about.item8') %></p></li>
		</ul>
		<h2><%= t('about.disclaimer0') %></h2>
		<p><%= raw t('about.disclaimer1') %></p>
		<p><%= raw t('about.disclaimer2') %></p>
		<h2><%= t('about.references0') %></h2>
		<div style="padding-left: 4em; text-indent: -4em;">
		<p><%= raw t('about.references1') %></p>
		<p><%= raw t('about.references2') %></p>
		<p><%= raw t('about.references3') %></p>
		<p><%= raw t('about.references4') %></p>
		<p><%= raw t('about.references5') %></p>
		<div>
		<br>
	</div>
</div>

<%= link_to t('help.return_to_table'), help_path("index", @user), :class => "btn btn-primary" %>
<br><br>
