<div class="main">
	<div class="container">
		<strong><%= t('about.overview0') %></strong>
		<p><%= raw t('about.overview1') %></p>
		<p><%= raw t('about.overview2') %></p>
		<p><%= raw t('about.overview3') %></p>
		<strong><%= t('about.process0') %></strong>
		<p><%= raw t('about.process') %></p>
		<strong><%= t('about.disclaimer0') %></strong>
		<p><%= raw t('about.disclaimer1') %></p>
		<p><%= raw t('about.disclaimer2') %></p>
		<strong><%= t('about.selections0') %></strong>
		<p><%= raw t('about.selections1') %></p>
		<p><%= raw t('about.selections2') %></p>
		<p><%= raw t('about.note1') %></p>
		<p><%= raw t('about.note2') %></p>
		<br>
<<<<<<< HEAD
		<%= link_to t('help.return_to_table'), help_path("index") %>
=======

		<%= link_to t('help.return_to_table'), help_path("index") %>

>>>>>>> d98b0c1fc7ae45ebf5f566203602e5f1ba6da038
	</div>
</div>