<h1 class=""><%= t('contact1.header') %></h1>

<div class="main">
	<div class="container">
		<p><%= raw t('contact1.statement') %></p>
		<ul>
			<li><b><%= t('contact1.name') %></b><br>
			<%= t('contact1.position') %><br>
      <U><%= t('contact1.dept') %><br></U>
			<%= t('contact1.box') %><br>
			<%= t('contact1.uni') %><br>
			<%= t('contact1.city') %><br>
			<%= t('contact1.phone') %><br>
			<%#= t('contact1.fax') %>
			<%= raw t('contact1.email') %></li>
			<br>
			<% if ENV["APP_VERSION"] == "modified" %>
			<li><b><%= t('contact2.name') %></b><br>
			<%= t('contact2.position') %><br>
			<U><%= t('contact2.dept') %><br></U>
			<%= t('contact2.city') %><br>
			<%= t('contact2.phone') %><br>
			<%= raw t('contact2.email') %></li>
			<% end %>
		</ul>
		<p><%= raw t('contact3.statement') %></p>
		<ul>
			<li><b><%= t('contact1.name') %></b><br>
			<%= t('contact1.position') %><br>
			<U><%= t('contact1.dept') %><br></U>
			<%= t('contact1.box') %><br>
			<%= t('contact1.uni') %><br>
			<%= t('contact1.city') %><br>
			<%= t('contact1.phone') %><br>
			<%#= t('contact1.fax') %>
			<%= raw t('contact1.email') %></li>
			<br>
			<li><b><%= t('contact3.name') %></b><br>
			<%= t('contact3.position') %><br>
      <U><%= t('contact3.dept') %><br></U>
			<%= t('contact3.box') %><br>
			<%= t('contact3.uni') %><br>
			<%= t('contact3.city') %><br>
			<%= t('contact3.phone') %><br>
			<%#= t('contact3.fax') %>
			<%= raw t('contact3.email') %></li>
		</ul>
		<br>

	</div>
</div>

<%= link_to t('help.return_to_table'), help_path("index", :project_id => params[:project_id]), :class => "btn btn-primary" %>
<br><br>
