<div class="main">
	<div class="container">
		<h1><%= t('contact1.header') %></h1>
		<p><%= raw t('contact1.statement') %></p>
		<ul>
			<li><b><%= t('contact1.name') %></b><br>
			<%= t('contact1.position') %><br>
<<<<<<< HEAD
      <U><%= t('users.company') %><br></U>
=======
			<%= t('contact1.company') %><br>
>>>>>>> master
			<%= t('contact1.uni') %><br>
			<%= t('contact1.box') %><br>
			<%= t('contact1.uni') %><br>
			<%= t('contact1.city') %><br>
			<%= t('contact1.phone') %><br>
			<%= t('contact1.fax') %><br>
			<%= t('contact1.email') %></li>
		</ul>
		<p><%= raw t('contact2.statement') %></p>
		<ul>
			<li><b><%= t('contact2.name') %></b><br>
			<%= t('contact2.position') %><br>
<<<<<<< HEAD
      <U><%= t('users.company') %><br></U>
=======
			<%= t('contact2.company') %><br>
>>>>>>> master
			<%= t('contact2.uni') %><br>
			<%= t('contact2.box') %><br>
			<%= t('contact2.uni') %><br>
			<%= t('contact2.city') %><br>
			<%= t('contact2.phone') %><br>
			<%= t('contact2.fax') %><br>
			<%= t('contact2.email') %></li>
		</ul>
		<br>
<<<<<<< HEAD
		<%= link_to t('help.return_to_table'), help_path("index") %>
=======
		<%= link_to '<< Return to Table of Contents', help_path("index") %>
>>>>>>> master
	</div>
</div>