<%= form_for [@project, @field, @weather] do |f| %>
    <% case %>
	<% when @weather.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('activerecord.form_errors', :count => @weather.errors.count, :model => t('models.weather').downcase) %></h2>
          <ul>
            <% @weather.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% when notice %>
        <div class="success_alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= notice %>
        </div>
    <% when flash[:info] %>
        <div class="flash_alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= flash[:info] %>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
       <% for way in Way.all %>
          <div>
            <%= f.radio_button :way_id, way.id, onchange: "rbtnStation_onclick(" + "'" + way.way_value + "'" + ")" %>
            <% if (params[:locale] == "en") %>
                <%= f.label :way, way.way_name %>
            <% else %>
                <%= f.label :way, way.spanish_name %>
            <% end %>
          </div>
      <% end %>
      </div>
    </div>

    <div id="fsetUploadWeatherFile" class="panel panel-default">
      <div class="panel-heading"><%= t('weather.choose_file_lenged') %></div>
      <div class="panel-body">
        <%= f.file_field :weather_file %>
      </div>
    </div>

    <div id="fsetCoordinates" class="panel panel-default">
      <div class="panel-heading"><%= t('weather.enter_coordinates') %></div>
      <div class="panel-body">
        <div class="field">
          <%= f.label t('weather.latitude') %>
          <%= f.number_field :latitude, :class => "gvTitleStyleNumber", :step => 'any' %>
          <%= f.label t('weather.longitude') %>
          <%= f.number_field :longitude, :class => "gvTitleStyleNumber", :step => 'any' %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('weather.update'), name: 'update', :class => "btn btn-primary" %>
    </div>
  <% end %>

  <%= form_for [@project, @field, @weather], :url => save_simulation_project_field_weather_path(@project, @field, @weather), method: :post do |f| %>
    <div id="fsetSimulation" class="panel panel-default">
      <div class="panel-heading"><%= t('weather.years_of_simulation') %></div>
      <div class="panel-body">
        <div class="field">
          <div class="field">
            <%= f.label t('weather.years_of_weather') + ": " %>
            <%= f.label @weather.weather_initial_year %>
            <%= f.label "-" %>
            <%= f.label @weather.weather_final_year %>
          </div>
          <%= t('weather.note') %></p>
          <%= f.label t('weather.years_of_simulation') + ": " + t('weather.initial_year') %>
          <%= f.number_field :simulation_initial_year, :class => "fieldNumbers" %>
          <%= f.label " " + t('weather.final_year') %>
          <%= f.number_field :simulation_final_year, :class => "fieldNumbers" %>  <%= f.submit t('weather.update_simulation'), :class => 'btn btn-success' %>
        </div>
      </div>
    </div>
  <% end %>

    <div class="actions">
      <%= link_to t('general.continue'), project_field_scenarios_path(@project, @field), :class => 'btn btn-success' %>
    </div>

<script type="text/javascript">
    //script to hide elements on page load and show selected radio
    $(document).ready(function(){
        document.getElementById("fsetUploadWeatherFile").style.display = "none";
        document.getElementById("fsetCoordinates").style.display = "none";
        var way_id = $("input[type=radio][id^=weather_way_id]:checked").val()
        if (way_id == 1) {
          document.getElementById("fsetPrism").style.display = "";
        }else if (way_id == 2) {
          document.getElementById("fsetUploadWeatherFile").style.display = "";
        }else if (way_id == 3) {
          document.getElementById("fsetCoordinates").style.display = "";
        }
    });
</script>
