<%= form_for(@weather) do |f| %>
    <% case %>
	<% when @weather.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('activerecord.form_errors', :count => @weather.errors.count, :model => t('models.weather').downcase) %></h2>
          <ul>
            <% @weather.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% when notice %>
        <div class="success_alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= notice %>
        </div>
    <% when flash[:info] %>
        <div class="flash_alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <%= flash[:info] %>
        </div>
    <% end %>


    <div class="panel panel-default">
      <div class="panel-heading"><%= t('weather.legend') %></div>
      <div class="panel-body">
       <% for way in Way.find(:all) %>
          <div>
            <%= f.radio_button :way_id, way.id, onchange: "rbtnStation_onclick(" + "'" + way.way_value + "'" + ")" %>
            <% if (params[:locale] == "en") %>
                <%= f.label :way, way.way_name %>
            <% else %>
                <%= f.label :way, way.spanish_name %>
            <% end %>
          </div>
      <% end %>
      </div>
    </div>


    <% if @weather.way_id == 2 %>
        <fieldset id="fsetUploadWeatherFile" class="section"></fieldset>
    <% else %>
        <fieldset id="fsetUploadWeatherFile" class="section" style="display:none">
    <% end %>
    <div class="panel panel-default">
    <div class="panel-heading"><%= t('weather.choose_file_lenged') %></div>
    <div class="panel-body">
    <%= f.file_field :weather_file %>
    </div></div>
    </fieldset>

    <% if @weather.way_id == 3 %>
        <fieldset id="fsetCoordinates" class="section"></fieldset>
    <% else %>
        <fieldset id="fsetCoordinates" class="section" style="display:none">
    <% end %>
    <div class="panel panel-default">
    <div class="panel-heading"><%= t('weather.enter_coordinates') %></div>
    <div class="panel-body">
    <div class="field">
      <%= f.label t('weather.latitude') %>
      <%= f.number_field :latitude, :class => "numbers", :step => 'any' %>
      <%= f.label t('weather.longitude') %>
      <%= f.number_field :longitude, :class => "numbers", :step => 'any' %>
    </div></div></div>
    </fieldset>

    <div class="field">
      <%= f.label t('weather.years_of_weather') + ": " %>
      <%= f.label @weather.weather_initial_year %>
      <%= f.label "-" %>
      <%= f.label @weather.weather_final_year %>
    </div>
<br>
    <fieldset class="section">
      <div class="field">
        <%= t('weather.note') %></p>
        <%= f.label t('weather.years_of_simulation') + ": " + t('weather.initial_year') %>
        <%= f.number_field :simulation_initial_year, :class => "fieldNumbers" %>
        <%= f.label " " + t('weather.final_year') %>
        <%= f.number_field :simulation_final_year, :class => "fieldNumbers" %>
      </div>
    </fieldset><br>
    <div class="actions">
      <%= f.submit t('weather.update'), name: 'update', :class => "btn btn-primary" %>
      <%= link_to t('general.continue'), list_soil_path(session[:field_id]), :class => 'btn btn-success' %>
    </div>
<% end %>
