<%= form_for(@weather) do |f| %>
  <% if @weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h2>
      <ul>
		  <% @weather.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
      </ul>
    </div>
  <% else %>
    <div id="div_notice">
		<p id="notice"><%= notice %></p>
    </div>
  <% end %>

 <fieldset class="section">
    <legend>Select the kind of weather you want to use</legend>
    <% for way in Way.find(:all) %>
	   <div>
           <%= way.id %>
		   <%= f.radio_button :way_id, way.id, onchange: "rbtnStation_onclick(" + "'" + way.way_value + "'" + ")" %>
		   <% if NTTG3::Application.config.language == "en" %>
			  <%= f.label way.way_name %>
		   <% else %>
			  <%= f.label way.spanish_name %>
		   <% end %>
	   </div>
	<% end %>
  </fieldset>

  <% if :way_id == 3 %>
	  <fieldset id="fsetCoordinates" class="section" >
		  <legend id="lblCoordinates1" runat="server">Enter Coordinates</legend>
		  <div class="field">
			<%= f.label :latitude %>
			<%= f.text_field :latitude %>
			<%= f.label :longitude %>
			<%= f.text_field :longitude %>
		  </div>
	  </fieldset>	
  <% else %>
	  <fieldset id="fsetCoordinates" class="section" style="display:none">
		  <legend>Enter Coordinates</legend>
		  <div class="field">
			<%= f.label :latitude %>
			<%= f.text_field :latitude %>
			<%= f.label :longitude %>
			<%= f.text_field :longitude %>
		  </div>
	  </fieldset>	
  <% end %> 

  <fieldset id="fsetUploadWeatherFile" class="section">
	<legend>Choose the file to Upload and then click Save Changes button</legend>
	<%= form_tag({:action => "upload_weather"}, multipart: true) do %>
	<% end %>      
	<%= form_tag({action: :upload_weather}, multipart: true) do %>
	  <%= file_field_tag "weather_file" %>
	  <%= submit_tag(value = t('submit.save')) %>
      <%= f.label @weather.weather_file %>
	<% end %>
  </fieldset>

  <p>
	  <div class="field">
		<%= f.label t('weather.years_of_weather') + ": " %>
		<%= f.label @weather.weather_initial_year %>
		<%= f.label "-" %>
		<%= f.label @weather.weather_final_year %>
	  </div>
  </p>
  <fieldset class="section">
	  <div class="field">
        <p><%= t('weather.note') %></p>
		<%= f.label :simulation_initial_year %>
		<%= f.number_field :simulation_initial_year %>
		<%= f.label :simulation_final_year %>
		<%= f.number_field :simulation_final_year %>
	  </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
