<p id="notice"><%= notice %></p>

<p>
  <b>Field:</b>
  <%= @weather.field_id %>
</p>

<p>
  <b>Station:</b>
  <%= @weather.station_id %>
</p>

<p>
  <b>Station way:</b>
  <%= @weather.station_way %>
</p>

<p>
  <b>Simulation initial year:</b>
  <%= @weather.simulation_initial_year %>
</p>

<p>
  <b>Simulation final year:</b>
  <%= @weather.simulation_final_year %>
</p>

<p>
  <b>Longitude:</b>
  <%= @weather.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @weather.latitude %>
</p>


<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
