<div class="page-header"><h1><%= t("Aplcat Results") %></h1></div>
<td><%= link_to t('aplcat.grazing') + " " + t('menu.parameters_file'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :title => t('aplcat_tooltip.go_to_gp'), :class => 'btn btn-primary' %></td>
<td><%= link_to t('aplcat.supplement_parameters'), project_field_scenario_supplement_parameters_path(@project, @field, @scenario), :title => t('aplcat_tooltip.go_to_sp'), :class => 'btn btn-primary' %></td>
<div class="main">
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class='gvHeaderStyle'>
        <th style="text-align:center" class="gvCellStyleTitle" rowspan="2">Animals</th>
        <th style="text-align:center" class="gvCellStyleTitle">Animal Growth Results</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="2">Feed Intake Rates</th>
        <th style="text-align:center" class="gvCellStyleTitle">Water Intake Rates</th>
        <th style="text-align:center" class="gvCellStyleTitle">Manure excretion Results</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="4">Nitrogen Balance Results</th>
        <th style="text-align:center" class="gvCellStyleTitle">Grand Averages</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="2">Greenhouse gas Emissions</th>
        <th style="text-align:center" class="gvCellStyleTitle" rowspan="2" colspan="2"><%= t('general.actions') %></th>
      </tr>
<!--     Updated Sections - Jennifer 8/14/20 -->
      <tr>
        <th class="gvCellStyleTitle"> Animal Weights (lb)</th>
        <th class="gvCellStyleTitle"> Dry Matter Intake (kg/day)</th>
        <th class="gvCellStyleTitle"> Gross Energy Intake (MJ/day)</th>
        <th class="gvCellStyleTitle"> Drinking water intake (L/year)</th>
        <th class="gvCellStyleTitle"> Water intake with feed (L/year)</th>
        <th class="gvCellStyleTitle"> Quantity of manure excreted (kg/day)</th>
        <th class="gvCellStyleTitle"> Nitrogen present in manure (kg/year)</th>
        <th class="gvCellStyleTitle"> Nitrogen Intake (g/day)</th>
        <th class="gvCellStyleTitle"> Total Nitrogen excretion (g/day)</th>
        <th class="gvCellStyleTitle"> Total Nitrogen retained (g/day)</th>
        <th class="gvCellStyleTitle"> Fecal Nitrogen excretion (g/day)</th>
        <th class="gvCellStyleTitle"> Urine Nitrogen excretion (g/day)</th>
        <th class="gvCellStyleTitle"> Enteric methane emission (g/day)</th>
        <th class="gvCellStyleTitle"> Manure methane emission (g/day)</th>
      </tr>
<tbody class="gvRowStyleOdd">
  <% @aplcat_results.each do |aplcat_result| %>
      <tr>
        <td> Calf </td>
        <td> <%= aplcat_result.calf_aws %> </td>
        <td> <%= aplcat_result.calf_dmi %> </td>
        <td> <%= aplcat_result.calf_gei %> </td>
        <td> <%= aplcat_result.calf_wi %> </td>
        <td> <%= aplcat_result.calf_qme %> </td> 
        <td> <%= aplcat_result.calf_sme %> </td> 
        <td> <%= aplcat_result.calf_ni %> </td>
        <td> <%= aplcat_result.calf_tne %> </td>
        <td> <%= aplcat_result.calf_tnr %> </td>
        <td> <%= aplcat_result.calf_fne %> </td>
        <td> <%= aplcat_result.calf_une %> </td>
        <td> <%= aplcat_result.calf_eme %> </td>
        <td> <%= aplcat_result.calf_mme %> </td>
        <td colspan="5">
        <%= link_to image_tag("delete.png"), project_field_scenario_aplcat_result_path(@project, @field, @scenario, aplcat_result), method: :delete, data: { confirm: 'Are you sure?' }, :title => t('aplcat_tooltip.delete_all') %>
        <%= link_to image_tag("edit.png"), edit_project_field_scenario_aplcat_result_path(@project, @field, @scenario, aplcat_result) %></td>
      </tr>
      <tr>
        <td> Replacement Heifers </td>
          <td> <%= aplcat_result.rh_aws %> </td>
          <td> <%= aplcat_result.rh_dmi %> </td>
          <td> <%= aplcat_result.rh_gei %> </td>
          <td> <%= aplcat_result.rh_wi %> </td>
          <td> <%= aplcat_result.rh_sme %> </td>
          <td> <%= aplcat_result.rh_ni %> </td>
          <td> <%= aplcat_result.rh_tne %> </td>
          <td> <%= aplcat_result.rh_tnr %> </td>
          <td> <%= aplcat_result.rh_fne %> </td>
          <td> <%= aplcat_result.rh_une %> </td>
          <td> <%= aplcat_result.rh_eme %> </td>
          <td> <%= aplcat_result.rh_mme %> </td>
      </tr>

      <tr>
        <td> First Calf Heifers </td>
          <td> <%= aplcat_result.fch_aws %> </td>
          <td> <%= aplcat_result.fch_dmi %> </td>
          <td> <%= aplcat_result.fch_gei %> </td>
          <td> <%= aplcat_result.fch_wi %> </td>
          <td> <%= aplcat_result.fch_sme %> </td>
          <td> <%= aplcat_result.fch_ni %> </td>
          <td> <%= aplcat_result.fch_tne %> </td>
          <td> <%= aplcat_result.fch_tnr %> </td>
          <td> <%= aplcat_result.fch_fne %> </td>
          <td> <%= aplcat_result.fch_une %> </td>
          <td> <%= aplcat_result.fch_eme %> </td>
          <td> <%= aplcat_result.fch_mme %> </td>
      </tr>

      <tr>
        <td> Cow </td>
          <td> <%= aplcat_result.cow_aws %> </td>
          <td> <%= aplcat_result.cow_dmi %> </td>
          <td> <%= aplcat_result.cow_gei %> </td>
          <td> <%= aplcat_result.cow_wi %> </td>
          <td> <%= aplcat_result.cow_sme %> </td>
          <td> <%= aplcat_result.cow_ni %> </td>
          <td> <%= aplcat_result.cow_tne %> </td>
          <td> <%= aplcat_result.cow_tnr %> </td>
          <td> <%= aplcat_result.cow_fne %> </td>
          <td> <%= aplcat_result.cow_une %> </td>
          <td> <%= aplcat_result.cow_eme %> </td>
          <td> <%= aplcat_result.cow_mme %> </td>
      </tr>

      <tr>
        <td> Bull </td>
          <td> <%= aplcat_result.bull_aws %> </td>
          <td> <%= aplcat_result.bull_dmi %> </td>
          <td> <%= aplcat_result.bull_gei %> </td>
          <td> <%= aplcat_result.bull_wi %> </td>
          <td> <%= aplcat_result.bull_sme %> </td>
          <td> <%= aplcat_result.bull_ni %> </td>
          <td> <%= aplcat_result.bull_tne %> </td>
          <td> <%= aplcat_result.bull_tnr %> </td>
          <td> <%= aplcat_result.bull_fne %> </td>
          <td> <%= aplcat_result.bull_une %> </td>
          <td> <%= aplcat_result.bull_eme %> </td>
          <td> <%= aplcat_result.bull_mme %> </td>
      </tr>
      <% end %>
      </tbody>
  </table>
  </div>

<table>
<tr>
  <td><%= link_to ('New APLCAT Results'), new_project_field_scenario_aplcat_result_path(@project, @field, @scenario), :class => 'btn btn-success' %></td>
  <td> <%= link_to 'Back', edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :title => t('aplcat_tooltip.go_to_ap'), :class => "btn btn-primary" %></td>
</tr>
</table>
