<div class="page-header"><h1><%= t("Aplcat Results") %></h1></div>
<div class="main">

  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class='gvHeaderStyle'>
        <th style="text-align:center" class="gvCellStyleTitle" rowspan="2">Animals</th>
        <th style="text-align:center" class="gvCellStyleTitle">Animal Growth Results</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="2">Feed Intake Rates</th>
        <th style="text-align:center" class="gvCellStyleTitle">Water Intake Rates</th>
        <th style="text-align:center" class="gvCellStyleTitle">Manure excretion Results</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="4">Nitrogen Balance Results</th>
        <th style="text-align:center" class="gvCellStyleTitle">Grand Averages</th>
        <th style="text-align:center" class="gvCellStyleTitle" colspan="2">Greenhouse gas Emissions</th>
        <th style="text-align:center" class="gvCellStyleTitle" rowspan="2" colspan="2"><%= t('general.actions') %></th>
      </tr>
      <tr>
        <th class="gvCellStyleTitle"> Animal Weights (lb|kg)</th>
        <th class="gvCellStyleTitle"> Dry Matter Intake ('kg', daily|annual)</th>
        <th class="gvCellStyleTitle"> Gross Energy Intake ('daily', Mcal|MJ)</th>
        <th class="gvCellStyleTitle"> Water Intake ('L/year', Emb_feed|drinking)</th>
        <th class="gvCellStyleTitle"> Solid Manure excr. ('kg_daily', manu|manu_N)</th>
        <th class="gvCellStyleTitle"> Nitrogen Intake (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Total Nitrogen excretion (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Total Nitrogen retained (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Fecal Nitrogen excretion (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Urine Nitrogen excretion (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Enteric methane emission (g/day|kg/year)</th>
        <th class="gvCellStyleTitle"> Manure methane emission (g/day|kg/year)</th>
      </tr>
    </thead>

<tbody class="gvRowStyleOdd">
      <tr>
        <td> Calf <td>
        <td> <%= @calf_aws %> </td>
        <td> <%= @calf_dmi %> </td>
        <td> <%= @calf_gei %> </td>
        <td> <%= @calf_wi %> </td>
        <td> <%= @calf_sme %> </td>
        <td> <%= @calf_ni %> </td>
        <td> <%= @calf_tne %> </td>
        <td> <%= @calf_tnr %> </td>
        <td> <%= @calf_fne %> </td>
        <td> <%= @calf_une %> </td>
        <td> <%= @calf_eme %> </td>
        <td> <%= @calf_mme %> </td>
        <td> <%= link_to image_tag("edit.png") %> </td>
      </tr>


      <tr>
        <td> Replacement Heifers <td>
          <td> <%= @rh_aws %> </td>
          <td> <%= @rh_dmi %> </td>
          <td> <%= @rh_gei %> </td>
          <td> <%= @rh_wi %> </td>
          <td> <%= @rh_sme %> </td>
          <td> <%= @rh_ni %> </td>
          <td> <%= @rh_tne %> </td>
          <td> <%= @rh_tnr %> </td>
          <td> <%= @rh_fne %> </td>
          <td> <%= @rh_une %> </td>
          <td> <%= @rh_eme %> </td>
          <td> <%= @rh_mme %> </td>
          <td> <%= link_to image_tag("edit.png")%> </td>
      </tr>

      <tr>
        <td> First Calf Heifers <td>
          <td> <%= @fch_aws %> </td>
          <td> <%= @fch_dmi %> </td>
          <td> <%= @fch_gei %> </td>
          <td> <%= @fch_wi %> </td>
          <td> <%= @fch_sme %> </td>
          <td> <%= @fch_ni %> </td>
          <td> <%= @fch_tne %> </td>
          <td> <%= @fch_tnr %> </td>
          <td> <%= @fch_fne %> </td>
          <td> <%= @fch_une %> </td>
          <td> <%= @fch_eme %> </td>
          <td> <%= @fch_mme %> </td>
          <td> <%= link_to image_tag("edit.png")%> </td>
      </tr>

      <tr>
        <td> Cow <td>
          <td> <%= @cow_aws %> </td>
          <td> <%= @cow_dmi %> </td>
          <td> <%= @cow_gei %> </td>
          <td> <%= @cow_wi %> </td>
          <td> <%= @cow_sme %> </td>
          <td> <%= @cow_ni %> </td>
          <td> <%= @cow_tne %> </td>
          <td> <%= @cow_tnr %> </td>
          <td> <%= @cow_fne %> </td>
          <td> <%= @cow_une %> </td>
          <td> <%= @cow_eme %> </td>
          <td> <%= @cow_mme %> </td>
          <td> <%= link_to image_tag("edit.png")%> </td>
      </tr>

      <tr>
        <td> Bull <td>
          <td> <%= @bull_aws %> </td>
          <td> <%= @bull_dmi %> </td>
          <td> <%= @bull_gei %> </td>
          <td> <%= @bull_wi %> </td>
          <td> <%= @bull_sme %> </td>
          <td> <%= @bull_ni %> </td>
          <td> <%= @bull_tne %> </td>
          <td> <%= @bull_tnr %> </td>
          <td> <%= @bull_fne %> </td>
          <td> <%= @bull_une %> </td>
          <td> <%= @bull_eme %> </td>
          <td> <%= @bull_mme %> </td>
          <td> <%= link_to image_tag("edit.png")%> </td>
      </tr>
      </tbody>
  </table>
  </div>

<table>
<tr>
  <td><%= link_to t("New APLCAT Results"), new_project_field_scenario_aplcat_result_path(@project, @field, @scenario), :class => 'btn btn-success' %></td>
  <td> <%= link_to 'Back', edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :class => "btn btn-primary" %></td>
</tr>
</table>
