<%= form_for [@project, @field, @scenario, @aplcat_parameter] do |f| %>
  <% if @aplcat_parameter.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@aplcat_parameter.errors.count, "error") %> prohibited this aplcat_parameter from being saved:</h2>
        <ul>
			<% @aplcat_parameter.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
        </ul>
    </div>
  <% end %>

  <div>
	  <table>
		<tr>
		  <td><h4><%= label :bmp_id, t('result.select_scenario1') %></h4></td>
		  <td><%= select_tag "id", options_for_select(@aplcat), :onchange => "show_div()" %></td>
		  <td><%#= button_to t('subarea.load_subarea'),  class: 'btn btn-primary' %></td>
		</tr>
	  </table>
  </div>
  <div id="div_1">
    <%= field_set_tag t('aplcat.animal_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.noc') %>
		<%= f.number_field :noc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.noc')  %> 
	  </div>
	  <div class="field">
		<%=  t('aplcat.nomb') %>
		<%= f.number_field :nomb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nomb') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.norh') %>
		<%= f.number_field :norh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.norh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwc') %>
		<%= f.number_field :abwc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwmb') %>
		<%= f.number_field :abwmb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwmb') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwh') %>
		<%= f.number_field :abwh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prh') %>
		<%= f.number_field :prh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prb') %>
		<%= f.number_field :prb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prb') %>
	  </div>
	<%end%>
  </div>

  <div style='display:none' id="div_2">
	<%= field_set_tag t('aplcat.animal_growth_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mrga') %>
		<%= f.number_field :mrga, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.mrga') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc') %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs') %>
	  </div>
	  <div class="field">
		<%= t('aplcat.dmd') %>
		<%= f.number_field :dmd, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmd') %>
	  </div>
	  <div class="field">
		<%= t("aplcat.dmi") %>
		<%= f.number_field :dmi, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmi') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napanr') %>
		<%= f.number_field :napanr, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napanr') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napaip') %>
		<%= f.number_field :napaip, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napaip') %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_3">
    <%= field_set_tag t('aplcat.animal_manure_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.mpsm') %>
		<%= f.number_field :mpsm, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.splm') %>
		<%= f.number_field :splm, class: 'gvTitleStyleNumber', step: :any %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pmme') %>
		<%= f.number_field :pmme, class: 'gvTitleStyleNumber', step: :any %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mm_type') %>
		<%= f.number_field :mm_type, class: 'gvTitleStyleNumber', step: :any %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', step: :any %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_4">
    <%= field_set_tag t('aplcat.environmental_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.rhaeba') %>
		<%= f.number_field :rhaeba, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.toaboba') %>
		<%= f.number_field :toaboba, class: 'gvTitleStyleNumber' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_5">
    <%= field_set_tag t('aplcat.greenhouse_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.foue') %>
		<%= f.number_field :foue, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ash') %>
		<%= f.number_field :ash, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mmppfm') %>
		<%= f.number_field :mmppfm, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.cfmms') %>
		<%= f.number_field :cfmms, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fnemimms') %>
		<%= f.number_field :fnemimms, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.effn2ofmms') %>
		<%= f.number_field :effn2ofmms, class: 'gvTitleStyleNumber' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_6">
    <%= field_set_tag t('aplcat.water_use_pumping_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.dwawfga') %>
		<%= f.number_field :dwawfga, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawflc') %>
		<%= f.number_field :dwawflc, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawfmb') %>
		<%= f.number_field :dwawfmb, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pgu') %>
		<%= f.number_field :pgu, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ada') %>
		<%= f.number_field :ada, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ape') %>
		<%= f.number_field :ape, class: 'gvTitleStyleNumber' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_7">
    <%= field_set_tag t('aplcat.other_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.platc') %>
		<%= f.number_field :platc, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pctbb') %>
		<%= f.number_field :pctbb, class: 'gvTitleStyleNumber' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ptdife') %>
		<%= f.number_field :ptdife, class: 'gvTitleStyleNumber' %>
	  </div>
	<% end %>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:type, @type) %>
	<%= f.submit  t('submit.save'), :class => "btn btn-primary"  %>
    <%= link_to t('general.back'), project_field_scenarios_path(@project, @field)  %>
  </div>
<% end %>

<script>
	function show_div() {
	    var div_id = ""
		for(i=1; i<= 7; i++) {
			div_id = "div_".concat(i);			
		    document.getElementById(div_id).style.display="none";
		}

		var num = document.getElementById("id").selectedIndex + 1;
		var div_id = "div_".concat(num);
		var div_id = document.getElementById(div_id).style.display="block";
	}
</script>
