<%= form_for [@project, @field, @scenario, @aplcat_parameter] do |f| %>
  <% if @aplcat_parameter.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@aplcat_parameter.errors.count, "error") %> prohibited this aplcat_parameter from being saved:</h2>
        <ul>
			<% @aplcat_parameter.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
        </ul>
    </div>
  <% end %>

  <div>
	  <table>
		<tr>
		  <td><h4><%= label :bmp_id, t('general.select') %></h4></td>
		  <td><%= select_tag "id", options_for_select(@aplcat), :onchange => "show_div()" %></td>
		  <td><%= link_to t('aplcat.grazing') + " " + t('menu.parameters_file'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
		  <td><%= link_to t('aplcat.supplement_parameters'), project_field_scenario_supplement_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
		</tr>
	  </table>
  </div>
  <div id="div_1">
    <%= field_set_tag t('aplcat.animal_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.noc') %>
		<%= f.number_field :noc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.noc'), min: 1, :step => 'any'  %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.nomb') %>
		<%= f.number_field :nomb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nomb'), min: 1, :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.norh') %>
		<%= f.number_field :norh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.norh'), min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.nocrh') %>
		<%= f.number_field :nocrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nocrh'), min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.prh') %>
		<%= f.number_field :prh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prh'), min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prb') %>
		<%= f.number_field :prb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prb'), min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwc') %>
		<%= f.number_field :abwc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwc'), min: 800.0, max: 1400.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwmb') %>
		<%= f.number_field :abwmb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwmb'), min: 1000.0, max: 1800.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwh') %>
		<%= f.number_field :abwh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwh'), value: 900.0, min: 900.0, max: 1200.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwrh') %>
		<%= f.number_field :abwrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwrh'), min: 400.0, max: 900.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), value: 1.7, min: 0.0, max: 3.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), min: 0.0, max: 3.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), value: 80.0, min: 80.0, max: 120.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), min: 80, max: 120, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), value: 0.7, min: 0.7, max: 1.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), min: 50.0, max: 80.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%= t('aplcat.abc') %>
		<%= f.number_field :abc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abc'), min: 1, max: 31, :step => 'any' %>
	  </div>
	<%end%>
  </div>

  <div style='display:none' id="div_2">
	<%= field_set_tag t('aplcat.animal_growth_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mrga') %>
		<%= f.number_field :mrga, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.mrga'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.dmd') %>
		<%= f.number_field :dmd, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmd'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t("aplcat.dmi") %>
		<%= f.number_field :dmi, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmi'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napanr') %>
		<%= f.number_field :napanr, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napanr'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napaip') %>
		<%= f.number_field :napaip, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napaip'), :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_3">
    <%= field_set_tag t('aplcat.animal_manure_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.mpsm') %>
		<%= f.number_field :mpsm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.splm') %>
		<%= f.number_field :splm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pmme') %>
		<%= f.number_field :pmme, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mm_type') %>
		<%= f.number_field :mm_type, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
	<% end %>
  </div>

  <div style='display:none' id="div_4">
    <%= field_set_tag t('aplcat.environmental_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.rhaeba') %>
		<%= f.number_field :rhaeba, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.toaboba') %>
		<%= f.number_field :toaboba, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_5">
    <%= field_set_tag t('aplcat.greenhouse_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.foue') %>
		<%= f.number_field :foue, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ash') %>
		<%= f.number_field :ash, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mmppfm') %>
		<%= f.number_field :mmppfm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.cfmms') %>
		<%= f.number_field :cfmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fnemimms') %>
		<%= f.number_field :fnemimms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.effn2ofmms') %>
		<%= f.number_field :effn2ofmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_6">
    <%= field_set_tag t('aplcat.water_use_pumping_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.dwawfga') %>
		<%= f.number_field :dwawfga, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawflc') %>
		<%= f.number_field :dwawflc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawfmb') %>
		<%= f.number_field :dwawfmb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pgu') %>
		<%= f.number_field :pgu, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ada') %>
		<%= f.number_field :ada, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ape') %>
		<%= f.number_field :ape, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_7">
    <%= field_set_tag t('aplcat.other_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.platc') %>
		<%= f.number_field :platc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pctbb') %>
		<%= f.number_field :pctbb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ptdife') %>
		<%= f.number_field :ptdife, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_8">
    <%= field_set_tag t('aplcat.simulation_parameters'), class:'fieldset' do %>
    <div class="field">
		<%=  t('aplcat.mrgauh') %>
		<%= f.number_field :mrgauh, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 7.0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.plac') %>
		<%= f.number_field :plac, class: 'gvTitleStyleNumber', :step => 'any', min: 45, max: 60 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pcbb') %>
		<%= f.number_field :pcbb, class: 'gvTitleStyleNumber', :step => 'any', min: 45, max: 60 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.domd') %>
		<%= f.number_field :domd, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 100 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.faueea') %>
		<%= f.number_field :faueea, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.acim') %>
		<%= f.number_field :acim, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.mmppm') %>
		<%= f.number_field :mmppm, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cffm') %>
		<%= f.number_field :cffm, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fnemm') %>
		<%= f.number_field :fnemm, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.effd') %>
		<%= f.number_field :effd, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.ptbd') %>
		<%= f.number_field :ptbd, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pocib') %>
		<%= f.number_field :pocib, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bneap') %>
		<%= f.number_field :bneap, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cneap') %>
		<%= f.number_field :cneap, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.hneap') %>
		<%= f.number_field :hneap, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pobw') %>
		<%= f.number_field :pobw, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posw') %>
		<%= f.number_field :posw, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posb') %>
		<%= f.number_field :posb, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poad') %>
		<%= f.number_field :poad, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poada') %>
		<%= f.number_field :poada, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cibo') %>
		<%= f.number_field :cibo, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 1 %>
	  </div>
<% end %>
</div>

<div style='display:none' id="div_9">
  <%= field_set_tag t('aplcat.simulation_methods'), class:'fieldset' do %>
  <div class="field">
    <%= t('aplcat.mm_type') %><br>
    <%= radio_button_tag :mm_type, "1"%> <%= t('aplcat.ipcc') %><br>
    <%= radio_button_tag :mm_type, "2"%> <%= t('aplcat.chianese') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.nit') %><br>
    <%= radio_button_tag :nit, "1"%> <%= t('aplcat.wal') %><br>
    <%= radio_button_tag :nit, "2"%> <%= t('aplcat.nasem') %><br>
    <%= radio_button_tag :nit, "3", :checked => "checked"%> <%= t('aplcat.massb') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.fqd') %><br>
    <%= radio_button_tag :fqd, "1"%> <%= t('aplcat.ufq') %><br>
    <%= radio_button_tag :fqd, "2"%> <%= t('aplcat.dufq') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.uovfi') %><br>
    <%= radio_button_tag :uovfi, "1"%> <%= t('aplcat.vr1') %><br>
    <%= radio_button_tag :uovfi, "2"%> <%= t('aplcat.ib2') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.srwc') %><br>
    <%= radio_button_tag :srwc, "1"%> <%= t('aplcat.syes') %><br>
    <%= radio_button_tag :srwc, "2"%> <%= t('aplcat.sno') %><br>
  </div>
<%end%>
</div>


  <div class="actions">
    <%= hidden_field_tag(:type, @type) %>
	  <%= f.submit  t('submit.save'), :class => "btn btn-primary"  %>
    <%= link_to t('general.back'), project_field_scenarios_path(@project, @field), :class => "btn btn-primary"  %>
  </div>
<% end %>

<script>
	function show_div() {
	    var div_id = ""
		for(i=1; i<= 9; i++) {
			div_id = "div_".concat(i);
		    document.getElementById(div_id).style.display="none";
		}

		var num = document.getElementById("id").selectedIndex + 1;
		var div_id = "div_".concat(num);
		var div_id = document.getElementById(div_id).style.display="block";
	}
</script>
