<%= form_for [@project, @field, @scenario, @aplcat_parameter] do |f| %>
  <% if @aplcat_parameter.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@aplcat_parameter.errors.count, "error") %> prohibited this aplcat_parameter from being saved:</h2>
        <ul>
			<% @aplcat_parameter.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
        </ul>
    </div>
  <% end %>

  <div>
	  <table>
		<tr>
		  <td><h4><%= label :bmp_id, t('general.select') %></h4></td>
		  <td><%= select_tag "id", options_for_select(@aplcat), :onchange => "show_div()" %></td>
		  <td><%= link_to t('aplcat.grazing') + " " + t('menu.parameters_file'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
		  <td><%= link_to t('aplcat.supplement_parameters'), project_field_scenario_supplement_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
    </tr>
	  </table>
  </div>
  <div id="div_1">
    <%= field_set_tag t('aplcat.animal_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.noc') %>
		<%= f.number_field :noc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.noc'), value: 265, min: 1, :step => 'any'  %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.nomb') %>
		<%= f.number_field :nomb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nomb'), value: 10, min: 1, :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.norh') %>
		<%= f.number_field :norh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.norh'), value: 25, min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.nocrh') %>
		<%= f.number_field :nocrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nocrh'), value: 25, min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.prh') %>
		<%= f.number_field :prh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prh'), value: 10.0, min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prb') %>
		<%= f.number_field :prb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prb'), value: 20.0, min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwc') %>
		<%= f.number_field :abwc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwc'), value: 1264.5, min: 800.0, max: 1400.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwmb') %>
		<%= f.number_field :abwmb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwmb'), value: 1800, min: 1000.0, max: 1800.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwh') %>
		<%= f.number_field :abwh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwh'), value: 1124.1, min: 900.0, max: 1200.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwrh') %>
		<%= f.number_field :abwrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwrh'), value: 754.7, min: 400.0, max: 900.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), value: 2.25, min: 0.0, max: 3.0, :step => '0.01' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), value: 1.75, min: 0.0, max: 3.0, :step => '0.01' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), value: 163, min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), value: 113.6, min: 80.0, max: 120.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), value: 90, min: 80, max: 120, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), value: 70.0, min: 50.0, max: 80.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), value: 70, min: 50.0, max: 80.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), value: 274, min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%= t('aplcat.abc') %>
		<%= f.number_field :abc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abc'), value: 1, min: 1, max: 31, :step => 'any' %>
	  </div>
	<%end%>
  </div>

  <div style='display:none' id="div_2">
	<%= field_set_tag t('aplcat.animal_growth_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mrga') %>
		<%= f.number_field :mrga, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.mrga'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.dmd') %>
		<%= f.number_field :dmd, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmd'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t("aplcat.dmi") %>
		<%= f.number_field :dmi, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmi'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napanr') %>
		<%= f.number_field :napanr, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napanr'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napaip') %>
		<%= f.number_field :napaip, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napaip'), :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_3">
    <%= field_set_tag t('aplcat.animal_manure_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.mpsm') %>
		<%= f.number_field :mpsm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.splm') %>
		<%= f.number_field :splm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pmme') %>
		<%= f.number_field :pmme, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mm_type') %>
		<%= f.number_field :mm_type, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
	<% end %>
  </div>

  <div style='display:none' id="div_4">
    <%= field_set_tag t('aplcat.environmental_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.rhaeba') %>
		<%= f.number_field :rhaeba, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.toaboba') %>
		<%= f.number_field :toaboba, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_5">
    <%= field_set_tag t('aplcat.greenhouse_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.foue') %>
		<%= f.number_field :foue, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ash') %>
		<%= f.number_field :ash, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mmppfm') %>
		<%= f.number_field :mmppfm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.cfmms') %>
		<%= f.number_field :cfmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fnemimms') %>
		<%= f.number_field :fnemimms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.effn2ofmms') %>
		<%= f.number_field :effn2ofmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_6">
    <%= field_set_tag t('aplcat.water_use_pumping_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.dwawfga') %>
		<%= f.number_field :dwawfga, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawflc') %>
		<%= f.number_field :dwawflc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawfmb') %>
		<%= f.number_field :dwawfmb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pgu') %>
		<%= f.number_field :pgu, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ada') %>
		<%= f.number_field :ada, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ape') %>
		<%= f.number_field :ape, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_7">
    <%= field_set_tag t('aplcat.other_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.platc') %>
		<%= f.number_field :platc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pctbb') %>
		<%= f.number_field :pctbb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ptdife') %>
		<%= f.number_field :ptdife, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_8">
    <%= field_set_tag t('aplcat.simulation_parameters'), class:'fieldset' do %>
    <div class="field">
		<%=  t('aplcat.mrgauh') %>
		<%= f.number_field :mrgauh, class: 'gvTitleStyleNumber', :value => '2.0', :step => '0.1', min: 0.0, max: 7.0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.plac') %>
		<%= f.number_field :plac, class: 'gvTitleStyleNumber', :value => '62', :step => 'any', min: 45, max: 65 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pcbb') %>
		<%= f.number_field :pcbb, class: 'gvTitleStyleNumber', :value => '62', :step => 'any', min: 45, max: 65 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :value => '0.76', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.domd') %>
		<%= f.number_field :domd, class: 'gvTitleStyleNumber', :value => '87', :step => 'any', min: 0, max: 100 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :value => '1.5', :step => 'any', min: 0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.faueea') %>
		<%= f.number_field :faueea, class: 'gvTitleStyleNumber', :value => '0.04', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.acim') %>
		<%= f.number_field :acim, class: 'gvTitleStyleNumber', :value => '0.004', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.mmppm') %>
		<%= f.number_field :mmppm, class: 'gvTitleStyleNumber', :value => '0.17', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cffm') %>
		<%= f.number_field :cffm, class: 'gvTitleStyleNumber', :value => '0.5', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fnemm') %>
		<%= f.number_field :fnemm, class: 'gvTitleStyleNumber', :value => '1.0', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.effd') %>
		<%= f.number_field :effd, class: 'gvTitleStyleNumber', :value => '0.01', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.ptbd') %>
		<%= f.number_field :ptbd, class: 'gvTitleStyleNumber', :value => '0.01', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pocib') %>
		<%= f.number_field :pocib, class: 'gvTitleStyleNumber', :value => '0.0', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bneap') %>
		<%= f.number_field :bneap, class: 'gvTitleStyleNumber', :value => '0.1', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cneap') %>
		<%= f.number_field :cneap, class: 'gvTitleStyleNumber', :value => '0.1', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.hneap') %>
		<%= f.number_field :hneap, class: 'gvTitleStyleNumber', :value => '0.1', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pobw') %>
		<%= f.number_field :pobw, class: 'gvTitleStyleNumber', :value => '0.95', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posw') %>
		<%= f.number_field :posw, class: 'gvTitleStyleNumber', :value => '0.956', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posb') %>
		<%= f.number_field :posb, class: 'gvTitleStyleNumber', :value => '0.891', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poad') %>
		<%= f.number_field :poad, class: 'gvTitleStyleNumber', :value => '0.80', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poada') %>
		<%= f.number_field :poada, class: 'gvTitleStyleNumber', :value => '0.60', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cibo') %>
		<%= f.number_field :cibo, class: 'gvTitleStyleNumber', :value => '0.1', :step => '0.1', min: 0, max: 1 %>
	  </div>
<% end %>
</div>

<div style='display:none' id="div_9">
  <%= field_set_tag t('aplcat.simulation_methods'), class:'fieldset' do %>
  <div class="field">
    <%= t('aplcat.mm_type') %><br>
    <%= radio_button_tag :mm_type, "1", :checked => "checked"%> <%= t('aplcat.ipcc') %><br>
    <%= radio_button_tag :mm_type, "2"%> <%= t('aplcat.chianese') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.nit') %><br>
    <%= radio_button_tag :nit, "1"%> <%= t('aplcat.wal') %><br>
    <%= radio_button_tag :nit, "2"%> <%= t('aplcat.nasem') %><br>
    <%= radio_button_tag :nit, "3", :checked => "checked"%> <%= t('aplcat.massb') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.fqd') %><br>
    <%= radio_button_tag :fqd, "1", :checked => "checked"%> <%= t('aplcat.ufq') %><br>
    <%= radio_button_tag :fqd, "2"%> <%= t('aplcat.dufq') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.uovfi') %><br>
    <%= radio_button_tag :uovfi, "1", :checked => "checked"%> <%= t('aplcat.vr1') %><br>
    <%= radio_button_tag :uovfi, "2"%> <%= t('aplcat.ib2') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.srwc') %><br>
    <%= radio_button_tag :srwc, "1", :checked => "checked"%> <%= t('aplcat.syes') %><br>
    <%= radio_button_tag :srwc, "2"%> <%= t('aplcat.sno') %><br>
  </div>
<%end%>
</div>

<div style='display:none' id="div_10">
  <%= field_set_tag t('aplcat.scenario_file'), class:'fieldset' do %>
  <table>
    <thread>
      <tr>
        <th><div class="field">
          <%=  t('aplcat.mdogfc') %>
          <%= f.number_field :mdogfc, class: 'gvTitleStyleNumber', :step => 'any', value: 283, min: 0 %>
        </div>
      </th>
      <th><div class="field">
        <%=  t('aplcat.mxdogfc') %>
        <%= f.number_field :mxdogfc, class: 'gvTitleStyleNumber', :step => 'any', value: 284, min: 0 %>
      </div>
    </th>
  </tr>
  <tr>
    <th><div class="field">
      <%=  t('aplcat.cwsoj') %>
      <%= f.number_field :cwsoj, class: 'gvTitleStyleNumber', :step => 'any', min: 1, value: 81, max: 366 %>
    </div>
  </th>
    <th><div class="field">
      <%=  t('aplcat.cweoj') %>
      <%= f.number_field :cweoj, class: 'gvTitleStyleNumber', :step => 'any', min: 1, value: 83, max: 366 %>
    </div>
  </th>
</tr>
  <tr>
    <th><div class="field">
      <%= t('aplcat.ewc') %><br>
      <%= radio_button_tag :ewc, "1", :checked => "checked"%> <%= t('aplcat.early') %><br>
      <%= radio_button_tag :ewc, "2"%> <%= t('aplcat.late') %><br>
      <%= radio_button_tag :ewc, "3"%> <%= t('aplcat.no_change') %><br>
    </div>
  </th>
    <th><div class="field">
      <%=  t('aplcat.nodew') %>
      <%= f.number_field :nodew, class: 'gvTitleStyleNumber', :step => 'any', value: 7, min: 7, max: 44 %>
    </div>
  </th>
  </tr>
    <tr>
      <th><div class="field">
        <%=  t('aplcat.byosm') %>
        <%= f.number_field :byosm, class: 'gvTitleStyleNumber', :step => 'any', value: 2012, min: 0 %>
      </div>
    </th>
    <th><div class="field">
      <%=  t('aplcat.eyosm') %>
      <%= f.number_field :eyosm, class: 'gvTitleStyleNumber', :step => 'any', value: 2014, min: 0 %>
    </div>
  </th>
  </tr>
</table>
  </thread>
  <%end%>
  </div>

  <div style='display:none' id="div_11">
    <%= field_set_tag t('aplcat.divv_11'), class:'fieldset' do %>
    <div class="field">
      <%=  t('aplcat.drinkg') %>
      <%= f.number_field :drinkg, class: 'gvTitleStyleNumber', :value => '0.033', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.drinkl') %>
      <%= f.number_field :drinkl, class: 'gvTitleStyleNumber', :value => '0.015', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.drinkm') %>
      <%= f.number_field :drinkm, class: 'gvTitleStyleNumber', :value => '0.019', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.avgtm') %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
      <%= f.number_field :avgtm, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 125.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.avghm') %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
      <%= f.number_field :avghm, class: 'gvTitleStyleNumber', :step => '0.1', min: 20.0, max: 100.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.rhae') %>
      <%= f.number_field :rhae, class: 'gvTitleStyleNumber', :value => '95.0', :step => '0.1', min: 20.0, max: 100.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.tabo') %>
      <%= f.number_field :tabo, class: 'gvTitleStyleNumber', :value => '95.0', :step => '0.1', min: 0.0, max: 125.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.mpism') %>
      <%= f.number_field :mpism, class: 'gvTitleStyleNumber', :value => '88.0', :step => '0.1', min: 75.0, max: 92.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.spilm') %>
      <%= f.number_field :spilm, class: 'gvTitleStyleNumber', :value => '5.0', :step => '0.1', min: 3.0, max: 7.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.pom') %>
      <%= f.number_field :pom, class: 'gvTitleStyleNumber', :value => '40.0', :step => '0.1', min: 30.0, max: 50.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.srinr') %>
      <%= f.number_field :srinr, class: 'gvTitleStyleNumber', :value => '0.078', :step => '0.001', min: 0.050, max: 0.200 %>
    </div>
    <div class="field">
      <%=  t('aplcat.sriip') %>
      <%= f.number_field :sriip, class: 'gvTitleStyleNumber', :value => '0.214', :step => '0.001', min: 0.1, max: 0.4 %>
    </div>
    <div class="field">
      <%=  t('aplcat.pogu') %>
      <%= f.number_field :pogu, class: 'gvTitleStyleNumber', :value => '100.0', :step => '0.01', min: 0.01, max: 100.00 %>
    </div>
    <div class="field">
      <%=  t('aplcat.adoa') %>
      <%= f.number_field :adoa, class: 'gvTitleStyleNumber', :value => '46.8', :step => '0.1', min: 1.0, max: 10000.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.ape') %>
      <%= f.number_field :ape, class: 'gvTitleStyleNumber', :value => '55.0', :step => '0.1', min: 40.0, max: 70.0 %>
    </div>
<% end %>
</div>

<div style='display:none' id="div_12">
  <%= field_set_tag t('aplcat.forage_quantity_input'), class:'fieldset' do %>
  <div class="field">
  <%=  t('aplcat.forage_id') %>
  <%= f.number_field :forage_id, class: 'gvTitleStyleNumber', :step => 'any', :value => '127', min: 1, max: 177 %>
  </div>
  <div class="field">
  <%=  t('aplcat.jdi') %><br>
    <table>
      <tr>
        <th><%=  t('aplcat.increase') %><br>
          <%= f.number_field :jincrease, class: 'gvTitleStyleNumber', :step => 'any', :value => '91', min: 1, max: 366 %>
        </th>
        <th><%=  t('aplcat.stabilization') %><br>
          <%= f.number_field :stabilization, class: 'gvTitleStyleNumber', :step => 'any', :value => '105', min: 1, max: 366 %>
        </th>
        <th><%=  t('aplcat.decline') %><br>
          <%= f.number_field :decline, class: 'gvTitleStyleNumber', :step => 'any', min: 1, :value => '120', max: 366 %>
        </th>
        <th><%=  t('aplcat.opt4') %><br>
          <%= f.number_field :opt4, class: 'gvTitleStyleNumber', :step => 'any', min: 1, :value => '134', max: 366 %>
        </th>
      </tr>
    </table>
  </div>
  <div class="field">
  <%=  t('aplcat.cplof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :lowest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '8.3', min: 0.0, max: 30.0 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :highest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '17.6', min: 0.0, max: 30.0 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.tdnlof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :lowest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '56.2', min: 0.0, max: 99.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :highest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '60.7', min: 0.0, max: 99.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.nlof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :lowest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '0', min: 0.0, max: 99.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :highest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '0', min: 0.0, max: 99.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.alof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :lowest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '42.0', min: 0.0, max: 99.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :highest, class: 'gvTitleStyleNumber', :step => '0.1', :value => '35.5', min: 0.0, max: 99.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.firobw') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :lowest, class: 'gvTitleStyleNumber', :step => '0.001', :value => '1.5', min: 0.001, max: 4.0 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :highest, class: 'gvTitleStyleNumber', :step => '0.001', :value => '2.5', min: 0.001, max: 4.0 %>
      </th>
    </tr>
  </table>
  </div>
  <% end %>
  </div>

  <div style='display:none' id="div_13">
    <%= field_set_tag t('aplcat.animal_transport_input'), class:'fieldset' do %>
    <div class="field" id="numbers">
      <%=  t('aplcat.totaltrip') %><br>
      <%#= select_tag "number", options_for_select(listnum, :selected => 1), :onchange => "show_opt()" %>
    </div>
    <div class="field">
      <%=  t('aplcat.tripn') %>
      <%= f.number_field :tripn, class: 'gvTitleStyleNumber', :value => '1', :step => 'any' %>
    </div>
    <div class="field">
      <%=  t('aplcat.freqtrip') %>
      <%= f.number_field :freqtrip, class: 'gvTitleStyleNumber', :value => '1', :step => 'any', :min => 1, :max => 10 %>
    </div>
    <div class="field">
      <%=  t('aplcat.filedetails') %>
      <%= f.text_field :filedetails, :maxlength => "25", :placeholder => "Enter Text Here" %>
    </div>
    <div class="field">
      <%= t('aplcat.cattlepro') %><br>
      <%= radio_button_tag :cattlepro, "1", :checked => "checked"%> <%= t('graze.yes') %><br>
      <%= radio_button_tag :cattlepro, "2"%> <%= t('graze.no') %><br>
    </div>
    <div class="field">
      <%=  t('aplcat.purpose') %>
      <%= f.text_field :purpose, :maxlength => "25", :placeholder => "Enter Text Here" %>
    </div>
    <div class="field">
      <%= t('aplcat.codepurpose') %><br>
      <%= radio_button_tag :codepurpose, "1"%> <%= t('aplcat.buying') %><br>
      <%= radio_button_tag :codepurpose, "2"%> <%= t('aplcat.selling') %><br>
    </div>
  <%end%>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:type, @type) %>
	  <%= f.submit  t('submit.save'), :class => "btn btn-primary"  %>
    <%= link_to t('general.back'), project_field_scenarios_path(@project, @field), :class => "btn btn-primary"  %>
  </div>
<% end %>

<script>
	function show_div() {
	    var div_id = ""
		for(i=1; i<= 13; i++) {
			div_id = "div_".concat(i);
		    document.getElementById(div_id).style.display="none";
		}

		var num = document.getElementById("id").selectedIndex + 1;
		var div_id = "div_".concat(num);
		var div_id = document.getElementById(div_id).style.display="block";
	}
</script>
