<%= form_for [@project, @field, @scenario, @aplcat_parameter] do |f| %>
  <% if @aplcat_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplcat_parameter.errors.count, "error") %> prohibited this aplcat_parameter from being saved:</h2>

      <ul>
      <% @aplcat_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @type == 1 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
  	<%= field_set_tag t('aplcat.animal_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.noc') %>
		<%= f.number_field :noc, class: 'fieldNumbers', :title => t('aplcat_tooltip.noc')  %> 
	  </div>
	  <div class="field">
		<%=  t('aplcat.nomb') %>
		<%= f.number_field :nomb, class: 'fieldNumbers', :title => t('aplcat_tooltip.nomb') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.norh') %>
		<%= f.number_field :norh, class: 'fieldNumbers', :title => t('aplcat_tooltip.norh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwc') %>
		<%= f.text_field :abwc, class: 'fieldNumbers', :title => t('aplcat_tooltip.abwc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwmb') %>
		<%= f.text_field :abwmb, class: 'fieldNumbers', :title => t('aplcat_tooltip.abwmb') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwh') %>
		<%= f.text_field :abwh, class: 'fieldNumbers', :title => t('aplcat_tooltip.abwh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prh') %>
		<%= f.text_field :prh, class: 'fieldNumbers', :title => t('aplcat_tooltip.prh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prb') %>
		<%= f.text_field :prb, class: 'fieldNumbers', :title => t('aplcat_tooltip.prb') %>
	  </div>
  <% end %>
  </div>

  <% if @type == 2 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
	<%= field_set_tag t('aplcat.animal_growth_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.text_field :adwgbc, class: 'fieldNumbers', :title => t('aplcat_tooltip.adwgbc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.text_field :adwgbh, class: 'fieldNumbers', :title => t('aplcat_tooltip.adwgbh') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mrga') %>
		<%= f.text_field :mrga, class: 'fieldNumbers', :title => t('aplcat_tooltip.mrga') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.text_field :jdcc, class: 'fieldNumbers', :title => t('aplcat_tooltip.jdcc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.text_field :gpc, class: 'fieldNumbers', :title => t('aplcat_tooltip.gpc') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.text_field :tpwg, class: 'fieldNumbers', :title => t('aplcat_tooltip.tpwg') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.text_field :csefa, class: 'fieldNumbers', :title => t('aplcat_tooltip.csefa') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.text_field :srop, class: 'fieldNumbers', :title => t('aplcat_tooltip.srop') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.text_field :bwoc, class: 'fieldNumbers', :title => t('aplcat_tooltip.bwoc') %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.text_field :jdbs, class: 'fieldNumbers', :title => t('aplcat_tooltip.jdbs') %>
	  </div>
	  <div class="field">
		<%= t('aplcat.dmd') %>
		<%= f.text_field :dmd, class: 'fieldNumbers', :title => t('aplcat_tooltip.dmd') %>
	  </div>
	  <div class="field">
		<%= t("aplcat.dmi") %>
		<%= f.text_field :dmi, class: 'fieldNumbers', :title => t('aplcat_tooltip.dmi') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napanr') %>
		<%= f.text_field :napanr, class: 'fieldNumbers', :title => t('aplcat_tooltip.napanr') %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napaip') %>
		<%= f.text_field :napaip, class: 'fieldNumbers', :title => t('aplcat_tooltip.napaip') %>
	  </div>
	<% end %>
	</div>

  <% if @type == 3 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
    <%= field_set_tag t('aplcat.animal_manure_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.mpsm') %>
		<%= f.text_field :mpsm, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.splm') %>
		<%= f.text_field :splm, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pmme') %>
		<%= f.text_field :pmme, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mm_type') %>
		<%= f.text_field :mm_type, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.text_field :fmbmm, class: 'fieldNumbers' %>
	  </div>
	<% end %>
	</div>

  <% if @type == 4 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
    <%= field_set_tag t('aplcat.environmental_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.rhaeba') %>
		<%= f.text_field :rhaeba, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.toaboba') %>
		<%= f.text_field :toaboba, class: 'fieldNumbers' %>
	  </div>
	<% end %>
	</div>

  <% if @type == 5 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
    <%= field_set_tag t('aplcat.greenhouse_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.text_field :vsim, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.foue') %>
		<%= f.text_field :foue, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ash') %>
		<%= f.text_field :ash, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mmppfm') %>
		<%= f.text_field :mmppfm, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.cfmms') %>
		<%= f.text_field :cfmms, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fnemimms') %>
		<%= f.text_field :fnemimms, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.effn2ofmms') %>
		<%= f.text_field :effn2ofmms, class: 'fieldNumbers' %>
	  </div>
	<% end %>
	</div>

  <% if @type == 6 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
    <%= field_set_tag t('aplcat.water_use_pumping_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.dwawfga') %>
		<%= f.text_field :dwawfga, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawflc') %>
		<%= f.text_field :dwawflc, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawfmb') %>
		<%= f.text_field :dwawfmb, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pgu') %>
		<%= f.text_field :pgu, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ada') %>
		<%= f.text_field :ada, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ape') %>
		<%= f.text_field :ape, class: 'fieldNumbers' %>
	  </div>
	<% end %>
	</div>

  <% if @type == 7 %>
	  <div>
  <%else%>
	  <div style='display:none'>
  <%end%>
    <%= field_set_tag t('aplcat.other_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.platc') %>
		<%= f.text_field :platc, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pctbb') %>
		<%= f.text_field :pctbb, class: 'fieldNumbers' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ptdife') %>
		<%= f.text_field :ptdife, class: 'fieldNumbers' %>
	  </div>
	<% end %>
	</div>

  <div class="actions">
    <%= hidden_field_tag(:type, @type) %>
    <%= f.submit %>
    <%= link_to 'Back', project_field_scenarios_path(@project, @field)  %>
  </div>
<% end %>
