<%= form_for [@project, @field, @scenario, @aplcat_parameter] do |f| %>
  <% if @aplcat_parameter.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@aplcat_parameter.errors.count, "error") %> prohibited this aplcat_parameter from being saved:</h2>
        <ul>
			<% @aplcat_parameter.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
        </ul>
    </div>
  <% end %>

  <div>
	  <table>
		<tr>
      <td><%= link_to t('aplcat.grazing') + " " + t('menu.parameters_file'), project_field_scenario_grazing_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
      <td><%= link_to t('aplcat.supplement_parameters'), project_field_scenario_supplement_parameters_path(@project, @field, @scenario), :class => 'btn btn-primary' %></td>
      <td><%= link_to t('menu.aplcat') + " " + t('menu.results'), project_field_scenario_aplcat_results_path(@project, @field, @scenario), :class => 'btn btn-success' %></td>
    </tr>
      </table>
      <table>
        <tr>
      <td><h4><%= label :bmp_id, t('general.select') %></h4></td>
		  <td><%= select_tag "id", options_for_select(@aplcat), :onchange => "show_div()" %></td>
    </tr>
	  </table>
  </div>
  <div id="div_1">
    <%= field_set_tag t('aplcat.animal_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.noc') %>
		<%= f.number_field :noc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.noc'), min: 1, :step => 'any'  %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.nomb') %>
		<%= f.number_field :nomb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nomb'), min: 1, :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.norh') %>
		<%= f.number_field :norh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.norh'), min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.nocrh') %>
		<%= f.number_field :nocrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.nocrh'), min: 1, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.prh') %>
		<%= f.number_field :prh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prh'), min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.prb') %>
		<%= f.number_field :prb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.prb'), min: 0.1, max: 99.9, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwc') %>
		<%= f.number_field :abwc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwc'), min: 800.0, max: 1400.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwmb') %>
		<%= f.number_field :abwmb, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwmb'), min: 1000.0, max: 1800.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.abwh') %>
		<%= f.number_field :abwh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwh'), min: 900.0, max: 1200.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.abwrh') %>
		<%= f.number_field :abwrh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abwrh'), min: 400.0, max: 900.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), min: 0.0, max: 3.0, :step => '0.01' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), min: 0.0, :step => '0.01' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), min: 80.0, max: 150.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), min: 80, max: 120, :step => 'any' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), min: 50.0, max: 80.0, :step => '0.1' %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), min: 50.0, max: 80.0, :step => '0.1' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), min: 1, max: 366, :step => 'any' %>
	  </div>
    <div class="field">
		<%= t('aplcat.abc') %>
		<%= f.number_field :abc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.abc'), min: 1, max: 31, :step => 'any' %>
	  </div>
	<%end%>
  </div>

  <div style='display:none' id="div_2">
	<%= field_set_tag t('aplcat.animal_growth_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.adwgbc') %>
		<%= f.number_field :adwgbc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.adwgbh') %>
		<%= f.number_field :adwgbh, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.adwgbh'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mrga') %>
		<%= f.number_field :mrga, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.mrga'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.jdcc') %>
		<%= f.number_field :jdcc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdcc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.gpc') %>
		<%= f.number_field :gpc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.gpc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.tpwg') %>
		<%= f.number_field :tpwg, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.tpwg'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.csefa') %>
		<%= f.number_field :csefa, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.csefa'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.srop') %>
		<%= f.number_field :srop, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.srop'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.bwoc') %>
		<%= f.number_field :bwoc, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.bwoc'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.jdbs') %>
		<%= f.number_field :jdbs, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.jdbs'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t('aplcat.dmd') %>
		<%= f.number_field :dmd, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmd'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%= t("aplcat.dmi") %>
		<%= f.number_field :dmi, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.dmi'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napanr') %>
		<%= f.number_field :napanr, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napanr'), :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.napaip') %>
		<%= f.number_field :napaip, class: 'gvTitleStyleNumber', :title => t('aplcat_tooltip.napaip'), :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_3">
    <%= field_set_tag t('aplcat.animal_manure_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.mpsm') %>
		<%= f.number_field :mpsm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.splm') %>
		<%= f.number_field :splm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pmme') %>
		<%= f.number_field :pmme, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mm_type') %>
		<%= f.number_field :mm_type, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
	<% end %>
  </div>

  <div style='display:none' id="div_4">
    <%= field_set_tag t('aplcat.environmental_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.rhaeba') %>
		<%= f.number_field :rhaeba, class: 'gvTitleStyleNumber', :max => 100, :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.toaboba') %>
		<%= f.number_field :toaboba, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_5">
    <%= field_set_tag t('aplcat.greenhouse_parameters') , class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.foue') %>
		<%= f.number_field :foue, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ash') %>
		<%= f.number_field :ash, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.mmppfm') %>
		<%= f.number_field :mmppfm, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.cfmms') %>
		<%= f.number_field :cfmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.fnemimms') %>
		<%= f.number_field :fnemimms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.effn2ofmms') %>
		<%= f.number_field :effn2ofmms, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_6">
    <%= field_set_tag t('aplcat.water_use_pumping_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.dwawfga') %>
		<%= f.number_field :dwawfga, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawflc') %>
		<%= f.number_field :dwawflc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.dwawfmb') %>
		<%= f.number_field :dwawfmb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pgu') %>
		<%= f.number_field :pgu, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ada') %>
		<%= f.number_field :ada, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ape') %>
		<%= f.number_field :ape, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_7">
    <%= field_set_tag t('aplcat.other_parameters'), class:'fieldset' do %>
	  <div class="field">
		<%=  t('aplcat.platc') %>
		<%= f.number_field :platc, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.pctbb') %>
		<%= f.number_field :pctbb, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	  <div class="field">
		<%=  t('aplcat.ptdife') %>
		<%= f.number_field :ptdife, class: 'gvTitleStyleNumber', :step => 'any' %>
	  </div>
	<% end %>
  </div>

  <div style='display:none' id="div_8">
    <%= field_set_tag t('aplcat.simulation_parameters'), class:'fieldset' do %>
    <div class="field">
		<%=  t('aplcat.mrgauh') %>
		<%= f.number_field :mrgauh, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 7.0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.plac') %>
		<%= f.number_field :plac, class: 'gvTitleStyleNumber', :step => 'any', min: 45, max: 65 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pcbb') %>
		<%= f.number_field :pcbb, class: 'gvTitleStyleNumber', :step => 'any', min: 45, max: 65 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fmbmm') %>
		<%= f.number_field :fmbmm, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.domd') %>
		<%= f.number_field :domd, class: 'gvTitleStyleNumber', :step => 'any', min: 0, max: 100 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.vsim') %>
		<%= f.number_field :vsim, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.faueea') %>
		<%= f.number_field :faueea, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.acim') %>
		<%= f.number_field :acim, class: 'gvTitleStyleNumber', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.mmppm') %>
		<%= f.number_field :mmppm, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cffm') %>
		<%= f.number_field :cffm, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.fnemm') %>
		<%= f.number_field :fnemm, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.effd') %>
		<%= f.number_field :effd, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.ptbd') %>
		<%= f.number_field :ptbd, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pocib') %>
		<%= f.number_field :pocib, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.bneap') %>
		<%= f.number_field :bneap, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cneap') %>
		<%= f.number_field :cneap, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.hneap') %>
		<%= f.number_field :hneap, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.pobw') %>
		<%= f.number_field :pobw, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posw') %>
		<%= f.number_field :posw, class: 'gvTitleStyleNumber', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.posb') %>
		<%= f.number_field :posb, class: 'gvTitleStyleNumber', :step => '0.001', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poad') %>
		<%= f.number_field :poad, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.poada') %>
		<%= f.number_field :poada, class: 'gvTitleStyleNumber', :step => '0.01', min: 0, max: 1 %>
	  </div>
    <div class="field">
		<%=  t('aplcat.cibo') %>
		<%= f.number_field :cibo, class: 'gvTitleStyleNumber', :step => '0.1', min: 0, max: 1 %>
	  </div>
<% end %>
</div>

<div style='display:none' id="div_9">
  <%= field_set_tag t('aplcat.simulation_methods'), class:'fieldset' do %>
  <div class="field">
    <%= t('aplcat.mm_type') %><br>
    <%= radio_button_tag :mm_type, "1", :checked => "checked"%> <%= t('aplcat.ipcc') %><br>
    <%= radio_button_tag :mm_type, "2"%> <%= t('aplcat.chianese') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.nit') %><br>
    <%= radio_button_tag :nit, "1"%> <%= t('aplcat.wal') %><br>
    <%= radio_button_tag :nit, "2"%> <%= t('aplcat.nasem') %><br>
    <%= radio_button_tag :nit, "3", :checked => "checked"%> <%= t('aplcat.massb') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.fqd') %><br>
    <%= radio_button_tag :fqd, "1", :checked => "checked"%> <%= t('aplcat.ufq') %><br>
    <%= radio_button_tag :fqd, "2"%> <%= t('aplcat.dufq') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.uovfi') %><br>
    <%= radio_button_tag :uovfi, "1", :checked => "checked"%> <%= t('aplcat.vr1') %><br>
    <%= radio_button_tag :uovfi, "2"%> <%= t('aplcat.ib2') %><br>
  </div>
  <div class="field">
    <%= t('aplcat.srwc') %><br>
    <%= radio_button_tag :srwc, "1", :checked => "checked"%> <%= t('aplcat.syes') %><br>
    <%= radio_button_tag :srwc, "2"%> <%= t('aplcat.sno') %><br>
  </div>
<%end%>
</div>

<div style='display:none' id="div_10">
  <%= field_set_tag t('aplcat.scenario_file'), class:'fieldset' do %>
  <table>
    <thread>
      <tr>
        <th><div class="field">
          <%=  t('aplcat.mdogfc') %>
          <%= f.number_field :mdogfc, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
        </div>
      </th>
      <th><div class="field">
        <%=  t('aplcat.mxdogfc') %>
        <%= f.number_field :mxdogfc, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
      </div>
    </th>
  </tr>
  <tr>
    <th><div class="field">
      <%=  t('aplcat.cwsoj') %>
      <%= f.number_field :cwsoj, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
    </div>
  </th>
    <th><div class="field">
      <%=  t('aplcat.cweoj') %>
      <%= f.number_field :cweoj, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
    </div>
  </th>
</tr>
  <tr>
    <th><div class="field">
      <%= t('aplcat.ewc') %><br>
      <%= radio_button_tag :ewc, "1", :checked => "checked"%> <%= t('aplcat.early') %><br>
      <%= radio_button_tag :ewc, "2"%> <%= t('aplcat.late') %><br>
      <%= radio_button_tag :ewc, "3"%> <%= t('aplcat.no_change') %><br>
    </div>
  </th>
    <th><div class="field">
      <%=  t('aplcat.nodew') %>
      <%= f.number_field :nodew, class: 'gvTitleStyleNumber', :step => 'any', min: 7, max: 44 %>
    </div>
  </th>
  </tr>
    <tr>
      <th><div class="field">
        <%=  t('aplcat.byosm') %>
        <%= f.number_field :byosm, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
      </div>
    </th>
    <th><div class="field">
      <%=  t('aplcat.eyosm') %>
      <%= f.number_field :eyosm, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %>
    </div>
  </th>
  </tr>
</table>
  </thread>
  <%end%>
  </div>

  <div style='display:none' id="div_11">
    <%= field_set_tag t('aplcat.divv_11'), class:'fieldset' do %>
    <div class="field">
      <%=  t('aplcat.drinkg') %>
      <%= f.number_field :drinkg, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.drinkl') %>
      <%= f.number_field :drinkl, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.drinkm') %>
      <%= f.number_field :drinkm, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.001, max: 1.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.avgtm') %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
      <%= f.number_field :avgtm, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 125.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.avghm') %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
      <%= f.number_field :avghm, class: 'gvTitleStyleNumber', :step => '0.1', min: 20.0, max: 100.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.rhae') %>
      <%= f.number_field :rhae, class: 'gvTitleStyleNumber', :step => '0.1', min: 20.0, max: 100.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.tabo') %>
      <%= f.number_field :tabo, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 125.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.mpism') %>
      <%= f.number_field :mpism, class: 'gvTitleStyleNumber', :step => '0.1', min: 75.0, max: 92.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.spilm') %>
      <%= f.number_field :spilm, class: 'gvTitleStyleNumber', :step => '0.1', min: 3.0, max: 7.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.pom') %>
      <%= f.number_field :pom, class: 'gvTitleStyleNumber', :step => '0.1', min: 30.0, max: 50.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.srinr') %>
      <%= f.number_field :srinr, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.050, max: 0.200 %>
    </div>
    <div class="field">
      <%=  t('aplcat.sriip') %>
      <%= f.number_field :sriip, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.1, max: 0.4 %>
    </div>
    <div class="field">
      <%=  t('aplcat.pogu') %>
      <%= f.number_field :pogu, class: 'gvTitleStyleNumber', :step => '0.01', min: 0.01, max: 100.00 %>
    </div>
    <div class="field">
      <%=  t('aplcat.adoa') %>
      <%= f.number_field :adoa, class: 'gvTitleStyleNumber', :step => '0.1', min: 1.0, max: 10000.0 %>
    </div>
    <div class="field">
      <%=  t('aplcat.ape') %>
      <%= f.number_field :ape, class: 'gvTitleStyleNumber', :step => '0.1', min: 40.0, max: 70.0 %>
    </div>
<% end %>
</div>

<div style='display:none' id="div_12">
  <%= field_set_tag t('aplcat.forage_quantity_input'), class:'fieldset' do %>
  <div class="field">
  <%=  t('aplcat.forage_id_html') %>
  <%= f.number_field :forage_id, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 177 %>
  </div>
  <div class="field">
  <%=  t('aplcat.jdi') %><br>
    <table>
      <tr>
        <th><%=  t('aplcat.increase') %><br>
          <%= f.number_field :jincrease, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
        </th>
        <th><%=  t('aplcat.stabilization') %><br>
          <%= f.number_field :stabilization, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
        </th>
        <th><%=  t('aplcat.decline') %><br>
          <%= f.number_field :decline, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
        </th>
        <th><%=  t('aplcat.opt4') %><br>
          <%= f.number_field :opt4, class: 'gvTitleStyleNumber', :step => 'any', min: 1, max: 366 %>
        </th>
      </tr>
    </table>
  </div>
  <div class="field">
  <%=  t('aplcat.cplof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :cpl_lowest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.0 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :cpl_highest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.0 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.tdnlof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :tdn_lowest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :tdn_highest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.nlof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :ndf_lowest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :ndf_highest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.alof') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :adf_lowest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :adf_highest, class: 'gvTitleStyleNumber', :step => '0.1', min: 0.0, max: 5.9 %>
      </th>
    </tr>
  </table>
  </div>
  <div class="field">
  <%=  t('aplcat.firobw') %><br>
  <table>
    <tr>
      <th><%=  t('aplcat.lowest') %><br>
        <%= f.number_field :fir_lowest, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.001, max: 5.0 %>
      </th>
      <th><%=  t('aplcat.highest') %><br>
        <%= f.number_field :fir_highest, class: 'gvTitleStyleNumber', :step => '0.001', min: 0.001, max: 5.0 %>
      </th>
    </tr>
  </table>
  </div>
  <% end %>
  </div>

  <div style='display:none' id="div_13">
    <%= field_set_tag t('aplcat.animal_transport_input'), class:'fieldset' do %>
    <div class="field" id="numbers">
      <%=  t('aplcat.totaltrip') %>
      <%= select_tag :trip_number, options_for_select(listnum, :selected => 0, :required => true), {:prompt => t("Select the number of Trip")}%>
    </div>
    <div class="field" id="trip_1" style=display:none>
      <h2><%= t("First Trip") %></h2>
      <div class="field">
        <%= t("Transportation:") %><br>
        <%= radio_button_tag :trans_1, "1"%> <%= t('aplcat.trans_feeder') %><br>
        <%= radio_button_tag :trans_1, "2"%> <%= t('aplcat.trans_finish') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_trans') %>
        <%= f.number_field :categories_trans_1, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_slaug') %>
        <%= f.number_field :categories_slaug_1, class: 'gvTitleStyleNumber', :min => 50.0, :max => 2000.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :avg_marweight_1, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :num_animal_1, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :second_avg_marweight_1, class: 'gvTitleStyleNumber', :min => 50, :max => 2000, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :second_num_animal_1, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.mortality_rate') %>
        <%= f.number_field :mortality_rate_1, class: 'gvTitleStyleNumber', :min => 0.01, :max => 5.00, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.distance') %>
        <%= f.number_field :distance_1, class: 'gvTitleStyleNumber', :min => 0.01, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.trailer') %>
        <%= f.text_field :trailer_1, :pattern => "[a-zA-Z]{2}[0-9]{2}" %>
      </div>
      <div class="field">
        <%=  t('aplcat.trucks') %>
        <%= f.text_field :trucks_1, :pattern => "[0-9][a-zA-Z]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.fuel_type') %>
        <%= f.text_field :fuel_type_1, :pattern => "[a-zA-Z]{4}[0-9]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.same_vehicle') %><br>
        <%= radio_button_tag :same_vehicle_1, "1"%> <%= t("Yes") %><br>
        <%= radio_button_tag :same_vehicle_1, "2"%> <%= t("No") %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.loading') %><br>
        <%= radio_button_tag :loading_1, "1"%> <%= t('aplcat.thoughtless') %><br>
        <%= radio_button_tag :loading_1, "2"%> <%= t('aplcat.arranged') %><br>
        <%= radio_button_tag :loading_1, "3"%> <%= t('aplcat.floor_space') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.carcass') %>
        <%= f.number_field :carcass_1, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.boneless_beef') %>
        <%= f.number_field :boneless_beef_1, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
    </div>
    <div class="field" id="trip_2" style=display:none>
      <h2><%= t("Second Trip") %></h2>
      <div class="field">
        <%= t("Transportation:") %><br>
        <%= radio_button_tag :trans_2, "1"%> <%= t('aplcat.trans_feeder') %><br>
        <%= radio_button_tag :trans_2, "2"%> <%= t('aplcat.trans_finish') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_trans') %>
        <%= f.number_field :categories_trans_2, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_slaug') %>
        <%= f.number_field :categories_slaug_2, class: 'gvTitleStyleNumber', :min => 50.0, :max => 2000.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :avg_marweight_2, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :num_animal_2, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :second_avg_marweight_2, class: 'gvTitleStyleNumber', :min => 50, :max => 2000, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :second_num_animal_2, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.mortality_rate') %>
        <%= f.number_field :mortality_rate_2, class: 'gvTitleStyleNumber', :min => 0.01, :max => 5.00, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.distance') %>
        <%= f.number_field :distance_2, class: 'gvTitleStyleNumber', :min => 0.01, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.trailer') %>
        <%= f.text_field :trailer_2, :pattern => "[a-zA-Z]{2}[0-9]{2}", :step => 'any'%>
      </div>
      <div class="field">
        <%=  t('aplcat.trucks') %>
        <%= f.text_field :trucks_2, :pattern => "[0-9][a-zA-Z]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.fuel_type') %>
        <%= f.text_field :fuel_type_2, :pattern => "[a-zA-Z]{4}[0-9]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.same_vehicle') %><br>
        <%= radio_button_tag :same_vehicle_2, "1"%> <%= t("Yes") %><br>
        <%= radio_button_tag :same_vehicle_2, "2"%> <%= t("No") %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.loading') %><br>
        <%= radio_button_tag :loading_2, "1"%> <%= t('aplcat.thoughtless') %><br>
        <%= radio_button_tag :loading_2, "2"%> <%= t('aplcat.arranged') %><br>
        <%= radio_button_tag :loading_2, "3"%> <%= t('aplcat.floor_space') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.carcass') %>
        <%= f.number_field :carcass_2, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.boneless_beef') %>
        <%= f.number_field :boneless_beef_2, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
    </div>
    <div class="field" id="trip_3" style=display:none>
      <h2><%= t("Third Trip") %></h2>
      <div class="field">
        <%= t("Transportation:") %><br>
        <%= radio_button_tag :trans_3, "1"%> <%= t('aplcat.trans_feeder') %><br>
        <%= radio_button_tag :trans_3, "2"%> <%= t('aplcat.trans_finish') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_trans') %>
        <%= f.number_field :categories_trans_3, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_slaug') %>
        <%= f.number_field :categories_slaug_3, class: 'gvTitleStyleNumber', :min => 50.0, :max => 2000.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :avg_marweight_3, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :num_animal_3, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :second_avg_marweight_3, class: 'gvTitleStyleNumber', :min => 50, :max => 2000, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :second_num_animal_3, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.mortality_rate') %>
        <%= f.number_field :mortality_rate_3, class: 'gvTitleStyleNumber', :min => 0.01, :max => 5.00, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.distance') %>
        <%= f.number_field :distance_3, class: 'gvTitleStyleNumber', :min => 0.01, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.trailer') %>
        <%= f.text_field :trailer_3, :pattern => "[a-zA-Z]{2}[0-9]{2}", :step => 'any'%>
      </div>
      <div class="field">
        <%=  t('aplcat.trucks') %>
        <%= f.text_field :trucks_3, :pattern => "[0-9][a-zA-Z]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.fuel_type') %>
        <%= f.text_field :fuel_type_3, :pattern => "[a-zA-Z]{4}[0-9]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.same_vehicle') %><br>
        <%= radio_button_tag :same_vehicle_3, "1"%> <%= t("Yes") %><br>
        <%= radio_button_tag :same_vehicle_3, "2"%> <%= t("No") %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.loading') %><br>
        <%= radio_button_tag :loading_3, "1"%> <%= t('aplcat.thoughtless') %><br>
        <%= radio_button_tag :loading_3, "2"%> <%= t('aplcat.arranged') %><br>
        <%= radio_button_tag :loading_3, "3"%> <%= t('aplcat.floor_space') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.carcass') %>
        <%= f.number_field :carcass_3, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.boneless_beef') %>
        <%= f.number_field :boneless_beef_3, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
    </div>
    <div class="field" id="trip_4" style=display:none>
      <h2><%= t("Fourth Trip") %></h2>
      <div class="field">
        <%= t("Transportation:") %><br>
        <%= radio_button_tag :trans_4, "1"%> <%= t('aplcat.trans_feeder') %><br>
        <%= radio_button_tag :trans_4, "2"%> <%= t('aplcat.trans_finish') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_trans') %>
        <%= f.number_field :categories_trans_4, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.categories_slaug') %>
        <%= f.number_field :categories_slaug_4, class: 'gvTitleStyleNumber', :min => 50.0, :max => 2000.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :avg_marweight_4, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :num_animal_4, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.avg_marweight') %>
        <%= f.number_field :second_avg_marweight_4, class: 'gvTitleStyleNumber', :min => 50, :max => 2000, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.num_animal') %>
        <%= f.number_field :second_num_animal_4, class: 'gvTitleStyleNumber', :min => 1, :step => 'any' %>
      </div>
      <div class="field">
        <%=  t('aplcat.mortality_rate') %>
        <%= f.number_field :mortality_rate_4, class: 'gvTitleStyleNumber', :min => 0.01, :max => 5.00, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.distance') %>
        <%= f.number_field :distance_4, class: 'gvTitleStyleNumber', :min => 0.01, :step => '0.01' %>
      </div>
      <div class="field">
        <%=  t('aplcat.trailer') %>
        <%= f.text_field :trailer_4, :pattern => "[a-zA-Z]{2}[0-9]{2}", :step => 'any'%>
      </div>
      <div class="field">
        <%=  t('aplcat.trucks') %>
        <%= f.text_field :trucks_4, :pattern => "[0-9][a-zA-Z]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.fuel_type') %>
        <%= f.text_field :fuel_type_4, :pattern => "[a-zA-Z]{4}[0-9]" %>
      </div>
      <div class="field">
        <%=  t('aplcat.same_vehicle') %><br>
        <%= radio_button_tag :same_vehicle_4, "1"%> <%= t("Yes") %><br>
        <%= radio_button_tag :same_vehicle_4, "2"%> <%= t("No") %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.loading') %><br>
        <%= radio_button_tag :loading_4, "1"%> <%= t('aplcat.thoughtless') %><br>
        <%= radio_button_tag :loading_4, "2"%> <%= t('aplcat.arranged') %><br>
        <%= radio_button_tag :loading_4, "3"%> <%= t('aplcat.floor_space') %><br>
      </div>
      <div class="field">
        <%=  t('aplcat.carcass') %>
        <%= f.number_field :carcass_4, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
      <div class="field">
        <%=  t('aplcat.boneless_beef') %>
        <%= f.number_field :boneless_beef_4, class: 'gvTitleStyleNumber', :min => 30.0, :max => 65.0, :step => '0.1' %>
      </div>
    </div>
    <div class="field">
      <%=  t('aplcat.tripn') %>
      <%= f.number_field :tripn, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
    <div class="field">
      <%=  t('aplcat.freqtrip') %>
      <%= f.number_field :freqtrip, class: 'gvTitleStyleNumber', :step => 'any', :min => 1, :max => 10 %>
    </div>
    <div class="field">
      <%=  t('aplcat.filedetails') %>
      <%= f.text_field :filedetails, :maxlength => "25", :placeholder => "Enter Text Here" %>
    </div>
    <div class="field">
      <%= t('aplcat.cattlepro') %><br>
      <%= radio_button_tag :cattlepro, "1", :checked => "checked"%> <%= t('graze.yes') %><br>
      <%= radio_button_tag :cattlepro, "2"%> <%= t('graze.no') %><br>
    </div>
    <div class="field">
      <%=  t('aplcat.purpose') %>
      <%= f.text_field :purpose, :maxlength => "25", :placeholder => "Enter Text Here" %>
    </div>
    <div class="field">
      <%= t('aplcat.codepurpose') %><br>
      <%= radio_button_tag :codepurpose, "1"%> <%= t('aplcat.buying') %><br>
      <%= radio_button_tag :codepurpose, "2"%> <%= t('aplcat.selling') %><br>
    </div>
  <%end%>
  </div>

    <div style='display:none' id="div_14">
      <div class="field">
      <%= field_set_tag t('aplcat.co2_balance_input'), class:'fieldset' do %>
      <%= t('aplcat.selectp') %>
      <%= select_tag :parameter_id, options_for_select(parameter_id, :selected => 0, :required => true), {:prompt => t("Select Parameter")} %>
      <div class="field" id="native_range" style=display:none>
        <h2><%= t('aplcat.nativer') %></h2>
        <div class="field">
          <%=  t('aplcat.n_tfa') %>
          <%= f.number_field :n_tfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_sr') %>
          <%= f.number_field :n_sr, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_arnfa') %>
          <%= f.number_field :n_arnfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_arpfa') %>
          <%= f.number_field :n_arpfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_nfar') %>
          <%= f.number_field :n_nfar, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_pfar') %>
          <%= f.number_field :n_npfar, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_co2enfp') %>
          <%= f.number_field :n_co2enfp, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_co2enfa') %>
          <%= f.number_field :n_co2enfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_co2epfp') %>
          <%= f.number_field :n_co2epfp, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_lamf') %>
          <%= f.number_field :n_lamf, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_lan2of') %>
          <%= f.number_field :n_lan2of, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_laco2f') %>
          <%= f.number_field :n_laco2f, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.n_socc') %>
          <%= f.number_field :n_socc, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
      </div>
      <div class="field" id="introduced_pasture" style=display:none>
        <h2><%= t('aplcat.introducedp') %></h2>
        <div class="field">
          <%=  t('aplcat.i_tfa') %>
          <%= f.number_field :i_tfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_sr') %>
          <%= f.number_field :i_sr, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_arnfa') %>
          <%= f.number_field :i_arnfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_arpfa') %>
          <%= f.number_field :i_arpfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_nfar') %>
          <%= f.number_field :i_nfar, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_pfar') %>
          <%= f.number_field :i_npfar, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_co2enfp') %>
          <%= f.number_field :i_co2enfp, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_co2enfa') %>
          <%= f.number_field :i_co2enfa, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_co2epfp') %>
          <%= f.number_field :i_co2epfp, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_lamf') %>
          <%= f.number_field :i_lamf, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_lan2of') %>
          <%= f.number_field :i_lan2of, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_laco2f') %>
          <%= f.number_field :i_laco2f, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
        <div class="field">
          <%=  t('aplcat.i_socc') %>
          <%= f.number_field :i_socc, class: 'gvTitleStyleNumber', :step => 'any' %>
        </div>
      </div>
      <%end%>
      </div>
    </div>

    <div style='display:none' id="div_15">
      <div class="field">
      <%= field_set_tag t('aplcat.secondary_emissions_input'), class:'fieldset' do %>
      <b><%= t("Engine related parameters for estimation of fuel consumption:") %></b><br><br>
    <div class="field">
      <%=  t('aplcat.theta') %>
      <%= f.number_field :theta, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
    <div class="field">
      <%=  t('aplcat.fge') %>
      <%= f.number_field :fge, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
    <div class="field">
      <%=  t('aplcat.fde') %>
      <%= f.number_field :fde, class: 'gvTitleStyleNumber', :step => 'any' %>
    </div>
      <b><%= t("List of each field management operation performed in the year:") %></b><br><br>
      <div class="field">
        <table>
          <tr>
            <td></td>
            <td><center><%=  t("Area applicable (ac)") %></center></td>
            <td><center><%=  t("Equipment") %></center></td>
            <td><center><%=  t("Fuel used") %></center></td>
          </tr>
            <tr>
              <td><%=  t("First") %></td>
              <td><%= f.number_field :first_area, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= f.number_field :first_equip, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= select_tag :first_fuel, options_for_select(fuel_id, :selected => 0, :required => true), {:prompt => t("Select Fuel")} %></td>
            </tr>
            <tr>
              <td><%=  t("Second") %></td>
              <td><%= f.number_field :second_area, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= f.number_field :second_equip, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= select_tag :second_fuel, options_for_select(fuel_id, :selected => 0, :required => true), {:prompt => t("Select Fuel")} %></td>
            </tr>
            <tr>
              <td><%=  t("Third") %></td>
              <td><%= f.number_field :third_area, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= f.number_field :third_equip, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= select_tag :third_fuel, options_for_select(fuel_id, :selected => 0, :required => true), {:prompt => t("Select Fuel")} %></td>
            </tr>
            <tr>
              <td><%=  t("Fourth") %></td>
              <td><%= f.number_field :fourth_area, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= f.number_field :fourth_equip, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= select_tag :fourth_fuel, options_for_select(fuel_id, :selected => 0, :required => true), {:prompt => t("Select Fuel")} %></td>
            </tr>
            <tr>
              <td><%=  t("Fifth") %></td>
              <td><%= f.number_field :fifth_area, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= f.number_field :fifth_equip, class: 'gvTitleStyleNumber', :step => 'any', min: 0 %></td>
              <td><%= select_tag :fifth_fuel, options_for_select(fuel_id, :selected => 0, :required => true), {:prompt => t("Select Fuel")} %></td>
            </tr>
        </table>
      </div>
      <%end%>
    </div>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:type, @type) %>
    <%#= link_to t('general.back'), project_field_scenario_bmps_path(@project, @field, @scenario), :class => "btn btn-primary"  %>
    <%= f.submit  t('submit.save'), :class => "btn btn-primary"  %>
    <%= link_to ("Continue to Scenario"), project_field_scenarios_path(@project, @field), :class => "btn btn-primary"  %>
  </div>
<% end %>

<script>
	function show_div() {
	    var div_id = ""
		for(i=1; i<= 15; i++) {
			div_id = "div_".concat(i);
		    document.getElementById(div_id).style.display="none";
		}

		var num = document.getElementById("id").selectedIndex + 1;
		var div_id = "div_".concat(num);
		var div_id = document.getElementById(div_id).style.display="block";
	}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('#parameter_id').on('change', function() {
  if ( this.value == '1')
  {$("#native_range").show();}
  else
  {$("#native_range").hide();}
  if ( this.value == '2')
  {$("#introduced_pasture").show();}
  else
  {$("#introduced_pasture").hide();}
});
});
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('#trip_number').on('change', function() {
    if ( this.value == '1')
    {$("#trip_1").show();}
    else
    {$("#trip_1").hide();}
    if ( this.value == '2')
    {$("#trip_2").show();}
    else
    {$("#trip_2").hide();}
    if ( this.value == '3')
    {$("#trip_3").show();}
    else
    {$("#trip_3").hide();}
    if ( this.value == '4')
    {$("#trip_4").show();}
    else
    {$("#trip_4").hide();}
  });
  });
  </script>
