<p id="notice"><%= notice %></p>

<p>
  <b>Noc:</b>
  <%= @aplcat_parameter.noc %>
</p>

<p>
  <b>Nomb:</b>
  <%= @aplcat_parameter.nomb %>
</p>

<p>
  <b>Norh:</b>
  <%= @aplcat_parameter.norh %>
</p>

<p>
  <b>Nocrh:</b>
  <%= @aplcat_parameter.nocrh %>
</p>

<p>
  <b>Abwc:</b>
  <%= @aplcat_parameter.abwc %>
</p>

<p>
  <b>Abwmb:</b>
  <%= @aplcat_parameter.abwmb %>
</p>

<p>
  <b>Abwh:</b>
  <%= @aplcat_parameter.abwh %>
</p>

<p>
  <b>Abwrh:</b>
  <%= @aplcat_parameter.abwrh %>
</p>

<p>
  <b>Prh:</b>
  <%= @aplcat_parameter.prh %>
</p>

<p>
  <b>Prb:</b>
  <%= @aplcat_parameter.prb %>
</p>

<p>
  <b>Adwgbc:</b>
  <%= @aplcat_parameter.adwgbc %>
</p>

<p>
  <b>Abc:</b>
  <%= @aplcat_parameter.abc %>
</p>


<%= link_to 'Edit', edit_aplcat_parameter_path(@aplcat_parameter) %> |
<%= link_to 'Back', aplcat_parameters_path %>
