<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
</div>

<p>
  <b><%= t('general.name') %>:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Code:</b>
  <%= @activity.code %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @activity.abbreviation %>
</p>

<p>
  <b>Spanish name:</b>
  <%= @activity.spanish_name %>
</p>

<p>
  <b>Apex code:</b>
  <%= @activity.apex_code %>
</p>


<%= link_to t('general.edit'), edit_activity_path(@activity) %> |
<%= link_to t('general.back'), activities_path %>
