<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @field.errors.count, :model => t('models.field').downcase) %></h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" title="Name of Field">
    <%= f.label t('field.field_name') %>
    <%= f.text_field :field_name %>
  </div>
  <div class="field" title="Field Area (Ac.). Must be greater than 0.">
    <%= f.label t('field.field_area') %>
    <%= f.number_field :field_area, :class => 'numbers' %>
  </div>
  <div class="field">
	<%= f.label t('field.field_avg_slope') %>
    <%= f.number_field :field_average_slope, :class => 'numbers' %>
  </div>
  <div class="field">
    <%= f.label t('field.field_type') %>
	<% if @field.field_name.include?(ROAD) || @field.field_name.include?(SMZ) %>
		<%= f.check_box :field_type, disabled: true %>
	<% else %>
		<%= f.check_box :field_type %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label t('field.coordinate') + " (long, lat)" %><br />
    <%= f.text_area :coordinates, :required => 'true' %>
  </div>
  <div class="actions">
    <%= f.submit  %>
	<%= link_to t('general.back'), list_field_path(session[:location_id]) %>
  </div>
<% end %>
