<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @field.errors.count, :model => t('models.field').downcase) %></h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if Rails.application.config.which_version == "modified" %>

  <div class="field" title="Name of Field">
    <%= f.label t('field.field_name') %>
    <%= f.text_field :field_name %>
  </div>
  <div class="field" title="Field Area (Ac.). Must be greater than 0.">
    <%= f.label t('field.field_area') %>
    <%= f.number_field :field_area, :class => 'numbers', :step => "any" %>
  </div>
  <div class="field">
  <%= f.label t('field.field_avg_slope') %>
    <%= f.number_field :field_average_slope, :class => 'numbers', :step => "any", disabled: true  %>  <a href="#" id="trigger">[?]</a>
  </div>
  <div class="field">
    <%#= f.label t('field.field_type') %>
	<%# if @field.field_name.include?(ROAD) || @field.field_name.include?(SMZ) %>
		<%#= f.check_box :field_type, disabled: true %>
	<%# else %>
		<%#= f.check_box :field_type %>
	<%# end %>
  </div>
   <div class="field">
    <%= f.label t('field.coordinate') + " (long, lat)" %><br>
    <%= f.text_area :coordinates, :required => 'true', disabled: true %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
	<%= link_to t('general.back'), list_field_path(session[:location_id]), :class => "btn btn-primary" %>
  </div>

<div id="pop-up">
  TODO: add explanation of how average slope is calculated and why it is not editable
</div>
<% else %>

  <div class="field" title="Name of Field">
    <%= f.label t('field.field_name') %>
    <%= f.text_field :field_name %>
  </div>
  <div class="field" title="Field Area (Ac.). Must be greater than 0.">
    <%= f.label t('field.field_area') %>
    <%= f.number_field :field_area, :class => 'numbers', :step => "any" %>
  </div>
  <div class="field">
  <%= f.label t('field.field_avg_slope') %>
    <%= f.number_field :field_average_slope, :class => 'numbers', :step => "any"  %>
  </div>
  <div class="field">
    <%#= f.label t('field.field_type') %>
  <%# if @field.field_name.include?(ROAD) || @field.field_name.include?(SMZ) %>
    <%#= f.check_box :field_type, disabled: true %>
  <%# else %>
    <%#= f.check_box :field_type %>
  <%# end %>
  </div>
  <div class="field">
    <%= f.label t('field.coordinate') + " (long, lat)" %><br>
    <%= f.text_area :coordinates, :readonly => true %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  <%= link_to t('general.back'), list_field_path(session[:location_id]), :class => "btn btn-primary" %>
  </div>
<% end %>

<% end %>

<script>
  $(function() {
  var moveLeft = -300;
  var moveDown = -100;
  $('a#trigger').hover(function(e) {
    $('div#pop-up').show();
  }, function() {
    $('div#pop-up').hide();
  });
  $('a#trigger').mousemove(function(e) {
    $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });
});
    </script>
