<h1>Listing fields</h1>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th>Field name</th>
    <th>Field area</th>
    <th>Field average slope</th>
    <th>Location</th>
    <th>Field type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr class="gvRowStyle">
    <td><%= link_to field.field_name, field %></td>
    <td><%= field.field_area %></td>
    <td><%= field.field_average_slope %></td>
    <td><%= field.field_type %></td>
    <td><%= link_to 'Show', field %></td>
    <td><%= link_to 'Edit', edit_field_path(field) %></td>
    <td><%= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_field_path %>
