<%= form_tag list_field_path, :method => :get do |f| %>

<h1><%= t('field.field_title')%></h1>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th class="gvCellStyleTitle"><%= t('field.field_name')%></th>
    <th class="gvCellStyleTitle"><%= t('field.field_area')%></th>
    <th class="gvCellStyleTitle"><%= t('field.field_avg_slope')%></th>
    <th class="gvCellStyleTitle"><%= t('field.field_type')%></th>
    <th class="gvCellStyleTitle"><%= t('general.actions')%></th>
  </tr>

  <% i=1 %>
  <% @fields.each do |field| %>
    <% if (i % 2  == 0) %>
      <tr class="gvRowStyleEven">
        <td class="gvCellStyleText"><%= link_to field.field_name, field %></td>
        <td class="gvCellStyleNumber", class="numbers"><%= field.field_area %></td>
        <td class="gvCellStyleNumber"><%= field.field_average_slope %></td>
        <td class="gvCellStyleCheckbox"><%= check_box_tag :field_type, name="chk_forestry", field.field_type, disabled: true%></td>
        <td class="gvCellStyleCheckbox">
          <%#= link_to image_tag("view.png"), field %>
          <%= link_to image_tag("edit.png"), edit_field_path(field), title: t('general.edit') %>
          <%= link_to image_tag("delete.png"), field, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% else %>
      <tr class="gvRowStyleOdd">
        <td class="gvCellStyleText"><%= link_to field.field_name, field %></td>
        <td class="gvCellStyleNumber", class="numbers"><%= field.field_area %></td>
        <td class="gvCellStyleNumber"><%= field.field_average_slope %></td>
        <td class="gvCellStyleCheckbox"><%= check_box_tag :field_type, name="chk_forestry", field.field_type, disabled: true%></td>
        <td class="gvCellStyleCheckbox">
          <%#= link_to image_tag("view.png"), field %>
          <%= link_to image_tag("edit.png"), edit_field_path(field), title: t('general.edit') %>
          <%= link_to image_tag("delete.png"), field, title: t('general.delete'), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <% i = i + 1 %>
  <% end %>
</table>
<% end %>