<% if notice != nil %>
  <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
  </div>
<% end %>

<p>
  <b>Field name:</b>
  <%= @field.field_name %>
</p>

<p>
  <b>Field area:</b>
  <%= @field.field_area %>
</p>

<p>
  <b>Field average slope:</b>
  <%= @field.field_average_slope %>
</p>

<p>
  <b>Location:</b>
  <%= @field.location_id %>
</p>

<p>
  <b>Field type:</b>
  <%= @field.field_type %>
</p>


<%= link_to t('general.edit'), edit_field_path(@field) %> |
<%= link_to t('general.back'), fields_path %>
