<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @site.errors.count, :model => t('models.site').downcase) %></h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ylat %><br>
    <%= f.text_field :ylat %>
  </div>
  <div class="field">
    <%= f.label :xlog %><br>
    <%= f.text_field :xlog %>
  </div>
  <div class="field">
    <%= f.label :elev %><br>
    <%= f.text_field :elev %>
  </div>
  <div class="field">
    <%= f.label :apm %><br>
    <%= f.text_field :apm %>
  </div>
  <div class="field">
    <%= f.label :co2x %><br>
    <%= f.text_field :co2x %>
  </div>
  <div class="field">
    <%= f.label :cqnx %><br>
    <%= f.text_field :cqnx %>
  </div>
  <div class="field">
    <%= f.label :rfnx %><br>
    <%= f.text_field :rfnx %>
  </div>
  <div class="field">
    <%= f.label :upr %><br>
    <%= f.text_field :upr %>
  </div>
  <div class="field">
    <%= f.label :unr %><br>
    <%= f.text_field :unr %>
  </div>
  <div class="field">
    <%= f.label :fir0 %><br>
    <%= f.text_field :fir0 %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t("submit.update") + " " + t("menu.site"), :class => "btn btn-primary" %>
    <%= link_to t('general.back'), project_field_sites_path, :class => "btn btn-primary" %>
  </div>
<% end %>

<br>
