<%= form_for([@project, @field, @site]) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @site.errors.count, :model => t('models.site').downcase) %></h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ylat %><br>
    <%= f.number_field :ylat, :class => 'gvTitleStyleNumber', :step => '0.000001' %>
  </div>
  <div class="field">
    <%= f.label :xlog %><br>
    <%= f.number_field :xlog, :class => 'gvTitleStyleNumber', :step => '0.000001' %>
  </div>
  <div class="field">
    <%= f.label :elev %><br>
    <%= f.number_field :elev, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :apm %><br>
    <%= f.number_field :apm, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :co2x %><br>
    <%= f.number_field :co2x, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :cqnx %><br>
    <%= f.number_field :cqnx, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :rfnx %><br>
    <%= f.number_field :rfnx, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :upr %><br>
    <%= f.number_field :upr, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :unr %><br>
    <%= f.number_field :unr, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <div class="field">
    <%= f.label :fir0 %><br>
    <%= f.number_field :fir0, :class => 'gvTitleStyleNumber', :step => '0.01' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t("submit.update") + " " + t("menu.site"), :class => "btn btn-primary" %>
    <%= link_to t('general.back'), project_field_sites_path, :class => "btn btn-primary" %>
  </div>
<% end %>

<br>
