<% if notice != nil %>
  <div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
  </div>
  <% end %>

 <div class="page-header"><h1><%= t('menu.site') %></h1></div>
<h1></h1>
<%= link_to t('menu.control_file'), project_field_apex_controls_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.parameters_file'), project_field_apex_parameters_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.subarea_file'), project_field_subareas_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.apex_soil'), project_field_apex_soils_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.operation_file'), project_field_soil_operations_path(@project, @field), :class => 'btn btn-default' %>
<%= link_to t('menu.site'), project_field_sites_path(@project, @field), :class => 'btn btn-primary' %><br></br>
<%#= link_to t('activerecord.models.apex.download') + " " + t('menu.aplcat_file'), aplcat_parameters_download_path, :method => :post, :class => 'btn btn-default' %>
<br><br>

<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="gvCellStyleTitle">Ylat</th>
          <th class="gvCellStyleTitle">Xlog</th>
          <th class="gvCellStyleTitle">Elev</th>
          <th class="gvCellStyleTitle">Apm</th>
          <th class="gvCellStyleTitle">Co2x</th>
          <th class="gvCellStyleTitle">Cqnx</th>
          <th class="gvCellStyleTitle">Rfnx</th>
          <th class="gvCellStyleTitle">Upr</th>
          <th class="gvCellStyleTitle">Unr</th>
          <th class="gvCellStyleTitle">Fir0</th>
          <th class="gvCellStyleTitle"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
		  <% @sites.each do |site| %>
			<tr class="gvRowStyleEven">
			  <td class="gvCellStyleNumber"><%= site.ylat %></td>
			  <td class="gvCellStyleNumber"><%= site.xlog %></td>
			  <td class="gvCellStyleNumber"><%= site.elev %></td>
			  <td class="gvCellStyleNumber"><%= site.apm %></td>
			  <td class="gvCellStyleNumber"><%= site.co2x %></td>
			  <td class="gvCellStyleNumber"><%= site.cqnx %></td>
			  <td class="gvCellStyleNumber"><%= site.rfnx %></td>
			  <td class="gvCellStyleNumber"><%= site.upr %></td>
			  <td class="gvCellStyleNumber"><%= site.unr %></td>
			  <td class="gvCellStyleNumber"><%= site.fir0 %></td>
			  <td class="gvCellStyleActions">
				<%= link_to image_tag("view.png"), project_field_site_path(@project.id, @field.id, site.id), title: t('general.show') %>
				<%= link_to image_tag("edit.png"), edit_project_field_site_path(@project.id, @field.id, site), title: t('general.edit') %>
				<%= link_to image_tag("delete.png"), project_field_site_path(@project, @field, site), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
			  </td>
		    </tr>
		  <% end %>
      </tbody>
    </table>
  </div>
</div>
