<% if notice != nil %>
    <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
    </div>
<% end %>

<div class="page-header"><h1><%= t('general.show')  + " " + t('menu.site_file') %></h1></div>

<p>
  <b>Ylat:</b>
  <%= @site.ylat %>
</p>

<p>
  <b>Xlog:</b>
  <%= @site.xlog %>
</p>

<p>
  <b>Elev:</b>
  <%= @site.elev %>
</p>

<p>
  <b>Apm:</b>
  <%= @site.apm %>
</p>

<p>
  <b>Co2x:</b>
  <%= @site.co2x %>
</p>

<p>
  <b>Cqnx:</b>
  <%= @site.cqnx %>
</p>

<p>
  <b>Rfnx:</b>
  <%= @site.rfnx %>
</p>

<p>
  <b>Upr:</b>
  <%= @site.upr %>
</p>

<p>
  <b>Unr:</b>
  <%= @site.unr %>
</p>

<p>
  <b>Fir0:</b>
  <%= @site.fir0 %>
</p>

<div class="actions">
  <%= link_to t('general.edit'), edit_project_field_site_path(@project, @field, @site), :class => "btn btn-primary" %>
  <%= link_to t('general.back'), project_field_sites_path, :class => "btn btn-primary" %>
</div>

<br><br>
