<p id="notice"><%= notice %></p>

<p>
  <b>Ylat:</b>
  <%= @site.ylat %>
</p>

<p>
  <b>Xlog:</b>
  <%= @site.xlog %>
</p>

<p>
  <b>Elev:</b>
  <%= @site.elev %>
</p>

<p>
  <b>Apm:</b>
  <%= @site.apm %>
</p>

<p>
  <b>Co2x:</b>
  <%= @site.co2x %>
</p>

<p>
  <b>Cqnx:</b>
  <%= @site.cqnx %>
</p>

<p>
  <b>Rfnx:</b>
  <%= @site.rfnx %>
</p>

<p>
  <b>Upr:</b>
  <%= @site.upr %>
</p>

<p>
  <b>Unr:</b>
  <%= @site.unr %>
</p>

<p>
  <b>Fir0:</b>
  <%= @site.fir0 %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
