<% if notice != nil %>
    <div class="success_alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= notice %>
    </div>
<% end %>

<div class="page-header"><h1><%= t('general.show')  + " " + t('menu.site_file') %></h1></div>

<%= link_to t('menu.control_file'), apex_controls_path, :class => 'btn btn-default' %>
<%= link_to t('menu.parameters_file'), apex_parameters_path, :class => 'btn btn-default' %>
<%= link_to t('menu.subarea_file'), subareas_path, :class => 'btn btn-default' %>
<%= link_to t('menu.apex_soil'), apex_soils_path(:id => session[:field_id]), :class => 'btn btn-default' %>
<%= link_to t('menu.operation_file'), soil_operations_path, :class => 'btn btn-default' %>
<%= link_to t('menu.site'), site_path(session[:field_id]), :class => 'btn btn-primary' %>
<br><br>

<p>
  <b>Ylat:</b>
  <%= @site.ylat %>
</p>

<p>
  <b>Xlog:</b>
  <%= @site.xlog %>
</p>

<p>
  <b>Elev:</b>
  <%= @site.elev %>
</p>

<p>
  <b>Apm:</b>
  <%= @site.apm %>
</p>

<p>
  <b>Co2x:</b>
  <%= @site.co2x %>
</p>

<p>
  <b>Cqnx:</b>
  <%= @site.cqnx %>
</p>

<p>
  <b>Rfnx:</b>
  <%= @site.rfnx %>
</p>

<p>
  <b>Upr:</b>
  <%= @site.upr %>
</p>

<p>
  <b>Unr:</b>
  <%= @site.unr %>
</p>

<p>
  <b>Fir0:</b>
  <%= @site.fir0 %>
</p>

<div class="actions">
  <%= link_to t('general.edit'), edit_site_path(@site), :class => "btn btn-primary" %>
</div>

<br><br>
