<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
</head>

<% if !session[:debug] %>

    <body onload="JavaScript: document.forms[0].submit();">

    Loading map...

    <form action='<%= URL_MAP %>' method='post'>
	  <% if @county == nil %>
         <input type='hidden' size='80' name='county' value='<%=  %>'>
	  <% else %>    
         <input type='hidden' size='80' name='county' value='<%= @county.county_code %>'>
	  <% end %>
      <br/>
      <input type='hidden' size='80' name='source_id' value='<%= session[:session_id] %>'>
      <br/>
      <input type='text' size='80' name='return_url' value=<%= locations_url.gsub('locations', "locations/#{@location.project_id}/receive_from_mapping_site") %>
      <input type='text' size='80' name='return_url_org' value='<%= locations_url(@location) %>/receive_from_mapping_site'>
      <br/>
      parcelcoords: <input type='text' size='80' name='parcelcoords' value='<%= @location.coordinates %>'>
      <br/>
      <% @location.fields.each_with_index do |field, index| %>
          field_id: <input type='text' size='80' name='<%= "field#{index+1}id" %>' value='<%= field.field_name %>'>
          <br/>
          field
          coordinates:<input type='text' size='80' name='<%= "field#{index+1}coords" %>' value='<%= field.coordinates %>'>
          <br/>
      <% end %>

      <input type='submit' name='Click here' value='Submit'>
    </form>
    </body>

<% else %>
    <body>
      <form action='<%= URL_MAP %>' method='post'>
      County: <input type='text' size='80' name='county' value=''>
      <br/>
      Source id: <input type='text' size='80' name='source_id' value='<%= session[:session_id] %>'>
      <br/>
      return_url:
      <input type='text' size='80' name='return_url' value='<%= farm_url(@location) %>/receive_from_mapping_site'>
      <br/>

      parcelcoords: <input type='text' size='80' name='parcelcoords' value='<%= @location.coordinates %>'>
      <br/>

      <% @farm.fields.each_with_index do |field, index| %>
          field_id: <input type='text' size='80' name='<%= "field#{index+1}id" %>' value='<%= field.name %>'>
          <br/>
          field
          coordinates:<input type='text' size='80' name='<%= "field#{index+1}coords" %>' value='<%= field.coordinates %>'>
          <br/>
      <% end %>

      <input type='submit' name='Click here' value='Submit'>
    </form>
    </body>

<% end %>


</html>