<%= form_for(@apex_parameter) do |f| %>
  <% if @apex_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @apex_parameter.errors.count, :model => t('models.apex_parameter')) %></h2>

      <ul>
      <% @apex_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('apex.parameter') %><br />
    <%= f.number_field :parameter_id %>
  </div>
  <div class="field">
    <%= t('general.name') + " " + ':' %>
    <%= @parameter_name %>
  </div>
  <div class="field">
    <%= f.label t('apex.value') %><br />
    <%= f.number_field :value, :step => 'any' %>
  </div>
  <div class="field">
    <%= t('apex.low_range') + " " + ':' %>
    <%= @low_range %>
  </div>
  <div class="field">
    <%= t('apex.high_range') + " " + ':' %>
    <%=  @high_range %>
  </div>
  <div class="actions">
    <%= f.submit t("submit.update") + " " + t("apex.parameter") %>
  </div>
<% end %>
