<p id="notice"><%= notice %></p>

<p>
  <b>Parameter:</b>
  <%= @apex_parameter.parameter_id %>
</p>

<p>
  <b>Name:</b>
  <%= @apex_parameter.parameter.name %>
</p>

<p>
  <b>Project:</b>
  <%= @apex_parameter.project_id %>
</p>

<p>
  <b>line:</b>
  <%= @apex_parameter.parameter.line %>
</p>

<p>
  <b>Low Range:</b>
  <%= @apex_parameter.parameter.range_low %>
</p>

<p>
  <b>High Range:</b>
  <%= @apex_parameter.parameter.range_high %>
</p>

<p>
  <b>Value:</b>
  <%= @apex_parameter.value %>
</p>

<%= link_to t('general.edit'), edit_apex_parameter_path(@apex_parameter) %> |
<%= link_to t('general.back'), apex_parameters_path %>
