<!--<div id="instructionBox" style="display: none">
  <%case%>
    <% when  request.original_url.include?('/projects') %>
      <%= raw t('instructionbox.projects')%>
    <% when request.original_url.include?('/locations') %>
      <%= raw t('instructionbox.locations')%>
    <% when request.original_url.include?('/fields') %>
      <%= raw t('instructionbox.fields')%>
    <% when request.original_url.include?('/watersheds') %>
      <%= raw t('instructionbox.watersheds')%>
    <% when request.original_url.include?('/watershed_scenarios') %>
      <%= raw t('instructionbox.watershed_scenarios')%>
    <% when request.original_url.include?('/weathers') %>
      <%= raw t('instructionbox.weathers')%>
    <% when request.original_url.include?('/soils') %>
      <%= raw t('instructionbox.soils')%>
    <% when request.original_url.include?('/layers') %>
      <%= raw t('instructionbox.layers')%>
    <% when request.original_url.include?('/scenarios') %>
      <%= raw t('instructionbox.scenarios')%>
    <% when request.original_url.include?('/results') %>
      <%= raw t('instructionbox.results')%>
    <% when request.original_url.include?('/operations') %>
      <%= raw t('instructionbox.operations')%>
    <% when request.original_url.include?('/bmps') %>
      <%= raw t('instructionbox.bmps')%>
    <% when request.original_url.include?('/apex_controls') %>
      <%= raw t('instructionbox.apex_controls')%>
    <% when request.original_url.include?('/apex_parameters') %>
      <%= raw t('instructionbox.apex_parameters')%>
    <% when request.original_url.include?('/subareas') %>
      <%= raw t('instructionbox.subareas')%>
    <% when request.original_url.include?('/apex_soils') %>
      <%= raw t('instructionbox.apex_soils')%>
    <% when request.original_url.include?('/apex_layers') %>
      <%= raw t('instructionbox.apex_layers')%>
    <% when request.original_url.include?('/soil_operations') %>
      <%= raw t('instructionbox.soil_operations')%>
    <% when request.original_url.include?('/sites') %>
      <%= raw t('instructionbox.sites')%>
  <% end %>
</div>
<div id='cssmenu'>
    <ul id="mnuFooter" >
      <li><a <%= link_to_function t('footer.instructions'), "toggle_visibility('instructionBox')"%></a></li>
      <li><a <%= link_to t("footer.contact_us"), contact_path %></a></li>
      <li><a <%= link_to t("footer.about_ntt"), about_path %></a></li>
      <li><a <%= link_to t("footer.help"), help_path("index") %></a></li>
      <li class='active has-sub'><%= link_to t("footer.Language") %>
        <ul id="cssSubMenu" >
          <li><%= link_to t("languages.english"), :locale=>'en'%></li>
          <li><%= link_to t("languages.spanish"), :locale=>'es'%></li>
        </ul>
      </li>
    </ul>
</div>-->

<footer class="footer">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <div class="nav navbar-nav navbar-right">
                <ul class="footerright">
                  <%if request.url.include?(url_for=("/projects?")) %>
                    <li><%= image_tag('download.gif') %> <%= t('general.download') %></li>
                    <li><%= image_tag('edit.png') %> <%= t('general.edit') %></li>
                    <li><%= image_tag('copy.jpg') %> <%= t('general.copy') %></li>
                    <li><%= image_tag('delete.png') %> <%= t('general.delete') %></li>
                  <% end %>
                  <%if request.url.include?(url_for=("/fields?")) || request.url.include?(url_for=("/soils?")) || request.url.include?(url_for=("/layers?")) || request.url.include?(url_for=("/list?")) ||  request.url.include?(url_for=("/scenarios?"))%>  
                      <%if request.url.include?(url_for=("/soils?")) || request.url.include?(url_for=("/apex_soils?"))%>
                          <li><%= image_tag('layers.png') %> <%= t('.soil_layer') %></li>
                      <% end %>
                      <li><%= image_tag('edit.png') %> <%= t('general.edit') %></li>
                      <li><%= image_tag('delete.png') %> <%= t('general.delete') %></li>
                  <% end %>
                  <%if request.url.include?(url_for=("/grazing_parameters?")) %>
                    <li><%= image_tag('view.png') %> <%= t('general.view') %></li>
                    <li><%= image_tag('edit.png') %> <%= t('general.edit') %></li>
                    <li><%= image_tag('delete.png') %> <%= t('general.delete') %></li>
                  <% end %>
                  <%if request.url.include?(url_for=("/apex_controls?")) || request.url.include?(url_for=("/apex_parameters?")) || request.url.include?(url_for=("/subareas?")) || request.url.include?(url_for=("/apex_soils?")) || request.url.include?(url_for=("/apex_layers?")) || request.url.include?(url_for=("/soil_operations?"))%>  
                      <%if request.url.include?(url_for=("/subareas?"))%>
                          <li><%= image_tag('view.png') %> <%= t('general.view') %></li>
                      <% end %>
                      <%if request.url.include?(url_for=("/apex_soils"))%>            
                          <li><%= image_tag('layers.png') %> <%= t('.soil_Layer') %></li>   
                          <li><%= image_tag('view.png') %> <%= t('general.view') %></li>
                      <% end %>
                      <li><%= image_tag('edit.png') %> <%= t('general.edit') %></li>
                  <% end %>
                  <%if request.url.include?(url_for=("/sites?"))%>   
                      <li><%= image_tag('view.png') %> <%= t('general.view') %></li>
                      <li><%= image_tag('edit.png') %> <%= t('general.edit') %></li>
                      <li><%= image_tag('delete.png') %> <%= t('general.delete') %></li>
                  <% end %>
                </ul>
            </div>
            <div class="nav navbar-nav navbar-left">
              <ul class="footerleft">
                   <li><a href="#" data-toggle="modal" data-target="#instructions"><%= t('footer.instructions')%></a></li>
                   <li><a href="#" data-toggle="modal" data-target="#contact"><%= t('footer.contact_us')%></a></li>
                   <li><%= link_to t("footer.about_ntt"), about_path(:project_id => params[:project_id]) %></li>
                   <li><%= link_to t("footer.help"), help_path("index", :project_id => params[:project_id]) %></li>
                   <% unless ENV["APP_VERSION"] == "modified" %><li><div class="language">Language
                      <span class="tooltiptext">
                        <%= link_to t("languages.english"), :locale=>'en', :project_id => params[:project_id]%><br>
                        <%= link_to t("languages.spanish"), :locale=>'es', :project_id => params[:project_id]%>
                        </span>
                  </li><% end %>
              </ul>
            </div>
        </div>
    </nav>
</footer>

<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table>
        <% case controller_name %>
        <% when "projects" %>
              <tr><td><%= t('projpage_html')%></td></tr>
        <% when "locations" %>
              <tr><td><%= t('locpage_html')%></td></tr>
        <% when "weathers" %>
              <tr><td><%= t('weathpage_html')%></td></tr>
        <% when "fields" %>
              <tr><td><%= t('fieldpage_html')%></td></tr>
        <% end %>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"> <%= t('contact1.header') %></h4>
      </div>
      <div class="modal-body">
<%= raw t('contact1.statement')%><br><br>
<ul>
<li><b>Ali Saleh</b></li>
<%= t('contact1.position') %><br>
P.O. Box T410<br>
Tarleton State University<br>
Stephenville, TX 76402<br>
(254)968-9079 (Phone)<br>
(254)968-9790 (Fax)<br>
saleh@tarleton.edu</li></ul>
<br>
  
<%= raw t('contact2.statement') %><br><br>

<ul><li><b>Oscar Gallego</b></li>
<%= t('contact2.position') %><br>
P.O. Box T410<br>
Tarleton State University<br>
Stephenville, TX 76402<br>
(254)968-9787 (Phone)<br>
(254)968-9790 (Fax)<br>
gallego@tiaer.tarleton.edu

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
