<div id="instructionBox" style="display: none">
  <%case%>
    <% when  request.original_url.include?('/projects') %>
      <%= raw t('instructionbox.projects')%>
    <% when request.original_url.include?('/locations') %>
      <%= raw t('instructionbox.locations')%>
    <% when request.original_url.include?('/fields') %>
      <%= raw t('instructionbox.fields')%>
    <% when request.original_url.include?('/watersheds') %>
      <%= raw t('instructionbox.watersheds')%>
    <% when request.original_url.include?('/weathers') %>
      <%= raw t('instructionbox.weathers')%>
    <% when request.original_url.include?('/soils') %>
      <%= raw t('instructionbox.soils')%>
    <% when request.original_url.include?('/scenarios') %>
      <%= raw t('instructionbox.scenarios')%>
    <% when request.original_url.include?('/results') %>
      <%= raw t('instructionbox.results')%>
  <% end %>
</div>
<div id='cssmenu'>
    <ul id="mnuFooter" >
      <li><a <%= link_to_function t('footer.instructions'), "toggle_visibility('instructionBox')"%></a></li>
      <li><a <%= link_to t("footer.contact_us"), contact_path %></a></li>
      <li><a <%= link_to t("footer.about_ntt"), about_path %></a></li>
      <li><a <%= link_to t("footer.help"), help_path("index") %></a></li>
      <li class='active has-sub'><%= link_to t("footer.Language") %>
        <ul id="cssSubMenu" >
          <li><%= link_to t("languages.english"), :locale=>'en'%></li>
          <li><%= link_to t("languages.spanish"), :locale=>'es'%></li>
        </ul>
      </li>
    </ul>
</div>
