<% if signed_in? %>
	<% project_name = "" %>
	<% field_name = "" %>
	<% scenario_name = "" %>
    <div class="navbar navbar-default" style="line-height:0px" id="div1">
        <ul class="nav navbar-nav">
            <% case  %>
	           <% when request.original_url.include?("project") || request.original_url.include?("welcome") ||  request.original_url.include?("about") || request.original_url.include?("contact") || request.original_url.include?("help")  %>
			       <li><%= link_to t('menu.welcome'), { :controller => "welcomes", :action => "show", :id => "0" } %></li>
   			       <li><%= link_to t('menu.projects'), welcomes_path %></li>
	           <% when request.original_url.include?("modifications") || request.original_url.include?("apex_controls") ||  request.original_url.include?("apex_parameters") || request.original_url.include?("subarea") || request.original_url.include?("apex_soil") || request.original_url.include?("apex_layer") || request.original_url.include?("site")%>
				   <li><%= link_to t('menu.control_file'), apex_controls_path %></li>
				   <li><%= link_to t('menu.parameters_file'), apex_parameters_path %></li>
				   <li><%= link_to t('menu.subarea_file'), subareas_path %></li>
				   <li><%= link_to t('menu.apex_soil'), field_apex_soils_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.operation_file'), edit_weather_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.site'), site_path(session[:field_id]) %></li>
	           <% when request.original_url.include?("weather") || request.original_url.include?("soil") ||  request.original_url.include?("scenario") || request.original_url.include?("layer") || request.original_url.include?("results")  %>
				   <li><%= link_to t('menu.weather'), edit_weather_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.soils'), field_soils_field_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.scenarios'), field_scenarios_field_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.results'), results_path %></li>
				   <li><%= link_to t('menu.apex_file'), apex_controls_path %></li> 
			   <% when request.original_url.include?("location") || request.original_url.include?("field") ||  request.original_url.include?("watershed")%>
				   <li><%= link_to t('menu.location'), location_path(session[:location_id]) %></li>
				   <li><%= link_to t('menu.fields'), list_field_path(session[:location_id]) %></li>
				   <li><%= link_to t('menu.watershed'), list_watershed_path(session[:location_id]) %></li>
			   <% when request.original_url.include?("operation") || request.original_url.include?("bmp")%>
				   <li><%= link_to t('menu.managements'), scenario_operations_scenario_path(session[:scenario_id]) %></li>
				   <li><%= link_to t('menu.bmps'), scenario_bmps_scenario_path(session[:scenario_id]) %></li>
			<% end %>
    		<li><%= link_to t('menu.signout'), logout_path %></li>
	    </ul>      
    </div>
    <ul class="crumbs">
        <% case request.original_url %>
	        <% when /project/, /welcome/, /receive_from_mapping_site/ %>
	        <% when /apex_controls/, /apex_parameters/, /subarea/, /apex_soils/, /apex_layers/, /site/ %>
				<% field_name = Field.find(session[:field_id]).field_name %>
			    <li><%=link_to t('menu.projects'), welcomes_path %></li>
			    <li><%=">>"%><%=project_name%></li>
			    <li><%=link_to t('menu.fields'), list_field_path(session[:location_id]) %></li>
				<li><%=">>"%><%=link_to field_name, field_path(session[:field_id]) %></li>
				<li><%=">>"%></li>
				<% case request.original_url %>
					<% when /apex_control/ %>
						<li><%= t('menu.control_file') %></li>
					<% when /apex_parameters/ %>
						<li><%= t('menu.parameters_file') %></li>
					<% when /subarea/ %>
						<li><%= t('menu.subarea_file') %></li>
                    <% when /apex_soils/ %>
					    <li><%= t('menu.apex_soil') %></li>
                    <% when /apex_layers/ %>
					    <li><%= t('menu.layer_file') %></li>
                    <% when /site/ %>
					    <li><%= t('menu.site') %></li>
				<% end %>
			<% when /weather/, /soil/, /scenario/, /layer/, /results/ %>
				<% project_name = Project.find(session[:project_id]).name %>
				<% field_name = Field.find(session[:field_id]).field_name %>
			    <li><%=link_to t('menu.projects'), welcomes_path %></li>
			    <li><%=">>"%><%=project_name%></li>
			    <li><%=">>"%><%=link_to t('menu.fields'), list_field_path(session[:location_id]) %></li>
			    <li><%=">>"%><%=field_name%></li>
				<li><%=">>"%>
				<% case request.original_url %>
					<% when /weather/ %>
						<li><%= t('menu.weather') %></li>
					<% when /soil/ %>
						<li><%= t('menu.soils') %></li>
					<% when /scenario/ %>
						<li><%= t('menu.scenarios') %></li>
					<% when /result/ %>
						<li><%= t('menu.results') %></li>
					<% when /layer/ %>
						<li><%= t('soil.layer') %></li>
				<% end %>
	        <% when /location/, /field/, /watershed/ %>
				<% project_name = Project.find(session[:project_id]).name %>
		        <li><%=link_to t('menu.projects'), welcomes_path %></li>
		        <li><%=">>"%><%=project_name%></li>
				<% case request.original_url %>
					<% when /location/ %>
						<li><%= t('menu.location') %></li>
					<% when /field/ %>
						<li><%= t('menu.fields') %></li>
					<% when /watershed/ %>
						<li><%= t('menu.watershed') %></li>
				<% end %>
			<% when /operation/, /bmp/ %>	
				<% project_name = Project.find(session[:project_id]).name %>
				<% field_name = Field.find(session[:field_id]).field_name %>
				<% scenario_name = Scenario.find(session[:scenario_id]).name %>
			    <li><%=link_to t('menu.projects'), welcomes_path %></li>
			    <li><%=">>"%><%=project_name%></li>
			    <li><%=link_to t('menu.fields'), list_field_path(session[:location_id]) %></li>
			    <li><%=">>"%><%=field_name%></li>
			    <li><%=link_to t('menu.scenarios'), field_scenarios_field_path(session[:field_id]) %></li>
			    <li><%=">>"%><%=scenario_name%></li>
				<% if request.original_url.include? "operation" %>
				    <li><%=">>"%><%=t('menu.managements') %></li>
				<% else %>
				    <li><%=">>"%><%=t('operation.bmp') %></li>
				<% end %>								    
		<% end %>
	</ul>
<% else %>
	<div class="navbar navbar-default" style="line-height:0px" id="div1">
        <ul class="nav navbar-nav">
    			   <li><%= link_to t('menu.signin'), logout_path %></li>
	    </ul>      
    </div>
<% end %>
