<% if signed_in? %>
    <div class="navbar navbar-default" style="line-height:0px" id="div1">
        <ul class="nav navbar-nav">
            <% case request.original_url %>
	           <% when /project/, /welcome/ %>
			       <li><%= link_to t('menu.welcome'), { :controller => "welcomes", :action => "show", :id => "0" } %></li>
   			       <li><%= link_to t('menu.projects'), welcomes_path %></li>
	           <% when /location/, /field/ %>
				   <li><%= link_to t('menu.location'), location_path(session[:location_id]) %></li>
				   <li><%= link_to t('menu.fields'), list_field_path(session[:location_id]) %></li>
			   <% when /weather/, /soil/, /scenario/, /layer/, /modifications/ %>
				   <li><%= link_to t('menu.weather'), edit_weather_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.soils'), field_soils_field_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.scenarios'), field_scenarios_field_path(session[:field_id]) %></li>
				   <li><%= link_to t('menu.modifications'), modifications_path %></li> 
			   <% when /operation/, /bmp/ %>
				   <li><%= link_to t('menu.operations'), scenario_operations_scenario_path(session[:scenario_id]) %></li>
				   <li><%= link_to t('menu.bmps'), scenario_bmps_scenario_path(session[:scenario_id]) %></li>
			<% end %>
    			   <li><%= link_to t('menu.signout'), logout_path %></li>
	    </ul>      
    </div>
    <ul class="crumbs">
        <% case request.original_url %>
	        <% when /project/, /welcome/ %>
	        <% when /location/, /field/ %>
		        <li><%=link_to "Projects", welcomes_path %></li>
		        <li><%=">>"%><%=@project_name%></li>
				<% if request.original_url.include? "location" %>
				    <li><%=">> Locations" %></li>
				<% else %>
				    <li><%=">> Fields" %></li>
				<% end %>				    
	        <% when /weather/, /soil/, /scenario/, /layer/, /modifications/ %>
			    <li><%=link_to "Projects", welcomes_path %></li>
			    <li><%=">>"%><%=@project_name%></li>
			    <li><%=link_to "Fields", list_field_path(session[:location_id]) %></li>
			    <li><%=">>"%><%=@field_name%></li>
				<% case request.original_url %>
					<% when /weather/ %>
						<li><%= ">> Weather" %></li>
					<% when /soil/ %>
						<li><%= ">> Soils" %></li>
					<% when /scenario/ %>
						<li><%= ">> Scenarios" %></li>
					<% when /layer/ %>
						<li><%= ">> Layers" %></li>
					<% when /modification/ %>
						<li><%= "Modifications" %></li>
				<% end %>
			<% when /operation/, /bmp/ %>	
			    <li><%=link_to "Projects", welcomes_path %></li>
			    <li><%=">>"%><%=@project_name%></li>
			    <li><%=link_to "Fields", list_field_path(session[:location_id]) %></li>
			    <li><%=">>"%><%=@field_name%></li>
			    <li><%=link_to "Scenarios", field_scenarios_field_path(session[:field_id]) %></li>
			    <li><%=">>"%><%=@scenario_name%></li>
				<% if request.original_url.include? "operation" %>
				    <li><%=">> Operations" %></li>
				<% else %>
				    <li><%=">> BMPs" %></li>
				<% end %>				    
		<% end %>
	</ul>
<% end %>
