<% if signed_in? %>
    <% if session[:status] == "projects"%>
	    <a><%= link_to t('menu.projects'), projects_path %></a>
	<% end %>
    <div class="navbar navbar-default" style="line-height:0px" id="div1">
        <ul class="nav navbar-nav">
		  <% if session[:status] == "signed" %>
			  <li><%= link_to t('menu.welcome'), welcomes_index_path %></li>
			  <li><%= link_to t('menu.projects'), projects_path %></li>
		  <% end %>
		  <% if session[:status] == "projects" %>
			  <li><%= link_to t('menu.location')  %></li>
			  <li><%= link_to t('menu.weather') %></li>
			  <li><%= link_to t('menu.fields') %></li>
		  <% end %>
		  <% if session[:status] == "fields" %>		  
			  <li><%= link_to t('menu.soils') %></li>
			  <li><%= link_to t('menu.managements') %></li>
			  <li><%= link_to t('menu.subprojects') %></li>
			  <li><%= link_to t('menu.economics') %></li>
			  <li><%= link_to t('menu.simulations') %></li>
			  <li><%= link_to t('menu.results') %></li>
			  <li><%= link_to t('menu.modifications') %></li>
		  <% end %>
          <li><%= link_to t('menu.signout'), logout_path %></li>
        </ul>      
    </div>
<% end %>


