<% user_id = session[:user_id] %>
<% user = User.find(user_id) %>
<% t = Time.now %>

<div class="header">
    </br>
    <h1 id="document_header">Nutrient Tracking Tool - Report</h1>
</div>
<div>
    <span class="right"><strong>User:</strong> <%= user.name %></span></br>
    <span class="right"><strong>Email:</strong> <%= user.email %></span></br>
    <span class="right"><strong>Company:</strong> <%= user.company %></span></br>
</div>
<div>
    <hr class="line_break" color="dodgerblue">
</div>
<span class="right"><%=t.day%>/<%=t.month%>/<%=t.year %>&nbsp;&nbsp;&nbsp;
        <%=t.strftime("%I:%M%p") %></span>