<li><%= link_to t('menu.location'), location_path(session[:location_id]) %></li>
<li><%= link_to t('menu.fields'), list_field_path(session[:location_id]) %></li></ul>
<% if field_submenu  %>
  <div class="nav-header">
    <font color="#20689B">Single Field:</font> <%= @field.field_name %>
  </div>
  <ul class="nav nav-pills nav-stacked nav-sidebar-sub">
    <li>
    <%= link_to t('menu.weather'), edit_weather_path(session[:field_id]) %>
    </li>
    <li><%= link_to t('menu.soils'), field_soils_field_path(session[:field_id]) %></li>
    <li><%= link_to t('menu.scenarios'), field_scenarios_field_path(session[:field_id]) %></li>
    <% if scenario_submenu  %>
      <ul class="nav nav-pills nav-stacked nav-sidebar-sub-sub">
        <div class="nav-sub-header"><font color="#20689B">Scenario:</font> Baseline
        </div>
        <li><%= link_to t('menu.managements'), scenario_operations_scenario_path(session[:scenario_id]) %></li>
      </ul>
      <ul class="nav nav-pills nav-stacked nav-sidebar-sub-sub-sub">
        <li><%= link_to t('menu.bmps'), scenario_bmps_scenario_path(session[:scenario_id]) %></li>
      </ul>
    <% end %>
    <li><%= link_to t('menu.results'), results_path %></li>
    <li><%= link_to t('menu.apex_file'), apex_controls_path %></li></ul>
<% end %>
<ul class="nav nav-pills nav-stacked nav-sidebar">
  <li><%= link_to t('menu.watershed'), list_watershed_path(session[:location_id]) %></li>
</ul>
<ul class="nav nav-pills nav-stacked nav-sidebar-sub">
  <li><%= link_to t('menu.results') + "-" + t('menu.watershed'), results_path(:button => t('result.summary')) %></li>
</ul>
