<!DOCTYPE html>
<html>
	<head>
	  <title>NTTG3</title>
	  <%= stylesheet_link_tag  "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <% if NTTG3::Application.config.language == "en" %>
		<% I18n.default_locale = :en %>
	  <% else %>
		<% I18n.default_locale = :es %>
	  <% end %>

	  <%= image_tag("NTTG2_Logo.png", :alt => "NTT Logo", width:'100%', height:'300px') %>

	  <% if signed_in? %>
		<%= render 'layouts/header' %>
	<% else %>
		<% case request.original_url %>
			<% when /about/, /contact/, /help/ %>
				<%= render 'layouts/header' %>
			<% end %>
	  <% end %>

	  <!-- main body -->
	  <div class="container">
	  	<div class="pageContainer">
	  		<div id="pageContent">
	  			<%= yield %>
	  			<br><br>
	  		</div>
	  	</div>
	  </div>

	  <%= render 'layouts/footer' %>
   </body>
</html>
