<!DOCTYPE html>
<html>
	<head>
	  <title>NTTG3</title>
	  <%= stylesheet_link_tag  "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <% if NTTG3::Application.config.language == "en" %>
		<% I18n.default_locale = :en %>
	  <% else %>
		<% I18n.default_locale = :es %>
	  <% end %>

	  <%= image_tag("NTTG2_Logo.png", :alt => "NTT Logo", width:'100%', height:'180px') %>
	  <% if signed_in? %>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	  <% else %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	  <% end %>
   </body>
</html>
