<%= form_for(@parameter) do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @parameter.errors.count, :model => t('models.parameter').downcase) %></h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.number_field :id%>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number%>
  </div>
  <div class="field">
    <%= f.label :default_value %>
    <%= f.text_field :default_value%>
  </div>
  <div class="field">
    <%= f.label :state_id %>
    <%= f.text_field :state_id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
