<h1>Listing parameters</h1>

<table>
  <tr>
    <th>Line</th>
    <th>Param. Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Low Range</th>
    <th>High Range</th>
    <th>Default Value</th>
  </tr>

<% @parameters.each do |parameter| %>
  <tr>
    <td><%=parameter.line%></td>
    <td><%=parameter.number%></td>
    <td><%=parameter.name%></td>
    <td><%=parameter.description%></td>
    <td><%=parameter.range_low%></td>
    <td><%=parameter.range_high%></td>
    <td><%=parameter.default_value%></td>
    <td><%= link_to 'Show', parameter %></td>
    <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
    <td><%= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter', new_parameter_path %>
