<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div id="div_notice">
		<p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="field">
    <%= label :crop_id, 'Crop' %>
    <%= collection_select :operation, :crop_id, Crop.all, :id, :name, {:prompt => 'Select crop'}, {:required => true} %>
  </div>
  <div class="field">
    <%= label :activity_id, 'Operation' %>
    <%= collection_select :operation, :activity_id, Activity.all, :id, :name, {:prompt => 'Select Operation'}, {:required => true} %>
  </div>
  <div class="field">
    <li>
        <%= f.label :name, 'Date<em>*</em>'.html_safe, :class => 'field' %>
        <%= f.select :year, options_for_select(listYears, :selected => @operation.year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
        <%= f.select :month_id, options_for_select(listMonths, :selected => @operation.month_id), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
        <%= f.select :day, options_for_select(listDays, :selected => @operation.day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
    </li>
  </div>

	<% case @operation.activity_id %>
		<% when 1  # planting %>
	        <%= label :type_id, 'Select One' %>
	        <%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :id, :eqp, {:prompt => 'Select One'}, {:required => true} %>
			<div id="div_fertilizer" style="display:none" >
	           <%= f.label :type_id, 'Fertilizer Type' %>
	           <%= collection_select :operation, :subtype_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'} %>
			</div>
		    <div class="field" id="div_amount">
			  <%= f.label :plant_population %>
			  <%= f.text_field :amount %>
		    </div>
		    <div class="field" id="div_depth" style="display:none">
			  <%= f.label :depth %>
			  <%= f.text_field :depth %>
		    </div>
		    <div class="field" id="div_nutrients" style="display:none">
			  <div class="field" >
				<%= f.label :no3_n %>
				<%= f.text_field :no3_n %>
			  </div>
			  <div class="field" >
				<%= f.label :po4_p %>
				<%= f.text_field :po4_p %>
			  </div>
			  <div class="field" >
				<%= f.label :org_n %>
				<%= f.text_field :org_n %>
			  </div>
			  <div class="field" >
				<%= f.label :org_p %>
				<%= f.text_field :org_p %>
			  </div>
		    </div>
		<% when 2 # fertilizer %>
			<%= label :type_id, :Fertilizer_Type %>
			<%= collection_select :operation, :type_id, FertilizerType.all, :id, :name, {:prompt => 'Select Fertilizer'}, {:required => true} %>
			<div id="div_fertilizer" style="display:inline">
	           <%= f.label :type_id, :Fertilizer %>
	           <%= collection_select :operation, :subtype_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'} %>
			</div>
            <div class="field" id="div_amount">
			  <%= f.label :amount %>
			  <%= f.text_field :amount %>
		    </div>
		    <div class="field" id="div_depth">
			  <%= f.label :depth %>
			  <%= f.text_field :depth %>
		    </div>
		    <div class="field" id="div_nutrients" >
			  <div class="field" >
				<%= f.label :no3_n %>
				<%= f.text_field :no3_n %>
			  </div>
			  <div class="field" >
				<%= f.label :po4_p %>
				<%= f.text_field :po4_p %>
			  </div>
			  <div class="field" >
				<%= f.label :org_n %>
				<%= f.text_field :org_n %>
			  </div>
			  <div class="field" >
				<%= f.label :org_p %>
				<%= f.text_field :org_p %>
			  </div>
		    </div>
		<% when 6 # irrigation%>
	        <%= label :type_id, 'Select One' %>
	        <%= collection_select :operation, :type_id, Irrigation.all, :id, :name, {:prompt => 'Select One'}, {:required => true} %>
			<div id="div_fertilizer" style="display:none" >
	           <%= f.label :type_id, 'Fertilizer Type' %>
	           <%= collection_select :operation, :subtype_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'} %>
			</div>
		    <div class="field" id="div_amount">
			  <%= f.label :volume %>
			  <%= f.text_field :amount %>
		    </div>
		    <div class="field" id="div_depth">
			  <%= f.label :efficiency %>
			  <%= f.text_field :depth %>
		    </div>
		    <div class="field" id="div_nutrients" style="display:none">
			  <div class="field" >
				<%= f.label :no3_n %>
				<%= f.text_field :no3_n %>
			  </div>
			  <div class="field" >
				<%= f.label :po4_p %>
				<%= f.text_field :po4_p %>
			  </div>
			  <div class="field" >
				<%= f.label :org_n %>
				<%= f.text_field :org_n %>
			  </div>
			  <div class="field" >
				<%= f.label :org_p %>
				<%= f.text_field :org_p %>
			  </div>
		    </div>
		<% when 7 # grazing%>
			<%= label :type_id, :Animal_Type %>
			<%= collection_select :operation, :type_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'}, {:required => true} %>
			<div id="div_fertilizer" style="display:inline">
	           <%= f.label :type_id, :Fertilizer %>
	           <%= collection_select :operation, :subtype_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'} %>
			</div>
            <div class="field" id="div_amount">
			  <%= f.label :animals %>
			  <%= f.text_field :amount %>
		    </div>
		    <div class="field" id="div_depth">
			  <%= f.label :hours_in_field %>
			  <%= f.text_field :depth %>
		    </div>
		    <div class="field" id="div_nutrients" >
			  <div class="field" >
				<%= f.label :no3_n %>
				<%= f.text_field :no3_n %>
			  </div>
			  <div class="field" >
				<%= f.label :po4_p %>
				<%= f.text_field :po4_p %>
			  </div>
			  <div class="field" >
				<%= f.label :org_n %>
				<%= f.text_field :org_n %>
			  </div>
			  <div class="field" >
				<%= f.label :org_p %>
				<%= f.text_field :org_p %>
			  </div>
		    </div>
		<% else # till, harvest, kill, stop grazing, burn%>
		    <div id="div_type"  style="display:none" >
	           <%= label :type_id, 'Select One' %>
	           <%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :id, :eqp, {:prompt => 'Select One'}, {:required => true} %>
			</div>
			<div id="div_fertilizer" style="display:none" >
	           <%= f.label :type_id, 'Fertilizer Type' %>
	           <%= collection_select :operation, :subtype_id, Fertilizer.all, :id, :name, {:prompt => 'Select Fertilizer'} %>
			</div>
  		    <div class="field" id="div_amount" style="display:none">
			  <%= f.label :amount %>
			  <%= f.text_field :amount %>
		    </div>
		    <div class="field" id="div_depth" style="display:none">
		  	  <%= f.label :depth %>
			  <%= f.text_field :depth %>
		    </div>
		    <div class="field" id="div_nutrients" style="display:none">
			  <div class="field" >
				<%= f.label :no3_n %>
				<%= f.text_field :no3_n %>
			  </div>
			  <div class="field" >
				<%= f.label :po4_p %>
				<%= f.text_field :po4_p %>
			  </div>
			  <div class="field" >
				<%= f.label :org_n %>
				<%= f.text_field :org_n %>
			  </div>
			  <div class="field" >
				<%= f.label :org_p %>
				<%= f.text_field :org_p %>
			  </div>
		    </div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
