<%= form_for [@project, @field, @scenario, @operation] do |f| %>
  	<% if @operation.errors.any? %>
	    <div id="error_explanation">
			<h2><%= t('activerecord.form_errors', :count => @operation.errors.count, :model => t('models.operation').downcase) %></h2>
			<ul>
				<% @operation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
			</ul>
	    </div>
  	<% end %>
	<% if notice %>
	  <div class="success_alert">
	 	  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		  <%= notice %>
	  </div>
	<% end %>
	<% if @cc_plt_date %>
		<%= hidden_field_tag "cc_year", @cc_plt_date.year, { :id => "cc_year" } %>
		<%= hidden_field_tag "cc_month", @cc_plt_date.month, { :id => "cc_month" } %>
		<%= hidden_field_tag "cc_day", @cc_plt_date.day, { :id => "cc_day" } %>
		<%= f.hidden_field :rotation %>
	<% end %>
	<div class="field" >
		<%= label :activity_id, t('scenario.operation') %>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :activity_id, Activity.where("id != 8 and id != 10"), :id, :name, {:prompt => 'Select Operation', :selected => @operation.activity_id || (params[:operation])}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :activity_id, Activity.where("id != 8 and id != 10"), :id, :spanish_name, {:prompt => 'Seleccione Operacion', :selected => (params[:operation] || @operation.activity_id)}, {:required => true} %>
			<% end %>
	</div>
	<div class="field" id="div_crops">
		<%= label :crop_id, t('operation.crop') %>
		<%= collection_select :operation, :crop_id, @crops, :id, :name, {:prompt => t('operation.select_crop'), :selected => @operation.crop_id} %>
	</div>
		<%#= label :crop_id, t('operation.crop') %>
		<%#= collection_select :operation, :cover_crop_id, @cover_crops, :id, :name, {:prompt => t('operation.select_crop'), :selected => @operation.crop_id} %>
	<div id="div_start_date" class="field">
		<% if @operation.activity_id == 7 %>
			<%= f.label :start, t('general.start') + " " %>
		<% end %>
		<%= f.label :year, t('general.year'), :class => 'field' %>
		<%= f.select :year, options_for_select(listYears, :selected => @operation.year), {:prompt => t('datetime.prompts.year')}, {:required => true, :style => 'width:70px'} %>
		<%= f.label :date, t('general.date'), :class => 'field' %>
		<%= f.select :month_id, options_for_select(listMonths, :selected => @operation.month_id), {:prompt => t('datetime.prompts.month')}, {:required => true, :style => 'width:100px'} %>
		<%= f.select :day, options_for_select(listDays, :selected => @operation.day), {:prompt => t('datetime.prompts.day')}, {:required => true, :style => 'width:50px'} %>
	</div>
	<% case @operation.activity_id %>
	<% when 1  # planting %>
		<div id="div_date" style="display:none" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
				<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" class="field spacer_bottom" >
			<%= label :type_id, t('operation.planting_method')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id, :status => true), :code, :eqp, {:prompt => t('general.select') + " " + t('general.one'), :selected => @operation.type_id}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id, :status => true), :code, :spanish_name, {:prompt => t('general.select'), :selected => @operation.type_id}, {:required => true} %>
			<% end %>
		</div>
		<%#= f.hidden_field :subtype_id, :value => @operation.subtype_id %>
		<div id="div_fertilizer" class="field" style="display:none" >
      <%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
		<div class="field" id="div_amount">
		  <%= f.label t('operation.plant_population') %>
		  <%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
		<div class="field" id="div_depth" style="display:none">
		  <%= f.label :depth, t('operation.depth') %>
		  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
            <%= f.number_field :org_c, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
		<div class="field" id="div_nutrients" style="display:none">
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p_html') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
	<% when 2 # fertilizer %>
		<div id="div_date" style="display:none" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
			<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div class="field" id="div_type"  >
			<%= label :type_id, t('operation.fertilizer_category') %>
			<% if I18n.locale.eql?(:en) %>
			 <%= collection_select :operation, :type_id, FertilizerType.all, :id, :name, {:prompt => t('general.select') + " " + t("general.one"), :selected => @operation.type_id}, {:required => true} %>
			<% else %>
			 <%= collection_select :operation, :type_id, FertilizerType.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t("general.one"), :selected => @operation.type_id}, {:required => true} %>
			<% end %>
		</div>
    	<div class="field" id="div_fertilizer" >
			<%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
    	<div class="field" id="div_amount">
			<% if @operation.type_id == 1 then %>
				<%= f.label :amount, t('operation.application_rate') + " (lbs/ac)" %>
			<% elsif @operation.type_id == 2 %>
				<%= f.label :amount, t('operation.application_rate') + " (t/ac)" %>
			<% else %>
				<%= f.label :amount, t('operation.application_rate') + " (x1000gal/ac)" %>
			<% end %>
			<%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
		<div class="field" id="div_depth">
			<%= f.label :depth, t('operation.depth') %>
			<%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
	    <div class="field" id="div_grazed" style="display:none">
	        <%= f.label :days_grazed, t('bmp.days_grazed')  %>
	        <%= f.number_field :org_c, :step => 'any', :class => "gvTitleStyleNumber" %>
	    </div>
	    <div class="field" id="div_resttime" style="display:none">
	        <%= f.label :hours, t('bmp.rest_time')  %>
	        <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
	    </div>
		<div class="field" id="div_nutrients" <% if @operation.type_id == 2 || @operation.type_id == 3 %> style="display:none;" <% end %>>
		  	<h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  	<div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  	</div>
		  	<div class="field" >
		  		<% if @operation.type_id == 1 && @operation.po4_p == 100 %>
					<%= f.label :po4_p, 'P (0-100%)' %>
					<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any', readonly: true %>
				<% else %>
					<%= f.label :po4_p, t('operation.po4_p_html') %>
					<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'%>
				<% end %>
		  	</div>
		  	<div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  	</div>
		  	<div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  	</div>
		</div>
		<%if @operation.type_id == 1 || @operation.type_id == 2 || @operation.type_id == 3 %>
			<% units = " (lbs/t)" %>
		    <% if @operation.type_id == 3 %> <% units = " (lbs/1000 gallons)" %> <% end %>
			<div class="field" id="div_other_nutrients" <% if @operation.type_id == 1 %> style='display:none;' <% end %>>
				<div class="field">
					<%= f.label :org_c, t('operation.total_n_con') %>
					<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :nh4_n, t('operation.total_p_con') %>
					<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :moisture, t('operation.moisture_con') %>
					<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
				</div>
			</div>
		<% else %>
			<div class="field" id="div_other_nutrients" style="display:none">
				<div class="field">
					<%= f.label :org_c, t('operation.total_n_con') %>
					<%= number_field :op, :total_n_con, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :nh4_n, t('operation.total_p_con') %>
					<%= number_field :op, :total_p_con, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :moisture, t('operation.moisture_con') %>
					<%= number_field :op, :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
				</div>
			</div>
		<% end %>
	<% when 3 # tillage %>
		<div id="div_date" style="display:none" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
				<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" >
			<%= label :type_id, t('operation.tillage') + " " + t('general.type') %>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id, :status => true), :code, :eqp, {:prompt => t('general.select') + " " + t('general.one')}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id, :status => true), :code, :spanish_name, {:prompt => 'Seleccione Uno'}, {:required => true} %>
			<% end %>
		</div>
		<div id="div_fertilizer" style="display:none" >
			<%= f.label :type_id, t('general.type') %>
			<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Method', :selected => @operation.subtype_id} %>
		</div>
		<div class="field" id="div_amount" style="display:none">
		  <%= f.label :amount, t('operation.amount') %>
		  <%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
		<div class="field" id="div_depth" style="display:none">
		  <%= f.label :depth, t('operation.depth') %>
		  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
            <%= f.number_field :org_c, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
		<div class="field" id="div_nutrients" style="display:none">
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p_html') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
	<% when 6 # irrigation%>
		<div id="div_date" style="display:none" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
				<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" >
			<%= label :irrigation, t('operation.irrigation') + " " + t('general.type') %>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :type_id, Irrigation.all, :id, :name, {:prompt => t('general.select') + " " + t('general.one')}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :type_id, Irrigation.all, :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one')}, {:required => true} %>
			<% end %>
		</div>
		<div id="div_fertilizer" style="display:none" >
      		<%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
		<div class="field" id="div_amount">
		  <%= f.label :volume, t('operation.volume') %>
		  <%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
		<div class="field" id="div_depth">
		  <%= f.label :efficiency, t('bmp.irrigation_efficiency') %>
		  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
            <%= f.number_field :org_c, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
		<div class="field" id="div_nutrients" style="display:none">
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p_html') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
	<% when 7 # continues grazing %>
		<% operation = Operation.find_by_type_id(@operation.id) %>
		<div id="div_date" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
			<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => operation.year), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => operation.month_id), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => operation.day), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" >
			<%= label :type_id, :Animal_Type %>
			<% if I18n.locale.eql?(:en) %>
			    <%= collection_select :operation, :type_id, Fertilizer.where(:fertilizer_type_id => 2, :animal => true).where("not name like '%Poultry%'"), :id, :name, {:prompt => t('bmp.select_animal')}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :type_id, Fertilizer.where(:fertilizer_type_id => 2, :animal => true), :id, :spanish_name, {:prompt => t('bmp.select_animal')}, {:required => true} %>
			<% end %>
		</div>
		<div id="div_fertilizer" style="display:none">
      		<%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
		<div class="field" id="div_amount">
		  	<%= f.label :animals, t('operation.animals') %>
		  	<%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		  	<div style="display:none">
		  	<%= f.label :access_to_stream, t('operation.access_to_stream') %>
            <% if @operation.org_c == 1 %>
                <input type="checkbox" id="access_to_stream", name="access[to_stream]", checked="" data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
            <% else %>
                <input type="checkbox" id="access_to_stream", name="access[to_stream]", data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes">
            <% end %>
            <% if @operation.org_c == 1 %>
        		<div style="display:inline" id="div_hours_in_stream">
            <% else %>
            	<div style="display:none" id="div_hours_in_stream">
            <% end %>
			  	<%= f.label :hours_in_stream, t('bmp.hours')%>
			  	<%= f.number_field :nh3, :class => "gvTitleStyleNumber", min: 0, max: 24, :step => 'any' %>
		  	</div>
		  	</div>
		</div>
		<div class="field" id="div_depth">
		  	<%= f.label :hours_in_field, t('operation.hours') %>
		  	<%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, max: 24, :step => 'any' %>
	    </div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
            <%= f.number_field :org_c, :class => "gvTitleStyleNumber", :step => 'any' %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
		<div class="field" id="div_nutrients" style="display:none" >
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
			<%= f.label :no3_n, t('operation.no3_n_html') %>
			<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
			<%= f.label :po4_p, t('operation.po4_p_html') %>
			<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
			<%= f.label :org_n, t('operation.org_n_html') %>
			<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
			<%= f.label :org_p, t('operation.org_p_html') %>
			<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
	<% when 9 # rotational grazing%>
		<% operation = Operation.find_by_type_id(@operation.id) %>
		<div id="div_date" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
			<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => operation.year), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => operation.month_id), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => operation.day), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" >
			<%= label :type_id, :Animal_Type %>
			<% if I18n.locale.eql?(:en) %>
			    <%= collection_select :operation, :type_id, Fertilizer.where(:fertilizer_type_id => 2, :animal => true).where("not name like '%Poultry%'"), :id, :name, {:prompt => t('bmp.select_animal')}, {:required => true} %>
			<% else %>
				<%= collection_select :operation, :type_id, Fertilizer.where(:fertilizer_type_id => 2, :animal => true), :id, :spanish_name, {:prompt => t('bmp.select_animal')}, {:required => true} %>
			<% end %>
		</div>
		<div id="div_fertilizer" style="display:none">
      		<%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
		<div class="field" id="div_amount">
		  	<%= f.label :animals, t('operation.animals') %>
		  	<%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 1, :step => 'any', :required => true %>
		  	<div style="display:none">
		  	<%= f.label :access_to_stream, t('operation.access_to_stream') %>
            <% if @operation.org_c == 1 %>
                <input type="checkbox" id="access_to_stream", name="access[to_stream]", checked="" data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes" >
            <% else %>
                <input type="checkbox" id="access_to_stream", name="access[to_stream]", data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes">
            <% end %>
            <% if @operation.org_c == 1 %>
        		<div style="display:inline" id="div_hours_in_stream">
            <% else %>
            	<div style="display:none" id="div_hours_in_stream">
            <% end %>
			  	<%= f.label :hours_in_stream, t('bmp.hours')%>
			  	<%= f.number_field :nh3, :class => "gvTitleStyleNumber", min: 0, max: 24, :step => 'any' %>
		  	</div>
		  </div>
		</div>
		<div class="field" id="div_depth">
		  <%= f.label :hours_in_field, t('operation.hours') %>
		  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, max: 24, :step => 'any', :required => true %>
	    </div>
        <div class="field" id="div_grazed" >
            <%= f.label :days_grazed, t('bmp.days_grazed') %>
            <%= f.number_field :moisture, :class => "gvTitleStyleNumber", min:1, :step => 'any', :required => true %>
        </div>
        <div class="field" id="div_resttime" >
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :class => "gvTitleStyleNumber", min:1, :step => 'any', :required => true%>
        </div>
		<div class="field" id="div_nutrients" style="display:none">
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p_html') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<!-- <div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div> -->
		</div>
	<% when 12 # liming %>
		<div id="div_date" style="display:none" >
			<%= f.label :stop, t('general.stop'), :class => 'field' %>
				<%= f.label :year, t('general.year'), :class => 'field' %>
			<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
			<%= f.label :date, t('general.date'), :class => 'field' %>
			<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
			<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
	    </div>
		<div id="div_type" style="display:none" >
			<%= label :type_id, t('general.select') + " " + t('general.one') %>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :id, :eqp, {:prompt => t('general.select') + " " + t('general.one')} %>
			<% else %>
				<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :id, :spanish_name, {:prompt => t('general.select') + " " + t('general.one')} %>
			<% end %>
		</div>
		<div id="div_fertilizer" style="display:none" >
      <%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
			<% if I18n.locale.eql?(:en) %>
				<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
			<% else %>
			    <%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
			<% end %>
		</div>
		<div class="field" id="div_amount" >
		  <%= f.label :amount, t('operation.amount') %>
		  <%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
		<div class="field" id="div_depth" style="display:none">
		  <%= f.label :depth, t('operation.depth') %>
		  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
		</div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>      <%= f.number_field :org_c, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
		<div class="field" id="div_nutrients" style="display:none">
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n_html') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p_html') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_n, t('operation.org_n_html') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" style="display:none">
				<%= f.label :org_p, t('operation.org_p_html') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
		<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
    <% when 13 %>
      <div id="div_date" style="display:none" >
        <%= f.label :stop, t('general.stop'), :class => 'field' %>
          <%= f.label :year, t('general.year'), :class => 'field' %>
        <%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
        <%= f.label :date, t('general.date'), :class => 'field' %>
        <%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
        <%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
        </div>
      <div id="div_type" class="field spacer_bottom" >
        <%= label :type_id, t('operation.planting_method')%>
        <% if I18n.locale.eql?(:en) %>
          <%= collection_select :operation, :type_id, Tillage.where(:activity_id => 1, :status => true), :code, :eqp, {:prompt => t('general.select') + " " + t('general.one'), :selected => @operation.type_id}, {:required => true} %>
        <% else %>
          <%= collection_select :operation, :type_id, Tillage.where(:activity_id => 1, :status => true), :code, :spanish_name, {:prompt => t('general.select'), :selected => @operation.type_id}, {:required => true} %>
        <% end %>
      </div>
	      <div id="div_fertilizer" class="field" style="display:none" >
	        <%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type')%>
	        <% if I18n.locale.eql?(:en) %>
	          <%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => 'Select Fertilizer', :selected => @operation.subtype_id} %>
	        <% else %>
	          <%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => 'Seleccione Fertilizante', :selected => @operation.subtype_id} %>
	        <% end %>
	      </div>
	      <div class="field" id="div_amount" style="display:none">
	        <%= f.label t('operation.plant_population') %>
	        <%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
	      </div>
	      <div class="field" id="div_depth" style="display:none">
	        <%= f.label :depth, t('operation.depth') %>
	        <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
	      </div>
        <div class="field" id="div_grazed" style="display:none">
            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
            <%= f.number_field :moisture, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
        <div class="field" id="div_resttime" style="display:none">
            <%= f.label :hours, t('bmp.rest_time')  %>
            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
        </div>
      	<div class="field" id="div_nutrients" style="display:none">
	        <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
	        <div class="field" >
	          <%= f.label :no3_n, t('operation.no3_n_html') %>
	          <%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
	        </div>
	        <div class="field" >
	          <%= f.label :po4_p, t('operation.po4_p_html') %>
	          <%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
	        </div>
	        <div class="field" style="display:none">
	          <%= f.label :org_n, t('operation.org_n_html') %>
	          <%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
	        </div>
	        <div class="field" style="display:none">
	          <%= f.label :org_p, t('operation.org_p_html') %>
	          <%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
	        </div>
      	</div>
      	<div class="field" id="div_other_nutrients" style="display:none">
			<div class="field">
				<%= f.label :org_c, t('operation.total_n_con') %>
				<%= f.number_field :org_c, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :nh4_n, t('operation.total_p_con') %>
				<%= f.number_field :nh4_n, :class => "gvTitleStyleNumber" %>
			</div>
			<div class="field">
				<%= f.label :moisture, t('operation.moisture_con') %>
				<%= f.number_field :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
			</div>
		</div>
		<% else # harvest, kill, stop grazing, burn%>
			<div id="div_date" style="display:none">
				<%= f.label :stop, t('general.stop'), :class => 'field' %>
					<%= f.label :year, t('general.year'), :class => 'field' %>
				<%= select_tag "year1", options_for_select(listYears, :selected => 0), {:prompt => t('datetime.prompts.year')} %>
				<%= f.label :date, t('general.date'), :class => 'field' %>
				<%= select_tag "month_id1", options_for_select(listMonths, :selected => 0), {:prompt => t('datetime.prompts.month')} %>
				<%= select_tag "day1", options_for_select(listDays, :selected => 0), {:prompt => t('datetime.prompts.day')} %>
		    </div>
			<div id="div_type" style="display:none" >
				<%= label :type_id, t('general.select') + " " + t('general.one') %>
				<% if I18n.locale.eql?(:en) %>
					<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :code, :eqp, {:prompt => t('general.select') + " " + t('general.one')} %>
				<% else %>
					<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.activity_id), :code, :spanish_name, {:prompt => t('general.select') + " " + t('general.one')} %>
				<% end %>
			</div>
			<div id="div_fertilizer" style="display:none" >
				<%= f.label :type_id, t('operation.fertilizer') + " " + t('general.type') %>
				<% if I18n.locale.eql?(:en) %>
					<%= collection_select :operation, :subtype_id, @fertilizers, :id, :name, {:prompt => t('general.select') + " " + t("general.one"), :selected => @operation.subtype_id} %>
				<% else %>
					<%= collection_select :operation, :subtype_id, @fertilizers, :id, :spanish_name, {:prompt => ('general.select') + " " + t("general.one"), :selected => @operation.subtype_id} %>
				<% end %>
			</div>
			<div class="field" id="div_amount" style="display:none">
			  	<%= f.label :amount, t('operation.amount') %>
			  	<%= f.number_field :amount, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
			  	<div style="display:none">
			  	<div style="display:none" id="div_access_to_stream">
				  	<%= f.label :access_to_stream, t('operation.access_to_stream') %>
                	<input type="checkbox" id="access_to_stream", name="access[to_stream]", data-toggle="toggle" data-size="mini" data-onstyle="success" data-off="No" data-on="Yes">
		        </div>
	            <div style="display:none" id="div_hours_in_stream">
				  	<%= f.label :hours_in_stream, t('bmp.hours')%>
				  	<%= f.number_field :nh3, :class => "gvTitleStyleNumber", min: 0, max: 24, :step => 'any' %>
			  	</div>
			  </div>
			</div>
			<div class="field" id="div_depth" style="display:none">
			  <%= f.label :depth, t('operation.depth') %>
			  <%= f.number_field :depth, :class => "gvTitleStyleNumber", min: 0, :step => 'any' %>
			</div>
	        <div class="field" id="div_grazed" style="display:none">
	            <%= f.label :days_grazed, t('bmp.days_grazed')  %>
	            <%= f.number_field :moisture, :step => 'any', :class => "gvTitleStyleNumber" %>
	        </div>
	        <div class="field" id="div_resttime" style="display:none">
	            <%= f.label :hours, t('bmp.rest_time')  %>
	            <%= f.number_field :nh4_n, :step => 'any', :class => "gvTitleStyleNumber" %>
	        </div>
			<div class="field" id="div_nutrients" style="display:none">
			  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
			  <div class="field" >
					<%= f.label :no3_n, t('operation.no3_n_html') %>
					<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
			  </div>
			  <div class="field" >
					<%= f.label :po4_p, t('operation.po4_p_html') %>
					<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
			  </div>
			  <div class="field" style="display:none">
					<%= f.label :org_n, t('operation.org_n_html') %>
					<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
			  </div>
			  <div class="field" style="display:none">
					<%= f.label :org_p, t('operation.org_p_html') %>
					<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
			  </div>
			</div>
			<div class="field" id="div_other_nutrients" style="display:none">
				<div class="field">
					<%= f.label :org_c, t('operation.total_n_con') %>
					<%= number_field :op, :total_n_con, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :nh4_n, t('operation.total_p_con') %>
					<%= number_field :op, :total_p_con, :class => "gvTitleStyleNumber" %>
				</div>
				<div class="field">
					<%= f.label :moisture, t('operation.moisture_con') %>
					<%= number_field :op, :moisture, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any'  %>
				</div>
			</div>
			<%= f.hidden_field :rotation, :value => @operation.rotation %>
		<% end %>

	<div class="actions">
		<%= f.submit t('submit.add_more'), :name => "add_more", :class => "btn btn-primary", :id => "test" %>
		<%= f.submit t('submit.finish'), :name => "finish", :class => "btn btn-primary", :id => "test" %>
		<%= link_to t('general.back'), project_field_scenario_operations_path(@project, @field, @scenario), :class => "btn btn-primary" %>
	</div>
<% end %>
