<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label :crop_id, 'Crop' %>
    <%= collection_select :operation, :crop_id, Crop.all, :id, :name, {:prompt => 'Select crop'}, {:required => true} %>
  </div>
  <div class="field">
    <%= label :operation_id, 'Operation' %>
    <%= collection_select :operation, :operation_id, Activity.all, :id, :name, {:prompt => 'Select Operation'}, {:required => true} %>
  </div>
  <div class="field">
    <li>
        <%= f.label :name, 'Date<em>*</em>'.html_safe, :class => 'field' %>

        <%= f.select :year, options_for_select(listYears, :selected => @operation.year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
        <%= f.select :month_id, options_for_select(listMonths, :selected => @operation.month_id), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
        <%= f.select :day, options_for_select(listDays, :selected => @operation.day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
    </li>
  </div>
  <div class="field">
    <% case @operation.operation_id %>
		<% when 1  # planting %>
			<%= label :type_id, 'Planting' %>
			<%= collection_select :activity, :type_id, Tillage.where(:activity_id => @operation.operation_id), :id, :eqp, {:prompt => 'Select Fertilizer'}, {:required => true} %>
		<% when 2  # fertilizer %>
			<%= label :type_id, 'Fertilizer' %>
			<%= collection_select :operation, :type_id, Tillage.where(:activity_id => @operation.operation_id), :id, :eqp, {:prompt => 'Select Fertilizer'}, {:required => true} %>
		<% else  # in new i.e. %>
			<%= label :type_id, 'Select One' %>
			<%= collection_select :operation, :type_id, Tillage.where(:activity_id => 0), :id, :eqp, {:prompt => 'Select One'}, {:required => true} %>
	<% end  %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :depth %>
    <%= f.text_field :depth %>
  </div>
  <div class="field">
    <%= f.label :no3_n %>
    <%= f.text_field :no3_n %>
  </div>
  <div class="field">
    <%= f.label :po4_p %>
    <%= f.text_field :po4_p %>
  </div>
  <div class="field">
    <%= f.label :org_n %>
    <%= f.text_field :org_n %>
  </div>
  <div class="field">
    <%= f.label :org_p %>
    <%= f.text_field :org_p %>
  </div>
  <div class="field">
    <%= f.label :nh3 %>
    <%= f.text_field :nh3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
