<%= form_for @operation do |f| %>
	<% if locals[:disp] == 'yes' then %>
		<div class="field" id="div_nutrients" >
	<% else %>
		<div class="field" id="div_nutrients" style="display:none">
	<% end %>
		  <h2><%= f.label :no3_n, t('operation.manure_composition') %></h2>
		  <div class="field" >
				<%= f.label :no3_n, t('operation.no3_n') %>
				<%= f.number_field :no3_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :po4_p, t('operation.po4_p') %>
				<%= f.number_field :po4_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :org_n, t('operation.org_n') %>
				<%= f.number_field :org_n, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		  <div class="field" >
				<%= f.label :org_p, t('operation.org_p') %>
				<%= f.number_field :org_p, :class => "gvTitleStyleNumber", min: 0, max: 100, :step => 'any' %>
		  </div>
		</div>
<% end %>