
<form id="myForm">
    <h2><%= t('operation.upload') + " " + t('operation.crop') + " " + t('general.to') + " "  + t('operation.schedule') %></h2>
  <table>
    <tr>
      <th>Crop</th>
      <th>Tilllage</th>
      <th><%=t('operation.planting')  + " " + t('pdf.year')%></th>
      <% if @operations.first != nil %>
          <th><%=t("operation.replace")%></th>
      <% end %>
    </tr>
    <tr>
      <td><%= collection_select :cropping_system, :id, @cropping_systems, :id, :name, {:prompt => t('general.select') + " " + t('general.one')} %></td>
      <td><%= collection_select :tillage, :id, @tillages, :id, :name, {:prompt => "No " + t('models.tillage'), :required => true} %></td>
      <td>
        <% last_year = 1 %>
        <% if @operations.last == nil %>
          <% last_year = 1 %>
        <% else %>
          <% last_year = @operations.last.year + 1 %>
        <% end %>
        <%= label :year, "", :id => "year_label" %>
        <%= number_field_tag :year, last_year, step: 'any', :required => true, class: "numbers", min: '1'  %>
      </td>
      <td style='text-align:center'>
        <% if @operations.first != nil %>
            <%= check_box_tag :replace, 'replace', false %>
        <% end %>
      </td>
    </tr>
  </table>            
    <%= hidden_field(:language, :language, :value => I18n.locale) %>
    <div class="actions">
        <span style="display: inline-block">
            <%= button_to t('operation.upload'), {:name => "add_more", :id => "operation_upload"}, :class => "btn btn-primary", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
        </span>
        <%= link_to t('general.back'), project_field_scenario_operations_path(@project, @field, @scenario), :class => "btn btn-primary" %>
    </div>
</form>
