<% if notice != nil %>
	<div class="success_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= notice %>
  </div>
<% end %>

<div class="page-header"><h1><%= t('menu.operations') %></h1></div>

	<%= button_tag t('result.add') + " " + t('operation.crop') + " " + t('general.to') + " " + t('operation.schedule'), :class => 'btn btn-primary', :id => 'new_crop' %>
	<%= link_to t('operation.new_operation'), new_project_field_scenario_operation_path(@project, @field, @scenario), :class => 'btn btn-primary' %>
	<%= button_tag t('general.switch') + " " + t('general.view'), { :id => "btn_views", :class => 'btn btn-primary', "onclick" => "saveView()" } %>
	<%= link_to t('general.continue'), project_field_scenario_bmps_path(@project, @field, @scenario), :class => 'btn btn-success' %><br><br>
	<div id="div_new" style="display:none">
		<%= render "upload" %>
	</div>
	<div id="div_crop_schdule">
	  <% @crops.each do |crop| %>
		<div class="panel panel-primary" id="expand_crop_<%= crop.id %>">
			  <div class="panel-heading">
				<table>
					<tr>
						<td onclick="show_crop(<%= crop.id %>)" width="100%">
							<% if (I18n.locale.eql?(:en)) %>
							  <h4 style="cursor:pointer" ><%= crop.name %> [+]</h4>
							<% else %>
							  <h4 style="cursor:pointer" ><%= crop.spanish_name %> [+]</h4>
							<% end %>
						</td>
						<td class="col-md-1 text-rigth" style="text-align: right" width="20%">
							<%= link_to image_tag("delete.png"), delete_all_project_field_scenario_operation_path(@project, @field, @scenario, crop.id), data: { confirm: t('general.confirm') } %>
						</td>
					</tr>
				</table>
			  </div>
			</div>
			<div class="panel panel-primary" id="crop_<%= crop.id %>" style="display:none">
			  <div class="panel-heading">
				<table>
					<tr>
						<td onclick="hide_crop(<%= crop.id %>)" width="100%">
							<% if (I18n.locale.eql?(:en)) %>
							  <h4 style="cursor:pointer"><%= crop.name %> [-]</h4>
						    <% else %>
							  <h4 style="cursor:pointer"><%= crop.spanish_name %> [-]</h4>
							<% end %>
						</td>
						<td class="col-md-1 text-rigth" width="20%">
							<%= link_to image_tag("delete.png"), delete_all_project_field_scenario_operation_path(@project, @field, @scenario, crop.id), data: { confirm: t('general.confirm') } %>
						</td>
					</tr>
				</table>
			  </div>
		</div>

		<div id="crop_detail_<%= crop.id %>" style="display:none">
		  <% if @scenario.planting_operations(crop).any? %>
				<div class="panel panel-primary">
				  <h4><%= t('operation.planting') %></h4>
				  <table class="table">
					<tr class="optable">
						<td class="optable"><b><%= t('general.date') %></b></td>
						<td class="optable"><b><%= t('general.type') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('operation.seed') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
					</tr>
					<% @scenario.planting_operations(crop).each do |op| %>
						<tr>
							<td><%= (t'pdf.year') + " " %><%= op.year %>, <%= listMonths.detect { |val, index| index == op.month_id}[0] %> <%= op.day %></td>
							<% if (I18n.locale.eql?(:en)) %>
							  <td><%= op.type_name %></td>
							<% else %>
							  <td><%= Tillage.find_by_code(op.type_id).spanish_name %></td>
							<% end %>
							<td class="gvCellStyleNumber"><%= op.amount %></td>
							<td style="text-align:right">
							  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
							  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
							</td>
						</tr>
					<% end %>
				  </table><br>
				  <%= link_to t('operation.add_planting'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 1, :crop => crop.id), :class => 'btn btn-success'  %>
			   </div>
		  <% end %>

		  <% if @scenario.fertilizer_operations(crop).any? %>
				<div class="panel panel-primary">
				  <h4><%= t('operation.fertilizer') %></h4>

				  <table class="table">
					<tr>
						<td class="optable"><b><%= t('general.date') %></b></td>
						<td class="optable"><b><%= t('general.type') %></b></td>
						<td class="optable" style="text-align: right"><b><%= t('operation.amount_applied') %></b></td>
						<td class="optable" style="text-align: right"><b><%= t('bmp.depth') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td></tr>
					<% @scenario.fertilizer_operations(crop).each do |op| %>
						<tr>
							<td><%= (t'pdf.year') + " " %><%= op.year %>, <%= listMonths.detect { |val, index| index == op.month_id}[0] %> <%= op.day %></td>
							<% if (I18n.locale.eql?(:en)) %>
							  <td><%= op.type_name %></td>
							<% else %>
							  <td><%= Fertilizer.find(op.type_id).spanish_name %></td>
							<% end %>
							<% if op.type_id == 1 %>
								<% amount_label = "(lbs/ac)" %>
							<% else %>
								<% if op.subtype_id == 57 %>
									<% amount_label = "(x1000gal/ac)" %>
								<% else %>
									<% amount_label = "(T/ac)" %>
								<% end %>
							<% end %>
							<% if op.activity_id == 2 and op.type_id == 2 then %>
								<td class="gvCellStyleNumber"><%= op.amount %><%= amount_label %> </td>
							<% else %>
								<td class="gvCellStyleNumber"><%= op.amount%><%= amount_label %> </td>
							<% end %>
							<td class="gvCellStyleNumber"><%= op.depth %></td>
							<td style="text-align:right">
							  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
							  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
							</td>
						</tr>
					<% end %>
				  </table><br>
				  <%= link_to t('operation.add_fertilizer'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 2, :crop => crop.id), :class => 'btn btn-success'  %>
				</div>
		  <% end %>

		  <% if @scenario.tillage_operations(crop).any? %>
				<div class="panel panel-primary">
				  <h4><%= t('operation.tillage') %></h4>

				  <table class="table">
					<tr>
						<td class="optable"><b><%= t('general.date') %></b></td>
						<td class="optable"><b><%= t('general.type') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td></tr>
						<% @scenario.tillage_operations(crop).each do |op| %>
					<tr>
						<td><%= (t'pdf.year') + " " %><%= op.year %>, <%= listMonths.detect { |val, index| index == op.month_id}[0] %> <%= op.day %></td>
						<% if (I18n.locale.eql?(:en)) %>
						  <td><%= op.type_name %></td>
						<% else %>
						  <td><%= Tillage.find_by_code(op.type_id).spanish_name %></td>
						<% end %>
						<td style="text-align:right">
						  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
						  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
						</td>
					</tr>
					<% end %>
				  </table><br>
				  <%= link_to t('operation.add_tillage'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 3, :crop => crop.id), :class => 'btn btn-success'  %>
				</div>
		  <% end %>

		  <% if @scenario.irrigation_operations(crop).any? %>
			  <div class="panel panel-primary">
				<h4><%= t('operation.irrigation') %></h4>

			   <table class="table">
				<tr>
					<td class="optable"><b><%= (t'pdf.year') %></b></td>
					<td class="optable"><b><%= (t'pdf.month') %></b></td>
					<td class="optable"><b><%= (t'pdf.day') %></b></td>
					<td class="optable"><b><%= t('general.type') %></b></td>
					<td class="optable" style="text-align: right"><b><%= t('operation.volume') %></b></td>
					<td class="optable" style="text-align: right"><b><%= t('bmp.depth') %></b></td>
					<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
				</tr>
				 <% @scenario.irrigation_operations(crop).each do |op| %>
				<tr>
					<td><%= op.year %></td>
					<td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
					<td><%= op.day %></td>
					<% if (I18n.locale.eql?(:en)) %>
					  <td><%= op.type_name %></td>
					<% else %>
					  <td><%= Irrigation.find(op.type_id).spanish_name %></td>
					<% end %>
					<td class="gvTitleStyleNumber"><%= op.amount %></td>
					<td class="gvTitleStyleNumber"><%= op.depth %></td>
					<td style="text-align:right">
					  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
					  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
					</td>
				</tr>
				<% end %>
			   </table><br>
			   <%= link_to t('operation.add_irrigation'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 6, :crop => crop.id), :class => 'btn btn-success'  %>
			 </div>
		  <% end %>


		  <% if @operations.where("(activity_id = ? or activity_id = ? or activity_id = ? or activity_id = ?) and crop_id = ?", 7,8,9,10,crop).any?%>
			<div class="panel panel-primary">
			  <h4><%= t('operation.start_grazing') %></h4>
			    <table class="table">
				  <tr>
					<td class="optable"><b></b></td>
					<td class="optable"><b><%= (t'pdf.year') %></b></td>
					<td class="optable"><b><%= (t'pdf.month') %></b></td>
					<td class="optable"><b><%= (t'pdf.day') %></b></td>
					<td class="optable"><b><%= t('general.type') %></b></td>
					<td class="optable" style="text-align: right"><b><%= t('operation.animals') %></b></td>
					<td class="optable" style="text-align: right"><b><%= t('operation.hours') %></b></td>
					<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
                  </tr>
				  <% @operations.where("(activity_id = ? or activity_id = ? or activity_id = ? or activity_id = ?) and crop_id = ?", 7,8,9,10,crop).each do |op| %>
				  <tr>
					<% if op.activity_id == 7 || op.activity_id == 9 %>
						<td><%= t('general.start') %></td>
					<% else %>
						<td><%= t('general.stop') %></td>
					<% end  %>
					<td><%= op.year %></td>
					<td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
					<td><%= op.day %></td>
					<% if op.activity_id == 7 || op.activity_id == 9 %>
						<% if (I18n.locale.eql?(:en)) %>
						  <td><%= op.type_name %></td>
						<% else %>
						  <td><%= Fertilizer.find(op.type_id).spanish_name %></td>
						<% end %>
						<td class="gvTitleStyleNumber"><%= op.amount %></td>
						<td class="gvTitleStyleNumber"><%= op.depth %></td>
						<td style="text-align:right">
						  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
						  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
						</td>
					<% end %>
			      </tr>
                  <% end %>
			    </table><br>
					<%# add code here for detecting if operation 7 or 9 and add a button that corresponds to the one that has one and one that does not %>
			    <%= link_to t('operation.add_start_grazing'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 7, :crop => crop.id), :class => 'btn btn-success'  %>
			</div>
		  <% end %>

		  <!-- <% if @operations.where(:activity_id => 8, :crop_id => crop).any?%>
			<div class="panel panel-primary">
			  <h4><%= t('operation.stop_grazing') %></h4>
			    <table class="table">
				  <tr>
					<td class="optable"><b><%= (t'pdf.year') %></b></td>
					<td class="optable"><b><%= (t'pdf.month') %></b></td>
					<td class="optable"><b><%= (t'pdf.day') %></b></td>
					<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
                  </tr>
				  <% @operations.where(:activity_id => 8, :crop_id => crop).each do |op| %>
				  <tr>
					<td><%= op.year %></td>
					<td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
					<td><%= op.day %></td>
					<td style="text-align:right">
					  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
					  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
					</td>
			      </tr>
                  <% end %>
			    </table><br>
			    <%= link_to t('operation.add_stop_grazing'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 8, :crop => crop.id), :class => 'btn btn-success'  %>
			</div>
		  <% end %> -->


		  <% if @scenario.liming_operations(crop).any? %>
			<div class="panel panel-primary">
			  <h4><%= t('operation.liming') %></h4>
			  <table class="table">
				 <tr>
				   <td class="optable"><b>Year</b></td>
				   <td class="optable"><b>Month</b></td>
				   <td class="optable"><b>Day</b></td>
				   <td class="optable"><b>Amount</b></td>
				   <td class="optable" style="text-align:right"><b>Actions</b></td>
				</tr>
				<% @scenario.liming_operations(crop).each do |op| %>
				<tr>
				  <td><%= op.year %></td>
				  <td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
				  <td><%= op.day %></td>
				  <td><%= op.amount %></td>
				  <td style="text-align:right">
				    <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
					<%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
				  </td>
				</tr>
				<% end %>
			  </table><br>
			   <%= link_to t('operation.add_liming'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 10, :crop => crop.id), :class => 'btn btn-success'  %>
			  </div>
		  <% end %>

		  <% if @scenario.burn_operations(crop).any? %>
			  <div class="panel panel-primary">
				<h4><%= t('operation.burn') %></h4>

			  <table class="table">
			   <tr>
			     <td class="optable"><b>Year</b></td>
				 <td class="optable"><b>Month</b></td>
				 <td class="optable"><b>Day</b></td>
				 <td class="optable" style="text-align:right"><b>Actions</b></td></tr>
				<% @scenario.burn_operations(crop).each do |op| %>
				<tr
				  ><td><%= op.year %></td>
				  <td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
				  <td><%= op.day %></td>
				  <td style="text-align:right">
				    <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
					<%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
				  </td>
				</tr>
				<% end %>
				</table><br>
			   <%= link_to t('operation.add_burn'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 9, :crop => crop.id), :class => 'btn btn-success'  %>
			  </div>
	      <% end %>

		  <% if @scenario.harvest_operations(crop).any? %>
				<div class="panel panel-primary">
				  <h4><%= t('operation.harvest') %></h4>

				  <table class="table">
					  <tr>
						<td class="optable"><b><%= t('general.date') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
					  </tr>
						<% @scenario.harvest_operations(crop).each do |op| %>
							<tr>
								<td><%= (t'pdf.year') + " " %><%= op.year %>, <%= listMonths.detect { |val, index| index == op.month_id}[0] %> <%= op.day %></td>
								<td style="text-align:right">
								  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
								  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
								</td>
							</tr>
						<% end %>
				  </table><br>
				  <%= link_to t('operation.add_harvest'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 4, :crop => crop.id), :class => 'btn btn-success'  %>
				</div>
		  <% end %>

		  <% if @scenario.kill_operations(crop).any? %>
			  <div class="panel panel-primary">
				<h4><%= t('operation.kill') %></h4>

				<table class="table">
					<tr>
						<td class="optable"><b><%= t('general.date') %></b></td>
						<td class="optable" style="text-align:right"><b><%= t('general.actions') %></b></td>
					</tr>
					<% @scenario.kill_operations(crop).each do |op| %>
						<tr >
							<td><%= (t'pdf.year') + " " %><%= op.year %>, <%= listMonths.detect { |val, index| index == op.month_id}[0] %> <%= op.day %></td>
							<td style="text-align:right">
							  <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
							  <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
							</td>
						</tr>
					<% end %>
				</table><br>
				<%= link_to t('operation.add_kill'), new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 5, :crop => crop.id), :class => 'btn btn-success'  %>
			  </div>
		  <% end %>

			<% if @scenario.pesticide_operations(crop).any? %>
			    <div class="panel panel-primary">
				  <h4>Pesticide</h4>
			      <table class="table">
					<tr>
					  <td><b class="optable">Year</b></td>
					  <td class="optable"><b>Month</b></td>
					  <td class="optable"><b>Day</b></td>
					  <td class="optable" style="text-align:right"><b>Actions</b></td></tr>
					<% @scenario.pesticide_operations(crop).each do |op| %>
						<tr>
						  <td><%= op.year %></td>
						  <td><%= listMonths.detect { |val, index| index == op.month_id}[0] %></td>
						  <td><%= op.day %></td>
						  <td style="text-align:right">
						    <%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.edit') %>
						    <%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, op), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } %>
						  </td>
						</tr>
					<% end %>
			      </table><br>
			      <%= link_to "Add New Pesticide Operation", new_project_field_scenario_operation_path(@project, @field, @scenario, :operation => 11, :crop => crop.id), :class => 'btn btn-success'  %>
			    </div>
			 <% end %>
		</div>
	  <% end %>
	</div>

<%# else %>
	<%#= link_to t('operation.save') + " " + t('operation.cropping_system'), download_project_field_scenario_operations_path(@project, @field, @scenario), :class => 'btn btn-primary' %>
	<%#= link_to t('operation.open'), open_project_field_scenario_operations_path(@project, @field, @scenario), :class => 'btn btn-primary' %>
	<%#= link_to t('general.delete_all'), {:action => :delete_all}, :method => :post, :confirm=>'Are you sure?', :class => 'btn btn-primary' %>
	<!-- <%= link_to t('general.change') + " " + t('general.format'), {:action => :delete_all}, :method => :post, :confirm=>'Are you sure?', :class => 'btn btn-primary' %> -->
	<%#= link_to t('general.continue'), project_field_scenario_bmps_path(@project, @field, @scenario), :class => 'btn btn-success' %>
	  <div class="panel panel-default" id="div_operations" style="display:none">
		<table class="table table-striped">
		  <thead>
			<tr>
				<th class="gvCellStyleTitle upper_border"><%= t('operation.crop') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('scenario.operation') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('datetime.prompts.year') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('datetime.prompts.month') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('datetime.prompts.day') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('general.type') %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('general.value') + '1' %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('general.value') + '2' %></th>
				<th class="gvCellStyleTitle upper_border"><%= t('operation.moisture') %></th>
				<th class="gvCellStyleTitle upper_border">No3 N</th>
				<th class="gvCellStyleTitle upper_border">Po4 P</th>
				<th class="gvCellStyleTitle upper_border">Org N</th>
				<th class="gvCellStyleTitle upper_border">Org P</th>
				<th class="gvCellStyleTitle upper_border"><%= t('general.actions') %></th>
			</tr>
		  </thead>
		  <tbody>
			  <% i=1 %>
			  <% @operations = @operations.sort_by { |t| [t.year, t.month_id, t.day] } %>
			  <% @operations.each do |operation| %>
				<% if (i % 2  == 0) %>
				  <tr id="rowIdEven" class="gvRowStyleEven">
				<% else %>
				  <tr id="rowIdOdd" class="gvRowStyleOdd">
				<% end %>
					<% i = i + 1 %>
					<% if (I18n.locale == :en) %>
						<td class="gvCellStyleText"><%= Crop.find(operation.crop_id).name %></td>
						<td id="operationType" class="gvCellStyleText"><%= Activity.find(operation.activity_id).name %></td>
					<% else %>
						<td class="gvCellStyleText"><%= Crop.find(operation.crop_id).spanish_name %></td>
						<td id="operationType" class="gvCellStyleText"><%= Activity.find(operation.activity_id).spanish_name %></td>
					<% end %>
					<td class="gvCellStyleNumber"><%= listYears.detect { |val, index| index == operation.year}[0] %></td>
					<td class="gvCellStyleText"><%= listMonths.detect { |val, index| index == operation.month_id}[0] %></td>
					<td class="gvCellStyleNumber"><%= operation.day %></td>
					<% if (I18n.locale.eql?(:en)) %>
						<% case operation.activity_id %>
						  <% when 1  # planting %>
							<td class="gvCellStyleText"><%= Tillage.find_by_code(operation.type_id).eqp %></td>
						  <% when 2  # fertilizer %>
							<td class="gvCellStyleText"><%= FertilizerType.find(operation.type_id).name %></td>
						  <% when 3  # tillage %>
							<td class="gvCellStyleText"><%= Tillage.find_by_code(operation.type_id).eqp %></td>
						  <% when 6  # irrigation %>
							<td class="gvCellStyleText"><%= Irrigation.find(operation.type_id).name %></td>
						  <% when 7, 9 # grazing%>
							<td class="gvCellStyleText"><%= Fertilizer.find(operation.type_id).name %></td>
						  <% else # harvest, kill, stop grazin, burn, liming%>
							<td class="gvCellStyleText"><%= :"" %></td>
						<% end %>
					<% else %>
						<% case operation.activity_id %>
						  <% when 1  # planting%>
							<td class="gvCellStyleText"><%= Tillage.find_by_code(operation.type_id).spanish_name %></td>
						  <% when 3  # tillage%>
							<td class="gvCellStyleText"><%= Tillage.find_by_code(operation.type_id).spanish_name %></td>
						  <% when 2  # fertilizer %>
							<td class="gvCellStyleText"><%= Fertilizer.find(operation.subtype_id).spanish_name %></td>
						  <% when 6  # irrigation %>
							<td class="gvCellStyleText"><%= Irrigation.find(operation.type_id).spanish_name %></td>
						  <% when 7, 9  # grazing%>
							<td class="gvCellStyleText"><%= Fertilizer.find(operation.type_id).spanish_name %></td>
						  <% else # harvest, kill, stop grazin, burn, liming%>
							<td class="gvCellStyleText"><%= :"" %></td>
						<% end %>
					<% end %>
					<% if operation.activity_id == 2 and operation.type_id == 2 then %>
						<td class="gvCellStyleNumber"><%= operation.amount  %></td>
					<% else %>
						<td class="gvCellStyleNumber"><%= operation.amount %></td>
					<% end %>
					<td class="gvCellStyleNumber"><%= operation.depth %></td>
					<td class="gvCellStyleNumber"><%= operation.moisture %></td>
					<td class="gvCellStyleNumber"><%= operation.no3_n %></td>
					<td class="gvCellStyleNumber"><%= operation.po4_p %></td>
					<td class="gvCellStyleNumber"><%= operation.org_n %></td>
					<td class="gvCellStyleNumber"><%= operation.org_p %></td>
					<td >
						<%= link_to image_tag("edit.png"), edit_project_field_scenario_operation_path(@project, @field, @scenario, operation), title: t('general.edit') unless operation.activity_id == 8 %>
						<%= link_to image_tag("delete.png"), project_field_scenario_operation_path(@project, @field, @scenario, operation), title: t('general.delete'), method: :delete, data: { confirm: t('general.confirm') } unless operation.activity_id == 8%>
					</td>
				</tr>
			  <% end %>
		  </tbody>
		</table>
	  </div>
	</div>
<%# end %>

<script>

window.onload = function() {
	var view = localStorage.getItem('view');
	var crops = document.getElementById("div_crop_schdule");
	var summary = document.getElementById("div_operations");

	if (view == "summary") {
		crops.style.display = "none";
		summary.style.display = "block";
	} else {
		summary.style.display = "none";
		crops.style.display = "block";
	}

	for(ele = 0; ele < 223; ele++) {
		var bmp = localStorage.getItem('bmp'+ele);
		if (bmp != null && bmp === 'true') {
			show_crop(ele);
		}
	}
}

function saveView() {
	var crops = document.getElementById("div_crop_schdule");
	if (crops.style.display == "none") {
		localStorage.setItem('view', 'crop');
	} else {
		localStorage.setItem('view', 'summary');
	}
}

function show_crop(ele) {
  var crop_id = ele;
	localStorage.setItem('bmp'+ele, 'true');

  var crop_show_div = document.getElementById("expand_crop_" + crop_id);
  var crop_hide_div = document.getElementById("crop_" + crop_id);
  var crop_detail_div = document.getElementById("crop_detail_" + crop_id);

  crop_show_div.style.display = "none"
  crop_hide_div.style.display = "block"
  crop_detail_div.style.display = "block"
  }

function hide_crop(ele) {
  var crop_id = ele;
	localStorage.setItem('bmp'+ele, 'false');

  var crop_show_div = document.getElementById("expand_crop_" + crop_id);
  var crop_hide_div = document.getElementById("crop_" + crop_id);
  var crop_detail_div = document.getElementById("crop_detail_" + crop_id);

  crop_show_div.style.display = "block"
  crop_hide_div.style.display = "none"
  crop_detail_div.style.display = "none"
  }

  </script>
