<% if notice != nil %>
<div class="success_alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <%= notice %>
</div>
<% end %>
  
<h1>Listing operations</h1>

<table class='gvTableStyle'>
  <tr class='gvHeaderStyle'>
    <th>Crop</th>
    <th>Operation</th>
    <th>Day</th>
    <th>Month</th>
    <th>Year</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Depth</th>
    <th>Moisture</th>
    <th>No3 n</th>
    <th>Po4 p</th>
    <th>Org n</th>
    <th>Org p</th>
    <th>Nh3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operations.each do |operation| %>
  <tr class="gvRowStyle">
    <td><%= operation.crop_id %></td>
    <td><%= operation.operation_id %></td>
    <td><%= operation.day %></td>
    <td><%= operation.month_id %></td>
    <td><%= operation.year %></td>
    <td><%= operation.type_id %></td>
    <td><%= operation.amount %></td>
    <td><%= operation.depth %></td>
    <td><%= operation.moisture %></td>
    <td><%= operation.no3_n %></td>
    <td><%= operation.po4_p %></td>
    <td><%= operation.org_n %></td>
    <td><%= operation.org_p %></td>
    <td><%= operation.nh3 %></td>
    <td><%= link_to t('general.show'), operation %></td>
    <td><%= link_to t('general.edit'), edit_operation_path(operation) %></td>
    <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operation', new_operation_path %>
