<% if flash[:notice] %>
  <div class="flash_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag({action: :upload_system}, multipart: true) do %>
  <div>
      <div class="page-header"><h1><%= t('operation.open') %></h1></div>
      <%= file_field_tag "Cropping_system" %>
  </div>
  </br>
  <div class="actions">
      <%= submit_tag(value = t('operation.open'), :class => "btn btn-primary", data: {disable_with: t('general.please') + " " + t('general.wait') + " " + t('general.uploading') + " " + t('operation.saved')}) %>
      <%= link_to t('general.back'), list_project_field_scenario_operations_path(@project, @field, @scenario), :class => "btn btn-primary" %>
  </div>
<% end %>
