<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
﻿
<form id="myForm">
  <div class="field">
      <%= label "select", t('operation.cropping_system') %>
      <%= collection_select :cropping_system, :id, @cropping_systems, :id, :crop, {:prompt => t('helpers.select.prompt'), :required => true, :selected => @cropping_system_id} %>    
      <%= hidden_field(:language, :language, :value => I18n.locale) %>
  	  <%= button_to t('operation.upload'), cropping_system_operation_path, :class => "inbox-sf-add-btn tip", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
      </div>
</form>
=======
﻿
<form id="myForm">
  <div class="field">
      <%= label "select", t('operation.cropping_system') %>
      <%= collection_select :cropping_system, :id, @cropping_systems, :id, :crop, {:prompt => t('helpers.select.prompt'), :required => true, :selected => @cropping_system_id} %>    
      <%= hidden_field(:language, :language, :value => I18n.locale) %>
  	  <%= button_to t('operation.upload'), cropping_system_operation_path, :class => "inbox-sf-add-btn tip", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
      </div>
</form>
>>>>>>> ad6be7a0bb584289464569b4d72ef49c56771983
=======
﻿
<form id="myForm">
  <div class="field">
      <%= label "select", t('operation.cropping_system') %>
      <%= collection_select :cropping_system, :id, @cropping_systems, :id, :crop, {:prompt => t('helpers.select.prompt'), :required => true, :selected => @cropping_system_id} %>    
      <%= hidden_field(:language, :language, :value => I18n.locale) %>
  	  <%= button_to t('operation.upload'), cropping_system_operation_path, :class => "inbox-sf-add-btn tip", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
      </div>
</form>
>>>>>>> ad6be7a0bb584289464569b4d72ef49c56771983
=======
﻿
<form id="myForm">
  <div class="field">
      <%= label "select", t('operation.cropping_system') %>
      <%= collection_select :cropping_system, :id, @cropping_systems, :id, :crop, {:prompt => t('helpers.select.prompt'), :required => true, :selected => @cropping_system_id} %>    
      <%= hidden_field(:language, :language, :value => I18n.locale) %>
  	  <%= button_to t('operation.upload'), cropping_system_operation_path, :class => "inbox-sf-add-btn tip", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
      </div>
</form>
>>>>>>> ad6be7a0bb584289464569b4d72ef49c56771983
