<br>
<form id="myForm">
  <div class="field">
    <%= label "select", t('operation.cropping_system') %>
    <%= collection_select :cropping_system, :id, @cropping_systems, :id, :crop, {:prompt => t('helpers.select.prompt'), :required => true, :selected => @cropping_system_id}, :required => true %>
    <% if @operations.first != nil %>&nbsp&nbsp&nbsp
      <%= label :year, t('pdf.year'), :id => "year_label" %>
      <%= number_field_tag :year, @highest_year + 1, step: 'any', :required => true %>
      <br><br>
      <%= label "replace", t("operation.replace") %>
      <%= check_box_tag :replace, 'replace', false %>
    <% else %>
      <br><br>
    <% end %>
    <%= hidden_field(:language, :language, :value => I18n.locale) %>
    <div class="actions">
      <span style="display: inline-block">
        <%= button_to t('operation.upload'), cropping_system_operation_path, :name => "add_more", :id => "operation_upload", :class => "inbox-sf-add-btn tip", :method => :get, data: {disable_with: t('general.please') + " " + t('general.wait') + ". " + t('general.loading') + " " + t('operation.cropping_system') + " . . ."} %>
      </span>
      <%= link_to t('general.back'), soil_layers_soil_path(session[:soil_id]) %>
    </div>
  </div>
</form>